<template>
  <q-dialog
    :value="value"
    maximized
    transition-show="slide-up"
    transition-hide="slide-down"
    @input="$emit('input', $event)"
    @hide="$emit('update:message', null)"
  >
    <q-card
      class="bg-transparent"
      @click="$emit('input', false)"
    >
      <q-card-section class="flex flex-center full-height">
        <div v-if="type === 'img'">
          <img
            style="max-width: 100vw"
            :src="path"
          >
        </div>

        <div v-else-if="type === 'video'">
          <video
            autoplay
            controls
            preload="all"
            style="height: 100%;width: 100%;background-color: black"
            @click.stop
          >
            <source
              :src="path"
            >
          </video>
        </div>

        <div
          v-else-if="type === 'pdf'"
          class="q-pa-lg full-width full-height"
        >
          <iframe
            :src="path"
            class="full-width full-height"
            style="border: unset"
          />

          <q-btn
            icon="get_app"
            class="absolute-top-right q-ma-md "
            color="white"
            text-color="primary"
            round
            style="margin-right: 65px;"
            @click="download"
          />
        </div>

        <q-btn
          icon="close"
          class="absolute-top-right q-ma-md"
          color="white"
          text-color="primary"
          round
          @click="$emit('input', false)"
        />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  name: 'MediaDialog',

  props: {
    value: Boolean,
    type: { default: 'img' },
    filename: null,
    path: null,
  },

  methods: {
    download() {
      const linkSource = this.path;
      const downloadLink = document.createElement('a');
      const fileName = this.filename;

      downloadLink.href = linkSource;
      downloadLink.download = fileName;
      downloadLink.click();
    },
  },
};
</script>
