<template>
  <div
    v-if="show"
    class="message-link"
    @click.prevent="open"
  >
    <message-banner color="primary">
      <div class="row q-col-gutter-sm">
        <div class="col-12">
          <div class="text-weight-thin">
            {{ $t('message.orderPayment') }}
          </div>

          <div
            v-if="data.message[type].currencyCodeIso4217 === 'BRL'"
            class="text-weight-bold"
          >
            {{ $t('commonWord.moneySymbol') }} {{ amount }}
          </div>

          <div
            v-else
            class="text-weight-bold"
          >
            {{ data.message[type].currencyCodeIso4217 }} {{ amount }}
          </div>

          <div class="text-overline">
            {{ $t('message.orderedBy') }}

            <contact-name
              v-if="!requestFromMe"
              :contact="contact"
              :fallback="requestFrom"
            />

            <span v-else>{{ $t('message.myNumber') }}</span>
          </div>

          <div class="text-overline">
            {{ $t('message.expires') }} {{ fromNow }}
          </div>

          <div
            v-if="status === 'WAITING'"
            class="text-overline"
          >
            {{ $t('message.pending') }}
          </div>

          <div
            v-else
            class="text-overline"
          >
            {{ status }}
          </div>
        </div>
      </div>
    </message-banner>

    <message-text
      v-if="data.message[type].noteMessage.extendedTextMessage && data.message[type].noteMessage.extendedTextMessage.text"
      :text="data.message[type].noteMessage.extendedTextMessage.text"
    />
  </div>
</template>

<script>
export default {
  components: {
    MessageText: () => import('./MessageText'),
    MessageBanner: () => import('../tools/MessageBanner'),
    ContactName: () => import('../contacts/ContactName'),
  },

  props: {
    data: {
      required: true,
      type: Object,
    },
    type: {
      required: true,
      type: String,
    },
  },

  data() {
    return {
      contact: null,
      requestFromMe: true,
    };
  },

  async created() {
    if (!this.requestFrom) return;
    if (this.requestFrom.split('@')[0] === this.connection.jid) {
      this.requestFromMe = true;
      return;
    }

    const local = this.$store.getters['member-contacts/find']({ query: { jid: this.requestFrom } });

    let contact;
    if (!local.total) {
      contact = await this.$store.dispatch('member-contacts/find', { query: { $limit: 1, jid: this.requestFrom } });
    }

    contact = contact.data[0];
    this.contact = contact;
  },

  computed: {
    fromNow() {
      const expire = Number(this.data.message[this.type].expiryTimestamp) * 1000;
      const date = new Date(expire);
      return this.$fromNow(date);
      // return date;
    },

    connection() {
      return this.$store.getters['member-connections/get'](this.data.connectionId);
    },

    show() {
      return ['requestPaymentMessage'].includes(this.type);
    },

    requestFrom() {
      if (!this.show) return null;
      if (!this.data.message[this.type]) return null;
      return this.data.message[this.type].requestFrom;
    },

    status() {
      return this.data.paymentInfo.status;
    },

    amount() {
      if (!this.show) return;

      return (Number(this.data.message[this.type].amount1000) / 1000).toFixed(2);
    },
  },
};
</script>

<style lang="sass">
.message-link
  .text-overline
    line-height: 1
</style>
