<template>
  <div
    v-if="['extendedTextMessage'].includes(type) && data.message[type] && data.message[type].title"
    class="message-link"
    @click.prevent="open"
  >
    <message-banner color="primary">
      <div class="row q-col-gutter-sm">
        <div class="col-3 flex flex-center">
          <q-img
            :src="`data:image/jpeg;base64, ${data.message[type].jpegThumbnail}`"
            spinner-color="primary"
            spinner-size="82px"
            @click.prevent.stop="dialog = true"
          />

          <chat-media-dialog
            v-model="dialog"
            :path="`data:image/jpeg;base64, ${data.message[type].jpegThumbnail}`"
          />
        </div>

        <div class="col-9">
          <div class="text-weight-bold">
            {{ data.message[type].title }}
          </div>

          <div class="text-weight-thin">
            {{ data.message[type].description }}
          </div>

          <div class="text-overline">
            {{ data.message[type].matchedText }}
          </div>
        </div>
      </div>
    </message-banner>
  </div>
</template>

<script>
export default {
  components: {
    MessageBanner: () => import('../tools/MessageBanner'),
    chatMediaDialog: () => import('./MediaDialog'),
  },

  props: {
    data: {
      required: true,
      type: Object,
    },
    type: {
      required: true,
      type: String,
    },
  },

  data() {
    return {
      dialog: false,
    };
  },

  methods: {
    open() {
      window.open(this.data.message[this.type].matchedText, '_blank');
    },
  },

};
</script>

<style lang="sass">
.message-link
  .text-overline
    line-height: 1
</style>
