<template>
  <q-item
    v-ripple
    clickable
    @click="handleClick()"
  >
    <q-item-section>
      <q-item-label>
        <contact-name
          :contact="contact"
        />
      </q-item-label>

      <q-item-label
        caption
        lines="2"
      >
        <q-icon
          v-if="data.key.fromMe"
          name="arrow_back"
          class=""
        />
        <q-icon
          v-else
          name="arrow_forward"
          class=""
        />

        <span v-if="data.participant">
          <contact-name
            :fallback="data.jid.split('@')[0]"
          />
        </span>

        <span
          v-if="type === 'conversation'"
          class="q-pr-xl"
          style="overflow: none"
        >
          {{ $removeLinkify(data.message.conversation.substr(0, 20)) }}
        </span>

        <span
          v-else-if="type === 'extendedTextMessage'"
          class="q-pr-xl"
          style="overflow: none"
        >
          {{ $removeLinkify(data.message.extendedTextMessage.text.substr(0, 20)) }}
        </span>

        <span
          v-else-if="type === 'audioMessage'"
          class="q-pr-xl"
          style="overflow: none"
        >
          {{ $t('message.sentAudio') }}
        </span>

        <span
          v-else-if="type === 'stickerMessage'"
          class="q-pr-xl"
          style="overflow: none"
        >
          {{ $t('message.sentStick') }}
        </span>

        <span
          v-else-if="type === 'videoMessage'"
          class="q-pr-xl"
          style="overflow: none"
        >
          {{ $t('message.sentVideo') }}
        </span>

        <span
          v-else-if="type === 'imageMessage'"
          class="q-pr-xl"
          style="overflow: none"
        >
          {{ $t('message.sentImage') }}
        </span>

        <span
          v-else-if="type === 'documentMessage'"
          class="q-pr-xl"
          style="overflow: none"
        >
          {{ $t('message.sentDoc') }}
        </span>

        <span
          v-else-if="type === 'contactMessage'"
          class="q-pr-xl"
          style="overflow: none"
        >
          {{ $t('message.sentContact') }}
        </span>

        <span
          v-else-if="type === 'liveLocationMessage'"
          class="q-pr-xl"
          style="overflow: none"
        >
          {{ $t('message.sentLiveLoc') }}
        </span>

        <span
          v-else-if="type === 'locationMessage'"
          class="q-pr-xl"
          style="overflow: none"
        >
          {{ $t('message.sentLoc') }}
        </span>

        <span
          v-else-if="type === 'CALL_MISSED_VOICE'"
          class="q-pr-xl"
          style="overflow: none"
        >
          {{ $t('message.triedCall') }}
        </span>

        <span
          v-else-if="type === 'CALL_MISSED_VIDEO'"
          class="q-pr-xl"
          style="overflow: none"
        >
          {{ $t('message.triedVideoCall') }}
        </span>

        <span
          v-else-if="type === 'CALL_VOICE'"
          class="q-pr-xl"
          style="overflow: none"
        >
          {{ $t('message.isCalling') }}
        </span>

        <span
          v-else-if="type === 'ZAPFLY_CATALOG_ASK'"
          class="q-pr-xl"
          style="overflow: none"
        >
          {{ $t('message.catalogOrder') }}
        </span>

        <span
          v-else-if="type === 'requestPaymentMessage'"
          class="q-pr-xl"
          style="overflow: none"
        >
          {{ $t('message.sentPaymentInfo') }}
        </span>

        <span
          v-else
          class="q-pr-xl"
          style="overflow: none"
        >
          {{ type }}
        </span>
      </q-item-label>
    </q-item-section>

    <q-chip
      v-if="fromNow"
      dense
      size="sm"
      :label="fromNow"
      class="absolute-top-right q-mt-sm"
    />
  </q-item>
</template>

<script>
export default {
  name: 'MessageItem',

  props: {
    data: null,
  },

  components: {
    contactName: () => import('../contacts/ContactName.vue'),
  },

  methods: {
    handleClick() {
      if (!this.hasPaid) return this.$notify('negative', this.$t('payment.verifyPayment'));

      this.$emit('click');
      if (this.dumb) {
        return;
      }
      if (this.$route.params.id === this.data.ticketId) return;
      let routeName = 'tickets-room';
      if (['tickets-on-hold', 'tickets-room-on-hold'].includes(this.$route.name)) routeName = 'tickets-room-on-hold';

      const check = this.$store.getters['member-tickets/get'](this.data.ticketId);

      if (!check) {
        return this.$store.dispatch('member-tickets/get', [this.data.ticketId])
          .then(() => {
            this.$router.push({ name: routeName, params: { id: this.data.ticketId } });
          });
      }

      this.$router.push({ name: routeName, params: { id: this.data.ticketId } });
    },
  },

  computed: {

    connection() {
      return this.$store.getters['member-connections/get'](this.data.connectionId);
    },

    hasPaid() {
      if (!this.connection.preapprovalPlan) return false;
      const { status, createdAt, extraTrial } = this.connection.preapprovalPlan;

      if (extraTrial) {
        const extraTrialTimestamp = new Date(extraTrial).getTime();
        if (new Date().getTime() < extraTrialTimestamp) return true;
      }

      const timestampFrom7Days = new Date().getTime() - (7 * 24 * 60 * 60 * 1000);
      const createdAtTimestamp = new Date(createdAt).getTime();

      if (status === 'TRIAL' && createdAtTimestamp > timestampFrom7Days) return true;

      const validStatus = ['created', 'ACTIVE'];
      if (!validStatus.includes(status)) return false;

      return true;
    },
    contact() {
      return this.$store.getters['member-contacts/get'](this.data.contactId);
    },

    type() {
      if (!this.data) return null;
      if (this.data.messageStubType) return this.data.messageStubType;
      if (!this.data.message) return null;
      return Object.keys(this.data.message)[0];
    },

    fromNow() {
      if (!this.data.messageTimestamp) return;
      const timestamp = this.data.messageTimestamp;
      const date = new Date(timestamp * 1000);

      return this.$fromNow(date);
    },
  },
};
</script>

<style>

</style>
