<template>
  <div
    v-if="!error"
    class="message-media"
  >
    <q-img
      v-if="data.jpegThumbnail && !loading && !internalPath && type === 'videoMessage'"
      :src="`data:image/png;base64,${data.jpegThumbnail}`"
      style="height: 82px"
      spinner-color="primary"
      cointain
    />
    <q-btn
      v-if="!loading && !internalPath && type === 'videoMessage'"
      color="primary"
      :label="$t('message.showVideo')"
      class="full-width"
      @click="link"
    />

    <q-spinner-gears
      v-if="loading"
      color="primary"
      size="3rem"
    />

    <div
      v-if="['liveLocationMessage', 'locationMessage'].includes(type) && path"
      @click.stop="dialog = true"
    >
      <q-badge color="info">
        {{ $t('commonWord.warning') }}
      </q-badge> {{ $t('message.localization') }}

      <span v-if="type === 'liveLocationMessage'">
        {{ $t('message.live') }}
      </span>

      <q-btn
        color="primary"
        class="full-width q-my-xs"
        size="xs"
        outline
        icon="room"
        :label="$t('message.gmaps')"
        @click.stop="open(`https://www.google.com/maps/search/?api=1&query=${data.lat},${data.lng}`)"
      />
      <q-img
        :src="path"
        basic
        native-context-menu
        class="rounded-borders"
        style="height: 50px; width: 30%"
      />

      <media-dialog
        v-if="clickable"
        v-model="dialog"
        :message="data"
        :path="path"
      />
    </div>

    <div
      v-else-if="(['imageMessage', 'stickerMessage'].includes(type) || isActImage) && !loading && path"
    >
      <q-img
        :src="path"
        style="height: 50px; width: 30%"
        img-class="rounded-borders"
        @click="dialog=true"
      />

      <media-dialog
        v-if="clickable"
        v-model="dialog"
        :message="data"
        :path="path"
      />

      <div
        v-if="data.mimetype === 'image/webp'"
        class="q-mt-sm"
      >
        <q-badge color="warning">
          {{ $t('commonWord.warning') }}
        </q-badge>

        {{ $t('message.stickers') }}
      </div>
    </div>

    <div
      v-else-if="type === 'audioMessage' && !loading && path"
    >
      <audio-player
        :id="data.id"
        :src="path"
      />
    </div>

    <div
      v-else-if="data.gifPlayback && !loading && path && clickable"
      class="relative"
    >
      <video
        ref="gifPlayer"
        autoplay
        loop
        class="full-width rounded-borders"
        @click="toggleGifPlayer"
      >
        <source
          :src="path"
          type="video/mp4"
        >
      </video>

      <div
        class="rounded-borders bg-white absolute-center q-pa-md"
        style="opacity: 0.2"
      >
        GIF
      </div>
    </div>

    <div
      v-else-if="type === 'videoMessage' && !loading && path && clickable"
    >
      <q-btn
        icon="play_circle_outline"
        size="30px"
        rounded
        color="primary"
        class="full-width"
        dense
        @click.stop="dialog = true"
      />

      <media-dialog
        v-if="!loading"
        v-model="dialog"
        :path="path"
        type="video"
      />
    </div>

    <div
      v-else-if="data.mimetype === 'application/pdf' && !loading && path"
    >
      <q-card
        class="cursor-pointer"
        @click.stop="dialog = true"
      >
        <q-img
          v-if="data.jpegThumbnail"
          :src="`data:image/png;base64,${data.jpegThumbnail}`"
          cover
          img-class="position-top"
          style="height: 100px; overflow: hidden"
        />
        <q-card-actions
          vertical
          align="center"
        >
          <q-btn
            icon="picture_as_pdf"
            rounded
            color="primary"
            class="full-width"
          />
        </q-card-actions>
      </q-card>

      <media-dialog
        v-if="!loading"
        v-model="dialog"
        :filename="data.filename"
        :path="path"
        type="pdf"
      />
    </div>

    <div
      v-else-if="!loading && type != 'text' && type != 'vcard' && path"
    >
      <q-badge color="warning">
        {{ $t('commonWord.warning') }}
      </q-badge>

      <a
        :download="data.fileName"
        :href="path"
        target="_window"
        @click.stop
      >
        {{ $t('message.mediaSent') }} <b>{{ data.fileName }}</b> {{ $t('message.clickToSee') }}
      </a>
    </div>

    <div v-else-if="type != 'text' && type != 'vcard' && path">
      <q-badge color="warning">
        {{ $t('message.updatingMedia') }}
      </q-badge>
    </div>

    <message-text
      v-if="data.caption"
      :text="data.caption"
    />
  </div>

  <div
    v-else
    class="message-media"
  >
    <message-banner>
      {{ $t('message.mediaFail') }}
    </message-banner>
  </div>
</template>

<script>
// eslint-disable-next-line global-require
const worker = () => require('./decrypt.js');

export default {
  name: 'MessageMedia',

  components: {
    MessageBanner: () => import('../tools/MessageBanner'),
    MediaDialog: () => import('./MediaDialog'),
    AudioPlayer: () => import('../tools/AudioPlayer'),
    MessageText: () => import('./MessageText'),
  },

  props: {
    data: {
      required: true,
      type: Object,
    },
    id: {
      required: true,
    },

    type: {
      required: true,
      type: String,
    },
  },

  data() {
    return {
      dialog: false,
      loading: false,
      clickable: true,
      error: false,
      internalPath: null,
    };
  },

  computed: {
    isActImage() {
      return (this.data.mimetype && this.data.mimetype === 'image/png');
    },

    path() {
      return this.internalPath;
    },
  },

  watch: {
    'data.mediaKey': function () {
      this.internalPath = null;
      this.link();
    },

    path() {
      if (this.path) this.loading = false;
    },
  },

  created() {
    if (this.type === 'videoMessage') return;
    this.link();
  },

  methods: {
    toggleGifPlayer() {
      const check = !!(this.$refs.gifPlayer.currentTime > 0 && !this.$refs.gifPlayer.paused && !this.$refs.gifPlayer.ended && this.$refs.gifPlayer.readyState > 2);

      if (check) {
        this.$refs.gifPlayer.pause();
      } else {
        this.$refs.gifPlayer.play();
      }
    },

    async link() {
      this.loading = true;
      if (['liveLocationMessage', 'locationMessage'].includes(this.type)) {
        this.internalPath = `data:image/png;base64,${this.data.jpegThumbnail}`;
        this.loading = false;
        return;
      }

      if (this.data.originalUrl && !this.data.mediaKey) {
        this.loading = false;
        this.internalPath = this.data.originalUrl;
        return;
      }

      if (!this.data.mediaKey) {
        // this.error = true;
        return;
      }

      const message = {
        id: this.id,
        clientUrl: this.data.url,
        mediaKey: this.data.mediaKey,
        mimetype: this.data.mimetype,
        type: this.type.replace('Message', '').toUpperCase(),
        size: this.data.fileLength,
      };

      const type = message.mimetype.includes('video') ? 'application/octet-stream' : message.mimetype;

      try {
        // eslint-disable-next-line no-await-in-loop
        const base64 = await this.$lf.getItem(`media_${this.id}`);

        if (message.mimetype.includes('video')) {
          const blob = await fetch(base64).then((r) => r.blob());
          this.internalPath = URL.createObjectURL(blob);
        } else {
          this.internalPath = base64;
        }
        if (this.internalPatch) return;
      } catch (error) {
        this.error = true;
        console.error('error getting file locally', error);
      }

      // eslint-disable-next-line global-require
      const instance = worker();
      const data = await instance.decryptMedia(message);

      const blob = await fetch(`data:${type};base64,${data.toString('base64')}`).then((r) => r.blob());
      this.internalPath = URL.createObjectURL(blob);
      // this.internalPath = `data:${message.mimetype};base64,${data.toString('base64')}`;

      this.$lf.setItem(`media_${this.id}`, this.internalPath, (e) => {
        if (e) console.error('Error saving file locally', e);
      });
    },
  },
};
</script>

<style lang="sass">
.message-media
  .position-top
    background-position: 0 0!important
  .img-container
    height: 50px!important
    overflow: hidden

</style>
