<template>
  <div
    v-if="type"
    class="bg-grey-3 q-pa-sm q-mb-sm"
    @click="$emit('see-message', data.contextInfo.stanzaId)"
    @dblclick.stop
  >
    <message-media
      v-if="['liveLocationMessage', 'locationMessage', 'imageMessage', 'documentMessage', 'videoMessage', 'stickerMessage', 'audioMessage'].includes(type)"
      :id="data.contextInfo.stanzaId"
      :type="type"
      :data="data.contextInfo.quotedMessage[type]"
      @show-dialog="$emit('show-dialog', $event)"
    />

    <message-buttons
      :from-me="true"
      :type="type"
      :data="data.contextInfo.quotedMessage[type]"
    />

    <message-text
      v-if="['conversation'].includes(type)"
      :text="messageText"
    />

    <message-text
      v-if="['extendedTextMessage'].includes(type)"
      :text="data.contextInfo.quotedMessage[type].text"
    />

    <p
      v-if="data.contextInfo.participant"
      class="q-mb-none"
    >
      <small>
        - <contact-name
          :contact="{jid: data.contextInfo.participant}"
          :fallback="data.contextInfo.participant"
        />
      </small>
    </p>
  </div>
</template>

<script>

export default {
  name: 'MessageQuote',

  components: {
    ContactName: () => import('../contacts/ContactName'),
    MessageButtons: () => import('./MessageButtons'),
    MessageMedia: () => import('./MessageMedia'),
    MessageText: () => import('./MessageText'),
  },

  props: {
    data: {
      required: true,
      type: Object,
    },
  },

  computed: {
    messageText() {
      const result = this.data.contextInfo.quotedMessage[this.type];
      // if (typeof result !== 'string') result = result.contextInfo.quotedMessage.conversation;

      return result;
    },

    type() {
      if (!this.data.contextInfo.quotedMessage) return null;
      return Object.keys(this.data.contextInfo.quotedMessage)[0];
    },
  },
};
</script>

<style scoped>
pre {
  font-family: "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.marked {
    filter: brightness(50%)
}
</style>
