<template>
  <vue-markdown
    :anchor-attributes="{target: '_blank'}"
    :watches="['source', 'show', 'toc']"
    :source="text"
    :prerender="prerender"
  />
</template>

<script>
import vueMarkdown from 'vue-markdown';

export default {
  name: 'MessageText',

  components: {
    vueMarkdown,
  },

  props: {
    text: null,
  },

  methods: {
    prerender(string) {
      const replaces = ['-', '#'];
      // eslint-disable-next-line no-plusplus
      for (let index = 0; index < replaces.length; index++) {
        const rep = replaces[index];
        string = string.split(rep).join(`\\${rep}`);
      }
      return string;
    },
  },
};
</script>
