<template>
  <message-banner
    v-if="data.chatbotSuccess === false"
    color="negative"
    class="q-mb-sm"
  >
    <b>{{ $t('commonWord.warning') | capitalize }}: </b> {{ $t('message.of') }} <i>{{ $t('message.fallback') }}</i>
  </message-banner>

  <message-banner
    v-else-if="data.chatbotSuccess && !data.chatbotClosing"
    color="primary"
    class="q-mb-sm"
  >
    {{ $t('message.chatbotOptionsChosen') }}

    <q-list
      bordered
      dense
    >
      <q-item
        v-for="(item, index) in chatbotId"
        :key="index"
      >
        <q-item-section v-if="item.type !== 'introduction'">
          {{ item.trigger }} - {{ item.optionMessage }}
        </q-item-section>
        <q-item-section v-else>
          {{ $t('chatbot.introTitle') }}
        </q-item-section>
      </q-item>
    </q-list>
  </message-banner>

  <message-banner
    v-else-if="data.chatbotClosing"
    color="primary"
    class="q-mb-sm"
  >
    Chatbot irá fechar este atendimento em breve:
  </message-banner>
</template>

<script>
import feathersClient from '../../boot/feathers-vuex';

export default {
  name: 'MessageChatbot',

  components: {
    MessageBanner: () => import('../tools/MessageBanner'),
  },

  props: {
    data: null,
  },

  data() {
    return {
      chatbotId: [],
    };
  },

  created() {
    this.load();
  },

  methods: {
    async startLoading(id) {
      const res = await feathersClient.service('member-chatbots').get(id);
      this.chatbotId.push(res);
      if (res.parentId) this.startLoading(res.parentId);
      else this.chatbotId = this.chatbotId.reverse();
    },

    load() {
      if (!this.data.chatbotSuccess) return;

      this.startLoading(this.data.chatbotId);
    },
  },
};
</script>

<style>

</style>
