<template>
  <div
    class="message q-px-sm"
  >
    <q-chat-message
      v-if="type"
      ref="message"
      :class="[
        marked && !dumb ? 'marked' : '',
        !dumb && !disabled ? 'cursor-pointer': ''
      ]"
      :name="name"
      :stamp="stamp"
      :disabled="disabled"
      :sent="isMe"
      :size="size"
      @dblclick.native="$emit('select')"
      @contextmenu.prevent.stop="showMenu = true"
      @mouseenter.native="showMenuBtn = true"
      @mouseleave.native="showMenuBtn = false"
    >
      <template
        v-if="isChatbot || internalData.apiMessage || (kind === 'group' && !isMe)"
        #avatar
      >
        <q-avatar
          v-if="internalData.apiMessage"
          class="q-mx-xs"
          color="primary"
          text-color="white"
          icon="api"
        />

        <q-avatar
          v-if="isChatbot"
          class="q-mx-xs"
          color="primary"
          text-color="white"
          icon="smart_toy"
        />

        <avatar
          v-else-if="contact"
          class="q-mx-xs"
          :data="contact"
        />
      </template>

      <message-quote
        v-if="hasContext && internalData.message[type]"
        :data="internalData.message[type]"
        @see-message="$emit('see-message', $event)"
      />

      <message-quote
        v-if="internalData.message.quotedMessage"
        :data="{
          contextInfo: {
            participant: internalData.message.quotedMessage.key.remoteJid,
            quotedMessage: internalData.message.quotedMessage.message
          }
        }"
        @see-message="$emit('see-message', $event)"
      />

      <message-chatbot :data="internalData" />

      <message-catalog :data="internalData" />
      <message-buttons
        :id="internalData.key.id"
        :from-me="isMe"
        :type="type"
        :data="internalData.message[type]"
        @reply-button="$emit('reply-button', $event)"
      />

      <message-buttons-response
        :id="internalData.key.id"
        :from-me="isMe"
        :type="type"
        :data="internalData.message[type]"
      />

      <message-payment
        :data="internalData"
        :type="type"
      />

      <message-link
        :type="type"
        :data="internalData"
      />

      <message-media
        v-if="showMediaMessage"
        :id="internalData.key.id"
        :type="type"
        :data="internalData.message[type]"
        @show-dialog="$emit('show-dialog', $event)"
      />

      <message-text
        v-if="['conversation'].includes(type)"
        :text="internalData.message[type]"
      />

      <message-text
        v-if="['extendedTextMessage'].includes(type)"
        :text="internalData.message[type].text"
      />

      <message-contact
        v-if="['contactMessage'].includes(type)"
        :data="internalData.message.contactMessage.vcard"
      />

      <q-badge
        v-if="internalData.messageStubType === 'REVOKE'"
        color="info"
        class="q-mt-sm full-width text-center"
        :label="$t('message.deleted')"
      />

      <q-badge
        v-if="internalData.chatbotEnd"
        color="info"
        class="q-mt-sm full-width text-center"
        :label="$t('message.botEnd')"
      />

      <div
        v-if="!dumb && !disabled"
        ref="topAnchor"
        class="absolute-top-right q-mr-sm q-mb-xs"
        style="right: -4px; top: 2px;"
      >
        <q-btn
          v-if="showMenuBtn && !responded && !consult"
          round
          flat
          size="xs"
          icon="play_arrow"
          style="background-color:#ffffffde;z-index: 9;transform: rotate(90deg)"
          @click="showMenu = true"
        />
      </div>

      <message-banner
        v-if="internalData.scheduled"
        color="primary"
      >
        {{ $t('message.programatedSend1') }} <b>{{ $t('message.programatedSend2') }}</b>
      </message-banner>

      <q-badge
        v-if="internalData.deleted"
        color="negative"
      >
        {{ $t('commonWord.deleted') }}
      </q-badge>

      <q-icon
        v-if="internalData.status === 'PENDING' && isMe"
        name="query_builder"
        class="absolute-bottom-right q-mr-sm q-mb-xs"
      />
      <q-icon
        v-if="internalData.status === 'SERVER_ACK'"
        name="check"
        class="absolute-bottom-right q-mr-sm q-mb-xs"
      />
      <q-icon
        v-if="internalData.status === 'DELIVERY_ACK'"
        name="done_all"
        class="absolute-bottom-right q-mr-sm q-mb-xs"
      />
      <q-icon
        v-if="internalData.status === 'READ' || internalData.status === 'PLAYED'"
        name="done_all"
        class="absolute-bottom-right q-mr-sm q-mb-xs text-positive"
      />
    </q-chat-message>

    <q-banner
      v-else-if="internalData.messageStubType"
      color="primary"
      :dark="$q.dark.isActive"
      :class="$q.dark.isActive ? '' : 'bg-grey-3'"
      class="text-center q-my-md "
    >
      <q-badge>{{ $t('commonWord.warning') }}</q-badge>

      <span v-if="internalData.messageStubType === 'E2E_ENCRYPTED'">
        {{ $t('message.cryptography') }}
      </span>

      <span v-else-if="internalData.messageStubType === 'CALL_MISSED_VOICE'">
        {{ $t('message.missedCall') }}
      </span>

      <span v-else-if="internalData.messageStubType === 'CALL_MISSED_VIDEO'">
        {{ $t('message.missedVideoCall') }}
      </span>

      <span v-else-if="internalData.messageStubType === 'CALL_VOICE'">
        {{ $t('message.callRequest') }}
      </span>

      <span v-else>
        {{ internalData.messageStubType }}
      </span>
    </q-banner>

    <q-menu
      v-if="!dumb && !disabled"
      ref="menu"
      v-model="showMenu"
      auto-close
      no-parent-event
      anchor="top right"
      :self="isMe ? 'top middle' : 'top right'"
      :target="$refs.topAnchor"
    >
      <q-list
        style="min-width: 100px"
        @mouseenter.native="showMenuBtn = true"
      >
        <q-item
          clickable
          @click="$emit('select')"
        >
          <q-item-section>{{ $t('message.answer') }}</q-item-section>
        </q-item>

        <q-item
          v-if="['conversation'].includes(type)"
          clickable
          @click="$copy(internalData.message[type])"
        >
          <q-item-section>{{ $t('message.copy') }}</q-item-section>
        </q-item>

        <q-item
          v-if="['extendedTextMessage'].includes(type) && internalData.message[type].text"
          clickable
          @click="$copy(internalData.message[type].text)"
        >
          <q-item-section>{{ $t('message.copy') }}</q-item-section>
        </q-item>

        <q-item
          v-if="internalData.key.fromMe && !internalData.deleted"
          clickable
          @click="deleteMessage()"
        >
          <q-item-section>{{ $t('commonWord.delete') }}</q-item-section>
        </q-item>
      </q-list>
    </q-menu>
  </div>
</template>

<script>
import feathersClient from '../../boot/feathers-vuex';

export default {
  name: 'Message',

  components: {
    MessageText: () => import('./MessageText'),
    MessageButtons: () => import('./MessageButtons'),
    MessageButtonsResponse: () => import('./MessageButtonsResponse'),
    MessageContact: () => import('./MessageContact'),
    MessageChatbot: () => import('./MessageChatbot'),
    MessageCatalog: () => import('./MessageCatalog'),
    MessageMedia: () => import('./MessageMedia'),
    MessageQuote: () => import('./MessageQuote'),
    MessageBanner: () => import('../tools/MessageBanner'),
    MessagePayment: () => import('./MessagePayment'),
    MessageLink: () => import('./MessageLink'),
    Avatar: () => import('../tools/Avatar.vue'),
  },

  props: {
    data: {
      required: true,
      type: Object,
    },

    dumb: Boolean,
    disabled: Boolean,

    marked: {
      type: Boolean,
    },

    responded: {
      type: Boolean,
    },

    consult: {
      type: Boolean,
    },

    chat: null,

    size: {
      default: 'md-5 col-10',
    },
  },

  data() {
    return {
      contactId: null,
      internalId: null,
      systemTypes: [
        'gp2', 'e2e_notification', 'E2E_ENCRYPTED',
        'CALL_MISSED_VIDEO',
        'CALL_MISSED_VOICE',
        'INDIVIDUAL_CHANGE_NUMBER',
        'BIZ_INTRO_BOTTOM',
        'BIZ_MOVE_TO_CONSUMER_APP',
      ],
      showMenuBtn: false,
      showMenu: false,
    };
  },

  computed: {
    internalData() {
      if (this.remoteMessage) return this.remoteMessage;
      return this.data;
    },

    remoteMessage() {
      if (!this.internalId) return null;
      return this.$store.getters['member-messages/get'](this.internalId);
    },

    isChatbot() {
      return !!this.internalData.chatbotId;
    },

    contact() {
      if (this.dumb) return;
      return this.$store.getters['member-contacts/get'](this.contactId);
    },

    showMediaMessage() {
      if (!this.type) return false;
      return (
        typeof this.internalData.message[this.type] === 'object'
          || this.internalData.message.originalUrl
      )
          && ['liveLocationMessage', 'locationMessage', 'imageMessage', 'documentMessage', 'videoMessage', 'stickerMessage', 'audioMessage'].includes(this.type);
    },

    hasContext() {
      if (!this.type) return null;
      return !!this.internalData.message[this.type].contextInfo;
    },

    ticket() {
      if (this.dumb) return null;
      if (this.chat) return this.chat;
      return this.$store.getters['member-tickets/get'](this.$route.params.id);
    },

    kind() {
      if (!this.ticket) return null;
      return this.ticket.jid.includes('@g.us') ? 'group' : 'user';
    },

    type() {
      if (!this.internalData) return null;
      if (!this.internalData.message) return null;
      if (this.internalData.message.messageContextInfo) delete this.internalData.message.messageContextInfo;

      return Object.keys(this.internalData.message)[0];
    },

    isMe() {
      if (this.internalData.key.fromMe) return true;
      return false;
    },

    stamp() {
      let result = this.internalData.messageTimestamp * 1000;

      result = this.$timestampFormat(result);

      if (this.internalData.forwardingScore) result += ' Encaminhada';
      else if (this.internalData.message[this.type].contextInfo && this.internalData.message[this.type].contextInfo.isForwared) result += ' Encaminhada';

      return result;
    },

    user() {
      if (!this.internalData.attendantId) return null;
      return this.$store.getters['members/get'](this.internalData.attendantId);
    },

    userName() {
      if (this.isChatbot) return '[Chatbot]';
      if (this.internalData.apiMessage) return '[API]';
      if (!this.internalData.userId) return '';
      if (!this.user || !this.user.name) return '';
      return this.user.name;
    },

    remoteName() {
      if (this.contact) {
        let result = this.contact.jid;
        if (this.contact.overrideName) result = this.contact.overrideName;
        if (this.contact.name) result = this.contact.name;
        if (this.contact.notify) result = this.contact.notify;
        if (this.contact.vname) result = this.contact.vname;
        if (this.kind === 'group') result += ` @ ${this.internalData.participant.split('@')[0]}`;
        return result;
      }
      return '';
    },

    name() {
      let result = null;
      try {
        if (this.isMe) result = this.userName;
        else result = this.remoteName;
      } catch (error) {
        console.error(error);
      }

      return result;
    },
  },

  mounted() {
    this.$emit('mounted');
    this.loadContact();
    this.loadUser();
    this.loadMessage();
  },

  methods: {
    loadMessage() {
      if (this.internalId) return;
      const res = this.$store.getters['member-messages/find']({ query: { 'key.id': this.data.key.id } });
      if (!res.total) return;

      this.internalId = res.data[0]._id;
    },

    async loadContact() {
      if (this.dumb) return;
      if (this.internalData.key.fromMe) return;

      if (this.kind !== 'group' && this.internalData.contactId) {
        this.contactId = this.internalData.contactId;
        if (this.contact) return;
        this.$store.dispatch('member-contacts/get', this.contactId);
      } else if (this.kind !== 'group') {
        const result = this.$store.getters['member-contacts/find']({ query: { jid: this.internalData.key.remoteJid } });

        if (result.total) {
          this.contactId = result.data[0]._id;
          if (this.contact) return;
        } else {
          const find = await this.$store.dispatch('member-contacts/find', { query: { jid: this.internalData.key.remoteJid } });

          if (!find.total) return;

          this.contactId = find.data[0]._id;
          if (this.contact) return;
        }

        this.$store.dispatch('member-contacts/get', this.contactId);
      } else {
        const result = this.$store.getters['member-contacts/find']({ query: { jid: this.internalData.participant } });

        if (result.total) {
          this.contactId = result.data[0]._id;
          if (this.contact) return;
        } else {
          const find = await this.$store.dispatch('member-contacts/find', { query: { jid: this.internalData.participant } });

          if (!find.total) return;

          this.contactId = find.data[0]._id;
          if (this.contact) return;
        }

        this.$store.dispatch('member-contacts/get', this.contactId);
      }
    },

    loadUser() {
      if (!this.internalData.userId) return;

      this.$store.dispatch('members/get', this.internalData.userId);
    },

    deleteMessage() {
      const payload = {
        query: {
          connectionId: this.data.connectionId,
          action: 'deleteMessage',
          parameters: [this.ticket.jid, `parse:${JSON.stringify({ fromMe: true, remoteJid: this.ticket.jid, id: this.data.key.id })}`],
        },
      };

      feathersClient.service('member-message-direct').find(payload)
        .then(console.log)
        .catch(console.error);
    },
  },
};
</script>

<style lang="sass">
.message
  padding-left: 12px
  .intersection
    min-height: 51px
  p
    margin: 0
</style>
