<template>
  <div
    id="send-container"
    class="send-container row"
  >
    <div
      class="col-12"
      style="border-top: 1px solid rgba(0, 0, 0, 0.12)"
    >
      <q-input
        ref="inputBody"
        :value="value"
        type="textarea"
        autofocus
        class="message_text_area"
        :placeholder="marked ? $t('message.answering') : $tc('commonWord.message')"
        :readonly="disabledControls"
        :rows="!typerFullscreen ? '1' : '9'"
        filled
        square
        @blur="$emit('blur')"
        @focus="$emit('focus')"
        @input="$emit('input', $event)"
        @keydown.enter="onEnter"
        @keydown.shift.enter.stop.prevent="$emit('input', `${value}\n`)"
      >
        <div
          v-if="hasMedia"
          slot="prepend"
          class="relative"
        >
          <q-img
            v-if="mimetype.includes('image')"
            width="52px"
            cover
            height="52px"
            :src="image"
          />

          <q-icon
            v-else
            color="primary"
            :name="getIcon()"
          />

          <q-btn
            size="xs"
            color="negative"
            class="absolute-top-left"
            dense
            round
            icon="remove"
            @click="clearMedia"
          />
        </div>

        <q-btn
          slot="append"
          icon="fullscreen"
          dense
          round
          flat
          @click="$emit('update:typer-fullscreen', !typerFullscreen)"
        />

        <q-btn
          id="emoji_btn"
          slot="append"
          :disabled="disabledControls"
          icon="fa fa-smile"
          dense
          round
          flat
        >
          <q-menu>
            <VEmojiPicker @select="selectEmoji($event, 'inputBody')" />
          </q-menu>
        </q-btn>

        <q-btn
          id="send_btn"
          slot="append"
          :disabled="disabledControls"
          icon="send"
          dense
          round
          flat
          @click="send"
        />

        <input
          v-show="false"
          ref="file"
          type="file"
          multiple
          @change="mediaSelect"
        >

        <q-btn
          id="attach_btn"
          slot="append"
          icon="attach_file"
          accept="image/*, audio/*, application/*"
          :disabled="disabledControls"
          round
          dense
          flat
          @click="selectFile"
        />

        <audio-recorder
          slot="append"
          :disabled="disabledControls"
          @audio-recorded="handleAudio"
        />
      </q-input>
    </div>

    <q-menu
      v-if="quickMessagesComputed"
      ref="quickMessagesMenu"
      square
      fit
      no-parent-event
      no-focus
      no-refocus
      style="height: auto"
      content-class="shadow-up-3"
      :value="showQuickMessages && !!quickMessagesComputed"
    >
      <q-list v-if="quickMessagesComputed !== null">
        <q-item
          v-ripple
          clickable
          @click="quickMessageClicked(quickMessagesComputed)"
        >
          <q-item-section
            v-if="quickMessagesComputed.media"
            avatar
          >
            <q-img
              :src="quickMessagesComputed.media.location"
            />
          </q-item-section>

          <q-item-section>
            <q-item-label>
              {{ quickMessagesComputed.title }}
            </q-item-label>

            <q-item-label caption>
              /{{ quickMessagesComputed.shortcut }}
            </q-item-label>
          </q-item-section>

          <q-item-section>
            <q-item-label caption>
              {{ $tc('commonWord.message') }}
            </q-item-label>
            <q-item-label style="max-width: 250px">
              {{ quickMessagesComputed.body }}
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-menu>
  </div>
</template>

<script>

import { VEmojiPicker } from 'v-emoji-picker';

export default {
  name: 'ChatMessageTyper',

  components: {
    AudioRecorder: () => import('../tools/AudioRecorder'),
    VEmojiPicker,
  },

  props: {
    image: null,
    fileToSend: null,
    typerFullscreen: Boolean,
    value: null,
    type: null,
    disabledControls: Boolean,
    marked: Boolean,
  },

  watch: {
    '$route.params.id': function () {
      this.$emit('input', '');
      this.$refs.inputBody.focus();
    },
    showQuickMessages() {
      this.$refs.quickMessagesMenu.updatePosition();
    },
    'quickMessagesComputed._id': function () {
      this.$nextTick(() => {
        this.$refs.quickMessagesMenu.updatePosition();
      });
    },
    lines() {
      if (this.$q.screen.lt.sm) return;
      if (this.lines > 2) this.$emit('update:typer-fullscreen', true);
      else this.$emit('update:typer-fullscreen', false);
    },
  },

  computed: {
    lines() {
      return this.value.split(/\r*\n/).length;
    },

    hasMedia() {
      return !!this.fileToSend;
    },

    mimetype() {
      if (!this.hasMedia) return null;

      if (typeof this.fileToSend === 'string') {
        return 'image';
      }

      return this.fileToSend.type ?? this.fileToSend.mimetype;
    },

    quickMessagesComputed() {
      if (!this.$store.getters['member-quick-messages/list']) return null;
      const items = this.$store.getters['member-quick-messages/list'];

      // eslint-disable-next-line no-plusplus
      for (let index = 0; index < items.length; index++) {
        const item = items[index];
        if (item.shortcut.includes(this.shortcutTyped)) return item;
      }

      return items[0];
    },

    showQuickMessages() {
      if (!this.value || this.value[0] !== '/') return null;
      const text = this.value.split('/')[1];
      return text && text[0] !== ' ';
    },

    shortcutTyped() {
      if (!this.value || this.value[0] !== '/') return null;
      const text = this.value.split('/')[1];
      if (!this.showQuickMessages) return null;
      return text;
    },
  },

  created() {
    document.addEventListener('dragover', this.dragoverHandler);
    document.addEventListener('drop', this.dropHandler);

    document.onpaste = this.handlePaste;
  },

  beforeDestroy() {
    document.removeEventListener('dragover', this.dragoverHandler);
    document.removeEventListener('drop', this.dropHandler);
    document.onpaste = null;
  },

  methods: {
    handlePaste(e) {
      const { items } = e.clipboardData || e.originalEvent.clipboardData;

      // eslint-disable-next-line no-plusplus
      for (let index = 0; index < items.length; index++) {
        const item = items[index];

        if (item.kind === 'file') {
          const blob = item.getAsFile();

          this.$emit('update:image', URL.createObjectURL(blob));
          this.$emit('update:fileToSend', blob);
        }
      }
    },

    dragoverHandler(e) {
      e.stopPropagation();
      e.preventDefault();
    },

    dropHandler(e) {
      e.stopPropagation();
      e.preventDefault();

      if (e.dataTransfer.files.length > 1) {
        this.$emit('multiple-file-to-send', e);
        return;
      }

      const file = e.dataTransfer.files[0];
      this.$emit('update:image', URL.createObjectURL(file));
      this.$emit('update:fileToSend', file);
    },

    getIcon() {
      let result = 'fas fa-file';

      if (this.mimetype.includes('pdf')) result = 'fas fa-file-pdf';
      else if (this.mimetype.includes('audio')) result = 'fas fa-file-audio';
      else if (this.mimetype.includes('video')) result = 'fas fa-file-video';
      else if (this.mimetype.includes('text')) result = 'fas fa-file-alt';
      else if (this.mimetype.includes('word')) result = 'fas fa-file-word';
      else if (this.mimetype.includes('excel')) result = 'fas fa-file-word';

      return result;
    },

    clearMedia() {
      this.$emit('update:image', null);
      this.$emit('update:fileToSend', null);
    },

    handleAudio(e) {
      this.$emit('update:image', null);
      this.$emit('update:fileToSend', e);
      this.$emit('send-media');
    },

    send() {
      if (this.fileToSend) return this.$emit('send-media');
      this.$emit('send');
      return null;
    },

    mediaSelect() {
      const file = this.$refs.file.files[0];
      this.$emit('update:image', URL.createObjectURL(file));
      this.$nextTick(() => {
        this.$emit('update:fileToSend', file);
      });
    },

    quickMessageClicked(e) {
      if (e.media) {
        this.$emit('update:image', e.media.location);
        this.$emit('update:fileToSend', e.media);
      } else {
        this.$emit('update:image', null);
        this.$emit('update:fileToSend', null);
      }

      this.$emit('input', e.body);
    },

    onEnter(e) {
      e.preventDefault();
      if (e.shiftKey) return;
      if (this.showQuickMessages) {
        return this.quickMessageClicked(this.quickMessagesComputed);
      }
      this.send();
      return null;
    },

    selectFile() {
      if (this.disabledControls) return;

      this.$refs.file.click();
    },

    selectEmoji(emoji, ref) {
      const input = this.$refs[ref].$el.querySelector('textarea');

      if (input.selectionStart !== null) {
        this.$emit('input', this.value.substring(0, input.selectionStart)
          + emoji.data
          + this.value.substring(input.selectionStart));
      } else this.$emit('input', this.value + emoji.data);
    },
  },
};
</script>
