<template>
  <div v-if="type === 'buttonsResponseMessage'">
    <message-banner
      color="primary"
      class="q-mb-sm"
    >
      {{ $t('message.messageButtonsResponse') }}
    </message-banner>

    {{ data.selectedDisplayText }}
  </div>
</template>

<script>
export default {
  name: 'MessageButtonsResponse',

  components: {
    MessageBanner: () => import('../tools/MessageBanner'),
  },

  props: {
    fromMe: Boolean,
    type: null,
    data: null,
  },

  methods: {
  },
};
</script>
