<template>
  <div v-if="contact">
    <q-badge>{{ $t('commonWord.warning') }}</q-badge>
    {{ $t('message.contactInfo') }}

    <div
      v-if="contact.organization"
      class="q-my-xs"
    >
      <q-badge>{{ $t('message.organization') }}</q-badge>
      <span class="vcard-name">{{ contact.organization }}</span>
    </div>

    <div
      v-if="contact.displayName"
      class="q-my-xs"
    >
      <q-badge>{{ $t('form.name') }}:</q-badge>
      <span class="vcard-name">{{ contact.displayName }}</span>
    </div>

    <div
      v-if="contact.title"
      class="q-my-xs"
    >
      <q-badge>{{ $t('commonWord.title') }}:</q-badge>
      <span class="vcard-name">{{ contact.title }}</span>
    </div>

    <div
      v-if="contact.telephone"
      class="q-my-xs"
    >
      <q-badge>{{ $t('commonWord.telephones') }}:</q-badge>
      <template v-for="(phone, index) in contact.telephone">
        <span
          :key="index"
          class="vcard-name cursor-pointer"
          @click.stop="$copy(phone.value)"
        >
          {{ phone.value }}
          <q-icon name="content_copy" />,
        </span>
      </template>
    </div>

    <div
      v-if="contact.email"
      class="q-my-xs"
    >
      <q-badge>{{ $t('commonWord.emails') }}:</q-badge>
      <template v-for="(email, index) in contact.email">
        <span
          :key="index"
          class="vcard-name cursor-pointer"
          @click.stop="$copy(email.value)"
        >
          {{ email.value }}
          <q-icon name="content_copy" />,
        </span>
      </template>
    </div>

    <div
      v-if="contact.birthday"
      class="q-my-xs"
    >
      <q-badge>{{ $t('form.birthDate') }}:</q-badge>
      <span class="vcard-name">{{ $jsDateFormat(contact.birthday) }}</span>
    </div>

    <div
      v-if="image"
      class="q-my-xs"
    >
      <q-badge>{{ $t('commonWord.photo') }}:</q-badge>
      <div class="vcard-name">
        <q-avatar
          size="50px"
          color="primary"
          text-color="white"
        >
          <q-img :src="image" />
        </q-avatar>
      </div>
    </div>
  </div>
  <div v-else-if="data.type === 'vcard' && !contact">
    <q-badge>{{ $t('commonWord.warning') }}</q-badge>
    {{ $t('message.contactInfoError') }}
  </div>
</template>

<script>
import vcardParser from './vcardParser.js';

export default {
  name: 'MessageContact',

  props: {
    data: null,
  },

  computed: {
    image() {
      if (!this.data.includes('PHOTO')) return false;

      try {
        let result = this.data
          .split('\n')
          .filter((e) => e.includes('PHOTO'));

        result = result.length ? result[0] : result;

        result = result.replace('PHOTO;BASE64:', 'data:image/jpeg;base64,');

        return result;
      // eslint-disable-next-line no-empty
      } catch (error) {
        console.error(error);
      }

      return false;
    },

    contact() {
      try {
        let parsed = this.data
          .split('\n')
          .filter((e) => !e.includes('PHOTO'))
          .join('\n');

        parsed = vcardParser.parse(parsed);
        parsed = parsed.length ? parsed[0] : parsed;
        return parsed;
      } catch (error) {
        console.error(error);
      }

      return false;
    },
  },
};
</script>
