<template>
  <div v-if="type === 'buttonsMessage'">
    <div>
      <b>{{ data.contentText }}</b>
    </div>

    <q-separator spaced />

    <template v-for="(item, index) in data.buttons">
      <q-btn
        :key="index"
        color="primary"
        :disabled="fromMe"
        :label="item.buttonText.displayText"
        outline
        class="full-width q-my-xs"
        size="sm"
        @click="$emit('reply-button', item)"
      />
    </template>
  </div>
</template>

<script>
export default {
  name: 'MessageButtons',

  components: {
  },

  props: {
    fromMe: Boolean,
    type: null,
    data: null,
  },
};
</script>
