<template>
  <message-banner
    v-if="data.messageStubType === 'ZAPFLY_CATALOG_ASK'"
    color="primary"
    class="q-mb-sm"
  >
    <q-list
      bordered
      separator
      dense
    >
      <q-item-label
        header
        class="text-black"
      >
        {{ $t('message.orderedProducts') }}
      </q-item-label>

      <q-item
        v-for="(item, index) in data.message.zapflyProducts"
        :key="index"
      >
        <q-item-section avatar>
          <q-avatar>
            <q-img
              :src="item.product.image"
              style="height: 50px"
            />
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label>{{ item.product.name }}</q-item-label>

          <q-item-label caption>
            {{ $t('commonWord.moneySymbol') }} {{ item.product.price }}
            x
            {{ item.amount }}
            =
            {{ $t('commonWord.moneySymbol') }}{{ (item.product.price * item.amount).toFixed(2) }}
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section>
          <q-item-label>
            {{ $t('commonWord.total') }} {{ total }}
          </q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </message-banner>
</template>

<script>
export default {
  name: 'MessageCatalog',

  components: {
    MessageBanner: () => import('../tools/MessageBanner'),
  },

  props: {
    data: null,
  },

  computed: {
    total() {
      if (!this.data.message.zapflyProducts || !this.data.message.zapflyProducts.length) return null;

      return this.data.message.zapflyProducts.reduce((a, b) => (b.product.price * b.amount) + a, 0).toFixed(2);
    },
  },
};
</script>

<style>

</style>
