<template>
  <q-btn
    color="primary"
    class="full-width"
    :label="$t('departament.setting')"
    @click="dialog = true"
  >
    <q-dialog
      v-model="dialog"
      @hide="handleHide"
    >
      <q-card style="min-width: 300px;">
        <q-card-section>
          <div class="text-h6">
            {{ $tc('departament.title',2) }}
          </div>
        </q-card-section>

        <q-separator />

        <q-card-section
          class="scroll q-pa-none"
          style="height: calc(100vh - 170px)"
        >
          <q-list separator>
            <q-item>
              <q-item-section>
                <q-input
                  v-model="add"
                  :placeholder="$t('departament.add')"
                  outlined
                  autofocus
                  @keydown.enter="createDep"
                >
                  <q-btn
                    slot="append"
                    unelevated
                    color="primary"
                    size="sm"
                    round
                    icon="add"
                    @click="createDep"
                  />
                </q-input>
              </q-item-section>
            </q-item>

            <q-item
              v-for="(item) in departments"
              :key="item._id"
            >
              <q-item-section>
                <q-item-label>{{ item.name }}</q-item-label>
              </q-item-section>

              <q-item-section side>
                <q-icon
                  name="edit"
                  color="primary"
                >
                  <q-popup-edit
                    :value="item.name"
                    @before-show="target = item.name"
                  >
                    <template #default="{ set, cancel }">
                      <q-input
                        v-model="target"
                        autofocus
                        dense
                      >
                        <template #after>
                          <q-btn
                            flat
                            dense
                            color="negative"
                            :label="$t('commonWord.cancel')"
                            @click.stop="cancel"
                          />
                          <q-btn
                            flat
                            dense
                            color="positive"
                            :label="$t('commonWord.save')"
                            @click.stop="updateDepartment(item._id, set)"
                          />
                        </template>
                      </q-input>
                    </template>
                  </q-popup-edit>
                </q-icon>
              </q-item-section>

              <q-item-section side>
                <confirm-btn
                  flat
                  round
                  color="primary"
                  icon="delete_outline"
                  @confirm="remove(item._id)"
                />
              </q-item-section>
            </q-item>
          </q-list>
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn
            v-close-popup
            :disabled="loading"
            label="Ok"
            color="primary"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-btn>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'DepartmentsListDialog',

  components: {
    ConfirmBtn: () => import('../tools/ConfirmBtn'),
  },

  data() {
    return {
      dialog: false,
      loading: false,
      test: false,

      add: '',
      target: '',
    };
  },

  created() {
    this.$store.dispatch('member-departments/find', { query: { $limit: 50 } });
    // .then(console.log);
  },

  methods: {
    ...mapActions('member-departments', ['create', 'patch', 'remove']),

    async updateDepartment(e, set) {
      await this.patch([e, { name: this.target }]);
      set();
      this.target = '';
    },

    async createDep() {
      this.loading = true;

      try {
        await this.create({ name: this.add });
        this.add = '';
      } catch (error) {
        console.error(error);
        this.$notify('negative');
      }

      this.loading = false;
    },

    handleHide() {
    },

    async submit() {
      this.loading = true;

      // await this.$resetValidation(this.form);
      // if (!(await this.$validate(this.form))) return;

      // try {
      //   await this.$store.dispatch('members/patch', [this.$user._id, this.form]);
      //   this.dialog = false;
      // } catch (error) {
      //   console.error(error);
      //   const message = 'Um erro aconteceu, verifique se o email';
      //   this.$notify('negative', message);
      // }

      this.loading = false;
    },
  },

  computed: {
    departments() {
      return this.$store.getters['member-departments/list'];
    },
  },
};
</script>
