<template>
  <q-select
    name="department-select"
    :label="label"
    :options="memberDepartments"
    :loading="loading"
    :value="internalValue"
    clearable=""
    :disabled="loading"
    use-input
    v-bind="$attrs"
    :display-value="selectedLabel"
    @new-value="createValue"
    @filter="filterFn"
    @input="$emit('input', $event)"
  />
</template>

<script>
import feathersClient from '../../boot/feathers-vuex';
import { i18n } from '../../boot/i18n';

export default {
  name: 'SelectDepartment',

  props: {
    value: null,

    label: {
      default: i18n.t('departament.title'),
      paginate: {},
      data: [],
    },
  },

  data() {
    return {
      loading: false,
      filter: '',
      paginate: {},
      data: [],
      i18n,
    };
  },

  computed: {
    selectedLabel() {
      let result = this.$t('form.undefinedValue');
      const index = this.memberDepartments.findIndex((e) => e.value === this.value);
      if (index > -1) result = this.memberDepartments[index].label;
      return result;
    },

    departments() {
      return this.$store.getters['member-departments/list'];
    },

    internalValue() {
      if (!this.value) return null;

      const result = this.data.find((e) => e._id === this.value);
      return result ? result.name : null;
    },

    memberDepartmentsParams() {
      const query = {
        $select: ['_id', 'name'],
      };

      if (this.filter) {
        query.$search = this.filter;
      }

      return {
        query,
        paginate: true, // This restores previous functionality
      };
    },

    memberDepartments() {
      return this.data.map((e) => ({
        value: e._id,
        label: e.name,
      }));
    },
  },

  created() {
    this.load();
  },

  methods: {
    async createValue(val, done) {
      const data = await feathersClient.service('member-departments').create({ name: val });
      this.data.push(data);
      const value = { value: data._id, label: data.name };
      done(val);
      this.$emit('input', value);
    },

    async load() {
      const data = await feathersClient.service('member-departments').find(this.memberDepartmentsParams);
      this.data = data.data;
      delete data.data;
      this.paginate = data;
    },

    // eslint-disable-next-line no-unused-vars
    async filterFn(val, update, abort) {
      this.filter = val;
      await this.load().catch(() => {
        abort();
      });
      update();
    },
  },
};
</script>
