<template>
  <span>{{ name }}</span>
</template>

<script>
export default {
  name: 'AttendantName',

  props: {
    id: null,
  },

  computed: {
    att() {
      return this.$store.getters['members/get'](this.id);
    },

    name() {
      if (!this.att) return '';
      if (!this.att.name) return '';

      return this.att.name;
    },
  },

  mounted() {
    if (!this.att) {
      this.$store.dispatch('members/get', [this.id]);
    }
  },
};
</script>

<style>

</style>
