<template>
  <q-page class="catalog-view">
    <q-layout
      view="lhh LpR lff"
      container
      style="height: calc(100vh - 50px)"
      class="shadow-2"
    >
      <q-header
        reveal
      >
        <q-toolbar>
          <q-toolbar-title>
            {{ $t('catalog.title') }}
          </q-toolbar-title>

          <q-input
            v-if="srcComputed"
            borderless
            :value="srcComputed"
            :label="$t('catalog.ourUrl')"
            readonly
            dark
            style="width: 300px"
          >
            <q-icon
              slot="prepend"
              name="content_copy"
              class="cursor-pointer"
              @click="$copy(srcComputed)"
            />
          </q-input>

          <q-btn
            flat
            round
            dense
            icon="menu"
            @click="drawerRight = !drawerRight"
          />
        </q-toolbar>
      </q-header>

      <q-drawer
        v-if="srcComputed"
        v-model="drawerRight"
        side="right"
        bordered
        :width="200"
        :breakpoint="500"
        content-class="bg-grey-3"
      >
        <q-scroll-area class="fit">
          <q-list
            separator
            dense
          >
            <q-item-label header>
              {{ $tc('commonWord.setting', 2) }}
            </q-item-label>

            <q-separator />

            <q-item>
              <q-item-section>
                <q-toggle
                  v-model="data.open"
                  :label="$t('commonWord.open')"
                  debounce="400"
                  @input="patch(data.name, 'open', $event)"
                />
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                <catalog-name-input
                  v-model="data.name"
                  :label="$t('catalog.formName')"
                  outlined
                  bg-color="white"
                  class="q-my-sm"
                  @input="updateName($event)"
                />
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                <q-input
                  v-model="data.nameComplete"
                  :label="$t('catalog.formNameComplete')"
                  debounce="400"
                  outlined
                  bg-color="white"
                  class="q-my-sm"
                  @input="patch(name, 'nameComplete', $event)"
                />
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                <q-input
                  v-model="data.waitTime"
                  :label="$t('catalog.formWaitTime')"
                  debounce="400"
                  outlined
                  bg-color="white"
                  class="q-my-sm"
                  @input="patch(data.name, 'waitTime', $event)"
                />
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                <q-input
                  v-model="data.deliveryPrice"
                  :label="$t('catalog.formDeliveryPrice')"
                  debounce="400"
                  outlined
                  bg-color="white"
                  class="q-my-sm"
                  @input="patch(name, 'deliveryPrice', $event)"
                />
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                <catalog-image-input
                  v-model="data.imageCover"
                  :label="$t('catalog.formImageCover')"
                  outlined
                  class="bg-white q-my-sm"
                  @input="patch(data.name, 'imageCover', $event)"
                />
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                <catalog-image-input
                  v-model="data.imageAvatar"
                  :label="$t('catalog.formImageAvatar')"
                  outlined
                  class="bg-white q-my-sm"
                  @input="patch(data.name, 'imageAvatar', $event)"
                />
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                <catalog-categories-dialog />
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                <catalog-products-dialog />
              </q-item-section>
            </q-item>
          </q-list>
        </q-scroll-area>
      </q-drawer>

      <q-page-container>
        <q-page>
          <iframe
            v-if="srcComputed"
            :src="srcComputed"
            frameborder="0"
            class="content"
          />

          <div
            v-else
            class="full-width flex flex-center content"
          >
            <div class="text-center text-primary">
              <q-icon
                name="help_outline"
                size="50px"
              />

              <br>

              {{ $t('catalog.notCreated') }}

              <br>
              <q-btn
                color="primary"
                :label="$t('catalog.createCatalog')"
                @click="createCatalog"
              />
            </div>
          </div>
        </q-page>
      </q-page-container>
    </q-layout>
  </q-page>
</template>

<script>
import feathersClient from '../../../boot/feathers-vuex';

const url = process.env.CATALOG_FRONTEND_URL ?? 'https://catalogo.chatfly.com.br';

export default {
  name: 'Catalog',

  components: {
    CatalogImageInput: () => import('../../../components/catalog/CatalogImageInput'),
    CatalogNameInput: () => import('../../../components/catalog/CatalogNameInput'),
    CatalogCategoriesDialog: () => import('../../../components/catalog/CatalogCategoriesDialog'),
    CatalogProductsDialog: () => import('../../../components/catalog/CatalogProductsDialog'),
  },

  data() {
    return {
      data: [],
      name: '',
      pagination: null,
      drawerRight: true,
      loading: false,
      activeChatbot: false,
    };
  },

  created() {
    this.load();
  },

  methods: {
    dialogInfoNextSteps() {
      this.$q.dialog({
        title: this.$t('catalog.nextStepTitle'),
        message: this.$t('catalog.nextStepDesc'),
      });
    },

    createCatalog() {
      this.$q.dialog({
        component: () => import('../../../components/catalog/CatalogCreateDialog'),
        parent: this,
      }).onOk(async (e) => {
        try {
          await feathersClient.service('member-catalogs').create(e);
          this.$notify('positive');
          this.load();
          this.dialogInfoNextSteps();
        } catch (error) {
          this.$notify('negative');
          console.error(error);
        }
      });
    },

    async patch(name, target, value) {
      feathersClient.service('member-catalogs').patch(this.name, { [target]: value });
    },

    async updateName(value) {
      feathersClient.service('member-catalog-update-name').patch(this.name, { name: value });
    },

    async load() {
      this.loading = true;

      try {
        const res = await feathersClient.service('member-catalogs').find();
        if (res.total) {
          this.data = res.data[0];
          this.name = `${this.data.name}`;
        }
      } catch (error) {
        console.log(error);
        this.$notify('negative');
      }

      this.loading = false;
    },
  },

  computed: {
    catalogName() {
      if (!this.data) return null;
      return this.data.name;
    },

    srcComputed() {
      if (!this.catalogName) return null;
      return `${url}/${this.catalogName}`;
    },
  },
};
</script>

<style lang="sass">
.catalog-view
  .content
    padding: 0px
    width: 100%
    height: calc(100vh - 106px)
</style>
