<template>
  <confirm-btn
    flat
    no-caps
    dense
    color="primary"
    :label="data.meta && data.meta.validatedJid ? 'Sim' : 'Não'"
    action="Remover a validação de numero?"
    v-bind="$attrs"
    :disabled="!data.meta || !data.meta.validatedJid"
    @confirm="removeValidatedJid"
  />
</template>

<script>
import feathersClient from '../../../boot/feathers-vuex';

export default {
  name: 'AdminConnectionValidatedJid',

  components: {
    ConfirmBtn: () => import('../../tools/ConfirmBtn.vue'),
  },

  props: {
    data: null,
  },

  methods: {
    removeValidatedJid() {
      return feathersClient.service('admin-connections').patch(this.data._id, { 'meta.validatedJid': false });
    },
  },
};
</script>
