<template>
  <q-btn
    v-if="internalData"
    dense
    flat
    no-caps
    color="primary"
    :label="`${internalData.jid}`"
    v-bind="$attrs"
    @click="show"
  >
    <q-dialog
      v-model="dialog"
      seamless
      maximized
      position="right"
      @hide="handleHide"
      @before-show="onBeforeShow"
    >
      <q-card style="height: 100vh; width: 520px">
        <q-tabs
          v-model="tab"
        >
          <q-tab
            name="details"
            label="Detalhes da conexão"
          />
          <q-tab
            name="settings"
            label="Config. Atd."
          />
          <q-tab
            name="users"
            label="Usuarios"
          />
          <q-tab
            name="logs"
            label="Logs"
          />
          <q-tab
            name="obj"
            label="Obj completo"
          />
        </q-tabs>

        <q-separator />

        <q-tab-panels
          v-model="tab"
          class="scroll"
          style="height: calc(100vh - 102px)"
          animated
        >
          <q-tab-panel name="details">
            <div class="row">
              <div class="col-12">
                <h4 class="q-ma-none">
                  {{ internalData.jid }}
                </h4>
                <h6 class="q-ma-none">
                  {{ internalData.status }}
                </h6>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <p>
                      <b>
                        id
                      </b>
                      <br>
                      <span>
                        {{ internalData._id }}
                      </span>
                    </p>
                  </div>

                  <div class="col-12">
                    <admin-connection-reconnect
                      label="Recriar conexão"
                      size="sm"
                      class="q-mb-md"
                      color="primary"
                      :conn-id="internalData._id"
                    />
                    <admin-connection-delete
                      label="Rem conexão"
                      size="sm"
                      class="q-mx-md q-mb-md"
                      color="warning"
                      :conn-id="internalData._id"
                    />
                    <admin-connection-remove-access
                      label="Rem acesso"
                      size="sm"
                      class="q-mb-md q-ml-sm"
                      color="warning"
                      :conn-id="internalData._id"
                    />
                    <q-btn
                      label="Def. Plano"
                      size="sm"
                      class="q-mb-md q-ml-sm"
                      color="warning"
                      @click="defPlan"
                    />

                    <admin-block-connection
                      label="Bloq. Acesso"
                      :connection-id="internalData._id"
                      :block-message="internalData.blockMessage"
                      size="sm"
                      color="primary"
                      class="q-mr-sm"
                      @refresh="load()"
                    />
                    <q-btn
                      color="primary"
                      label="fantasma"
                      size="sm"
                      @click="activeGhostUser"
                    />
                  </div>

                  <div
                    v-if="internalData.blockActive"
                    class="col-12"
                  >
                    <p>
                      <b>
                        Bloqueio
                      </b>
                      <br>
                      <span>
                        {{ internalData.blockMessage }}
                      </span>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <b>
                        Porta
                      </b>
                      <br>
                      <span>
                        {{ internalData.port }}
                      </span>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <b>
                        Dono
                      </b>
                      <br>
                      <span>
                        <admin-user-details :data="internalData.userId" />
                      </span>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <b>
                        Assinatura
                      </b>
                      <br>
                      <span v-if="internalData.preapprovalPlan && internalData.preapprovalPlan.status">
                        {{ internalData.preapprovalPlan.status }}
                      </span>
                    </p>

                    <p>
                      <b>
                        Extra trial
                      </b>
                      <br>
                      <span v-if="internalData.preapprovalPlan && internalData.preapprovalPlan.extraTrial">
                        {{ $jsDateFormat(internalData.preapprovalPlan.extraTrial) }}
                      </span>
                    </p>

                    <admin-connection-add-time
                      :conn-id="internalData._id"
                      class="q-mb-md"
                      color="primary"
                      label="Adicionar tempo"
                      @load="load()"
                    />
                  </div>

                  <div class="col-12">
                    <p>
                      <b>
                        Numero validado
                      </b>
                      <br>
                      <span>

                        <admin-connection-validated-jid
                          :data="internalData"
                        />
                      </span>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <b>
                        Criado em
                      </b>
                      <br>
                      <span>
                        {{ $jsDateFormat(internalData.createdAt) }}
                      </span>
                    </p>
                  </div>

                  <div
                    v-if="internalData.latency && internalData.latency.value"
                    class="col-12"
                  >
                    <p>
                      <b>
                        Latencia
                      </b>
                      <br>
                      <span>
                        {{ internalData.latency.value }}, {{ $jsDateFormat(internalData.latency.time) }}
                      </span>
                    </p>
                  </div>

                  <div
                    v-if="internalData.battery && internalData.battery.value"
                    class="col-12"
                  >
                    <p>
                      <b>
                        Bateria
                      </b>
                      <br>
                      <span>
                        {{ internalData.battery.live }}, {{ internalData.battery.value }}, {{ $jsDateFormat(internalData.battery.updatedAt) }}
                      </span>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <b>
                        disableAutoImportUnreadMessages
                      </b>
                      <br>
                      <span>
                        {{ internalData.disableAutoImportUnreadMessages || 'null' }}
                      </span>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <b>
                        disableForceUseHere
                      </b>
                      <br>
                      <span>
                        {{ internalData.disableForceUseHere || 'null' }}
                      </span>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <b>
                        disableWaitChats
                      </b>
                      <br>
                      <span>
                        {{ internalData.disableWaitChats || 'null' }}
                      </span>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <b>
                        blockDirectToPhone
                      </b>
                      <br>
                      <span>
                        {{ internalData.blockDirectToPhone || 'null' }}
                      </span>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <b>
                        activeChatbot
                      </b>
                      <br>
                      <span>
                        {{ internalData.activeChatbot || 'null' }}
                      </span>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <b>
                        activeChatbotButtons
                      </b>
                      <br>
                      <span>
                        {{ internalData.activeChatbotButtons || 'null' }}
                      </span>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <b>
                        allowAllReconnect
                      </b>
                      <br>
                      <span>
                        {{ internalData.allowAllReconnect || 'null' }}
                      </span>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <b>
                        apiEnable
                      </b>
                      <br>
                      <span>
                        {{ internalData.apiEnable || 'null' }}
                      </span>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <b>
                        chatsEnable
                      </b>
                      <br>
                      <span>
                        {{ internalData.chatsEnable || 'null' }}
                      </span>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <b>
                        useMultidevice
                      </b>
                      <br>
                      <span>
                        {{ internalData.useMultidevice || 'null' }}
                      </span>
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-3">
                <div class="row">
                <!-- <div class="col-12">
                  <p>
                    <b>
                      Superior
                    </b>
                    <br>
                    <span>
                      <admin-user-details
                        :data="internalData.userId._id"
                        :disabled="internalData.userId._id === internalData._id"
                      />
                    </span>
                  </p>
                </div> -->
                </div>
              </div>
            </div>
          </q-tab-panel>

          <q-tab-panel name="settings">
            <div
              v-for="item in settingsData"
              :key="item._id"
              class="row"
            >
              <div
                v-if="!item.meta"
                class="col-12"
              >
                <p>
                  <b>
                    {{ item.name }}
                  </b>
                  <br>
                  <span>
                    {{ item.value }}
                  </span>
                </p>
              </div>

              <q-expansion-item
                v-else
                class="col-12"
                expand-separator
                :label="item.name"
                :caption="item.value ? 'true' : 'false'"
              >
                <q-card flat>
                  <q-card-section>
                    <pre>{{ item.meta }}</pre>
                  </q-card-section>
                </q-card>
              </q-expansion-item>
            </div>
          </q-tab-panel>

          <q-tab-panel name="users">
            <div
              v-for="item in usersData"
              :key="item._id"
              class="row"
            >
              <div class="col">
                <admin-user-details
                  :data="item._id"
                  :disabled="item._id === internalData._id"
                />
              </div>
            </div>
          </q-tab-panel>

          <q-tab-panel
            name="logs"
            class="q-pa-none"
          >
            <admin-connection-logs :connection-id="internalData._id" />
          </q-tab-panel>

          <q-tab-panel name="obj">
            <pre>{{ internalData }}</pre>
          </q-tab-panel>
        </q-tab-panels>

        <q-separator />

        <q-card-actions align="right">
          <q-btn
            v-close-popup
            label="Fechar"
            color="primary"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-btn>
</template>

<script>
import feathersClient from '../../../boot/feathers-vuex';

export default {
  name: 'AdminConnectionDetails',

  components: {
    AdminConnectionLogs: () => import('./AdminConnectionLogs'),
    AdminBlockConnection: () => import('./AdminBlockConnection.vue'),
    AdminUserDetails: () => import('../users/AdminUserDetails'),
    AdminConnectionAddTime: () => import('./AdminConnectionAddTime'),
    AdminConnectionReconnect: () => import('./AdminConnectionReconnect'),
    AdminConnectionRemoveAccess: () => import('../connections/AdminConnectionRemoveAccess'),
    AdminConnectionDelete: () => import('./AdminConnectionDelete'),
    AdminConnectionValidatedJid: () => import('./AdminConnectionValidatedJid.vue'),
  },

  props: {
    data: null,
  },

  data() {
    return {
      internalData: null,
      dialog: false,
      loading: false,
      tab: 'details',
      settingsData: null,
      usersData: null,
    };
  },

  created() {
    this.load();
  },

  methods: {
    activeGhostUser() {
      this.$q.dialog({
        component: () => import('../connections/AdminActiveGhostUser.vue'),
        parent: this,
        data: this.internalData,
      });
    },

    async defPlan() {
      this.$q.dialog({
        component: () => import('../connections/AdminConnectionDefinePreapproval.vue'),
        parent: this,
        data: this.internalData,
      });
    },

    async show() {
      if (!this.internalData) await this.load();
      this.dialog = true;
    },

    load() {
      return feathersClient.service('admin-connections').get(this.data, { query: { $populate: [] } })
        .then((e) => {
          this.internalData = e;

          feathersClient.service('admin-settings').find({ query: { userId: e.userId, $limit: 50 } })
            .then((data) => {
              this.settingsData = data;
            });

          feathersClient.service('admin-users').find({ query: { userId: e.userId, $limit: 50, $select: ['_id'] } })
            .then((data) => {
              this.usersData = data.data;
            });
        });
    },

    onBeforeShow() {
    },
    handleHide() {
    },
  },
};
</script>
