<template>
  <q-btn
    v-if="connectionId"
    v-bind="$attrs"
  >
    <q-popup-edit
      ref="popup"
      v-model="message"
    >
      <q-select
        v-model="message"
        :options="options"
        dense
        autofocus
        map-options
        option-value="value"
        option-label="label"
        emit-value
        @input="submit($event);$refs.popup.hide()"
      />
    </q-popup-edit>
  </q-btn>
</template>

<script>
import feathersClient from '../../../boot/feathers-vuex';

export default {
  name: 'AdminBlockConnection',

  components: {
  },

  props: {
    connectionId: null,
    blockMessage: null,
  },

  data() {
    return {
      options: [
        { label: '- Remover bloqueio -', value: '' },
        { label: 'Atendendo pedido de suporte', value: 'Atendendo pedido de suporte' },
        { label: 'Entre em contato com suporte', value: 'Entre em contato com suporte' },
        { label: 'BLOQUEIO', value: 'BLOQUEIO' },
      ],
      conn: null,
      message: '',
    };
  },

  watch: {
    block: {
      immediate: true,
      deep: true,
      handler() {
        if (!this.blockMessage) return;
        this.message = this.blockMessage;
      },
    },
  },

  methods: {
    submit(e) {
      const block = {
        blockActive: !!e,
        blockMessage: e,
      };

      feathersClient.service('admin-connections').patch(this.connectionId, { ...block })
        .then(() => { this.$notify('positive'); this.$emit('refresh'); })
        .catch(() => this.$notify('negative'));
    },
  },
};
</script>
