<template>
  <confirm-btn
    action="Recriar a conexão?"
    v-bind="$attrs"
    @confirm="onConfirm"
  />
</template>

<script>
import feathersClient from '../../../boot/feathers-vuex';

export default {
  name: 'AdminConnectionReconnect',

  components: {
    ConfirmBtn: () => import('../../tools/ConfirmBtn'),
  },

  props: {
    connId: null,
  },

  methods: {
    onConfirm() {
      feathersClient.service('connection-controller').update(this.connId, {})
        .then(() => {
          this.$emit('load');
        });
    },
  },
};
</script>
