<template>
  <div class="bg-black q-py-md text-white">
    <template v-for="item in dataReversed">
      <div
        :key="item._id"
        class="row q-px-sm code-line"
        :style="`font-size: ${fontSize}px`"
      >
        <div
          v-if="showTime"
          class="col-2 text-right q-pr-xs"
        >
          {{ $jsDateFormat(item.createdAt) }}
        </div>

        <div
          class="col-10 q-ma-none"
          v-html="item.text"
        />
      </div>
    </template>

    <div class="extra-btn">
      <q-btn
        color="primary"
        round
        size="xs"
        icon="add"
        @click="fontSize++"
      />
      <q-btn
        color="primary"
        round
        size="xs"
        class="q-ml-sm"
        icon="remove"
        @click="fontSize--"
      />
      <q-btn
        color="primary"
        round
        size="xs"
        class="q-ml-sm"
        icon="schedule"
        @click="showTime = !showTime"
      />
    </div>
  </div>
</template>

<script>
import feathersClient from '../../../boot/feathers-vuex';

const Convert = require('ansi-to-html');

export default {
  name: 'AdminConnectionLogs',

  components: {
  },

  props: {
    connectionId: null,
  },

  data() {
    return {
      convert: new Convert(),
      fontSize: 9,
      showTime: true,
      data: [],
      pagination: [],
    };
  },

  computed: {
    dataReversed() {
      const data = JSON.parse(JSON.stringify(this.data))
        .reverse();
      return data;
    },
  },

  created() {
    console.log('created connections logs');
    feathersClient.service('admin-channel-control').get(`connection-logs-${this.connectionId}`);
    feathersClient.service('connection-logs-external').on('patched', this.onCreated);
  },

  beforeDestroy() {
    console.log('destroy connections logs');
    feathersClient.service('connection-logs-external').off('patched', this.onCreated);
    feathersClient.service('admin-channel-control').remove(`connection-logs-${this.connectionId}`);
  },

  methods: {
    onCreated(e) {
      console.log(1);
      this.data.push({
        ...e,
        text: this.convert.toHtml(e.text),
      });
    },
  },

};
</script>

<style scoped>
.code-line:hover {
  background-color: #2a2a2a;
}

.code-line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

.extra-btn {
  position: absolute;
  opacity: 0.8;
  bottom: 5px;
  right: 5px
}
</style>
