<template>
  <q-select
    :options="options"
    v-bind="$attrs"
    use-input
    fill-input
    input-debounce="400"
    v-on="$listeners"
    @filter="filterFn"
  />
</template>

<script>
import feathersClient from '../../../boot/feathers-vuex';

export default {
  name: 'AdminConnectionSelect',

  data() {
    return {
      options: [],
    };
  },

  methods: {
    filterFn(val, update, abort) {
      feathersClient.service('admin-connections').find(this.getParams(val))
        .then((e) => {
          update(() => {
            this.options = e.data.map((item) => ({
              label: `${item.jid}`,
              value: item._id,
            }));
          });
        }).catch(() => {
          abort();
        });
    },

    getParams(filter) {
      const result = {
        query: {},
      };

      if (filter) {
        result.query.jid = {
          $regex: `.*${filter}.*`,
        };
      }

      return result;
    },
  },
};
</script>
