<template>
  <q-btn
    v-bind="$attrs"
    @click="onClick"
  />
</template>

<script>
import feathersClient from '../../../boot/feathers-vuex';

export default {
  name: 'AdminConnectionAddTime',

  components: {
  },

  props: {
    connId: null,
  },

  methods: {
    onClick() {
      this.$q.dialog({
        title: 'Adicionar tempo de testes extra',
        message: 'Informe a data',
        prompt: {
          model: this.$jsDateFormatMin(new Date()),
          isValid: (val) => this.verifyMyDate(val),
          type: 'text', // optional
        },
        cancel: true,
      }).onOk((e) => this.addTime(e));
    },

    verifyMyDate(d) {
      const re = /(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d/;
      //         yyyy -       MM      -       dd           hh     :   mm  :   ss
      return re.test(d);
    },

    addTime(e) {
      e = e.split('/');
      const date = new Date(e[2], e[1] - 1, e[0]);

      feathersClient.service('admin-connections').patch(this.connId, { 'preapprovalPlan.extraTrial': date })
        .then(() => {
          this.$emit('load');
        });
    },
  },

};
</script>
