<template>
  <confirm-btn
    action="Remover o acesso?"
    v-bind="$attrs"
    @confirm="onConfirm"
  />
</template>

<script>
import feathersClient from '../../../boot/feathers-vuex';

export default {
  name: 'AdminConnectionRemoveAccess',

  components: {
    ConfirmBtn: () => import('../../tools/ConfirmBtn'),
  },

  props: {
    connId: null,
  },

  methods: {
    onConfirm() {
      feathersClient.service('admin-connections').patch(this.connId, { preapprovalPlan: { status: 'revoked', extraTrial: null } })
        .then(() => {
          this.$emit('load');
        });
    },
  },
};
</script>
