<template>
  <q-dialog
    ref="dialog"
    @hide="onDialogHide"
  >
    <q-card class="q-dialog-plugin">
      <q-card class="my-card">
        <q-card-section>
          <div class="text-h6">
            Definir dados do plano
          </div>
        </q-card-section>

        <q-separator />

        <q-card-section>
          <q-option-group
            v-model="form.type"
            :options="options"
            inline
          />
          <q-option-group
            v-model="form.status"
            :options="optionsStatus"
            inline
          />
          <q-input
            v-if="!form.type"
            v-model="form.code"
            label="Codigo PagSeguro"
            outlined
          />

          <div v-else>
            <q-input
              v-model="form.stripeSessionId"
              label="Session Id"
              class="q-my-sm"
              outlined
            />
            <q-input
              v-model="form.stripeCustomerId"
              label="Customer id"
              class="q-my-sm"
              outlined
            />
            <q-input
              v-model="form.stripeSubscriptionId"
              class="q-my-sm"
              label="Subscription Id"
              outlined
            />
          </div>
        </q-card-section>

        <q-separator />
        <!-- buttons example -->
        <q-card-actions align="right">
          <q-btn
            color="primary"
            label="Cancelar"
            @click="onCancelClick"
          />
          <q-btn
            color="negative"
            flat
            label="Enviar"
            @click="onOKClick"
          />
        </q-card-actions>
      </q-card>
    </q-card>
  </q-dialog>
</template>

<script>
import feathersClient from '../../../boot/feathers-vuex';

export default {
  name: 'AdminConnectionDefinePreapproval',

  props: {
    data: null,
  },

  data() {
    return {
      options: [
        { value: null, label: 'PagSeguro' },
        { value: 'stripe', label: 'Stripe' },
      ],
      optionsStatus: [
        { value: 'TRIAL', label: 'Em teste' },
        { value: 'criated', label: 'Criado/Assinatura' },
        { value: 'revoked', label: 'Removido' },
      ],
      form: {
        type: null,
        code: null,
        status: 'TRIAL',
        stripeSessionId: null,
        stripeCustomerId: null,
        stripeSubscriptionId: null,
      },
    };
  },

  methods: {
    // following method is REQUIRED
    // (don't change its name --> "show")
    show() {
      if (this.data.preapprovalPlan) {
        this.form.type = this.data.preapprovalPlan.type;
        this.form.code = this.data.preapprovalPlan.code;
        this.form.status = this.data.preapprovalPlan.status;
        this.form.stripeSessionId = this.data.preapprovalPlan.stripeSessionId;
        this.form.stripeCustomerId = this.data.preapprovalPlan.stripeCustomerId;
        this.form.stripeSubscriptionId = this.data.preapprovalPlan.stripeSubscriptionId;
      }
      this.$refs.dialog.show();
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide() {
      this.$refs.dialog.hide();
    },

    onDialogHide() {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide');
    },

    onOKClick() {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      feathersClient.service('admin-connections').patch(this.data._id, { preapprovalPlan: this.form })
        .then(() => {
          this.$emit('load');
        });
      this.$emit('ok');
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide();
    },

    onCancelClick() {
      // we just need to hide dialog
      this.hide();
    },
  },
};
</script>
