<template>
  <q-dialog
    ref="dialog"
    @hide="onDialogHide"
  >
    <q-card class="q-dialog-plugin">
      <q-card class="my-card">
        <q-card-section>
          <div class="text-h6">
            Ativar usuario fantasma?
          </div>
        </q-card-section>

        <q-separator />

        <q-card-section>
          Usuario: <b>fantasma@zapfly.com.br</b><br>
          Password: <b>123@mudar</b>
        </q-card-section>

        <q-separator />
        <!-- buttons example -->
        <q-card-actions align="right">
          <q-btn
            color="primary"
            label="Cancelar"
            @click="onCancelClick"
          />
          <q-btn
            color="negative"
            flat
            label="Ativar"
            @click="onOKClick"
          />
        </q-card-actions>
      </q-card>
    </q-card>
  </q-dialog>
</template>

<script>
import feathersClient from '../../../boot/feathers-vuex';

export default {
  name: 'AdminActiveGhostUser',

  props: {
    data: null,
  },

  data() {
    return {
    };
  },

  methods: {
    // following method is REQUIRED
    // (don't change its name --> "show")
    show() {
      this.$refs.dialog.show();
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide() {
      this.$refs.dialog.hide();
    },

    onDialogHide() {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide');
    },

    createGhost() {
      return feathersClient.service('admin-users').create({
        email: 'fantasma@zapfly.com.br',
        password: '123@mudar',
        name: 'G',
        lastName: '',
        ghost: true,
        permissions: ['admin'],
      });
    },

    patchGhost(id) {
      return feathersClient.service('admin-users').get(this.data.userId)
        .then((user) => feathersClient.service('admin-users').patch(id, {
          email: 'fantasma@zapfly.com.br',
          password: '123@mudar',
          permissions: ['admin'],
          name: 'G',
          lastName: '',
          ghost: true,
          userId: user.userId,
          connsId: user.connsId,
        }));
    },

    async onOKClick() {
      const find = await feathersClient.service('admin-users').find({ query: { ghost: true, $limit: 1 } });
      let target;

      if (!find.total) {
        target = await this.createGhost();
      } else {
        target = find.data[0];
      }

      await this.patchGhost(target._id);
      this.$emit('ok');
      this.hide();
    },

    onCancelClick() {
      // we just need to hide dialog
      this.hide();
    },
  },
};
</script>
