<template>
  <q-page class="row">
    <q-inner-loading
      v-if="loading"
      showing
    >
      <q-spinner-gears
        size="50px"
        color="primary"
      />
    </q-inner-loading>

    <div class="col-12">
      <q-card
        flat
        class="full-width"
      >
        <q-card-section>
          <div class="text-h6">
            {{ $t('api.title') }}
          </div>

          <div class="text-subtitle2">
            {{ $t('api.subtitle') }}
          </div>
        </q-card-section>

        <q-card-section>
          <div class="row">
            <div class="col-12">
              <q-card
                class="full-width"
              >
                <q-card-section>
                  <div class="text-h6">
                    {{ $tc('commonWord.connection', 2) }}
                  </div>
                </q-card-section>

                <q-separator />
                <div>
                  <q-expansion-item
                    expand-separator
                    :label="$t('api.documentation')"
                    :caption="$t('api.howtoUse')"
                  >
                    <q-separator />
                    <q-card
                      flat
                      class="border"
                    >
                      <q-card-section>
                        <div class="text-h6">
                          {{ $t('api.documentation') }}
                        </div>
                        <div class="text-subtitle2">
                          {{ $t('api.seeHowTo') }}
                        </div>
                      </q-card-section>

                      <q-separator />

                      <q-card-section>
                        <div class="row justify-center q-col-gutter-md">
                          <div class="col-12 col-md-6">
                            <p>
                              {{ $t('api.generalInfo') }}:<br>
                              {{ $t('api.generalInfo1') }}<br>
                              {{ $t('api.generalInfo2') }}<br>
                              {{ $t('api.generalInfo3') }}<br>
                              <br>
                              <b>{{ $t('api.basicWork') }}:</b>
                              {{ $t('api.basicWork1') }}<br>
                              {{ $t('api.basicWork2') }}<br>
                              {{ $t('api.basicWork3') }}<br>
                              {{ $t('api.basicWork4') }}<br>
                              {{ $t('api.basicWork5') }}<br>
                              <br>
                              <b>{{ $t('api.webhookWork') }}:</b>
                              {{ $t('api.webhookWork1') }}<br>
                              <br>
                              {{ $t('api.webhookWork2') }}<br>
                            </p>
                          </div>
                        </div>
                      </q-card-section>

                      <q-card-section>
                        <div class="row q-col-gutter-md">
                          <div class="col-12 col-md-3">
                            <h6 class="q-ma-none">
                              {{ $t('api.sendMessageTitle') }}
                            </h6>

                            <p>
                              {{ $t('api.aboutWorking') }}:<br>
                              {{ $t('api.sendMessageDesc') }}
                            </p>

                            <p>
                              {{ $t('api.aboutUrlParams') }}:<br>
                              <ul>
                                <li><b>token:</b> {{ $t('api.tokenParamDesc') }}</li>
                                <li><b>{{ $t('api.connectionParam') }}:</b> {{ $t('api.connectionParamDesc') }}</li>
                              </ul>
                            </p>

                            <p>
                              {{ $t('api.aboutPayloadParams') }}:<br>
                              <ul>
                                <li><b>to:</b> {{ $t('api.toParamDesc') }}</li>
                                <li><b>body:</b> {{ $t('api.bodyParamDesc') }}</li>
                              </ul>
                            </p>
                          </div>

                          <div class="col-12 col-md-9">
                            <documentation title="[POST] https://beta-be.zapfly.com.br/api/messages?token={token}&connection={connection}">
                              <pre>{{ JSON.stringify({to: '5516997957988@s.whatsapp.net', body: $t('api.something')}, null, 2) }}</pre>
                            </documentation>
                          </div>
                        </div>
                      </q-card-section>
                      <q-card-section>
                        <div class="row q-col-gutter-md">
                          <div class="col-12 col-md-3">
                            <h6 class="q-ma-none">
                              {{ $t('api.sendMediaTitle') }}
                            </h6>

                            <p>
                              {{ $t('api.aboutWorking') }}:<br>
                              {{ $t('api.sendMediaDesc') }}
                            </p>

                            <p>
                              {{ $t('api.aboutUrlParams') }}:<br>
                              <ul>
                                <li><b>{{ $t('api.tokenParam') }}:</b> {{ $t('api.tokenParamDesc') }}</li>
                                <li><b>{{ $t('api.connectionParam') }}:</b> {{ $t('api.connectionParamDesc') }}</li>
                              </ul>
                            </p>

                            <p>
                              {{ $t('api.aboutPayloadParams') }}:<br>
                              <ul>
                                <li><b>to:</b> {{ $t('api.toParamDesc') }}</li>
                                <li><b>body:</b> {{ $t('api.bodyParamDesc') }}</li>
                                <li><b>file:</b> {{ $t('api.fileParamDesc') }}</li>
                              </ul>
                            </p>
                          </div>

                          <div class="col-12 col-md-9">
                            <documentation title="[POST] https://beta-be.zapfly.com.br/api/messages?token={token}&connection={connection}">
                              <pre>{{ JSON.stringify({to: '5516997957988@s.whatsapp.net', body: $t('api.something'), file: '<form-data-file />'}, null, 2) }}</pre>
                            </documentation>
                          </div>
                        </div>
                      </q-card-section>
                    </q-card>
                  </q-expansion-item>

                  <q-separator />
                </div>

                <div
                  v-for="(item, index) in connections"
                  :key="item._id"
                >
                  <q-expansion-item
                    expand-separator
                    :default-opened="index === 0"
                    :label="`${$t('api.numberRegistered')}: ${item.jid}`"
                    :caption="item.status === 'open' ? $t('api.connected') : $t('api.connectedNot')"
                  >
                    <q-separator />
                    <q-card
                      flat
                      class="border"
                    >
                      <q-card-section>
                        <div class="text-h6">
                          {{ $t('api.numberRegistered') }}: {{ item.jid }}
                        </div>
                        <div class="text-subtitle2">
                          {{ item.status === 'open' ? $t('api.connected') : $t('api.connectedNot') }}
                        </div>
                      </q-card-section>

                      <q-separator />

                      <q-card-section>
                        <div class="row q-col-gutter-md">
                          <div class="col-12 col-md-3">
                            <q-input
                              :value="connections[index].apiWebhook"
                              :debounce="600"
                              label="Webhook"
                              outlined
                              autofocus
                              :lazy-rules="true"
                              @input="updateApiWebhook(item._id, $event, index)"
                            />

                            <small>
                              {{ $t('api.webhookWhatIs') }}<br>
                              {{ $t('api.webhookDesc1') }} {{ $env.formattedName }},
                              {{ $t('api.webhookDesc2') }}
                            </small>

                            <q-input
                              :value="connections[index].apiToken"
                              readonly
                              :debounce="600"
                              label="Token"
                              outlined
                              autofocus
                              :lazy-rules="true"
                            >
                              <q-btn
                                slot="prepend"
                                color="primary"
                                icon="content_copy"
                                round
                                flat
                                dense
                                @click="$copy(connections[index].apiToken)"
                              />
                              <q-btn
                                slot="append"
                                color="primary"
                                icon="refresh"
                                round
                                dense
                                @click="refreshToken(item._id, index)"
                              />
                            </q-input>
                          </div>

                          <div class="col-12 col-md-9">
                            <api-logs :connection="item" />
                          </div>
                        </div>
                      </q-card-section>
                    </q-card>
                  </q-expansion-item>

                  <q-separator />
                </div>
              </q-card>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import Crypto from 'crypto';

export default {
  name: 'ApiPage',

  components: {
    apiLogs: () => import('../../../components/api/ApiLogs'),
    documentation: () => import('../../../components/tools/Documentation'),
  },

  data() {
    return {
      loading: false,
      connections: null,
    };
  },

  created() {
    this.connections = JSON.parse(JSON.stringify(this.$connections));
  },

  methods: {
    refreshToken(id, index) {
      const value = Crypto.randomBytes(8).toString('hex').toUpperCase();
      this.$store.dispatch('member-connections/patch', [id, { apiToken: value }])
        .then(() => {
          this.connections[index].apiToken = value;
        });
    },

    updateApiWebhook(id, value, index) {
      try {
        // eslint-disable-next-line no-new
        new URL(value);

        value = value.split('?')[0];

        this.$store.dispatch('member-connections/patch', [id, { apiWebhook: value }])
          .then(() => {
            this.connections[index].apiWebhook = value;
          });
      } catch (_) {
        this.$notify('negative', this.$t('api.invalidUrl'));
      }
    },
  },
};
</script>

<style>

</style>
