<template>
  <q-dialog
    ref="dialog"
    @hide="onDialogHide"
  >
    <q-card class="q-dialog-plugin">
      <q-card-section>
        <div class="text-h6">
          {{ $t('catalog.createCatalog') }}
        </div>
      </q-card-section>

      <q-card-section>
        <catalog-name-input
          :value="form.name"
          :label="$t('catalog.formName')"
          outlined
          bg-color="white"
          class="q-my-sm"
          @input="form.name = $event"
          @error="error = $event"
        />
      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          color="primary"
          :label="$t('commonWord.cancel')"
          @click="onCancelClick"
        />
        <q-btn
          color="primary"
          flat
          :label="$t('commonWord.create')"
          @click="onOKClick"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  components: {
    CatalogNameInput: () => import('./CatalogNameInput'),
  },

  props: {
    // ...your custom props
  },

  data() {
    return {
      error: false,
      form: {
        name: '',
        waitTime: this.$t('catalog.waitTimeDefault'),
        deliveryPrice: this.$t('catalog.deliveryPriceDefault'),
      },
    };
  },

  methods: {
    // following method is REQUIRED
    // (don't change its name --> "show")
    show() {
      this.$refs.dialog.show();
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide() {
      this.$refs.dialog.hide();
    },

    onDialogHide() {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide');
    },

    onOKClick() {
      if (this.error) {
        this.$notify('negative', this.$t('catalog.urlUnavailable'));
        return;
      }
      if (!this.form.name) {
        this.$notify('negative', this.$t('catalog.urlUnavailable'));
        return;
      }
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok', this.form);
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide();
    },

    onCancelClick() {
      // we just need to hide dialog
      this.hide();
    },
  },
};
</script>
