<template>
  <q-btn
    class="q-my-sm"
    color="primary"
    :label="$tc('commonWord.product', 2)"
    @click="dialog = true"
  >
    <q-dialog
      v-model="dialog"
      maximized
      @before-show="onBeforeShow"
    >
      <div
        class="q-pa-xl"
        @click="dialog = false"
      >
        <q-card
          class="row"
          @click.stop
        >
          <div class="col-12">
            <q-table
              :title="$t('catalog.product')"
              :data="products"
              :columns="columns"
              flat
              virtual-scroll
              style="height: calc(100vh - 160px)"
              :pagination.sync="pagination"
              :rows-per-page-options="[0]"
              :filter="filter"
              :no-data-label="$t('publicPages.noDataLabel')"
              :no-results-label="$t('publicPages.noResultsLabel')"
              row-key="_id"
            >
              <template #top-right>
                <q-input
                  v-model="filter"
                  borderless
                  dense
                  debounce="300"
                  :placeholder="$t('commonWord.search')"
                >
                  <template #append>
                    <q-icon name="search" />
                  </template>
                </q-input>

                <catalog-products-form-dialog
                  color="positive"
                  icon="add"
                  round
                  @submit="products = [$event, ...products]"
                />
              </template>

              <template #body="props">
                <q-tr :props="props">
                  <q-td
                    key="name"
                    :props="props"
                  >
                    {{ props.row.name }}

                    <q-popup-edit
                      v-model="props.row.name"
                      buttons
                      :label-set="$t('commonWord.save')"
                      :label-cancelar="$t('commonWord.cancel')"
                      @save="update($event, 'name', props.row._id)"
                    >
                      <q-input
                        v-model="props.row.name"
                        dense
                        autofocus
                        counter
                      />
                    </q-popup-edit>
                  </q-td>

                  <q-td
                    key="categoryName"
                    :props="props"
                  >
                    <catalog-categories-select
                      v-model="props.row.categoryId"
                      borderless
                      dense
                      @input="update($event, 'categoryId', props.row._id)"
                    />
                  </q-td>

                  <q-td
                    key="price"
                    :props="props"
                  >
                    {{ props.row.price }}

                    <q-popup-edit
                      v-model="props.row.price"
                      buttons
                      :label-set="$t('commonWord.save')"
                      :label-cancelar="$t('commonWord.cancel')"
                      @save="update($event, 'price', props.row._id)"
                    >
                      <q-input
                        v-model="props.row.price"
                        type="number"
                        step="any"
                        dense
                        autofocus
                        counter
                      />
                    </q-popup-edit>
                  </q-td>

                  <q-td
                    key="unitMeasurement"
                    :props="props"
                  >
                    <q-select
                      v-model="props.row.unitMeasurement"
                      :options="options.unitMeasurement"
                      borderless
                      @input="update($event, 'unitMeasurement', props.row._id)"
                    />
                  </q-td>

                  <q-td
                    key="description"
                    :props="props"
                  >
                    {{ props.row.description.substring(0, 15) }}...

                    <q-popup-edit
                      v-model="props.row.description"
                      buttons
                      :label-set="$t('commonWord.save')"
                      :label-cancelar="$t('commonWord.cancel')"
                      @save="update($event, 'description', props.row._id)"
                    >
                      <q-input
                        v-model="props.row.description"
                        type="textarea"
                        dense
                        autofocus
                        counter
                      />
                    </q-popup-edit>
                  </q-td>

                  <q-td
                    key="available"
                    :props="props"
                  >
                    <q-toggle
                      v-model="props.row.available"
                      :label="$t('commonWord.available')"
                      @input="update($event, 'available', props.row._id)"
                    />
                  </q-td>

                  <q-td
                    key="image"
                    :props="props"
                  >
                    <q-img
                      v-if="props.row.image"
                      :src="props.row.image"
                      contain
                      style="height: 50px"
                    />
                    <q-btn
                      v-else
                      color="primary"
                      dense
                      size="sm"
                      :label="$t('commonWord.choose')"
                    />

                    <q-popup-proxy :breakpoint="2300">
                      <q-card class="my-card">
                        <q-card-section>
                          <catalog-image-input
                            v-model="props.row.image"
                            :label="$t('commonWord.image')"
                            outlined
                            class="bg-white"
                            @input="update($event, 'image', props.row._id)"
                          />
                        </q-card-section>
                        <q-card-actions align="right">
                          <q-btn
                            v-close-popup
                            color="primary"
                            label="OK"
                          />
                        </q-card-actions>
                      </q-card>
                    </q-popup-proxy>
                  </q-td>

                  <q-td
                    key="actions"
                    :props="props"
                  >
                    <catalog-products-form-dialog
                      flat
                      dense
                      color="primary"
                      icon="edit"
                      round
                      :value="props.row"
                      @submit="updateLine(props.rowIndex, $event)"
                    />

                    <confirm-btn
                      flat
                      round
                      color="primary"
                      icon="delete_outline"
                      :action="$t('catalog.eraseProduct')"
                      @confirm="remove(props.row._id)"
                    />
                  </q-td>
                </q-tr>
              </template>
            </q-table>
          </div>

          <q-separator />

          <q-card-actions
            align="right"
            class="q-mt-auto col-12"
          >
            <q-btn
              v-close-popup
              :disabled="loading"
              :label="$t('commonWord.close')"
              color="primary"
            />
          </q-card-actions>
        </q-card>
      </div>
    </q-dialog>
  </q-btn>
</template>

<script>
import feathersClient from '../../boot/feathers-vuex';

export default {
  name: 'CatalogProductsDialog',

  components: {
    ConfirmBtn: () => import('../tools/ConfirmBtn'),
    CatalogProductsFormDialog: () => import('./CatalogProductsFormDialog'),
    CatalogCategoriesSelect: () => import('./CatalogCategoriesSelect'),
    CatalogImageInput: () => import('./CatalogImageInput'),
  },

  data() {
    return {
      dialog: false,
      loading: false,
      filter: '',

      pagination: {
        rowsPerPage: 0,
      },

      options: {
        unitMeasurement: [this.$t('catalog.unitMeasureUn'), this.$t('catalog.unitMeasureKg'), this.$t('catalog.unitMeasureG'), this.$t('catalog.unitMeasurePc')],
      },

      columns: [
        {
          name: 'name', label: this.$t('form.name'), field: 'name', sortable: true, align: 'start',
        },
        {
          name: 'categoryName', label: this.$tc('catalog.category'), field: 'categoryName', sortable: true, align: 'start',
        },
        {
          name: 'price', label: this.$t('commonWord.price'), field: 'price', sortable: true, align: 'start',
        },
        {
          name: 'unitMeasurement', label: this.$t('catalog.uniMetric'), field: 'unitMeasurement', sortable: true, align: 'start',
        },
        {
          name: 'description', label: this.$t('catalog.desc'), field: 'description', sortable: true, align: 'start',
        },
        {
          name: 'available', label: this.$t('commonWord.available'), field: 'available', sortable: true, align: 'start',
        },
        {
          name: 'image', label: this.$t('commonWord.image'), field: 'image', sortable: true, align: 'start',
        },
        {
          name: 'actions', label: '', field: 'actions', sortable: false, align: 'end',
        },
      ],

      products: [],
      add: '',
      target: '',

      form: {
      },
    };
  },

  methods: {
    updateLine(index, e) {
      const target = this.products;
      target[index] = e;
      this.products = [...target];
    },

    onBeforeShow() {
      this.load();
    },

    load() {
      return feathersClient.service('member-catalog-products').find({ query: { $limit: 50 } })
        .then((e) => {
          this.products = e.data;
        });
    },

    async remove(e) {
      await feathersClient.service('member-catalog-products').remove(e);
      this.load();
    },

    update(value, target, id) {
      return feathersClient.service('member-catalog-products').patch(id, { [target]: value });
    },

    async create() {
      this.loading = true;

      try {
        await feathersClient.service('member-catalog-products').create({ name: this.add });
        this.load();
        this.add = '';
      } catch (error) {
        console.error(error);
        this.$notify('negative');
      }

      this.loading = false;
    },
  },
};
</script>
