<template>
  <q-select
    :options="options"
    :loading="loading"
    :value="value"
    v-bind="$attrs"
    map-options
    option-value="value"
    :display-value="selectedLabel"
    option-label="label"
    emit-value
    @input="$emit('input', $event)"
  />
</template>

<script>
import feathersClient from '../../boot/feathers-vuex';

export default {
  name: 'CatalogCategoriesSelect',

  props: {
    value: null,
  },

  data() {
    return {
      loading: false,
      paginate: {},
      data: [],
    };
  },

  computed: {
    selectedLabel() {
      let result = this.$t('form.undefinedValue');
      const index = this.options.findIndex((e) => e.value === this.value);
      if (index > -1) result = this.options[index].label;
      return result;
    },

    catalogCategoriesParams() {
      const query = {
        $select: ['_id', 'name', 'lastName'],
        $limit: 50,
      };

      if (this.filter) {
        query.$search = this.filter;
        // query.jid = { $search: this.filter };
      }

      return {
        query,
        paginate: true, // This restores previous functionality
      };
    },

    catalogCategories() {
      return this.data;
    },

    options() {
      let atts = [];

      if (this.catalogCategories.length) {
        atts = this.catalogCategories.map((e) => ({
          value: e._id,
          label: e.name,
        }));
      }

      let result = [
        { value: null, label: this.$t('form.undefinedValue') },
        ...atts,
      ];

      if (this.filter) result = atts;

      return result;
    },
  },

  created() {
    this.load();
  },

  methods: {
    async load() {
      const data = await feathersClient.service('member-catalog-categories').find(this.catalogCategoriesParams);
      this.data = data.data;
      delete data.data;
      this.paginate = data;
    },

    // // eslint-disable-next-line no-unused-vars
    // async filterFn(val, update, abort) {
    //   this.filter = val;
    //   await this.load().catch(() => {
    //     abort();
    //   });
    //   update();
    // },
  },
};
</script>
