<template>
  <q-btn
    v-bind="$attrs"
    @click="dialog = true"
  >
    <q-dialog
      v-model="dialog"
      @before-show="onBeforeShow"
      @hide="onHide"
    >
      <q-card>
        <q-form @submit="submit">
          <q-card-section>
            <div class="text-h6">
              {{ $t('catalog.productFormTitle') }}
            </div>
          </q-card-section>

          <q-separator />

          <q-card-section
            class="scroll"
            style="height: calc(100vh - 240px)"
          >
            <q-toggle
              v-model="form.available"
              :label="$t('commonWord.available')"
            />

            <q-input
              ref="name"
              v-model="form.name"
              :disabled="loading"
              :label="$t('form.name')"
              outlined
              :rules="[$data.$rules.required]"
              :lazy-rules="true"
              autofocus
            />

            <q-input
              ref="description"
              v-model="form.description"
              outlined
              :disabled="loading"
              :label="$t('form.description')"
              :rules="[$data.$rules.required]"
              :lazy-rules="true"
              type="textarea"
            />

            <q-input
              ref="price"
              v-model="form.price"
              outlined
              :disabled="loading"
              :rules="[$data.$rules.required]"
              :lazy-rules="true"
              :label="$t('form.price')"
              step="any"
              type="number"
            />

            <q-select
              ref="unitMeasurement"
              v-model="form.unitMeasurement"
              :options="options.unitMeasurement"
              outlined
              :disabled="loading"
              :rules="[$data.$rules.required]"
              :lazy-rules="true"
              :label="$t('catalog.unitMeasure')"
            />

            <catalog-categories-select
              ref="categoryId"
              v-model="form.categoryId"
              outlined
              :rules="[$data.$rules.required]"
              :lazy-rules="true"
              :label="$tc('catalog.category')"
            />

            <catalog-image-input
              v-model="form.image"
              :label="$t('commonWord.image')"
              outlined
              class="bg-white "
            />
          </q-card-section>

          <q-separator />

          <q-card-actions
            align="right"
            class="q-mt-auto col-12"
          >
            <q-btn
              v-close-popup
              :disabled="loading"
              :label="$t('commonWord.cancel')"
              color="primary"
            />

            <q-btn
              flat
              :disabled="loading"
              type="submit"
              :label="$t('commonWord.save')"
              color="primary"
            />
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>
  </q-btn>
</template>

<script>
import feathersClient from '../../boot/feathers-vuex';

export default {
  name: 'CatalogProductsFormDialog',

  props: {
    value: null,
  },

  components: {
    CatalogCategoriesSelect: () => import('./CatalogCategoriesSelect'),
    CatalogImageInput: () => import('./CatalogImageInput'),
  },

  data() {
    return {
      dialog: false,
      loading: false,
      id: null,

      options: {
        unitMeasurement: [this.$t('catalog.unitMeasureUn'), this.$t('catalog.unitMeasureKg'), this.$t('catalog.unitMeasureG'), this.$t('catalog.unitMeasurePc')],
      },

      form: {
        categoryId: '',
        name: '',
        available: false,
        description: '',
        image: '',
        price: 0,
        unitMeasurement: this.$t('catalog.unitMeasureUn'),
      },
    };
  },

  methods: {
    onBeforeShow() {
      if (this.value) {
        this.id = this.value._id;
        this.form.categoryId = this.value.categoryId;
        this.form.name = this.value.name;
        this.form.available = this.value.available;
        this.form.description = this.value.description;
        this.form.image = this.value.image;
        this.form.price = this.value.price;
        this.form.unitMeasurement = this.value.unitMeasurement;
      }
    },

    onHide() {
      this.id = null;
      this.form.categoryId = '';
      this.form.name = '';
      this.form.available = false;
      this.form.description = '';
      this.form.image = '';
      this.form.price = 0;
      this.form.unitMeasurement = this.$t('catalog.unitMeasureUn');
    },

    async submit() {
      await this.$resetValidation(this.form);
      if (!(await this.$validate(this.form))) return;

      this.loading = true;

      try {
        let res;
        if (this.id) res = await feathersClient.service('member-catalog-products').update(this.id, this.form);
        else res = await feathersClient.service('member-catalog-products').create(this.form);
        this.$emit('submit', res);
        this.dialog = false;
      } catch (error) {
        console.error(error);
        this.$notify('negative');
      }

      this.loading = false;
    },
  },
};
</script>
