<template>
  <q-btn
    class="q-my-sm"
    color="primary"
    :label="$tc('catalog.category', 2)"
    @click="dialog = true"
  >
    <q-dialog
      v-model="dialog"
      @before-show="onBeforeShow"
    >
      <q-card style="min-width: 300px;">
        <q-card-section>
          <div class="text-h6">
            {{ $t('catalog.categoryFrom') }}
          </div>
        </q-card-section>

        <q-separator />

        <q-list
          separator
          class="scroll"
          style="height: calc(100vh - 240px)"
        >
          <q-item>
            <q-item-section>
              <q-input
                v-model="add"
                :placeholder="$t('catalog.addCategory')"
                borderless
                @keydown.enter="create"
              >
                <q-btn
                  slot="append"
                  unelevated
                  color="primary"
                  round
                  icon="add"
                  @click="create"
                />
              </q-input>
            </q-item-section>
          </q-item>

          <q-item
            v-for="(item) in categories"
            :key="item._id"
          >
            <q-item-section>
              <q-item-label>{{ item.name }}</q-item-label>
            </q-item-section>

            <q-item-section side>
              <q-icon
                name="edit"
                color="primary"
              >
                <q-popup-edit
                  :value="item.name"
                  @before-show="target = item.name"
                >
                  <template #default="{ set, cancel }">
                    <q-input
                      v-model="target"
                      autofocus
                      dense
                      @keydown.enter.stop="update(item._id, set)"
                    >
                      <template #after>
                        <q-btn
                          flat
                          dense
                          color="negative"
                          :label="$t('commonWord.cancel')"
                          @click.stop="cancel"
                        />
                        <q-btn
                          flat
                          dense
                          color="positive"
                          :label="$t('commonWord.save')"
                          @click.stop="update(item._id, set)"
                        />
                      </template>
                    </q-input>
                  </template>
                </q-popup-edit>
              </q-icon>
            </q-item-section>

            <q-item-section side>
              <confirm-btn
                flat
                round
                color="primary"
                icon="delete_outline"
                @confirm="remove(item._id)"
              />
            </q-item-section>
          </q-item>
        </q-list>

        <q-separator />

        <q-card-actions align="right">
          <q-btn
            v-close-popup
            :disabled="loading"
            :label="$t('commonWord.close')"
            color="primary"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-btn>
</template>

<script>
import feathersClient from '../../boot/feathers-vuex';

export default {
  name: 'CatalogCategoriesDialog',

  components: {
    ConfirmBtn: () => import('../tools/ConfirmBtn'),
  },

  data() {
    return {
      dialog: false,
      loading: false,

      categories: [],
      add: '',
      target: '',

      form: {
      },
    };
  },

  methods: {
    onBeforeShow() {
      this.load();
    },

    load() {
      return feathersClient.service('member-catalog-categories').find({ query: { $limit: 50 } })
        .then((e) => {
          this.categories = e.data;
        });
    },

    async remove(e) {
      await feathersClient.service('member-catalog-categories').remove(e);
      this.load();
    },

    async update(e, set) {
      await feathersClient.service('member-catalog-categories').patch(e, { name: this.target });
      this.load();
      set();
      this.target = '';
    },

    async create() {
      this.loading = true;

      try {
        await feathersClient.service('member-catalog-categories').create({ name: this.add });
        this.load();
        this.add = '';
      } catch (error) {
        console.error(error);
        this.$notify('negative');
      }

      this.loading = false;
    },
  },
};
</script>
