<template>
  <image-upload
    v-bind="$attrs"
    :src="value"
    @file="upload"
    @clear="$emit('input', '')"
  />
</template>

<script>
import axios from 'axios';

export default {
  name: 'CatalogImageInput',

  props: {
    value: null,
  },

  components: {
    ImageUpload: () => import('../tools/imageUpload'),
  },

  methods: {
    async upload(e) {
      this.loading = true;
      const noti = this.$q.notify({
        group: false, // required to be updatable
        timeout: 0, // we want to be in control when it gets dismissed
        spinner: true,
        message: this.$t('ticket.uploadingFile'),
        caption: '0%',
      });
      const payload = new FormData();
      payload.append('files', e);

      try {
        const url = `${this.$store.state.baseUrl}/upload`;
        const options = {
          headers: {
            Authorization: `Bearer ${this.$store.state.auth.accessToken}`,
            'Content-Type': `multipart/form-data; boundary=${payload._boundary}`,
          },
          onUploadProgress(progressEvent) {
            if (!noti) return;
            const percent = Math.round((progressEvent.loaded * 100) / progressEvent.total);
            noti({ caption: `${percent}%` });
          },
        };

        const res = await axios.post(url, payload, options);
        this.$emit('input', res.data.location);
        noti({
          icon: 'done', // we add an icon
          spinner: false, // we reset the spinner setting so the icon can be displayed
          message: this.$t('ticket.uploadFileSuccess'),
          caption: null,
          timeout: 2500,
        });
      } catch (error) {
        console.error('error');
        noti({
          icon: 'done', // we add an icon
          spinner: false, // we reset the spinner setting so the icon can be displayed
          message: this.$t('ticket.uploadFileError'),
          timeout: 2500,
        });
      }

      this.loading = false;
    },
  },
};
</script>

<style>

</style>
