<template>
  <q-input
    v-bind="$attrs"
    debounce="400"
    :loading="loading"
    :error-message="error"
    :error="!!error"
    :hide-bottom-space="!error"
    v-on="$listeners"
    @input="onInput"
  />
</template>

<script>
import feathersClient from '../../boot/feathers-vuex';

export default {
  name: 'CatalogNameInput',

  data() {
    return {
      loading: false,
      error: '',
    };
  },

  methods: {
    async onInput(e) {
      this.loading = true;

      const res = await feathersClient.service('catalogs').get(e, { query: { $select: ['name', 'userId'] } })
        .catch(() => {
          this.error = '';
          this.$emit('error', false);
        });
      if (res && res.userId !== this.$user.userId) {
        this.error = this.$t('catalog.alreadyExist');
        this.$emit('error', true);
      }

      this.loading = false;
    },
  },
};
</script>

<style>

</style>
