<template>
  <q-dialog
    ref="dialog"
    @hide="onDialogHide"
  >
    <q-card class="q-dialog-plugin">
      <q-card-section>
        {{ i18n.t('payment.loading') }}
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { i18n } from '../../boot/i18n';
import feathersClient from '../../boot/feathers-vuex';

export default {
  props: {
    data: null,
  },

  data() {
    return {
      interval: null,
      stripe: null,
      priceId: process.env.DEV ? 'price_1IzrP8BJGQ8dl9NnJr6Hc7T4' : 'price_1Izo9RBJGQ8dl9NnKZ8RbUqJ',
      form: {
      },
      i18n,
    };
  },

  methods: {
    // following method is REQUIRED
    // (don't change its name --> "show")
    show() {
      console.log(i18n.t('payment.loading'));
      this.$refs.dialog.show();

      this.$q.loading.show();
      if (this.checkSdk()) return;

      const src = 'https://js.stripe.com/v3/';
      const script = document.createElement('script');
      script.setAttribute('src', src);
      document.head.appendChild(script);

      this.interval = setInterval(this.checkSdk, 500);
    },

    checkSdk() {
      if (!window.Stripe) return false;

      if (this.interval) clearInterval(this.interval);
      this.$q.loading.hide();
      this.stripe = window.Stripe(process.env.DEV ? 'pk_test_51Izmw9BJGQ8dl9NnmnyFanMhLgLoIdgvVgsc33pQ4ahlATAutZT4oTDDSNeL4vWNyqGtx6zJxYyvyZRBmnlFPDJW00AuRq5n1N' : 'pk_live_51Izmw9BJGQ8dl9NnidQDaB8yUiBnv7uHrtFnWJU0qjbSg8DpINZevPZAOMucBifg2tZMYiz8TunKA8TBDt1fbUTp00kgwSHpoW');
      window.gtag('event', 'conversion', { send_to: 'AW-1022314933/-vLVCL2cysICELWTvecD' });

      this.getSession();
      return true;
    },

    async getSession() {
      const sessionId = await feathersClient.service('stripe-session').create({ priceId: this.priceId, connectionId: this.data._id })
        .catch(() => this.getSession());

      await this.stripe.redirectToCheckout({ sessionId });
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide() {
      this.$refs.dialog.hide();
    },

    onDialogHide() {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide');
    },

    onOKClick() {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok');
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide();
    },

    onCancelClick() {
      // we just need to hide dialog
      this.hide();
    },
  },
};
</script>
