<template>
  <div
    v-if="chat"
    class="chat"
    @click="focusTyper"
  >
    <div
      class="row q-pa-xs items-center"
      :class="$q.dark.isActive ? 'bg-grey-10' : 'bg-grey-P'"
      style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)"
    >
      <q-btn
        v-if="$q.screen.lt.sm"
        icon="keyboard_arrow_left"
        unelevated
        outline
        dense
        round
        @click="goToList"
      />

      <avatar
        :key="chat.jid"
        :data="chat"
        hide-icons
        class="q-mx-sm"
      />

      <span class="q-mr-sm contact-name-main">
        {{ chat.name || chat.jid.split('@')[0] }}
      </span>

      <q-badge
        v-if="connection && connection.status !== 'open'"
        color="warning"
        :label="$t('connection.descStatus')"
        class="q-ml-xs"
      />

      <q-space />

      <q-spinner v-if="loading" />

      <q-input
        v-model="filter"
        debounce="400"
        clearable
        dense
        outlined
        :readonly="disabledControls"
        @click.stop
        @input="loadMessages(null, $event)"
      >
        <q-icon
          slot="prepend"
          name="search"
        />
      </q-input>

      <q-btn
        id="show_menu_btn"
        round
        unelevated
        text-color="grey-6"
        icon="more_vert"
        @click="showMenu = !showMenu"
      >
        <q-tooltip>{{ $t('commonWord.details') }}</q-tooltip>
      </q-btn>
    </div>

    <div class="row">
      <div
        class="relative-position"
        :class="showMenu ? 'col-xs-8' : 'col-xs-12'"
      >
        <div
          v-if="marked"
          class="col-12 flex flex-center absolute-bottom bg-white q-pt-sm"
          :class="{
            'marker-fullscreen': typerFullscreen,
            'marker-mini': !typerFullscreen
          }"
          style="z-index: 10; border-top: 1px solid rgba(0, 0, 0, 0.12)"
        >
          <q-btn
            icon="close"
            flat
            round
            class="absolute absolute-top-right"
            @click="marked = null"
          />

          <div class="row">
            <div class="col-12 q-mx-auto">
              <div class="row">
                <small class="col-12">{{ $t('chat.answering') }}:</small>
                <message
                  :data="marked"
                  :chat="chat"
                  dumb
                  class="full-width"
                  size="12"
                />
              </div>
            </div>
          </div>
        </div>

        <div
          v-if="loading"
          class="messages-container q-py-sm messages-container-fullscreen flex flex-center"
        >
          <q-spinner-gears
            color="primary"
            size="3rem"
            :thickness="5"
          />
        </div>

        <q-scroll-area
          v-else
          ref="messages"
          class="messages-container q-py-sm"
          :class="{
            'messages-container-fullscreen': !typerFullscreen,
            'messages-container-mini': typerFullscreen
          }"
        >
          <div class="row q-pb-sm">
            <q-btn
              v-if="cursor && !filter"
              :label="$t('ticket.loadMore')"
              color="primary"
              rounded
              class="q-mx-auto"
              @click="loadMessages(cursor)"
            />
          </div>

          <div>
            <div v-if="messages.length">
              <template v-for="item in messages">
                <message
                  :key="`${item.key.id}`"
                  :ref="`message_${item.key.id}`"
                  :data="item"
                  :chat="chat"
                  :disabled="disabledControls"
                  @see-message="scrollTo"
                  @select="marked === item ? marked = null : marked = item"
                />
              </template>
            </div>

            <div
              v-else-if="!loading && !messages.length"
              class="full-width flex flex-center"
              style="height: calc(100vh - 200px)"
            >
              <div class="text-center">
                <q-icon
                  name="messages"
                  size="90px"
                  color="primary"
                />
                <div class="text-h6 text-center">
                  {{ $t('message.noneFound') }}.
                </div>
              </div>
            </div>
          </div>

          <div id="messages-end" />
        </q-scroll-area>
        <message-typer
          ref="typer"
          v-model="form.body"
          :disabled-controls="disabledControls"
          :marked="!!marked"
          :image.sync="image"
          :file-to-send.sync="fileToSend"
          :typer-fullscreen.sync="typerFullscreen"
          @send="send"
          @send-media="sendMedia"
          @multiple-file-to-send="handleMultipleSend"
        />
      </div>

      <files-send-dialog
        v-model="dialogFiles"
        :files.sync="filesToSend"
        @send-media="sendMultipleMedia"
      />
      <room-menu
        v-if="showMenu && chat"
        :data="chat"
        :contact-id="contactId"
        hide-ticket
        :disabled="disabledControls"
        @quick-messages-apply="onQuickMessagesApply"
        @back="showMenu = false"
      />
    </div>
  </div>
</template>

<script>

import { Screen } from 'quasar';
import axios from 'axios';
import Crypto from 'crypto';
import { mapActions } from 'vuex';
// import feathersClient from '../../../boot/feathers-vuex';

export default {
  name: 'Room',

  props: {
    selected: null,
  },

  components: {
    FilesSendDialog: () => import('../../../components/tools/FilesSendDialog'),
    Avatar: () => import('../../../components/tools/Avatar'),
    Message: () => import('../../../components/Messages/Message'),
    MessageTyper: () => import('../../../components/Messages/MessageTyper'),
    RoomMenu: () => import('../../../components/tools/RoomMenu'),
  },

  data() {
    return {
      loading: false,
      internalMessages: [],
      cursor: null,
      showMenu: Screen.gt.sm,
      typerFullscreen: false,
      image: null,
      marked: null,
      loadingMore: false,
      upload: false,
      filesToSend: null,
      fileToSend: null,
      dialogFiles: false,
      contactId: null,
      ticketId: null,
      filter: '',

      limit: 10,

      form: {
        body: '',
      },
    };
  },

  watch: {
    '$route.params.id': {
      immediate: true,
      handler() {
        this.load();
      },
    },

    loading: {
      handler() {
        if (this.loadingMore) return;
        this.$nextTick(() => this.scrollToEnd());
        if (this.loadingMore) this.loadingMore = false;
      },
    },
    'messages.length': {
      imediate: true,
      handler(a, b) {
        if (a - b >= 1 && !this.loadingMore) this.$nextTick(() => this.scrollToEnd());
      },
    },
  },

  methods: {
    ...mapActions('member-messages', ['create']),

    async loadChat() {
      if (this.chat) return;

      await this.$store.dispatch('directAccess/chat', { connectionId: this.$route.params.connectionId, jid: this.$route.params.id });
    },

    async loadContact() {
      let contacts = this.$store.getters['member-contacts/find']({ query: { jid: this.$route.params.id } });

      if (contacts.total) {
        this.contactId = contacts.data[0]._id;
        return;
      }

      contacts = await this.$store.dispatch('member-contacts/find', { query: { jid: this.$route.params.id } });

      if (contacts.total) {
        this.contactId = contacts.data[0]._id;
      }
    },

    async loadTicket() {
      let tickets = this.$store.getters['member-tickets/find']({ query: { jid: this.$route.params.id } });

      if (tickets.total) {
        this.ticketId = tickets.data[0]._id;
        return;
      }

      tickets = await this.$store.dispatch('member-tickets/find', { query: { jid: this.$route.params.id } });

      if (tickets.total) {
        this.ticketId = tickets.data[0]._id;
        return;
      }

      const ticket = await this.$store.dispatch('member-tickets/create', { jid: this.$route.params.id, contactId: this.contactId, connectionId: this.$route.params.connectionId });
      this.ticketId = ticket._id;
    },

    async loadMessages(cursor = null, filter = null) {
      if (cursor) {
        this.loadingMore = true;
      }

      const res = await this.$store.dispatch(
        'directAccess/messages',
        {
          jid: this.$route.params.id,
          connectionId: this.$route.params.connectionId,
          cursor,
          filter,
        },
      );

      if (res.cursor) {
        this.cursor = res.cursor;
      }

      const ids = [...new Set(res.messages.map((e) => e.key.id))];

      await this.$store.dispatch('member-messages/find', { query: { 'key.id': { $in: ids } } });

      if (!cursor) {
        this.scrollToEnd();
      } else {
        this.loadingMore = false;
      }
    },

    async load() {
      this.loading = true;
      try {
        await this.$store.dispatch('directAccess/markRead', { jid: this.$route.params.id, connectionId: this.$route.params.connectionId });
        await this.loadChat();
        await this.loadContact();
        await this.loadTicket();
        await this.loadMessages();
      } catch (error) {
        console.error(error);
      }

      this.loading = false;
    },

    goToList() {
      const routeName = 'chats';

      this.$router.push({ name: routeName });
    },

    focusTyper() {
      if (!this.$refs) return;
      if (!this.$refs.typer) return;
      if (!this.$refs.typer.$refs) return;
      if (!this.$refs.typer.$refs.inputBody) return;
      this.$refs.typer.$refs.inputBody.focus();
    },

    onQuickMessagesApply(e) {
      if (e.media) {
        this.image = e.media.location;
        this.fileToSend = e.media;
      }
      this.form.body = e.body;
    },

    sendMultipleMedia(e) {
      this.fileToSend = e;
      this.sendMedia();
    },

    hasPaid() {
      if (!this.connection.preapprovalPlan) return false;
      const { status, createdAt, extraTrial } = this.connection.preapprovalPlan;

      if (extraTrial) {
        const extraTrialTimestamp = new Date(extraTrial).getTime();
        if (new Date().getTime() < extraTrialTimestamp) return true;
      }

      const timestampFrom7Days = new Date().getTime() - (7 * 24 * 60 * 60 * 1000);
      const createdAtTimestamp = new Date(createdAt).getTime();

      if (status === 'TRIAL' && createdAtTimestamp > timestampFrom7Days) return true;

      const validStatus = ['created', 'ACTIVE'];
      if (!validStatus.includes(status)) return false;

      return true;
    },

    handleMultipleSend(e) {
      this.filesToSend = e.dataTransfer.files;
      this.dialogFiles = true;
    },

    scrollToPosition(pos) {
      if (!this.$refs.messages) return;
      this.$nextTick(() => {
        const duration = 300;

        this.$refs.messages.setScrollPosition(pos, duration);
      });
    },

    scrollTo(id) {
      if (!this.$refs.messages) return;
      this.$nextTick(() => {
        const el = this.$refs[`message_${id}`][0].$el;

        // const target = this.$refs.messages.getScrollTarget(el)
        const offset = el.offsetTop;
        const duration = 300;

        this.$refs.messages.setScrollPosition(offset, duration);
      });
    },

    scrollToEnd() {
      if (!this.$refs.messages) return;
      const el = document.querySelector('#messages-end');

      // const target = this.$refs.messages.getScrollTarget(el)
      const offset = el.offsetTop;
      const duration = 300;

      this.$refs.messages.setScrollPosition(offset, duration);
    },

    multipleSend() {
      this.filesToSend = this.$refs.typer.$refs.file.files;
      this.dialogFiles = true;
    },

    // eslint-disable-next-line no-unused-vars
    async sendMedia(blob = false, keepInput = false) {
      if (this.disabledControls) return null;

      let type = this.fileToSend.type || this.fileToSend.mimetype;
      const mimetype = type !== 'audio/mp3' ? type : 'audio/mp4';
      const file = this.fileToSend;
      // eslint-disable-next-line prefer-destructuring
      type = type.split('/')[0];

      if (['video'].includes(type)) {
        this.$notify('negative', this.$t('ticket.fileTypeNotAccept'));
        this.fileToSend = null;
        return null;
      }

      if (type === 'application') type = 'document';

      const form = JSON.parse(JSON.stringify(this.form));
      const payload = new FormData();
      payload.append('id', this.$route.params.id);
      payload.append('connectionId', this.$route.params.connectionId);
      payload.append('contactId', this.contactId);
      payload.append('userId', this.connection.userId);
      payload.append('ticketId', this.ticketId);
      payload.append('key.fromMe', true);
      payload.append('key.id', `3EB0${Crypto.randomBytes(4).toString('hex').toUpperCase()}`);
      payload.append('mimetype', mimetype);

      if (this.marked) {
        payload.append('quoted', this.marked.key.id);
      }

      if (file instanceof File) {
        payload.append('files', file);
      } else {
        payload.append('files', JSON.stringify(file));
      }

      if (form.body) {
        payload.append(`message.${type}Message.caption`, form.body);
      } else {
        payload.append(`message.${type}Message`, null);
      }

      this.form.body = '';
      this.marked = null;

      const noti = this.$q.notify({
        group: false, // required to be updatable
        timeout: 0, // we want to be in control when it gets dismissed
        spinner: true,
        message: this.$t('ticket.uploadingFile'),
        caption: '0%',
      });

      try {
        const url = `${this.$store.state.baseUrl}/member-messages`;
        const options = {
          headers: {
            Authorization: `Bearer ${this.$store.state.auth.accessToken}`,
            'Content-Type': `multipart/form-data; boundary=${form._boundary}`,
          },
          onUploadProgress(progressEvent) {
            const percent = Math.round((progressEvent.loaded * 100) / progressEvent.total);
            noti({ caption: `${percent}%` });
          },
        };

        await axios.post(url, payload, options);
        noti({
          icon: 'done', // we add an icon
          spinner: false, // we reset the spinner setting so the icon can be displayed
          message: this.$t('ticket.uploadFileSuccess'),
          timeout: 2500,
        });

        this.fileToSend = null;
        this.image = null;
      } catch (error) {
        console.error(error);
        noti({
          icon: 'done', // we add an icon
          spinner: false, // we reset the spinner setting so the icon can be displayed
          message: this.$t('ticket.uploadFileError'),
          timeout: 2500,
        });
      }

      return null;
    },

    async send() {
      if (this.disabledControls) return;
      if (!this.form.body) return;

      const form = JSON.parse(JSON.stringify(this.form));
      const payload = {
        id: this.$route.params.id,
        connectionId: this.$route.params.connectionId,
        contactId: this.contactId,
        userId: this.connection.userId,
        attendantId: this.$user._id,
        ticketId: this.ticketId,
        key: {
          fromMe: true,
          id: `3EB0${Crypto.randomBytes(4).toString('hex').toUpperCase()}`,
        },
        message: {},
      };

      if (this.marked) {
        payload.quoted = this.marked.key.id;
      }

      if (form.body) {
        payload.message.conversation = this.$linkify(form.body, this.$user.appendMyName ? this.$user.appendMyNameCustom : null, this.$user.appendMyNameAfter);
      }

      this.form.body = '';
      this.marked = null;
      try {
        const a = await this.create(payload);
        a.jid = this.$route.params.id;
        this.$store.commit('directAccess/messagePush', a);
        this.$store.commit('directAccess/chatSetT', { jid: this.$route.params.id, t: new Date().getTime() / 1000 });
        this.scrollToEnd();
        // setTimeout(() => {
        //   this.scrollToEnd();
        // }, 100);
      } catch (error) {
        console.error(error);
      }
    },
  },

  computed: {
    settings() {
      return this.$store.getters['member-settings/list'];
    },

    chat() {
      return this.$store.getters['directAccess/chat'](this.$route.params.id);
    },

    contact() {
      if (!this.contactId) return null;
      return this.$store.getters['member-contacts/get'](this.contactId);
    },

    connection() {
      return this.$store.getters['member-connections/get'](this.$route.params.connectionId);
    },

    disabledControls() {
      let result = true;

      if (!this.$store.state.connected) return true;

      if (!this.hasPaid) return false;
      if (this.connection && this.connection.status === 'open') result = false;

      return result;
    },

    messages() {
      if (this.filter) {
        return this.$store.getters['directAccess/messages'](this.$route.params.id)
          .filter((e) => (
            (
              e.message.conversation
              && e.message.conversation.toLowerCase().includes(this.filter.toLowerCase())
            )
          || (
            e.message.extendendMessage
            && e.message.extendendMessage.text.toLowerCase().includes(this.filter.toLowerCase())
          )
          ));
      }

      return this.$store.getters['directAccess/messages'](this.$route.params.id);
      // .sort((a, b) => {
      //   if (a.messageTimestamp < b.messageTimestamp) return -1;
      //   return 0;
      // });
    },
  },
};
</script>

<style lang="sass">
.chat
  height: calc(100vh - 102px)
  position: relative
  .contact-name-main
    @media (max-width: 1024px)
      display: flex
      height: 20px
      overflow: hidden
      text-overflow: ellipsis
    @media (max-width: 400px)
      max-width: 90px

  .messages-container-fullscreen
    height: calc(100vh - 164px)
    &.marked
      height: calc(100vh - 242px)
  .messages-container-mini
    height: calc(100vh - 164px - 133px)
    &.marked
      height: calc(100vh - 242px - 133px)
  .marker-mini
    margin-bottom: 57px
  .marker-fullscreen
    margin-bottom: 190px
  .send-container
    width: 100%

@media (pointer: coarse) and (display-mode: browser), (pointer: none) and (display-mode: browser)
  body:not(.capacitor) .messages-container
      height: calc(100vh - 221px)
</style>
