<template>
  <div class="row">
    <transition
      appear
      :enter-active-class="$q.screen.lt.md ? 'animated slideInLeft' : undefined"
      :leave-active-class="$q.screen.lt.md ? 'animated slideOutLeft' : undefined"
    >
      <div
        v-if="['tickets', 'tickets-on-hold'].includes($route.name) || $q.screen.gt.sm"
        id="sidemenu"
        class="col-md-3 col-12 sidemenu sidemenu-border"
        :class="$q.dark.isActive ? 'bg-grey-10' : 'bg-grey-2'"
      >
        <q-item style="height: 55px">
          <q-item-section>
            <q-item-label>
              <q-input
                v-model="filter"
                :placeholder="$tc('commonWord.chat', 2)"
                borderless
                :debounce="800"
                clearable
                @contextmenu.prevent="showMenu = true"
              >
                <q-icon
                  slot="prepend"
                  name="search"
                />

                <q-spinner
                  v-if="loading"
                  slot="append"
                />

                <q-btn
                  v-if="filter"
                  slot="append"
                  dense
                  round
                  unelevated
                  color="primary"
                  icon="add"
                  size="sm"
                  @click="$sendMass({ newChat: true, filter: filter })"
                >
                  <q-tooltip>
                    {{ $t('chat.new') }}
                  </q-tooltip>
                </q-btn>

                <!-- <q-btn
                  slot="append"
                  icon="more_vert"
                  round
                  flat
                  dense
                  @click.stop="showMenu = true"
                >
                  <q-tooltip>
                    Opções
                  </q-tooltip>

                  <q-menu
                    v-model="showMenu"
                    no-parent-event
                  >
                    <q-list style="min-width: 100px">
                      <q-item
                        clickable
                        @click="$sendMass({ newChat: true })"
                      >
                        <q-item-section>Novo atendimento</q-item-section>
                      </q-item>

                      <q-item
                        clickable
                        @click="$sendMass({})"
                      >
                        <q-item-section>Enviar mensagens em massa</q-item-section>
                      </q-item>
                    </q-list>
                  </q-menu>
                </q-btn> -->
              </q-input>
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-separator />

        <div
          v-if="!chats.length"
          class="flex flex-center full-width sidemenu-scroll"
        />

        <q-virtual-scroll
          v-else
          id="chats"
          ref="scroll"
          class="sidemenu-scroll"
          disable
          :items="chats"
          separator
          :offset="450"
        >
          <template #default="{item, index}">
            <!-- <div :key="item.jid">
                <pre>{{ item }}</pre>
              </div> -->
            <chat-item
              :key="`${index}_${item.jid}`"
              :data="item"
            />
          </template>
        </q-virtual-scroll>
      </div>
    </transition>

    <div
      class="col-12 col-md chat-container"
    >
      <transition
        appear
        mode="out-in"
        :enter-active-class="$q.screen.lt.md ? 'animated slideInRight' : undefined"
        :leave-active-class="$q.screen.lt.md ? 'animated slideOutRight' : undefined"
      >
        <router-view />
      </transition>

      <div
        v-if="['chats'].includes($route.name) && $q.screen.gt.sm"
        class="flex flex-center full-width full-height"
      >
        <div class="text-center text-h6">
          <q-icon
            name="message"
            size="60px"
            color="primary"
          /><br>

          {{ $t('chat.click') }}<br>{{ $t('chat.seeHistory') }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Chat',

  components: {
    ChatItem: () => import('../../../components/chats/ChatItem'),
  },

  data() {
    return {
      loading: false,
      userId: null,
      showMenu: false,
      filter: '',
      total: null,
      skip: 0,
      limit: 20,
    };
  },

  watch: {
    filter() {
      this.load();
    },
  },

  meta() {
    return {
      title: this.title,
    };
  },

  created() {
    this.load();
  },

  computed: {
    chats() {
      if (this.filter) {
        return this.$store.getters['directAccess/chats'].filter(
          (e) => (
            e.jid.toLowerCase().includes(this.filter)
            || (
              e.name
              && e.name.toLowerCase().includes(this.filter)
            )
          ),
        );
      }
      return this.$store.getters['directAccess/chats'];
    },

    chatParams() {
      const result = {
        query: {
          action: 'loadChats',
          parameters: ['25'],
        },
      };

      if (this.filter) {
        result.query.parameters.push('null');
        result.query.parameters.push(`parse:${JSON.stringify({ searchString: this.filter })}`);
      }

      return result;
    },

    settings() {
      return this.$store.getters['member-settings/list'];
    },

    atts() {
      if (!this.$users) return [];
      return this.$users;
    },

    title() {
      let result = this.$env.formattedName;
      if (this.chats && this.chats.length) {
        const count = this.chats
          .filter((e) => e.count)
          .length;
        if (count) result = `(${count}) ${result}`;
      }
      return result;
    },
  },

  methods: {
    async load() {
      this.loading = true;
      try {
        const promises = [];
        for (let index = 0; index < this.$connections.length; index += 1) {
          const conn = this.$connections[index];

          const payload = JSON.parse(JSON.stringify(this.chatParams));
          payload.query.connectionId = conn._id;

          promises.push(
            this.$store.dispatch('directAccess/chats', payload),
          );
        }

        await Promise.all(promises);
      } catch (error) {
        console.error(error);
      }

      this.loading = false;
    },
  },
};
</script>

<style scoped>
.sidemenu {
  height: calc(100vh - 50px);
}

.sidemenu-scroll {
  height: calc(100vh - 108px);
}

.sidemenu-border {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.unread {
  background-color: #21ba453f;
  border-left: 5px solid var(--q-color-positive)
}
</style>
