<template>
  <div
    v-if="ticket"
    class="chat"
    @click="focusTyper"
  >
    <div
      class="row q-pa-xs items-center"
      :class="$q.dark.isActive ? 'bg-grey-10' : 'bg-grey-P'"
      style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)"
    >
      <q-btn
        v-if="$q.screen.lt.sm"
        icon="keyboard_arrow_left"
        unelevated
        outline
        dense
        round
        @click="goToList"
      />

      <avatar
        :key="`avatar_${ticket._id}`"
        :selected="selected"
        :data="ticket"
        hide-icons
        class="q-mx-sm"
      />

      <contact-name
        :key="ticket._id"
        :fallback="ticket.jid.split('@')[0]"
        :contact="ticket.contact"
        class="q-mr-sm contact-name-main"
      />

      <ticket-status
        class="gt-xs"
        :data="ticket"
      />

      <q-badge
        v-if="connection && connection.status !== 'open'"
        color="warning"
        :label="$t('connection.descStatus')"
        class="q-ml-xs"
      />

      <q-spinner v-if="isFindMemberMessagesPending" />

      <q-space />

      <ticket-direct-access
        v-if="$q.screen.gt.sm"
        :jid="ticket.jid"
        :connection="connection"
      />

      <ticket-history
        v-if="$q.screen.gt.sm && !['merged'].includes(ticket.status)"
        :jid="ticket.jid"
      />

      <q-btn
        v-if="$q.screen.gt.sm && !['merged'].includes(ticket.status)"
        round
        unelevated
        text-color="grey-6"
        icon="call_merge"
        :disabled="disabledControls"
        @click="mergeIntoLast"
      >
        <q-tooltip>{{ $t('ticket.mergeTooltip') }}</q-tooltip>
      </q-btn>

      <q-btn
        id="show_menu_btn"
        round
        unelevated
        text-color="grey-6"
        icon="more_vert"
        @click="showMenu = !showMenu"
      >
        <q-tooltip>{{ $t('ticket.menuTooltip') }}</q-tooltip>
      </q-btn>
    </div>

    <div class="row">
      <div
        class="relative-position"
        :class="showMenu ? 'col-xs-8' : 'col-xs-12'"
      >
        <div
          v-if="marked"
          class="col-12 flex flex-center absolute-bottom bg-white q-pt-sm"
          :class="{
            'marker-fullscreen': typerFullscreen,
            'marker-mini': !typerFullscreen
          }"
          style="z-index: 10; border-top: 1px solid rgba(0, 0, 0, 0.12)"
        >
          <q-btn
            icon="close"
            flat
            round
            class="absolute absolute-top-right"
            @click="clearMarked"
          />

          <div class="row">
            <div class="col-12 q-mx-auto">
              <div class="row">
                <small class="col-12">
                  {{ $t('commonWord.reply') }}
                  {{ $t('commonWord.the', 1, {ptBr: 'o'}) }}
                  :
                </small>

                <message
                  :data="marked"
                  :chat="ticket"
                  dumb
                  class="full-width"
                  size="12"
                />
              </div>
            </div>
          </div>
        </div>

        <q-scroll-area
          ref="messages"
          class="messages-container q-py-sm"
          :class="{
            'messages-container-fullscreen': !typerFullscreen,
            'messages-container-mini': typerFullscreen
          }"
        >
          <div class="row q-pb-sm">
            <q-btn
              v-if="pagination && pagination.total > messages.length"
              :label="$t('ticket.loadMore')"
              color="primary"
              rounded
              class="q-mx-auto"
              @click="loadingMore = true; limit += 10"
            />
          </div>

          <div>
            <div v-if="messages.length">
              <template v-for="item in messages">
                <message
                  :key="`${item._id}`"
                  :ref="`message_${item.id}`"
                  :data="item"
                  :disabled="disabledControls"
                  @see-message="scrollTo"
                  @reply-button="sendButton($event, item)"
                  @select="defineMarked(item)"
                />
              </template>
            </div>

            <div
              v-else-if="!isFindMemberMessagesPending && !messages.length"
              class="full-width flex flex-center"
              style="height: calc(100vh - 200px)"
            >
              <div class="text-center">
                <q-icon
                  name="messages"
                  size="90px"
                  color="primary"
                />
                <div class="text-h6 text-center">
                  {{ $t('ticket.noMessageFound') }}.
                </div>
              </div>
            </div>
          </div>

          <div id="messages-end" />
        </q-scroll-area>

        <message-typer
          ref="typer"
          v-model="form.body"
          :disabled-controls="disabledControls"
          :marked="!!marked"
          :image.sync="image"
          :file-to-send.sync="fileToSend"
          :typer-fullscreen.sync="typerFullscreen"
          @blur="saveSketch"
          @send="send"
          @send-media="sendMedia"
          @multiple-file-to-send="handleMultipleSend"
        />
      </div>

      <files-send-dialog
        v-model="dialogFiles"
        :files.sync="filesToSend"
        @send-media="sendMultipleMedia"
      />
      <room-menu
        v-if="showMenu && ticket"
        :data="ticket"
        :disabled="disabledControls"
        @quick-messages-apply="onQuickMessagesApply"
        @back="showMenu = false"
      />
    </div>
  </div>
</template>

<script>

import { Screen } from 'quasar';
import { makeFindMixin } from 'feathers-vuex';
import { mapActions } from 'vuex';
import axios from 'axios';
import Crypto from 'crypto';
import feathersClient from '../../../boot/feathers-vuex';

export default {
  name: 'Room',

  props: {
    selected: null,
  },

  mixins: [makeFindMixin({ service: 'member-messages', watch: true })],

  components: {
    FilesSendDialog: () => import('../../../components/tools/FilesSendDialog'),
    Avatar: () => import('../../../components/tools/Avatar'),
    ContactName: () => import('../../../components/contacts/ContactName'),
    TicketStatus: () => import('../../../components/tickets/TicketStatus'),
    TicketHistory: () => import('../../../components/tickets/TicketHistory'),
    TicketDirectAccess: () => import('../../../components/tickets/TicketDirectHistory'),
    Message: () => import('../../../components/Messages/Message'),
    MessageTyper: () => import('../../../components/Messages/MessageTyper'),
    RoomMenu: () => import('../../../components/tools/RoomMenu'),
  },

  data() {
    return {
      showMenu: Screen.gt.sm,
      marked: null,
      loadingMore: false,
      upload: false,
      filesToSend: null,
      fileToSend: null,
      dialogFiles: false,
      typerFullscreen: false,
      image: null,
      limit: 10,

      form: {
        body: '',
      },
    };
  },

  watch: {
    '$route.params.id': function () {
      this.getSketch();
      this.markAsRead();
    },
    'ticket.status': function (b, a) {
      if (!['closed'].includes(this.ticket.status)) return;
      if (!b || !a) return;
      this.$router.push({ name: 'tickets' });
    },
    isFindMemberMessagesPending: {
      handler() {
        if (this.loadingMore) return;
        this.$nextTick(() => this.scrollToEnd());
        if (this.loadingMore) this.loadingMore = false;
      },
    },
    'messages.length': {
      imediate: true,
      handler(a, b) {
        if (a - b >= 1 && !this.loadingMore) this.$nextTick(() => this.scrollToEnd());
      },
    },
  },

  mounted() {
    this.markAsRead();
    this.getSketch();

    if (!this.ticket) {
      this.get(this.$route.params.id);
    }

    this.scrollToEnd();
  },

  methods: {
    ...mapActions('member-tickets', ['get', 'patch']),
    ...mapActions('member-messages', ['create']),

    clearMarked() {
      this.marked = null;
      this.saveSketch();
    },

    defineMarked(item) {
      if (this.marked && this.marked._id === item._id) {
        this.marked = null;
      } else {
        this.marked = item;
      }

      this.saveSketch();
    },

    goToList() {
      let routeName = 'tickets';
      if (['tickets-on-hold', 'tickets-room-on-hold'].includes(this.$route.name)) routeName = 'tickets-on-hold';

      this.$router.push({ name: routeName });
    },

    async markAsRead() {
      if (!this.markAsReadEnabled) return;
      try {
        await this.patch([this.$route.params.id, { count: 0 }]);
      } catch (error) {
        console.error(error);
      }
    },

    focusTyper() {
      if (!this.$refs) return;
      if (!this.$refs.typer) return;
      if (!this.$refs.typer.$refs) return;
      if (!this.$refs.typer.$refs.inputBody) return;
      this.$refs.typer.$refs.inputBody.focus();
    },

    mergeIntoLast() {
      feathersClient.service('member-tickets/merge').get(this.ticket._id).then(() => {
        this.$router.replace({ name: 'tickets' });
      });
    },

    onQuickMessagesApply(e) {
      if (e.media) {
        this.image = e.media.location;
        this.fileToSend = e.media;
      }
      this.form.body = e.body;
    },

    sendMultipleMedia(e) {
      this.fileToSend = e;
      this.sendMedia();
    },

    hasPaid() {
      if (!this.connection.preapprovalPlan) return false;
      const { status, createdAt, extraTrial } = this.connection.preapprovalPlan;

      if (extraTrial) {
        const extraTrialTimestamp = new Date(extraTrial).getTime();
        if (new Date().getTime() < extraTrialTimestamp) return true;
      }

      const timestampFrom7Days = new Date().getTime() - (7 * 24 * 60 * 60 * 1000);
      const createdAtTimestamp = new Date(createdAt).getTime();

      if (status === 'TRIAL' && createdAtTimestamp > timestampFrom7Days) return true;

      const validStatus = ['created', 'ACTIVE'];
      if (!validStatus.includes(status)) return false;

      return true;
    },

    handleMultipleSend(e) {
      this.filesToSend = e.dataTransfer.files;
      this.dialogFiles = true;
    },

    scrollToPosition(pos) {
      if (!this.$refs.messages) return;
      this.$nextTick(() => {
        const duration = 300;

        this.$refs.messages.setScrollPosition(pos, duration);
      });
    },

    scrollTo(id) {
      if (!this.$refs.messages) return;
      this.$nextTick(() => {
        const el = this.$refs[`message_${id}`][0].$el;

        // const target = this.$refs.messages.getScrollTarget(el)
        const offset = el.offsetTop;
        const duration = 300;

        this.$refs.messages.setScrollPosition(offset, duration);
      });
    },

    scrollToEnd() {
      if (!this.$refs.messages) return;
      this.$refs.messages.setScrollPosition(99999999999);
    },

    multipleSend() {
      this.filesToSend = this.$refs.typer.$refs.file.files;
      this.dialogFiles = true;
    },

    async sendButton(item, message) {
      console.log(item, message);
      if (this.disabledControls) return;
      // if (!this.form.body) return;

      // const form = JSON.parse(JSON.stringify(this.form));
      const payload = {
        id: this.ticket.jid,
        connectionId: this.ticket.connectionId,
        contactId: this.ticket.contact._id,
        userId: this.connection.userId,
        attendantId: this.$user._id,
        ticketId: this.ticket._id,
        key: {
          fromMe: true,
          id: `3EB0${Crypto.randomBytes(4).toString('hex').toUpperCase()}`,
        },
        message: {
          conversation: item.buttonId,
        },
        // message: {
        //   buttonsResponseMessage: {
        //     selectedButtonId: item.buttonId,
        //     selectedDisplayText: item.buttonText.displayText,
        //     type: 'DISPLAY_TEXT',
        //   },
        // },
        // quoted: message.key.id,
      };

      // if (this.marked) {
      //   payload.quoted = this.marked.key.id;
      // }

      // if (form.body) {
      //   payload.message.conversation = this.$linkify(form.body, this.$user.appendMyName ? this.$user.appendMyNameCustom : null, this.$user.appendMyNameAfter);
      // }

      // this.form.body = '';
      // this.marked = null;
      try {
        await this.create(payload);
      } catch (error) {
        console.error(error);
      }
    },

    // eslint-disable-next-line no-unused-vars
    async sendMedia() {
      if (this.disabledControls) return null;

      let type = this.fileToSend.type || this.fileToSend.mimetype;
      const mimetype = type !== 'audio/mp3' ? type : 'audio/mp4';
      // const mimetype = type;
      const file = this.fileToSend;
      // eslint-disable-next-line prefer-destructuring
      type = type.split('/')[0];

      if (['video'].includes(type)) {
        this.$notify('negative', this.$t('ticket.fileTypeNotAccept'));
        this.fileToSend = null;
        return null;
      }

      if (type === 'application') type = 'document';

      const form = JSON.parse(JSON.stringify(this.form));
      const payload = new FormData();
      payload.append('id', this.ticket.jid);
      payload.append('connectionId', this.ticket.connectionId);
      payload.append('contactId', this.ticket.contact._id);
      payload.append('userId', this.connection.userId);
      payload.append('ticketId', this.ticket._id);
      payload.append('key.fromMe', true);
      payload.append('key.id', `3EB0${Crypto.randomBytes(4).toString('hex').toUpperCase()}`);
      payload.append('mimetype', mimetype);

      if (this.marked) {
        payload.append('quoted', this.marked.key.id);
      }

      if (file instanceof File) {
        payload.append('files', file);
      } else {
        payload.append('files', JSON.stringify(file));
      }

      if (form.body) {
        payload.append(`message.${type}Message.caption`, form.body);
      } else {
        payload.append(`message.${type}Message`, null);
      }

      this.form.body = '';
      this.marked = null;

      const noti = this.$q.notify({
        group: false, // required to be updatable
        timeout: 0, // we want to be in control when it gets dismissed
        spinner: true,
        message: this.$t('ticket.uploadingFile'),
        caption: '0%',
      });

      try {
        const url = `${this.$store.state.baseUrl}/member-messages`;
        const options = {
          headers: {
            Authorization: `Bearer ${this.$store.state.auth.accessToken}`,
            'Content-Type': `multipart/form-data; boundary=${form._boundary}`,
          },
          onUploadProgress(progressEvent) {
            const percent = Math.round((progressEvent.loaded * 100) / progressEvent.total);
            noti({ caption: `${percent}%` });
          },
        };

        await axios.post(url, payload, options);
        noti({
          icon: 'done', // we add an icon
          spinner: false, // we reset the spinner setting so the icon can be displayed
          message: this.$t('ticket.uploadFileSuccess'),
          timeout: 2500,
        });

        this.fileToSend = null;
        this.image = null;
      } catch (error) {
        console.error(error);
        noti({
          icon: 'done', // we add an icon
          spinner: false, // we reset the spinner setting so the icon can be displayed
          message: this.$t('ticket.uploadFileError'),
          timeout: 2500,
        });
      }

      return null;
    },

    async send() {
      if (this.disabledControls) return;
      if (!this.form.body) return;

      const form = JSON.parse(JSON.stringify(this.form));
      const payload = {
        id: this.ticket.jid,
        connectionId: this.ticket.connectionId,
        contactId: this.ticket.contact._id,
        userId: this.connection.userId,
        attendantId: this.$user._id,
        ticketId: this.ticket._id,
        key: {
          fromMe: true,
          id: `3EB0${Crypto.randomBytes(4).toString('hex').toUpperCase()}`,
        },
        message: {},
      };

      if (this.marked) {
        payload.quoted = this.marked.key.id;
      }

      if (form.body) {
        payload.message.conversation = this.$linkify(form.body, this.$user.appendMyName ? this.$user.appendMyNameCustom : null, this.$user.appendMyNameAfter);
      }

      this.form.body = '';
      this.saveSketch();
      this.marked = null;
      try {
        await this.create(payload);
      } catch (error) {
        console.error(error);
      }
    },

    saveSketch() {
      this.$store.commit('sketch/save', {
        id: this.ticket._id, message: this.form.body, reply: this.marked, file: this.fileToSend,
      });
    },

    getSketch() {
      if (!this.sketch) return;
      this.form.body = this.sketch.message;
      if (this.sketch.reply) this.marked = JSON.parse(JSON.stringify(this.sketch.reply));
      if (this.sketch.file) this.fileToSend = new File([this.sketch.file], this.sketch.file.name);
    },

  },

  computed: {
    settings() {
      return this.$store.getters['member-settings/list'];
    },

    markAsReadEnabled() {
      return this.settings.some((e) => e.name === 'markAsRead' && e.value === true);
    },

    pagination() {
      if (!this.memberMessagesPaginationData) return null;
      if (!this.memberMessagesPaginationData.default) return null;
      if (!this.memberMessagesPaginationData.default.mostRecent) return null;

      return this.memberMessagesPaginationData.default.mostRecent;
    },

    memberMessagesParams() {
      const query = {
        ticketId: this.$route.params.id,
        $limit: this.limit,
        $sort: {
          createdAt: -1,
          messageTimestamp: -1,
        },
        // $select: ['_id', 'contact', 'connectionId', 'jid', 'status', 'lastMessage'],
      };

      return {
        query,
        paginate: false, // This restores previous functionality
      };
    },

    ticket() {
      return this.$store.getters['member-tickets/get'](this.$route.params.id);
    },

    connection() {
      if (!this.ticket) return null;
      return this.$store.getters['member-connections/get'](this.ticket.connectionId);
    },

    transaction() {
      return null;
      // return this.$transactions.find((e) => e.connectionId);
    },

    disabledControls() {
      let result = true;

      if (!this.$store.state.connected) return true;

      if (!this.hasPaid) return false;
      if (this.connection && this.connection.status === 'open') result = false;
      if (!['waiting', 'in_progress'].includes(this.ticket.status)) result = true;
      if (
        this.ticket.userId
        && (
          this.connection.settings
          && !this.connection.settings.AllSetUserIdTicket
        )
        && (
          !this.$user
          || this.ticket.userId !== this.$user._id
        )
      ) result = true;

      return result;
    },

    messages() {
      // const messages = JSON.parse(JSON.stringify(this.memberMessages));
      const messages = JSON.parse(JSON.stringify(this.memberMessages)).reverse();
      // return this.$store.getters['member-messages/list'].filter((e) => e.ticketId === this.$route.params.id);
      return messages;
    },

    sketch() {
      return this.$store.getters['sketch/getById'](this.$route.params.id);
    },
  },
};
</script>

<style lang="sass">
.chat
  height: calc(100vh - 102px)
  position: relative
  .contact-name-main
    @media (max-width: 1024px)
      display: flex
      height: 20px
      overflow: hidden
      text-overflow: ellipsis
    @media (max-width: 400px)
      max-width: 90px

  .messages-container-fullscreen
    height: calc(100vh - 164px)
    &.marked
      height: calc(100vh - 242px)
  .messages-container-mini
    height: calc(100vh - 164px - 133px)
    &.marked
      height: calc(100vh - 242px - 133px)
  .marker-mini
    margin-bottom: 57px
  .marker-fullscreen
    margin-bottom: 190px
  .send-container
    width: 100%

@media (pointer: coarse) and (display-mode: browser), (pointer: none) and (display-mode: browser)
  body:not(.capacitor) .messages-container
      height: calc(100vh - 221px)
</style>
