<template>
  <div class="row">
    <transition
      appear
      :enter-active-class="$q.screen.lt.md ? 'animated slideInLeft' : undefined"
      :leave-active-class="$q.screen.lt.md ? 'animated slideOutLeft' : undefined"
    >
      <div
        v-if="['tickets', 'tickets-on-hold'].includes($route.name) || $q.screen.gt.sm"
        id="sidemenu"
        class="col-md-3 col-12 sidemenu sidemenu-border"
        :class="$q.dark.isActive ? 'bg-grey-10' : 'bg-grey-2'"
      >
        <q-item style="height: 55px">
          <q-item-section>
            <q-item-label>
              <q-input
                v-model="filter"
                :placeholder="filterPlaceholder"
                borderless
                :debounce="800"
                clearable
                @keydown.enter="filter ? $sendMass({ newChat: true, filter: filter }) : undefined"
                @contextmenu.prevent="showMenu = true"
              >
                <q-icon
                  slot="prepend"
                  name="search"
                />

                <q-spinner
                  v-if="isFindMemberTicketsPending"
                  slot="append"
                />

                <q-chip
                  v-if="searchingMessages"
                  slot="append"
                  size="sm"
                  :label="$tc('commonWord.all', 2)"
                  removable
                  @remove="searchingMessages = false"
                />

                <template v-else>
                  <q-btn
                    v-if="filter"
                    slot="append"
                    dense
                    round
                    unelevated
                    color="primary"
                    icon="add"
                    size="sm"
                    @click="$sendMass({ newChat: true, filter: filter })"
                  >
                    <q-tooltip>
                      {{ $t('ticket.createNew') }}
                    </q-tooltip>
                  </q-btn>

                  <ticket-filter-status
                    slot="append"
                    v-model="statusIn"
                    :on-hold-view="onHoldView"
                  />

                  <ticket-filter-status
                    v-if="departmentName"
                    slot="append"
                    v-model="departmentName"
                    :type="'department'"
                    :on-hold-view="onHoldView"
                    @filter-dep="onFilterDep"
                  />

                  <ticket-filter-status
                    v-if="attendantName"
                    slot="append"
                    v-model="attendantName"
                    :type="'attendant'"
                    :on-hold-view="onHoldView"
                    @filter-resp="onFilterResp"
                  />

                  <confirm-btn
                    v-if="selectingMultiple && ticketsSelected.length"
                    slot="append"
                    icon="close"
                    :action="$t('ticket.confirmCloseMultiple', [ticketsSelected.length])"
                    round
                    flat
                    dense
                    @confirm="closeMultipleTickets"
                  >
                    <q-tooltip>
                      {{ $t('ticket.closeMultiple') }}
                    </q-tooltip>
                  </confirm-btn>

                  <q-btn
                    v-if="!onHoldView"
                    slot="append"
                    icon="more_vert"
                    round
                    flat
                    dense
                    @click.stop="showMenu = true"
                  >
                    <q-tooltip>
                      {{ $tc('commonWord.option', 2) }}
                    </q-tooltip>

                    <tickets-menu
                      v-model="showMenu"
                      :user-id="userId"
                      :attendant-id="attendantId"
                      @search-messages="searchingMessages = !searchingMessages"
                      @select-multiple="selectingMultiple = !selectingMultiple"
                      @filter-resp="onFilterResp"
                      @filter-dep="onFilterDep"
                      @status="statusIn = $event"
                    />
                  </q-btn>
                </template>
              </q-input>
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-separator />

        <template v-if="searchingMessages">
          <ticket-message-search
            :filter="filter"
            @click="searchingMessages = false; filter = ''"
          />
        </template>

        <template v-else>
          <div
            v-if="!memberTickets.length"
            class="flex flex-center full-width sidemenu-scroll"
          >
            <div class="text-center text-h6">
              <q-icon
                name="chat"
                size="60px"
                color="primary"
              /><br>

              {{ $t('commonWord.none') }}
              {{ $tc('commonWord.ticket').toLowerCase() }} <br>
              <span v-if="onHoldView">{{ $t('ticket.onWait').toLowerCase() }}</span>
              {{ $t('ticket.atMoment') }}

              <span v-if="!onHoldView && statusIn !== ['in_progress', 'waiting', 'closed', 'on_hold'] && filter">
                <q-btn
                  color="primary"
                  class="q-mx-md"
                  :label="$t('ticket.searchAllTickets')"
                  @click.stop="statusIn = ['in_progress', 'waiting', 'closed', 'on_hold']"
                />
                <q-btn
                  color="primary"
                  class="q-ma-md"
                  :label="$t('ticket.createTicket')"
                  @click.stop="$sendMass({ newChat: true, filter: filter })"
                />
                <q-btn
                  color="primary"
                  :label="$t('ticket.searchMessages')"
                  @click.stop="searchingMessages = true"
                />
              </span>
            </div>
          </div>

          <q-scroll-area
            v-else
            id="chats"
            ref="scroll"
            class="sidemenu-scroll"
          >
            <q-infinite-scroll
              :disable="!pagination || pagination.total <= memberTickets.length || skip > pagination.total"
              :offset="450"
              @load="loadMore"
            >
              <template v-for="item in memberTickets">
                <ticket-item
                  :key="item._id"
                  :data="item"
                  :selectable="selectingMultiple"
                  :selected="ticketsSelected.includes(item._id)"
                  ticket
                  @click="toggleSelection(item._id)"
                />

                <q-separator :key="`separator_${item._id}`" />
              </template>

              <template #loading>
                <div class="row justify-center q-my-md">
                  <q-spinner-dots
                    color="primary"
                    size="40px"
                  />
                </div>
              </template>
            </q-infinite-scroll>
          </q-scroll-area>
        </template>
      </div>
    </transition>
    <div
      class="col-12 col-md chat-container"
    >
      <transition
        appear
        mode="out-in"
        :enter-active-class="$q.screen.lt.md ? 'animated slideInRight' : undefined"
        :leave-active-class="$q.screen.lt.md ? 'animated slideOutRight' : undefined"
      >
        <router-view />
      </transition>

      <div
        v-if="['tickets', 'tickets-on-hold'].includes($route.name) && $q.screen.gt.sm"
        class="flex flex-center full-width full-height"
      >
        <div class="text-center text-h6">
          <q-icon
            name="message"
            size="60px"
            color="primary"
          /><br>

          {{ $t('ticket.clickOnATicket') }}
          <br>
          {{ $t('ticket.toSeeHistoric') }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { makeFindMixin } from 'feathers-vuex';

export default {
  name: 'Tickets',

  props: {
    onHoldView: Boolean,
  },

  components: {
    TicketItem: () => import('../../../components/tickets/TicketItem'),
    ConfirmBtn: () => import('../../../components/tools/ConfirmBtn.vue'),
    TicketsMenu: () => import('../../../components/tickets/TicketsMenu'),
    TicketFilterStatus: () => import('../../../components/tickets/TicketFilterStatus'),
    TicketMessageSearch: () => import('../../../components/tickets/TicketMessageSearch'),
  },

  mixins: [makeFindMixin({ service: 'member-tickets', watch: true })],

  data() {
    return {
      userId: null,
      ticketsSelected: [],
      showMenu: false,
      selectingMultiple: false,
      attendantId: null,
      attendantName: null,
      departmentId: null,
      departmentName: null,
      searchingMessages: false,
      statusIn: !this.onHoldView ? ['pre_service', 'in_progress', 'waiting', 'closing'] : ['on_hold'],
      filter: '',
      total: null,
      select: ['_id', 'count', 'contact', 'connectionId', 'reason', 'department', 'messageTimestamp', 'attendantId', 'jid', 'status', 'lastMessage', 'createdAt', 'updatedAt'],
      sort: {
        messageTimestamp: -1,
        updatedAt: -1,
      },
      skip: 0,
      limit: 20,
    };
  },

  watch: {
    onHoldView() {
      this.statusIn = !this.onHoldView ? ['in_progress', 'waiting', 'closing'] : ['on_hold'];
    },
  },

  meta() {
    return {
      title: this.title,
    };
  },

  computed: {
    filterPlaceholder() {
      let result = !this.onHoldView ? this.$tc('commonWord.ticket', 2) : this.$t('ticket.ticketOnWait');
      if (this.searchingMessages) result = this.$tc('commonWord.message', 2);
      return result;
    },

    memberTicketsParams() {
      const query = {
        $select: this.select,
        $sort: this.sort,
      };

      if (this.filter) {
        if (!Number.isNaN(this.filter) && !Number.isNaN(parseFloat(this.filter))) {
          query.jid = {
            $regex: `.*${this.filter}.*`,
          };
        } else {
          // query.$search = this.filter;
          query.$or = [
            { 'contact.overrideName': { $regex: `.*${this.filter}.*`, $options: 'i' } },
            { 'contact.name': { $regex: `.*${this.filter}.*`, $options: 'i' } },
            { 'contact.vname': { $regex: `.*${this.filter}.*`, $options: 'i' } },
            { 'contact.notify': { $regex: `.*${this.filter}.*`, $options: 'i' } },
            { 'contact.tags.label': { $regex: `.*${this.filter}.*`, $options: 'i' } },
          ];
          // query.$search = this.filter;
        }
      }

      query.status = { $in: this.statusIn };

      if (this.attendantId) query.attendantId = this.attendantId;
      if (this.departmentId) query.departmentId = this.departmentId;

      if (this.$isAttendant && this.usersSeeOnlyOwn) {
        query.attendantId = this.$user._id;
      } else if (this.$isAttendant && !this.allUserSeeChats) {
        query.$or = [
          {
            status: 'waiting',
          },
          {
            status: 'in_progress',
            attendantId: this.$user._id,
          },
          {
            status: 'closing',
            attendantId: this.$user._id,
          },
        ];
      }

      return {
        query,
        paginate: !!this.filter,
        // paginate: true,
        // paginate: false,
      };
    },

    memberTicketsFetchParams() {
      const query = {
        $limit: this.limit,
        $skip: this.skip,
        $select: this.select,
        $sort: this.sort,
      };

      query.status = { $in: this.statusIn };

      if (this.attendantId) query.attendantId = this.attendantId;
      if (this.departmentId) query.departmentId = this.departmentId;

      if (this.$isAttendant && this.usersSeeOnlyOwn) {
        query.attendantId = this.$user._id;
      } else if (this.$isAttendant && !this.allUserSeeChats) {
        query.$or = [
          {
            status: 'waiting',
          },
          {
            status: 'in_progress',
            attendantId: this.$user._id,
          },
          {
            status: 'closing',
            attendantId: this.$user._id,
          },
        ];
      }

      if (this.filter) {
        if (!Number.isNaN(this.filter) && !Number.isNaN(parseFloat(this.filter))) {
          query.jid = {
            $regex: `.*${this.filter}.*`,
          };
        } else {
          // query.$or = [
          //   { 'contact.overrideName': { $regex: `.*${this.filter}.*` } },
          //   { 'contact.name': { $regex: `.*${this.filter}.*` } },
          //   { 'contact.vname': { $regex: `.*${this.filter}.*` } },
          //   { 'contact.notify': { $regex: `.*${this.filter}.*` } },
          //   { 'contact.tags.label': { $regex: `.*${this.filter}.*` } },
          // ];
          query.$search = this.filter;
        }
      }

      return {
        debounce: 500,
        query,
      };
    },

    settings() {
      return this.$store.getters['member-settings/list'];
    },

    allUserSeeChats() {
      return this.settings.some((e) => e.name === 'allUserSeeChats' && e.value === true);
    },

    usersSeeOnlyOwn() {
      return this.settings.some((e) => e.name === 'usersSeeOnlyOwn' && e.value === true);
    },

    pagination() {
      if (!this.memberTicketsPaginationData) return null;
      if (!this.memberTicketsPaginationData.default) return null;
      const query = JSON.parse(JSON.stringify(this.memberTicketsParams.query));
      delete query.$limit;
      delete query.$skip;
      const id = JSON.stringify(query);
      return this.memberTicketsPaginationData.default[id];
    },

    title() {
      let result = this.$env.formattedName;
      if (this.memberTickets && this.memberTickets.length) {
        const count = this.memberTickets
          .filter((e) => e.count)
          .length;
          // .filter((e) => e.unread).length;
        if (count) result = `(${count}) ${result}`;
      }
      return result;
    },
  },

  methods: {
    async closeMultipleTickets(force = true) {
      const promises = [];

      const status = this.$chatbotClosingActive && !force ? 'closing' : 'closed';
      try {
        for (let index = 0; index < this.ticketsSelected.length; index += 1) {
          const id = this.ticketsSelected[index];
          promises.push(this.$store.dispatch('member-tickets/patch', [id, { status, count: 0 }]));
        }

        await Promise.all(promises);

        this.ticketsSelected = [];
        this.selectingMultiple = false;
        this.$notify('positive');
      } catch (error) {
        this.$notify('negative');
      }
    },

    toggleSelection(id) {
      if (this.ticketsSelected.includes(id)) {
        this.ticketsSelected = this.ticketsSelected.filter((e) => e !== id);
        return;
      }
      this.ticketsSelected.push(id);
    },

    onFilterDep(data) {
      if (this.departmentId === data.id) {
        this.departmentId = null;
        this.departmentName = null;
        return;
      }

      this.departmentId = data.id;
      this.departmentName = data.name;
    },

    onFilterResp(data) {
      if (this.attendantId === data.id) {
        this.attendantId = null;
        this.attendantName = null;
        return null;
      }
      this.attendantId = data.id;
      this.attendantName = data.name;
      return null;
    },

    async loadMore(index, done) {
      if (this.isFindMemberTicketsPending) {
        done();
        return;
      }

      if (!this.pagination || this.pagination.total <= this.memberTickets.length) {
        done();
        return;
      }

      this.skip += this.limit;
      await this.findMemberTickets(this.memberTicketsFetchParams);
      done();
    },
  },
};
</script>

<style scoped>
.sidemenu {
  height: calc(100vh - 50px);
}

.sidemenu-scroll {
  height: calc(100vh - 108px);
}

.sidemenu-border {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.unread {
  background-color: #21ba453f;
  border-left: 5px solid var(--q-color-positive)
}
</style>
