<template>
  <q-page class="row row">
    <q-inner-loading
      v-if="loading"
      showing
    >
      <q-spinner-gears
        size="50px"
        color="primary"
      />
    </q-inner-loading>

    <div class="col-12">
      <q-card
        flat
        class="full-width"
      >
        <q-card-section>
          <div class="text-h6">
            {{ $t('chatbot.title') }}
          </div>

          <div class="text-subtitle2">
            {{ $t('chatbot.title') }}
          </div>

          <div>
            <q-toggle
              v-model="activeChatbot"
              :label="$t('setting.activeChatbot')"
              @input="saveActiveChatbot"
            />
          </div>

          <div>
            <q-toggle
              v-model="activeChatbotButtons"
              :label="$t('setting.activeChatbotButtons')"
              @input="saveActiveChatbotButtons"
            />
          </div>

          <transition
            appear
            enter-active-class="animated slideInLeft"
            leave-active-class="animated slideOutLeft"
          >
            <div
              v-if="activeChatbotButtons"
              class="q-pa-md q-gutter-sm"
            >
              <q-banner
                rounded
                class="bg-primary text-white"
              >
                {{ $t('chatbot.buttonsWarning') }}
              </q-banner>
            </div>
          </transition>

          <div>
            <q-btn
              color="positive"
              :label="$t('chatbot.save')"
              @click="submit"
            />
          </div>
        </q-card-section>

        <q-card-section>
          <div class="row q-col-gutter-md">
            <div class="col-12 col-md-4">
              <q-card>
                <q-card-section class="q-pb-none">
                  <div class="text-subtitle2">
                    {{ $t('chatbot.fallbackTitle') }}
                  </div>

                  <p>
                    {{ $t('chatbot.fallbackDesc') }}
                  </p>
                </q-card-section>

                <q-card-section>
                  <q-input
                    v-model="chatbotFallback.message"
                    :label="$t('chatbot.fallbackLabel')"
                    type="textarea"
                    outlined
                  />
                </q-card-section>
              </q-card>

              <q-card class="q-mt-md">
                <q-card-section class="q-pb-none">
                  <div class="text-subtitle2">
                    Mensagem de aviso para encerramento de atendimento
                  </div>

                  <p>
                    Esta mensagem será usada ao fechar atendimento, caso o cliente responda nos proximos 5 minutos, usarei o mesmo atendimento em vez de criar um novo.
                    <br>
                    <q-toggle
                      v-model="chatbotClosing.active"
                      label="Ativo"
                      @input="submitClosing"
                    />
                  </p>
                </q-card-section>

                <q-card-section>
                  <q-input
                    v-model="chatbotClosing.message"
                    :devounce="400"
                    label="Mensagem de fechamento"
                    type="textarea"
                    outlined
                    @input="submitClosing"
                  />
                </q-card-section>
              </q-card>
            </div>

            <div class="col-12 col-md-8">
              <q-card>
                <q-card-section class="q-pb-none">
                  <div class="text-subtitle2">
                    {{ $t('chatbot.introTitle') }}
                  </div>

                  <p>
                    {{ $t('chatbot.introDesc') }}
                  </p>

                  <q-badge color="info">
                    {{ $t('chatbot.optionsAmount') }}:
                    {{ data.filter(e => e.parentId === chatbotIntro._id && e.type === "option").length }}
                  </q-badge>
                </q-card-section>

                <q-card-section>
                  <chatbot-form
                    :parent-id="chatbotIntro._id"
                    :parent="chatbotIntro"
                  />
                </q-card-section>
              </q-card>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import feathersClient from '../../../boot/feathers-vuex';

export default {
  name: 'Chatbot',

  components: {
    ChatbotForm: () => import('../../../components/chatbot/ChatbotForm'),
    // ChatbotOptionsDialog: () => import('../../../components/chatbot/ChatbotOptionsDialog'),
  },

  data() {
    return {
      data: [],
      pagination: null,
      loading: false,
      activeChatbot: false,
      activeChatbotButtons: false,

      chatbotClosing: {
        _id: undefined,
        type: 'closing',
        parentId: null,
        message: '[bot] Estou encerrando seu atendimento, caso precise de algo a mais, é so chamar ok?',
      },

      chatbotFallback: {
        _id: undefined,
        type: 'fallback',
        active: false,
        parentId: null,
        message: this.$t('chatbot.fallbackDefault'),
      },

      chatbotIntro: {
        _id: undefined,
        type: 'introduction',
        parentId: null,
        message: this.$t('chatbot.introDefault'),
      },
    };
  },

  created() {
    this.activeChatbot = this.$connections[0].activeChatbot;
    this.activeChatbotButtons = this.$connections[0].activeChatbotButtons;
    this.load();
  },

  methods: {
    async submitClosing() {
      if (!this.chatbotClosing._id) {
        this.chatbotClosing = await feathersClient.service('member-chatbots').create(this.chatbotClosing);
      } else {
        this.chatbotClosing = await feathersClient.service('member-chatbots').update(this.chatbotClosing._id, this.chatbotClosing);
      }
    },

    async submit() {
      this.loading = true;

      const promises = [];

      if (!this.chatbotFallback._id) {
        promises.push(
          feathersClient.service('member-chatbots').create(this.chatbotFallback),
        );
      } else {
        promises.push(
          feathersClient.service('member-chatbots').update(this.chatbotFallback._id, this.chatbotFallback),
        );
      }

      if (!this.chatbotIntro._id) {
        promises.push(
          feathersClient.service('member-chatbots').create(this.chatbotIntro),
        );
      } else {
        promises.push(
          feathersClient.service('member-chatbots').update(this.chatbotIntro._id, this.chatbotIntro),
        );
      }

      if (!this.chatbotClosing._id) {
        promises.push(
          feathersClient.service('member-chatbots').create(this.chatbotClosing),
        );
      } else {
        promises.push(
          feathersClient.service('member-chatbots').update(this.chatbotClosing._id, this.chatbotClosing),
        );
      }

      try {
        await Promise.all(promises);
      } catch (error) {
        console.error(error);
        this.$notify('negative');
      }
      await this.load();
      this.loading = false;
    },

    async saveActiveChatbot(e) {
      const promises = [];
      // eslint-disable-next-line no-restricted-syntax
      for (let index = 0; index < this.$connections.length; index += 1) {
        const item = this.$connections[index];

        promises.push(
          this.$store.dispatch('member-connections/patch', [
            item._id,
            { activeChatbot: e },
          ]),
        );
      }

      try {
        await Promise.all(promises);
        this.dialog = false;
      } catch (error) {
        console.error(error);
        this.$notify('negative');
      }

      this.loading = false;
    },

    async saveActiveChatbotButtons(e) {
      if (!this.$connections[0].useMultidevice) {
        try {
          const response = await feathersClient.service('connections-remote-version').get(this.$connections[0]._id);
          if (response.version < 101) {
            this.$notify('negative', this.$t('connection.versionIncompatible'));
            this.activeChatbotButtons = false;
            return;
          }
        } catch (error) {
          this.$notify('negative', this.$t('connection.versionIncompatible'));
          this.activeChatbotButtons = false;
          return;
        }
      }

      const promises = [];
      // eslint-disable-next-line no-restricted-syntax
      for (let index = 0; index < this.$connections.length; index += 1) {
        const item = this.$connections[index];

        promises.push(
          this.$store.dispatch('member-connections/patch', [
            item._id,
            { activeChatbotButtons: e },
          ]),
        );
      }

      try {
        await Promise.all(promises);
        this.dialog = false;
      } catch (error) {
        console.error(error);
        this.$notify('negative');
      }

      this.loading = false;
    },

    async load() {
      this.loading = true;

      try {
        const res = await feathersClient.service('member-chatbots').find({ query: { $limit: 50 } });
        this.data = res.data;
        delete res.data;
        this.pagination = res;

        this.loadSpecials();
      } catch (error) {
        console.log(error);
        this.$notify('negative');
      }

      this.loading = false;
    },

    loadSpecials() {
      const chatbotFallbackIndex = this.data.findIndex((e) => e.type === 'fallback');
      if (chatbotFallbackIndex > -1) {
        this.chatbotFallback = this.data[chatbotFallbackIndex];
      }

      const chatbotClosingIndex = this.data.findIndex((e) => e.type === 'closing');
      if (chatbotClosingIndex > -1) {
        this.chatbotClosing = this.data[chatbotClosingIndex];
      }

      const chatbotIntroIndex = this.data.findIndex((e) => e.type === 'introduction');
      if (chatbotIntroIndex > -1) {
        this.chatbotIntro = this.data[chatbotIntroIndex];
      }
    },
  },
};
</script>
