<template>
  <div>
    <q-btn
      color="primary"
      label="Atualizar"
      @click="load"
    />

    <q-separator spaced />

    <template v-for="item in data">
      <div :key="item.id">
        <div>
          <b>{{ $t('commonWord.date') }}:</b> {{ $jsDateFormat(item.createdAt) }}
        </div>

        <div>
          <b>{{ $t('commonWord.url') }}:</b> {{ item.endpoint }}
        </div>

        <div>
          <b>IP:</b> {{ item.ip }}
        </div>

        <div>
          <b>{{ $t('commonWord.connection') }}:</b> {{ item.connection }}
        </div>

        <div>
          <b>{{ $t('commonWord.method') }}:</b> {{ item.method }}
        </div>

        <div>
          <b>{{ $t('commonWord.error') }}:</b> {{ item.success ? 'Não' : 'Sim' }}
        </div>

        <documentation
          v-if="item.request.data"
          :title="$t('api.requestData')"
          hide-copy
        >
          <pre>{{ item.request.data }}</pre>
        </documentation>

        <documentation
          v-if="item.request.query"
          :title="$t('api.requestQuery')"
          class="q-my-md"
          hide-copy
        >
          <pre>{{ item.request.query }}</pre>
        </documentation>

        <q-expansion-item
          v-if="item.response"
          label="Resposta"
        >
          <documentation
            :title="$t('api.responseLabel')"
            class="q-mt-md"
            hide-copy
          >
            <pre>{{ item.response }}</pre>
          </documentation>
        </q-expansion-item>
      </div>
    </template>
  </div>
</template>

<script>
import feathersClient from '../../boot/feathers-vuex';

export default {
  name: 'ApiLogs',

  props: {
    connection: null,
  },

  components: {
    documentation: () => import('../tools/Documentation'),
  },

  data() {
    return {
      data: [],
      loading: null,
      pagination: null,
    };
  },

  created() {
    this.load();
  },

  methods: {
    async load() {
      this.loading = true;
      try {
        const pag = await feathersClient.service('member-api-logs')
          .find({ query: { $sort: { createdAt: -1 }, connection: this.connection.jid } });
        this.data = pag.data;
        delete pag.data;
        this.pagination = pag;
      } catch (error) {
        console.error(error);
      }

      this.loading = false;
    },
  },

};
</script>

<style>

</style>
