<template>
  <div
    class="body q-pa-md"
    :class="!$q.dark.isActive ? 'bg-grey-1' : null"
  >
    <div class="row q-col-gutter-md">
      <div class="col-xs-12 col-md-6">
        <attendants-controls />
      </div>

      <div class="col-xs-12 col-md-6">
        <connection-controls />
      </div>
    </div>

    <div class="row q-col-gutter-md">
      <div class="col-12">
        <ticket-report-new class="q-mt-md" />
        <ticket-report-tracking class="q-mt-md" />
        <ticket-report-chat-hours class="q-mt-md" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    AttendantsControls: () => import('../../components/attendants/AttendantsControls'),
    ConnectionControls: () => import('../../components/connection/ConnectionControls'),
    TicketReportNew: () => import('../../components/tickets/TicketReportNew'),
    TicketReportTracking: () => import('../../components/tickets/TicketReportTracking'),
    TicketReportChatHours: () => import('../../components/tickets/TicketReportChatHours'),
  },
};
</script>

<style scoped>
.body {
  min-height: calc(100vh - 50px)
}
</style>
