<template>
  <span>
    <q-btn
      round
      dense
      unelevated
      icon="add"
      :disabled="disabled"
      @click="dialog = true"
    />

    <q-dialog
      v-model="dialog"
      transition-show="slide-up"
      transition-hide="slide-down"
      @hide="handleHide"
    >
      <q-card style="min-width: 320px; width: 60vw!important; max-width: 864px">
        <q-card-section>
          <div class="text-h6">{{ $t('message.createQuick') }}</div>
        </q-card-section>

        <q-separator />

        <q-card-section
          class="q-pt-none scroll"
          style="height: 50vh"
        >
          <div class="row q-col-gutter-md">
            <div class="col-4">
              <image-upload
                class="q-mt-md"
                @file="file = $event"
                @clear="file = null; form.media = null"
              />
            </div>

            <div class="col-8">
              <q-input
                ref="title"
                v-model="form.title"
                :label="$t('commonWord.title')"
                autofocus
                :rules="[$data.$rules.required]"
                outlined
                class="q-my-md"
                :hint="$t('message.titleQuick')"
              />

              <q-input
                ref="shortcut"
                v-model="form.shortcut"
                :label="$t('commonWord.shortcut')"
                autofocus
                :rules="[$data.$rules.required]"
                mask="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
                outlined
                class="q-my-md"
                :hint="$t('message.shortcutQuick')"
              />

              <q-input
                ref="body"
                v-model="form.body"
                type="textarea"
                :label="$tc('commonWord.message')"
                :rules="[$data.$rules.required]"
                outlined
                rows="4"
                :hint="$t('message.messageQuick')"
                class="full-width"
              >
                <q-btn
                  slot="append"
                  icon="fa fa-smile"
                  flat
                  round
                  dense
                >
                  <q-menu>
                    <VEmojiPicker @select="selectEmoji($event, 'body')" />
                  </q-menu>
                </q-btn>
              </q-input>

              {{ $t('commonWord.result') }}:

              <message
                consult
                size="12"
                :data="{
                  key: {
                    fromMe: true,
                    jid: '55555555555@',
                    id: '1'
                  },
                  ack: 2,
                  message: {
                    conversation: form.body ? form.body : $t('message.writeSomething')
                  },
                  timestamp: new Date().getTime() / 1000
                }"
              />
            </div>
          </div>
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn
            v-close-popup
            :disabled="loading"
            :label="$t('commonWord.cancel')"
            color="primary"
          />

          <q-btn
            :loading="loading"
            flat
            dumb
            :label="$t('commonWord.create')"
            color="primary"
            @click="submit"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </span>
</template>

<script>
import { VEmojiPicker } from 'v-emoji-picker';
import axios from 'axios';

export default {
  components: {
    VEmojiPicker,
    Message: () => import('../Messages/Message'),
    ImageUpload: () => import('../tools/imageUpload'),
  },

  props: {
    connectionId: null,
    disabled: Boolean,
  },

  data() {
    return {
      dialog: false,
      loading: false,

      file: null,

      form: {
        title: '',
        shortcut: '',
        body: '',
      },
    };
  },

  computed: {
    name() {
      return this.$user.name;
    },
  },

  methods: {
    handleHide() {
      this.form.title = '';
      this.form.shortcut = '';
      this.form.body = '';
      this.file = null;
    },

    selectEmoji(emoji, ref) {
      const input = this.$refs[ref].$el.querySelector('textarea');

      if (input.selectionStart !== null) this.form.body = this.form.body.substring(0, input.selectionStart) + emoji.data + this.form.body.substring(input.selectionStart);
      else this.form.body += emoji.data;
    },

    async submit() {
      await this.$resetValidation(this.form);
      if (!(await this.$validate(this.form))) return;

      this.loading = true;

      const form = JSON.parse(JSON.stringify(this.form));
      const payload = new FormData();
      payload.append('title', form.title);
      payload.append('shortcut', form.shortcut);
      payload.append('body', form.body);

      let noti;
      if (this.file) {
        payload.append('files', this.file);

        noti = this.$q.notify({
          group: false, // required to be updatable
          timeout: 0, // we want to be in control when it gets dismissed
          spinner: true,
          message: 'Enviando arquivo ao servidor, por favor aguarde...',
          caption: '0%',
        });
      }

      try {
        const url = `${this.$store.state.baseUrl}/member-quick-messages`;
        const options = {
          headers: {
            Authorization: `Bearer ${this.$store.state.auth.accessToken}`,
            'Content-Type': `multipart/form-data; boundary=${form._boundary}`,
          },
          onUploadProgress(progressEvent) {
            if (!noti) return;
            const percent = Math.round((progressEvent.loaded * 100) / progressEvent.total);
            noti({ caption: `${percent}%` });
          },
        };

        await axios.post(url, payload, options);
        if (this.file) {
          noti({
            icon: 'done', // we add an icon
            spinner: false, // we reset the spinner setting so the icon can be displayed
            message: 'Enviado!',
            caption: null,
            timeout: 2500,
          });
        }

        this.dialog = false;
      } catch (error) {
        console.error('error');
        if (this.file) {
          noti({
            icon: 'done', // we add an icon
            spinner: false, // we reset the spinner setting so the icon can be displayed
            message: 'Erro!',
            timeout: 2500,
          });
        } else {
          this.$notify('negative', 'Um erro aconteceu');
        }
      }

      this.loading = false;
    },
  },
};
</script>
