<template>
  <q-item>
    <q-card
      id="quick_messages_chat"
      class="full-width"
    >
      <q-card-section class="q-py-none">
        <q-list>
          <q-item class="q-pa-none">
            <q-item-section>
              <q-item-label>
                {{ $t('message.quick') }}

                <quick-messages-form
                  :disabled="disabled"
                  :connection-id="data.connectionId"
                />
              </q-item-label>
            </q-item-section>

            <q-item-section avatar>
              <q-btn
                id="tag_add_btn"
                flat
                round
                icon="keyboard_arrow_down"
                color="grey-7"
                @click="showQuickMessages = !showQuickMessages"
              />
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>

      <q-card-section class="q-pa-none">
        <q-slide-transition appear>
          <div v-show="showQuickMessages">
            <q-list
              separator
              class="q-px-md"
            >
              <q-item
                v-for="(item, index) in items"
                :key="`quick_messages_item_${index}`"
                :clickable="!disabled"
                class="q-py-none q-px-none"
                @click="apply(item)"
              >
                <q-item-section avatar>
                  <q-btn
                    v-if="!selectable"
                    dense
                    round
                    flat
                    icon="arrow_back"
                    :disabled="disabled"
                    @click.stop="apply(item)"
                  />

                  <q-btn
                    v-else
                    dense
                    round
                    flat
                    icon="radio_button_checked"
                    :disabled="disabled"
                  />
                </q-item-section>

                <q-item-section
                  v-if="item.media"
                  avatar
                >
                  <q-img
                    :src="item.media.location"
                  />
                </q-item-section>

                <q-item-section>
                  <q-item-label>
                    {{ item.title }}
                  </q-item-label>

                  <q-item-label caption>
                    /{{ item.shortcut }}
                  </q-item-label>
                </q-item-section>

                <q-item-label class="flex flex-center q-ml-auto">
                  <q-btn
                    round
                    flat
                    dense
                    color="grey-6"
                    icon="delete"
                    :disabled="disabled"
                    @click.stop="deleteItem(item)"
                  >
                    <q-tooltip>{{ $t('message.deleteQuick') }}</q-tooltip>
                  </q-btn>
                </q-item-label>
              </q-item>
              <q-item
                v-if="paginate && items.length < paginate.total"
                class="q-py-none q-px-none"
              >
                <q-item-section>
                  <q-item-label caption>
                    {{ $t('message.tooMuchItens') }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </q-slide-transition>
      </q-card-section>
    </q-card>
  </q-item>
</template>

<script>
/* eslint-disable camelcase */
import { mapActions } from 'vuex';

export default {
  name: 'QuickMessages',

  components: {
    QuickMessagesForm: () => import('./QuickMessagesForm'),
  },

  props: {
    data: null,
    disabled: Boolean,
    selectable: Boolean,
  },

  data() {
    return {
      paginate: null,
      showQuickMessages: true,
    };
  },

  async created() {
    this.paginate = await this.find({ query: { $limit: 50 } });
  },

  methods: {
    ...mapActions('member-quick-messages', ['find', 'remove']),

    async deleteItem(item) {
      if (this.disabled) return item;
      this.remove(item._id);
      return null;
    },

    apply(item) {
      this.$emit('apply', item);
    },
  },

  computed: {
    items() {
      return this.$store.getters['member-quick-messages/list'];
    },
  },
};
</script>
