<template>
  <q-select
    name="user-select"
    :label="label"
    :options="options"
    :loading="loading"
    option-disable="inactive"
    :value="value"
    v-bind="$attrs"
    use-input
    :display-value="selectedLabel"
    @filter="filterFn"
    @input="$emit('input', $event)"
  />
</template>

<script>
import feathersClient from '../../boot/feathers-vuex';

export default {
  name: 'SelectUser',

  props: {
    value: null,
    inactiveCheck: null,

    label: {
      default() { this.$t('ticket.attendantOnCharge'); },
    },
  },

  data() {
    return {
      loading: false,
      filter: '',
      paginate: {},
      data: [],
      fallbackName: '',
    };
  },

  computed: {
    membersParams() {
      const query = {
        $select: ['_id', 'name', 'lastName'],
      };

      if (this.filter) {
        query.$search = this.filter;
        // query.jid = { $search: this.filter };
      }

      return {
        query,
        paginate: true, // This restores previous functionality
      };
    },

    members() {
      return this.data;
    },

    selectedLabel() {
      let result = this.$t('form.undefinedValue');
      const index = this.options.findIndex((e) => e.value === this.value);
      if (index > -1) result = this.options[index].label;
      else {
        const label = this.fallbackName;
        result = label;
      }

      return result;
    },

    options() {
      let atts = [];

      if (this.members.length) {
        atts = this.members.map((e) => ({
          value: e._id,
          label: e.name,
          inactive: this.inactiveCheck ? this.inactiveCheck(e) : null,
        }));
      }

      let result = [
        { value: null, label: this.$t('form.undefinedValue') },
        ...atts,
      ];

      if (this.filter) result = atts;

      return result;
    },
  },

  created() {
    this.load();
  },

  mounted() {
    this.getName();
  },

  methods: {
    async load() {
      const data = await feathersClient.service('members').find(this.membersParams);
      this.data = data.data;
      delete data.data;
      this.paginate = data;
    },

    // eslint-disable-next-line no-unused-vars
    async filterFn(val, update, abort) {
      this.filter = val;
      await this.load().catch(() => {
        abort();
      });
      update();
    },

    async getName() {
      if (!this.value) return;
      let name = await feathersClient.service('members').find({
        query: { _id: this.value },
      });
      name = name.data[0].name;
      this.fallbackName = name;
    },
  },
};
</script>
