<template>
  <q-btn
    v-if="!list"
    :icon="shouldPlay ? 'volume_down' : 'volume_off'"
    round
    flat
    @click="toogleSound"
  >
    <q-tooltip>
      {{ $t('setting.notificationSounds') }}
    </q-tooltip>
  </q-btn>
  <q-item
    v-else
    v-ripple
    clickable
    @click="toogleSound"
  >
    <q-item-section
      top
      avatar
    >
      <q-avatar :icon="shouldPlay ? 'volume_down' : 'volume_off'" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ $t('setting.notificationSounds') }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  props: {
    list: Boolean,
  },

  methods: {
    ...mapActions('members', ['patch']),
    toogleSound() {
      this.patch([this.$user._id, { notificationSound: !this.shouldPlay }]);
    },
  },

  computed: {
    shouldPlay() {
      if (
        !this.$user
        || !this.$user.notificationSound
      ) return false;

      return this.$user.notificationSound;
    },
  },
};
</script>
