<template>
  <q-btn
    color="primary"
    class="full-width"
    :label="$t('forgotPassword.update')"
    @click="dialog = true"
  >
    <q-dialog
      v-model="dialog"
      @hide="handleHide"
    >
      <q-card style="min-width: 300px;">
        <q-form @submit="submit">
          <q-card-section>
            <div class="text-h6">
              {{ $t('payment.mySignature') }}
            </div>
          </q-card-section>

          <q-separator />

          <q-card-section
            class="scroll"
            style="height: calc(100vh - 240px)"
          >
            <q-input
              ref="password"
              v-model="form.password"
              autofocus
              outlined
              class="q-my-sm"
              :disabled="loading"
              :label="$t('form.passwordNew')"
              :rules="[$data.$rules.required]"
              :lazy-rules="true"
            />

            <q-input
              ref="passwordConfirmation"
              v-model="form.passwordConfirmation"
              outlined
              class="q-my-sm"
              :disabled="loading"
              :label="$t('form.confirmNewPassoword')"
              :rules="[$data.$rules.required, $data.$rules.equals(form.password, 'password')]"
              :lazy-rules="true"
            />
          </q-card-section>

          <q-separator />

          <q-card-actions align="right">
            <q-btn
              v-close-popup
              :disabled="loading"
              :label="$t('commonWord.cancel')"
              color="primary"
            />
            <q-btn
              :loading="loading"
              :label="$t('commonWord.send')"
              color="primary"
              type="submit"
            />
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>
  </q-btn>
</template>

<script>

export default {
  name: 'UserEmailChangeDialog',

  data() {
    return {
      dialog: false,
      loading: false,

      form: {
        password: '',
        passwordConfirmation: '',
      },
    };
  },

  computed: {
  },

  methods: {
    handleHide() {
      this.form.password = '';
      this.form.passwordConfirmation = '';
    },

    async submit() {
      this.loading = true;

      await this.$resetValidation(this.form);
      if (!(await this.$validate(this.form))) return;

      try {
        await this.$store.dispatch('members/patch', [this.$user._id, this.form]);
        this.dialog = false;
      } catch (error) {
        console.error(error);
        const message = this.$t('publicPages.forgotPasswordFail');
        this.$notify('negative', message);
      }

      this.loading = false;
    },
  },
};
</script>
