<template>
  <q-btn
    color="primary"
    class="full-width"
    :label="$t('settings.usersSettings')"
    @click="dialog = true"
  >
    <q-dialog
      v-model="dialog"
      @hide="handleHide"
    >
      <q-card style="min-width: 300px;">
        <q-form @submit="submit">
          <q-card-section>
            <div class="text-h6">
              {{ $t('settings.usersSettings') }}
            </div>
          </q-card-section>

          <q-separator />

          <q-card-section
            class="scroll"
            style="height: calc(100vh - 240px)"
          >
            <div class="row">
              <div class="col-11">
                <q-toggle
                  v-model="form.notificationExtra"
                  :label="$t('settings.notificationExtra')"
                />
              </div>

              <div class="col-1">
                <q-icon
                  name="help"
                  size="18px"
                />

                <q-tooltip
                  content-style="font-size: 16px"
                >
                  {{ $t('settings.notificationExtraExplain') }}
                </q-tooltip>
              </div>
            </div>

            <div class="row">
              <div class="col-11">
                <q-toggle
                  v-model="form.appendMyName"
                  :label="$t('message.signMessages')"
                />
              </div>

              <div class="col-1">
                <q-icon
                  name="help"
                  size="18px"
                />

                <q-tooltip
                  content-style="font-size: 16px"
                >
                  {{ $t('message.messageSignExplain') }}
                </q-tooltip>
              </div>
            </div>

            <div
              class="row  q-my-md"
            >
              <div class="col-11">
                <q-toggle
                  v-model="form.appendMyNameAfter"
                  :label="$t('message.signMessagesAtEnd')"
                />
              </div>

              <div class="col-1">
                <q-icon
                  name="help"
                  size="18px"
                />

                <q-tooltip content-style="font-size: 16px">
                  {{ $t('message.messageSignEndExplain') }}
                </q-tooltip>
              </div>
            </div>

            <div
              class="row"
            >
              <div class="col-11">
                <q-input
                  v-model="form.appendMyNameCustom"
                  outlined
                  :label="$t('message.personalizeSignature')"
                  :hint="$t('message.signatureHint')"
                />
              </div>

              <div class="col-1">
                <q-icon
                  name="help"
                  size="18px"
                />

                <q-tooltip content-style="font-size: 16px">
                  {{ $t('message.signatureText') }}.
                </q-tooltip>
              </div>

              <div class="col-12 q-mt-md">
                {{ $t('commonWord.result') }}:

                <message
                  consult
                  dumb
                  size="12"
                  :data="{
                    key: {
                      fromMe: true
                    },
                    message: {
                      conversation: $linkify( $t('message.exampleMessage'), form.appendMyNameCustom, form.appendMyNameAfter)
                    },
                  }"
                  :chat="{
                    kind: 'chat',
                  }"
                />
              </div>
            </div>
          </q-card-section>

          <q-separator />

          <q-card-actions align="right">
            <q-btn
              v-close-popup
              :disabled="loading"
              :label="$t('commonWord.cancel')"
              color="primary"
            />
            <q-btn
              :loading="loading"
              :label="$t('commonWord.send')"
              color="primary"
              type="submit"
            />
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>
  </q-btn>
</template>

<script>

export default {
  name: 'UserEmailChangeDialog',

  components: {
    Message: () => import('../Messages/Message'),
  },

  data() {
    return {
      dialog: false,
      loading: false,

      form: {
        notificationExtra: false,
        appendMyName: false,
        appendMyNameAfter: false,
        appendMyNameCustom: '*<meu-nome>*',
      },
    };
  },

  computed: {
  },

  watch: {
    '$user.notificationExtra': {
      immediate: true,
      handler() {
        this.form.notificationExtra = this.$user.notificationExtra;
      },
    },
    '$user.appendMyName': {
      immediate: true,
      handler() {
        this.form.appendMyName = this.$user.appendMyName;
      },
    },
    '$user.appendMyNameAfter': {
      immediate: true,
      handler() {
        this.form.appendMyNameAfter = this.$user.appendMyNameAfter;
      },
    },
    '$user.appendMyNameCustom': {
      immediate: true,
      handler() {
        this.form.appendMyNameCustom = this.$user.appendMyNameCustom;
      },
    },
  },

  methods: {
    handleHide() {
      this.form.password = '';
      this.form.passwordConfirmation = '';
    },

    async submit() {
      this.loading = true;

      await this.$resetValidation(this.form);
      if (!(await this.$validate(this.form))) return;

      try {
        await this.$store.dispatch('members/patch', [this.$user._id, this.form]);
        this.dialog = false;
      } catch (error) {
        console.error(error);
        const message = this.$t('publicPages.forgotPasswordFail');
        this.$notify('negative', message);
      }

      this.loading = false;
    },
  },
};
</script>
