<template>
  <q-btn
    color="primary"
    class="full-width"
    :label="$t('form.updateAccountData')"
    @click="dialog = true"
  >
    <q-dialog
      v-model="dialog"
      @before-show="onBeforeShow"
    >
      <q-card style="min-width: 300px;">
        <q-form @submit="submit">
          <q-card-section>
            <div class="text-h6">
              {{ $t('form.editMyData') }}
            </div>
          </q-card-section>

          <q-separator />

          <q-card-section
            class="scroll"
            style="height: calc(100vh - 240px)"
          >
            <language-select
              v-model="form.languageOverride"
              outlined
              :disabled="loading"
              :label="$t('form.language')"
            />

            <q-input
              ref="name"
              v-model="form.name"
              autofocus
              outlined
              class="q-my-sm"
              :disabled="loading"
              :label="$t('form.name')"
              :rules="[$data.$rules.required]"
              :lazy-rules="true"
            />

            <q-input
              ref="lastName"
              v-model="form.lastName"
              outlined
              class="q-my-sm"
              :disabled="loading"
              :label="$t('form.lastName')"
              :rules="[$data.$rules.required]"
              :lazy-rules="true"
            />

            <q-input
              ref="email"
              v-model="form.email"
              class="q-my-sm"
              outlined
              type="text"
              :disabled="loading"
              :label="$t('form.email')"
              :rules="[$data.$rules.required]"
              :lazy-rules="true"
            />
          </q-card-section>

          <q-separator />

          <q-card-actions align="right">
            <q-btn
              v-close-popup
              :disabled="loading"
              :label="$t('commonWord.cancel')"
              color="primary"
            />
            <q-btn
              :loading="loading"
              :label="$t('commonWord.send')"
              color="primary"
              type="submit"
            />
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>
  </q-btn>
</template>

<script>
import { Quasar } from 'quasar';

export default {
  name: 'UserEmailChangeDialog',

  data() {
    return {
      dialog: false,
      loading: false,

      form: {
        languageOverride: '',
        name: '',
        lastName: '',
        email: '',
      },
    };
  },
  components: {
    LanguageSelect: () => import('../../components/tools/LanguageSelect.vue'),
  },

  watch: {
    '$user.languageOverride': {
      imediate: true,
      handler() {
        if (!this.$user.languageOverride) {
          this.form.languageOverride = Quasar.lang.getLocale();
          return;
        }
        this.form.languageOverride = this.$user.languageOverride;
      },
    },

    '$user.name': {
      immediate: true,
      handler() {
        this.form.name = this.$user.name;
      },
    },
    '$user.lastName': {
      immediate: true,
      handler() {
        this.form.lastName = this.$user.lastName;
      },
    },
    '$user.email': {
      immediate: true,
      handler() {
        this.form.email = this.$user.email;
      },
    },
  },

  methods: {
    onBeforeShow() {
      if (!this.$user.languageOverride) {
        this.form.languageOverride = Quasar.lang.getLocale();
        return;
      }
      this.form.languageOverride = this.$user.languageOverride;
    },

    async submit() {
      this.loading = true;

      await this.$resetValidation(this.form);
      if (!(await this.$validate(this.form))) return;

      try {
        await this.$store.dispatch('members/patch', [this.$user._id, this.form]);
        this.dialog = false;
      } catch (error) {
        console.error(error);
        const message = this.$t('publicPages.forgotPasswordFail');
        this.$notify('negative', message);
      }

      this.loading = false;
    },
  },
};
</script>
