<template>
  <q-card
    class="col-lg-6"
  >
    <q-card-section>
      <div class="text-h6">
        Configurações do ambiente
      </div>
    </q-card-section>

    <q-list
      separator
      bordered
    >
      <q-item>
        <q-item-section>
          <q-input
            :value="$env.formattedName"
            :debounce="1200"
            borderless
            label="Nome formatado"
            @input="setValue('formattedName', $event)"
          />
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section>
          <q-input
            :value="$env.frontendUrl"
            :debounce="1200"
            borderless
            label="Url principal"
            @input="setValue('frontendUrl', $event)"
            @change="$forceUpdate()"
          />
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section>
          <q-toggle
            v-model="envCopied.logrocket.active"
            borderless
            label="Ativar logrocket"
            @input="setValue('logrocket.active', $event)"
          />
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section>
          <q-input
            v-model="envCopied.logrocket.code"
            :debounce="1200"
            borderless
            label="logrocket codigo"
            @input="setValue('logrocket.code', $event)"
            @change="$forceUpdate()"
          />
        </q-item-section>
      </q-item>

      <q-item
        v-ripple
        clickable
        @click="linksDialog = true"
      >
        <q-item-section>
          <q-item-label>Definir metalinks</q-item-label>
        </q-item-section>

        <env-links-dialog
          v-model="linksDialog"
          :data.sync="envCopied"
        />
      </q-item>

      <q-item
        v-ripple
        clickable
        @click="suportSystem = true"
      >
        <q-item-section>
          <q-item-label>Definir suporte</q-item-label>
        </q-item-section>

        <env-suport-system-dialog
          v-model="suportSystem"
          :data.sync="envCopied"
        />
      </q-item>

      <q-item
        v-ripple
        clickable
        @click="privacyDialog = true"
      >
        <q-item-section>
          <q-item-label>Definir politica de privacidade</q-item-label>
        </q-item-section>

        <env-privacy-politic-dialog
          v-model="privacyDialog"
          :data.sync="envCopied"
        />
      </q-item>

      <q-item
        v-ripple
        clickable
        @click="termsDialog = true"
      >
        <q-item-section>
          <q-item-label>Definir termos de uso</q-item-label>
        </q-item-section>

        <env-terms-use-dialog
          v-model="termsDialog"
          :data.sync="envCopied"
        />
      </q-item>
    </q-list>
  </q-card>
</template>

<script>
import EnvLinksDialog from './EnvLinksDialog';
import EnvTermsUseDialog from './EnvTermsUseDialog';
import EnvPrivacyPoliticDialog from './EnvPrivacyPoliticDialog';
import EnvSuportSystemDialog from './EnvSuportSystemDialog';

export default {
  components: {
    EnvLinksDialog,
    EnvPrivacyPoliticDialog,
    EnvTermsUseDialog,
    EnvSuportSystemDialog,
  },

  data() {
    return {
      linksDialog: false,
      privacyDialog: false,
      termsDialog: false,
      envCopied: null,
      suportSystem: false,
    };
  },

  beforeMount() {
    this.envCopied = JSON.parse(JSON.stringify(this.$env));
    if (this.envCopied.logrocket) return;
    this.envCopied.logrocket = {
      code: '',
      active: false,
    };
  },

  methods: {
    setValue(key, set) {
      this.$store.dispatch('envs/patch', [this.$env._id, { [key]: set }]);
    },
  },
};
</script>
