<template>
  <q-dialog
    :value="value"
    @show="onShow"
    @hide="onHide"
    @input="$emit('input', $event)"
  >
    <q-card>
      <q-card-section class="">
        <div class="text-h6">
          Modificar meta links:
        </div>
      </q-card-section>

      <q-separator />

      <q-card-section
        v-if="metaLinks"
        class=""
      >
        <q-input
          v-model="metaLinks.favicon.href"
          outlined
          label="Favicon"
          class="q-mb-md"
        />

        <q-input
          v-model="metaLinks.favicon.sizes"
          outlined
          label="Sizes"
          class="q-mb-md"
        />

        <q-input
          v-model="metaLinks.favicon.rel"
          outlined
          label="rel"
        />
      </q-card-section>

      <q-separator />

      <q-card-actions align="right">
        <q-btn
          label="Cancelar"
          color="negative"
          @click="$emit('input', false)"
        />
        <q-btn
          label="Salvar"
          color="positive"
          flat
          @click="submit"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {

  components: {
  },
  props: [
    'data',
    'value',
  ],

  data() {
    return {
      loading: false,
      metaLinks: null,
    };
  },

  methods: {
    onShow() {
      this.metaLinks = this.data.metaLinks;
    },

    onHide() {
      this.metaLinks = null;
    },

    async submit() {
      this.loading = true;

      await this.$store.dispatch('envs/patch', [this.$env._id, { metaLinks: this.metaLinks }]);

      this.$emit('input', false);

      this.loading = false;
    },
  },

};
</script>

<style>

</style>
