<template>
  <q-dialog
    :value="value"
    maximized
    @show="onShow"
    @hide="onHide"
    @input="$emit('input', $event)"
  >
    <q-card>
      <q-card-section class="">
        <div class="text-h6">
          Definir politica de privacidade
        </div>
      </q-card-section>

      <q-separator />

      <q-card-section
        v-if="privacy"
        class="scroll"
        style="height: calc(100vh - 118px)"
      >
        <div class="row q-col-gutter-md">
          <q-toggle
            v-model="privacy.active"
            label="Ativar tela com politica de privacidade"
          />

          <q-input
            v-if="privacy.active"
            v-model="privacy.date"
            class="col-md-4"
            mask="##/##/####"
            outlined
            label="Data da ultima atualização"
          />
        </div>

        <q-slide-transition>
          <div v-show="privacy.active">
            <div class="row q-my-sm">
              <div class="col-md-12">
                <h6 class="q-pa-none q-ma-none">
                  Pequena introdução do texto
                </h6>
                <q-editor
                  v-model="privacy.intro"
                />
              </div>

              <div class="col-md-12 q-mt-lg">
                <h6
                  class="q-px-none q-ma-none q-py-sm bg-white"
                  style="position: sticky; top:-16px"
                >
                  Pontos do texto

                  <q-btn
                    icon="add"
                    rounded
                    outline
                    dense
                    @click="addPoint"
                  />
                </h6>

                <message-banner color="primary">
                  <b>Pequena descrição de como usar:</b>

                  <q-btn
                    icon="info"
                    rounded
                    flat
                    dense
                    @click="pointsInfo = !pointsInfo"
                  />

                  <span v-if="pointsInfo">
                    <br>Para cada item da politica (1, 2, 3), você deve adicionar um novo ponto.<br>
                    Isto fará o sumario ser criado e clicavel de maneira automatica.<br>
                    Use termos simples e de facil entendimento, sejá claro e direto isto evitará problemas.
                  </span>
                </message-banner>

                <div class="row">
                  <div class="col-4">
                    <div
                      style="position: sticky; top:26px"
                    >
                      <b>Sumario:</b>
                      <ol
                        class="q-mt-none"
                        style="font-size: 16px"
                      >
                        <template v-for="(item, index) in privacy.points">
                          <li
                            :key="`list_${index}`"
                          >
                            {{ item.title.toUpperCase() }}

                            <q-btn
                              icon="remove"
                              color="negative"
                              size="xs"
                              rounded
                              outline
                              dense
                              @click="removePoint(index)"
                            />
                          </li>
                        </template>
                      </ol>
                    </div>
                  </div>

                  <div class="col-8">
                    <template v-for="(item, index) in privacy.points">
                      <div
                        :key="index"
                      >
                        <q-input
                          v-model="item.title"
                          outlined
                          class="q-my-sm"
                          label="Titulo do ponto"
                        />

                        <q-editor
                          v-model="item.points[0]"
                        />

                        <q-separator spaced />
                      </div>
                    </template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </q-slide-transition>
      </q-card-section>

      <q-separator />

      <q-card-actions align="right">
        <q-btn
          label="Cancelar"
          color="negative"
          @click="$emit('input', false)"
        />
        <q-btn
          label="Salvar"
          color="positive"
          flat
          @click="submit"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import MessageBanner from '../../tools/MessageBanner';

export default {

  components: {
    MessageBanner,
  },
  props: [
    'data',
    'value',
  ],

  data() {
    return {
      privacy: null,
      pointsInfo: false,
      loading: false,
    };
  },

  methods: {
    onShow() {
      this.privacy = this.data.privacy;
    },

    onHide() {
      this.privacy = null;
    },

    removePoint(index) {
      this.privacy.points.splice(index, 1);
    },

    addPoint() {
      this.privacy.points.push({
        title: '',
        points: [''],
      });
    },

    async submit() {
      this.loading = true;

      await this.$store.dispatch('envs/patch', [this.$env._id, { privacy: this.privacy }]);

      this.$emit('input', false);

      this.loading = false;
    },
  },

};
</script>

<style>

</style>
