<template>
  <q-dialog
    :value="value"
    maximized
    @show="onShow"
    @hide="onHide"
    @input="$emit('input', $event)"
  >
    <q-card>
      <q-card-section class="">
        <div class="text-h6 flex">
          <div class="q-mr-auto">
            Definir sistema de suport
          </div>

          <q-toggle
            v-if="support"
            v-model="support.active"
            label="Ativar sistema de suporte"
          />

          <support-system-form-dialog
            v-if="support && support.active"
            class="q-ml-sm"
            color="positive"
            icon="add"
            round
            :points="support.points"
          />
        </div>
      </q-card-section>

      <q-separator />

      <q-card-section
        v-if="support"
        class="scroll"
        style="height: calc(100vh - 118px)"
      >
        <q-slide-transition>
          <div v-show="support.active">
            <q-splitter
              v-model="splitterModel"
              style="height: 100%"
            >
              <template #before>
                <q-tree
                  ref="tree"
                  :nodes="support.points"
                  node-key="title"
                  label-key="title"
                  :selected.sync="selected"
                  default-expand-all
                  children-key="points"
                  @update:selected="active = $refs.tree.getNodeByKey($event)"
                >
                  <template #default-body="prop">
                    <div class="text-weight-bold">
                      {{ prop.node.type }}
                    </div>

                    <div class="flex">
                      <support-system-form-dialog
                        v-if="prop.node.type === 'OPTION'"
                        :points="prop.node.points"
                        flat
                        icon="add"
                        dense
                        round
                        class="q-mr-sm"
                        color="positive"
                      />

                      <confirm-btn
                        flat
                        icon="remove"
                        dense
                        round
                        color="negative"
                        @confirm="removePoint(prop.node)"
                      />
                    </div>
                  </template>
                </q-tree>
              </template>

              <template #after>
                <q-card
                  outline
                >
                  <q-card-section class="flex">
                    <div class="text-h6 q-my-auto q-mr-md">
                      Editar
                    </div>
                  </q-card-section>
                  <q-separator />

                  <q-card-section>
                    <support-system-form
                      v-if="active"
                      ref="supportSystemAddForm"
                      v-model="active"
                    />

                    <div v-else />
                  </q-card-section>
                </q-card>
              </template>
            </q-splitter>
          </div>
        </q-slide-transition>
      </q-card-section>

      <q-separator />

      <q-card-actions align="right">
        <q-btn
          label="Cancelar"
          color="negative"
          @click="$emit('input', false)"
        />
        <q-btn
          label="Salvar"
          color="positive"
          flat
          @click="submit"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>

export default {
  components: {
    ConfirmBtn: () => import('../../tools/ConfirmBtn.vue'),
    SupportSystemFormDialog: () => import('./SupportSystemFormDialog.vue'),
    SupportSystemForm: () => import('./SuportSystemForm.vue'),
  },

  props: [
    'data',
    'value',
  ],

  data() {
    return {
      support: null,
      active: null,
      selected: null,
      pointsInfo: false,
      loading: false,
      splitterModel: 35,

      formAdd: null,
    };
  },

  methods: {
    async addOption(refName, points, form) {
      if (!(await this.$refs[refName].validate())) return;
      points.push(JSON.parse(JSON.stringify(form)));
      this.$refs[refName].clear();
    },

    filterPoints(points, target) {
      const result = [];
      console.log(points);

      points.forEach((point) => {
        if (point.title !== target.title) {
          result.push(point);

          if (result[result.length - 1].points.length) {
            result[result.length - 1].points = this.filterPoints(result[result.length - 1].points, target);
          }
        }
      });

      return result;
    },

    removePoint(point) {
      this.support.points = this.filterPoints(this.support.points, point);
    },

    onShow() {
      this.support = this.data.support ?? {
        active: false,
        points: [],
      };
    },

    onHide() {
      this.support = null;
    },

    async submit() {
      this.loading = true;

      await this.$store.dispatch('envs/patch', [this.$env._id, { support: this.support }]);

      this.$emit('input', false);

      this.loading = false;
    },
  },

};
</script>

<style>

</style>
