<template>
  <div v-if="value && value.type">
    <div class="row q-col-gutter-md">
      <div class="col-12">
        <q-input
          ref="title"
          v-model="value.title"
          outlined
          label="Titulo"
          :rules="[$data.$rules.required]"
          :lazy-rules="true"
        />
      </div>

      <div class="col-12">
        <q-option-group
          v-model="value.type"
          :options="[
            {value: 'OPTION', label: 'Opções'},
            {value: 'TEXT', label: 'Texto'}
          ]"
          inline
          label="Tipo"
        />
      </div>

      <div class="col-12">
        <label class="q-pa-none q-ma-none">
          Mensagem de descrição
        </label>
        <q-editor
          ref="description"
          v-model="value.description"
          :rules="[$data.$rules.required]"
          :lazy-rules="true"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SupportSystemForm',
  props: {
    value: null,
    editing: Boolean,
  },

  created() {
    if (this.editing) return;
    this.createForm();
  },

  methods: {
    createForm() {
      this.$emit('input', {
        title: '',
        description: '',
        type: 'OPTION',
        points: [],
      });
    },

    clear() {
      this.createForm();
    },

    async validate() {
      await this.$resetValidation(this.value);
      const value = await this.$validate(this.value);
      if (!value) return value;
      if (!this.value.description || this.value.description === '') {
        this.$notify('negative', 'Adicione uma descrição');
        return false;
      }

      return true;
    },
  },

};
</script>

<style>

</style>
