<template>
  <div>
    <q-btn
      v-bind="$attrs"
      @click="dialog = true"
    />
    <q-dialog v-model="dialog">
      <q-card
        outline
      >
        <q-card-section class="flex">
          <div class="text-h6 q-my-auto q-mr-md">
            Adicionar opção
          </div>
        </q-card-section>
        <q-separator />

        <q-card-section>
          <support-system-form
            ref="form"
            v-model="form"
          />
        </q-card-section>
        <q-separator />
        <q-card-actions align="right">
          <q-btn
            v-close-popup
            flat
            label="Cancelar"
            color="primary"
          />

          <q-btn
            color="positive"
            label="Adicionar"
            size="sm"
            @click="addOption"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: 'SupportSystemFormDialog',

  props: {
    points: null,
  },

  components: {
    SupportSystemForm: () => import('./SuportSystemForm.vue'),
  },

  data() {
    return {
      dialog: false,
      form: null,
    };
  },

  methods: {
    async addOption() {
      if (!(await this.$refs.form.validate())) return;
      this.points.push(JSON.parse(JSON.stringify(this.form)));
      this.dialog = false;
    },
  },

};
</script>

<style>

</style>
