<template>
  <q-card
    class="col-lg-3"
  >
    <q-card-section>
      <div class="text-h6">
        Configurações do sistema
      </div>
    </q-card-section>

    <q-list
      separator
      bordered
    >
      <q-item>
        <q-item-section v-if="pagseguroPlan">
          <q-input
            v-model="pagseguroPlan.meta.code"
            :debounce="1200"
            borderless
            label="Nome formatado"
            @input="updatePagseguroPlan"
          />
        </q-item-section>
      </q-item>

      <q-item v-if="baileyVersion">
        <q-item-section>
          <q-input
            v-model="baileyVersion1"
            label="Versão da Conexão [0]"
            type="number"
          />
        </q-item-section>
        <q-item-section>
          <q-input
            v-model="baileyVersion2"
            label="Versão da Conexão [1]"
            type="number"
          />
        </q-item-section>
        <q-item-section>
          <q-input
            v-model="baileyVersion3"
            label="Versão da Conexão [2]"
            type="number"
          />
        </q-item-section>
        <q-item-section avatar>
          <q-btn
            color="positive"
            round
            icon="save"
            unelevated
            @click="updateBaileyVersion"
          />
        </q-item-section>
      </q-item>

      <q-item v-if="baileyVersionMd">
        <q-item-section>
          <q-input
            v-model="baileyVersionMd1"
            label="MD Versão da Conexão [0]"
            type="number"
          />
        </q-item-section>
        <q-item-section>
          <q-input
            v-model="baileyVersionMd2"
            label="MD Versão da Conexão [1]"
            type="number"
          />
        </q-item-section>
        <q-item-section>
          <q-input
            v-model="baileyVersionMd3"
            label="MD Versão da Conexão [2]"
            type="number"
          />
        </q-item-section>
        <q-item-section avatar>
          <q-btn
            color="positive"
            round
            icon="save"
            unelevated
            @click="updateBaileyVersionMd"
          />
        </q-item-section>
      </q-item>
    </q-list>
  </q-card>
</template>

<script>
import feathersClient from '../../../boot/feathers-vuex';

export default {
  components: {
  },

  data() {
    return {
      loading: false,
      pagseguroPlan: null,
      baileyVersion1: 2,
      baileyVersion2: 2119,
      baileyVersion3: 6,
      baileyVersion: null,
      baileyVersionMd1: 2,
      baileyVersionMd2: 2126,
      baileyVersionMd3: 14,
      baileyVersionMd: null,
    };
  },

  created() {
    this.load();
  },

  methods: {
    createBaileyVersion() {
      feathersClient.service('admin-settings')
        .create({
          type: 'system',
          name: 'baileyVersion',
          meta: {
            version: [2, 2119, 6],
          },
        })
        .then((e) => {
          this.baileyVersion = e;
          this.baileyVersion1 = e.meta.version[0];
          this.baileyVersion2 = e.meta.version[1];
          this.baileyVersion3 = e.meta.version[2];
        });
    },

    createBaileyVersionMd() {
      feathersClient.service('admin-settings')
        .create({
          type: 'system',
          name: 'baileyVersionMd',
          meta: {
            version: [2, 2126, 14],
          },
        })
        .then((e) => {
          this.baileyVersionMd = e;
          this.baileyVersionMd1 = e.meta.version[0];
          this.baileyVersionMd2 = e.meta.version[1];
          this.baileyVersionMd3 = e.meta.version[2];
        });
    },

    updatePagseguroPlan(e) {
      this.loading = true;
      feathersClient.service('admin-settings')
        .patch(this.pagseguroPlan._id, { 'meta.code': e });
    },

    updateBaileyVersion() {
      this.loading = true;
      feathersClient.service('admin-settings')
        .patch(this.baileyVersion._id, { 'meta.version': [Number(this.baileyVersion1), Number(this.baileyVersion2), Number(this.baileyVersion3)] });
    },

    updateBaileyVersionMd() {
      this.loading = true;
      feathersClient.service('admin-settings')
        .patch(this.baileyVersionMd._id, { 'meta.version': [Number(this.baileyVersionMd1), Number(this.baileyVersionMd2), Number(this.baileyVersionMd3)] });
    },

    async load() {
      this.loading = true;
      try {
        const res = await feathersClient.service('admin-settings').find({ query: { type: 'system' } });
        this.pagseguroPlan = res.find((e) => e.name === 'pagseguroPlan');
        if (res.some((e) => e.name === 'baileyVersion')) {
          const item = res.find((e) => e.name === 'baileyVersion');

          this.baileyVersion = item;
          this.baileyVersion1 = item.meta.version[0];
          this.baileyVersion2 = item.meta.version[1];
          this.baileyVersion3 = item.meta.version[2];
        } else this.createBaileyVersion();

        if (res.some((e) => e.name === 'baileyVersionMd')) {
          const item = res.find((e) => e.name === 'baileyVersionMd');

          this.baileyVersionMd = item;
          this.baileyVersionMd1 = item.meta.version[0];
          this.baileyVersionMd2 = item.meta.version[1];
          this.baileyVersionMd3 = item.meta.version[2];
        } else this.createBaileyVersionMd();
      } catch (error) {
        console.error(error);
      }
      this.loading = true;
    },
  },
};
</script>
