<template>
  <div
    :class="$q.dark.isActive ? 'bg-orange-10' : 'bg-yellow-8'"
  >
    <q-card-section
      v-if="isPaid && transaction.gateway === 'mercado_pago_preapproval'"
      style="font-size: 24px;"
    >
      {{ t$('payment.paidSubscription') }}
    </q-card-section>

    <q-card-section
      v-else-if="isPaid"
      style="font-size: 24px;"
    >
      {{ t$('payment.freeAcess') }}

      {{ expiresAt }}
    </q-card-section>

    <q-card-section
      v-else-if="!checkFullimport"
      style="font-size: 24px;"
    >
      {{ t$('payment.limitedAcess') }}
    </q-card-section>

    <q-card-section
      v-else-if="checkFullimport"
      style="font-size: 24px;"
    >
      {{ t$('payment.limitedNextSub') }}
    </q-card-section>

    <q-card-actions
      v-if="
        $isAdmin &&
          (
            !isPaid ||
            transaction.gateway !== 'mercado_pago_preapproval'
          )
      "
    >
      <q-btn
        :label="t$('payment.add30Days')"
        color="positive"
        size="lg"
        @click="dialog = true"
      />
    </q-card-actions>

    <q-dialog
      v-model="dialog"
    >
      <q-card>
        <q-card-section class="">
          <h6 class="q-ma-none q-ma-none">
            <b>{{ $t('reconnectionMessage.atention') }}!</b> {{ $t('termsUsage.accept') }}:
          </h6>
        </q-card-section>

        <q-separator />

        <q-card-section class="">
          <div class="flex items-center">
            <q-checkbox
              v-model="politics"
            >
              {{ $t('publicPages.iDeclareHaveRead') }}
            </q-checkbox>

            <router-link
              target="_blank"
              class="q-pl-sm"
              :to="{ name: 'usage' }"
              @click.stop
            >
              {{ $t('termsUsage.title') }} ({{ $env.termsUse.date }})
            </router-link>
          </div>

          <div class="flex items-center">
            <q-checkbox
              v-model="policy"
            >
              {{ $t('publicPages.iDeclareHaveRead') }}
            </q-checkbox>

            <router-link
              target="_blank"
              class="q-pl-sm"
              :to="{ name: 'privacy' }"
              @click.stop
            >
              {{ $t('politicPrivacy.title') }} ({{ $env.privacyPolitic.date }})
            </router-link>
          </div>
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn
            v-close-popup
            :label="$t('commonWord.cancel')"
            color="primary"
          />
          <q-btn
            flat
            :label="$t('commonWord.send')"
            color="primary"
            @click="requestLinkDialog"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
// import TransactionRequestDialog from './TransactionRequestDialog.vue'
// import TransactionGatewayDialog from './TransactionGatewayDialog.vue'
// import TransactionsMercadopagoPreapprovalDialog from './TransactionsMercadopagoPreapprovalDialog.vue'

export default {
  name: 'TransactionStatus',

  props: {
    connectionId: null,
    checkTicket: Boolean,
    checkIntegration: Boolean,
    checkSchedule: Boolean,
    checkFullimport: Boolean,
  },

  data() {
    return {
      dialog: false,
      politics: false,
      policy: false,
    };
  },

  computed: {
    transaction() {
      if (!this.$transactions) return null;

      return this.$transactions.find((e) => {
        let check = e.connectionId === this.connectionId;

        if (this.checkFullimport) {
          check = e.fullImport === true;
        }

        if (this.checkIntegration) {
          check = e.type === 'integration' && this.$user._id === e.userId;
        }

        if (this.checkSchedule) {
          check = e.type === 'scheduleSystem' && this.$user._id === e.userId;
        }

        if (this.checkTicket) {
          check = e.type === 'ticket' && this.$user._id === e.userId;
        }

        return check;
      });
    },

    isPaid() {
      if (!this.transaction) return true;
      return !!this.transaction;
    },

    expiresAt() {
      let result = '';

      if (this.transaction) {
        if (this.transaction.expiresAt) result = this.$t('payment.freedUntil')`${this.$jsDateFormat(this.transaction.expiresAt)}`;
        else result = this.$t('payment.freedUnd');
      }

      return result;
    },
  },

  methods: {
    // requestLinkDialog() {
    //   if (this.politics === false) {
    //     this.$notify('negative', 'Você precisa aceitar os termos de uso para usar a plataforma');
    //     return;
    //   }

    //   if (this.policy === false) {
    //     this.$notify('negative', 'Você precisa aceitar a política de privacidade para usar a plataforma');
    //     return;
    //   }
    //   this.dialog = false;

    //   let title = `Seu plano atual é ${this.plan}, posso gerar o pagamento?`;
    //   if (this.checkTicket) title = 'Este pagamento ira adicionar o sistema de atendimento a todas as conexões, posso continuar?';
    //   if (this.checkIntegration) title = 'Este pagamento ira adicionar o sistema de integração a todas as conexões, posso continuar?';
    //   if (this.checkSchedule) title = 'Este pagamento ira adicionar o sistema de envio programado a todas as conexões, posso continuar?';
    //   if (this.checkFullimport) title = 'Este pagamento ira adicionar o recurso de importação completa a todas as conexões, posso continuar?';

    //   this.$q.dialog({
    //     title,
    //     message: 'Caso esteja errado, corrija na tela de configurações',
    //     ok: {
    //       flat: true,
    //       color: 'positive',
    //       label: 'Sim',
    //     },
    //     cancel: {
    //       label: 'Cancelar',
    //     },
    //   }).onOk(this.getGateway);
    // },

    // getGateway() {
    //   this.$q.dialog({
    //     component: TransactionGatewayDialog,
    //   }).onOk((e) => {
    //     if (e === 'picpay') this.getPicpay();
    //     else if (e === 'mercadopago') this.getMercadopago();
    //     else if (e === 'mercadopagoPreapproval') this.getMercadopagoPreapproval();
    //   });
    // },

    // getMercadopagoPreapproval() {
    //   const script = document.createElement('script');
    //   script.src = 'https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js';
    //   // script.onload = this.mercadopagoPreapprovalLoaded()
    //   document.head.appendChild(script);
    //   script.addEventListener('load', this.mercadopagoPreapprovalLoaded);
    // },

    // async mercadopagoPreapprovalLoaded() {
    //   // const token = process.env.DEV ? 'TEST-75c750cf-4ecd-4193-b8b6-4ef5af5074ca' : 'APP_USR-3ba6b48e-cb48-4615-8da3-a5f8d396468d'
    //   const token = 'APP_USR-3ba6b48e-cb48-4615-8da3-a5f8d396468d';
    //   window.Mercadopago.setPublishableKey(token);

    //   this.$q.dialog({
    //     parent: this,
    //     transactionAmount: this.planValue,
    //     component: TransactionsMercadopagoPreapprovalDialog,
    //   }).onOk((e) => {
    //     this.$q.loading.show();
    //     this.$meteor.call('transactions.mercadoPago.signPreapproval', {
    //       checkFullimport: this.checkFullimport,
    //       checkTicket: this.checkTicket,
    //       checkIntegration: this.checkIntegration,
    //       checkSchedule: this.checkSchedule,
    //       connectionId: this.connectionId,
    //       ...e,
    //     }, (e, i) => {
    //       this.$q.loading.hide();
    //       if (e || !i) {
    //         console.log(e, i);
    //         return this.$notify('negative', 'Um erro aconteceu');
    //       }

    //       this.$notify('positive', 'Sua assinatura está configurada.');
    //     });
    //   });
    // },

    // async getMercadopago() {
    //   this.$notify('positive', 'Carregando informações para o Mercado Pago, um momento');

    //   this.$meteor.call('transactions.mercadoPago.createPreference',
    //     {
    //       checkFullimport: this.checkFullimport,
    //       checkTicket: this.checkTicket,
    //       checkIntegration: this.checkIntegration,
    //       checkSchedule: this.checkSchedule,
    //       connectionId: this.connectionId,
    //     }, (e, i) => {
    //       if (e || !i) {
    //         console.log(e, i);
    //         return this.$notify('negative', 'Um erro aconteceu');
    //       }
    //       window.open(i, '_blank');
    //     });
    // },

    // getPicpay() {
    //   this.$q.dialog({
    //     component: TransactionRequestDialog,
    //   }).onOk((e) => this.requestLink(e));
    // },

    // async requestLink(buyer) {
    //   if (!this.$user.profile.name.includes(' ')) {
    //     this.$notify('negative', 'Sua conta não possui o nome completo. Preencha o sobrenome antes.');
    //     // return
    //   }

    //   this.$meteor.call('transactions.requestLink', {
    //     checkFullimport: this.checkFullimport,
    //     checkTicket: this.checkTicket,
    //     checkIntegration: this.checkIntegration,
    //     checkSchedule: this.checkSchedule,
    //     connectionId: this.connectionId,
    //     buyer,
    //   }, (e, res) => {
    //     if (e || !res) {
    //       this.$notify('negative', 'Detectamos algo de errado. Entre em contato com o suporte (16 99795-7988) via WhatsApp');
    //       return console.log(e, res);
    //     }

    //     this.$notify('positive', 'Geramos seu pagamento, iremos te redirecionar. Um momento.');
    //     window.open(res, '_blank');
    //   });
    // },
  },
};
</script>
