<template>
  <div>
    <q-btn
      v-if="!hideBtn"
      v-bind="$attrs"
      @click="openDialog"
    />

    <q-dialog
      v-model="dialog"
      @hide="handleHide"
    >
      <q-card style="min-width: 300px;">
        <q-form @submit="submit">
          <q-card-section>
            <div class="text-h6">
              {{ $t('commonWord.create') }}
              {{ $tc('attendant.attendant', 2).toLowerCase() }}
            </div>
          </q-card-section>

          <q-separator />

          <q-card-section
            class="scroll"
            style="height: calc(100vh - 240px); width: 520px; max-width: 100vw"
          >
            <q-input
              ref="name"
              v-model="form.name"
              autofocus
              outlined
              class="q-my-sm"
              :disabled="loading"
              :label="$t('form.name')"
              :rules="[$data.$rules.required]"
              :lazy-rules="true"
            />

            <q-input
              ref="lastName"
              v-model="form.lastName"
              outlined
              class="q-my-sm"
              :disabled="loading"
              :label="$t('form.lastName')"
              :rules="[$data.$rules.required]"
              :lazy-rules="true"
            />

            <q-input
              ref="email"
              v-model="form.email"
              class="q-my-sm"
              outlined
              type="text"
              :disabled="loading"
              :label="$t('form.email')"
              :rules="[$data.$rules.required, $data.$rules.email]"
              :lazy-rules="true"
            />

            <q-input
              ref="password"
              v-model="form.password"
              outlined
              type="password"
              class="q-my-sm"
              :disabled="loading"
              :label="$t('form.password')"
              :rules="[$data.$rules.required]"
              :lazy-rules="true"
            />

            <q-input
              ref="passwordConfirmation"
              v-model="form.passwordConfirmation"
              type="password"
              class="q-my-sm"
              outlined
              :disabled="loading"
              :label="$t('form.passwordConfirmation')"
              :rules="[$data.$rules.required, $data.$rules.equals(form.password, 'password')]"
              :lazy-rules="true"
            />
          </q-card-section>

          <q-separator />

          <q-card-actions align="right">
            <q-btn
              v-close-popup
              :disabled="loading"
              :label="$t('commonWord.cancel')"
              color="primary"
            />
            <q-btn
              :loading="loading"
              :label="$t('commonWord.send')"
              color="primary"
              type="submit"
            />
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'AttendantsForm',

  props: {
    value: Boolean,
    hideBtn: Boolean,
    target: null,
  },

  data() {
    return {
      dialog: false,
      loading: false,

      departments: [],
      permissions: ['attendant'],

      form: {
        name: '',
        lastName: '',
        email: '',
        password: '',
        passwordConfirmation: '',
      },
    };
  },

  methods: {
    ...mapActions('members', ['create']),
    openDialog() {
      this.dialog = true;
    },

    async submit() {
      await this.$resetValidation(this.form);
      if (!(await this.$validate(this.form.user))) return;

      this.loading = true;

      try {
        const payload = { ...this.form, permissions: this.permissions };

        if (this.$isManager) {
          payload.departmentId = this.$user.departmentId;
        }

        await this.create(payload);

        this.$notify('positive', this.$t('attendant.created'));
        this.dialog = false;
      } catch (err) {
        console.error(err);

        let message = '';
        if (err.message === 'email: value already exists.') message = this.$t('publicPages.registerEmailError');

        this.$notify('negative', message);
      }

      this.loading = false;
    },

    handleHide() {
      this.$emit('input', false);
      this.form.name = '';
      this.form.lastName = '';
      this.form.email = '';
      this.form.password = '';
      this.form.passwordConfirmation = '';
    },
  },
};
</script>

<style>
</style>
