<template>
  <q-dialog
    :value="value"
    @hide="handleHide"
  >
    <q-card style="min-width: 300px;">
      <q-form @submit="submit">
        <q-card-section>
          <div class="text-h6">
            {{ $t('attendant.updatePassword') }}
          </div>
        </q-card-section>

        <q-separator />

        <q-card-section
          class="scroll"
          style="height: calc(100vh - 240px)"
        >
          <q-input
            ref="password"
            v-model="form.password"
            outlined
            type="password"
            class="q-my-sm"
            :disabled="loading"
            :label="$t('form.password')"
            :rules="[$data.$rules.required]"
            :lazy-rules="true"
          />

          <q-input
            ref="passwordConfirmation"
            v-model="form.passwordConfirmation"
            type="password"
            class="q-my-sm"
            outlined
            :disabled="loading"
            :label="$t('form.passwordConfirmation')"
            :rules="[$data.$rules.required, $data.$rules.equals(form.password, 'password')]"
            :lazy-rules="true"
          />
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn
            v-close-popup
            :disabled="loading"
            :label="$t('commonWord.cancel')"
            color="primary"
          />
          <q-btn
            :loading="loading"
            :label="$t('commonWord.send')"
            color="primary"
            type="submit"
          />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'AttendantsForm',

  props: {
    value: Boolean,
    target: null,
  },

  data() {
    return {
      dialog: false,
      loading: false,

      form: {
        password: '',
        passwordConfirmation: '',
      },
    };
  },

  methods: {
    ...mapActions('members', ['patch']),

    async submit() {
      await this.$resetValidation(this.form);
      if (!(await this.$validate(this.form.user))) return;

      this.loading = true;

      try {
        await this.patch([this.target._id, this.form]);

        this.$notify('positive', 'Atualizado');
        this.dialog = false;
      } catch (err) {
        console.error(err);

        let message = '';
        if (err.message === 'email: value already exists.') message = this.$t('publicPages.registerEmailError');

        this.$notify('negative', message);
      }

      this.loading = false;
    },

    handleHide() {
      this.$emit('input', false);
    },
  },
};
</script>

<style>
</style>
