<template>
  <q-dialog
    :value="value"
    @hide="handleHide"
    @before-show="onBeforeShow"
  >
    <q-card style="min-width: 300px;">
      <q-form @submit="submit">
        <q-card-section>
          <div class="text-h6">
            {{ $t('attendant.updateDep') }}
          </div>
        </q-card-section>

        <q-separator />

        <q-card-section
          class="scroll"
          style="height: calc(100vh - 240px)"
        >
          <select-department
            :value="form.departmentId"
            @input="$event && $event.value ? form.departmentId = $event.value : form.departmentId = null"
          />

          <q-toggle
            v-if="form.departmentId"
            :value="form.permissions.includes('supervisor')"
            :disable="isAdm"
            :label="$t('attendant.supervisor')"
            @input="toggleSupervisor"
          />
          <q-banner
            v-if="isAdm && form.departmentId"
            class="bg-yellow-4 text-black"
          >
            <q-icon
              name="warning"
            />
            Por ser um usuário ADM, esta conta perderia permissões ao se tornar gerente.
          </q-banner>
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn
            v-close-popup
            :disabled="loading"
            :label="$t('commonWord.cancel')"
            color="primary"
          />
          <q-btn
            :loading="loading"
            :label="$t('commonWord.send')"
            color="primary"
            type="submit"
          />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'AttendantsUpdateDepartment',

  components: {
    SelectDepartment: () => import('../department/SelectDepartment'),
  },

  props: {
    value: Boolean,
    target: null,
  },

  data() {
    return {
      loading: false,

      form: {
        departmentId: null,
        permissions: [],
      },
    };
  },

  computed: {
    isAdm() {
      return this.form.permissions?.includes('admin');
    },
  },

  methods: {
    ...mapActions('members', ['patch']),

    toggleSupervisor() {
      if (this.form.permissions.includes('supervisor')) {
        this.form.permissions = this.form.permissions.filter((e) => e !== 'supervisor');
        return;
      }

      this.form.permissions.push('supervisor');
    },

    onBeforeShow() {
      this.form.departmentId = this.target.departmentId;
      this.form.permissions = JSON.parse(JSON.stringify(this.target.permissions));
    },

    async submit() {
      this.loading = true;

      try {
        await this.patch([this.target._id, this.form]);

        this.$notify('positive', this.$t('commonWord.updated'));
        this.$emit('input', false);
      } catch (err) {
        console.error(err);

        let message = '';
        if (err.message === 'email: value already exists.') message = this.$t('publicPages.registerEmailError');

        this.$notify('negative', message);
      }

      this.loading = false;
    },

    handleHide() {
      this.$emit('input', false);
      this.form.departmentId = null;
      this.form.permissions = null;
    },
  },
};
</script>

<style>
</style>
