<template>
  <q-dialog
    :value="value"
    @hide="handleHide"
    @before-show="onBeforeShow"
  >
    <q-card style="min-width: 300px;">
      <q-form @submit="submit">
        <q-card-section>
          <div class="text-h6">
            {{ $t('attendant.updateProfile') }}
          </div>
        </q-card-section>

        <q-separator />

        <q-card-section
          class="scroll"
          style="height: calc(100vh - 240px); width: 520px; max-width: 100vw"
        >
          <q-input
            ref="name"
            v-model="form.name"
            autofocus
            outlined
            class="q-my-sm"
            :disabled="loading"
            :label="$t('form.name')"
            :rules="[$data.$rules.required]"
            :lazy-rules="true"
          />

          <q-input
            ref="lastName"
            v-model="form.lastName"
            outlined
            class="q-my-sm"
            :disabled="loading"
            :label="$t('form.lastName')"
            :rules="[$data.$rules.required]"
            :lazy-rules="true"
          />

          <q-input
            ref="email"
            v-model="form.email"
            class="q-my-sm"
            outlined
            type="text"
            :disabled="loading"
            :label="$t('form.email')"
            :rules="[$data.$rules.required]"
            :lazy-rules="true"
          />
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn
            v-close-popup
            :disabled="loading"
            :label="$t('commonWord.cancel')"
            color="primary"
          />
          <q-btn
            :loading="loading"
            :label="$t('commonWord.send')"
            color="primary"
            type="submit"
          />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'AttendantsForm',

  props: {
    value: Boolean,
    target: null,
  },

  data() {
    return {
      dialog: false,
      loading: false,

      form: {
        name: '',
        lastName: '',
        email: '',
      },
    };
  },

  methods: {
    ...mapActions('members', ['patch']),
    onBeforeShow() {
      this.form.name = this.target.name;
      this.form.lastName = this.target.lastName;
      this.form.email = this.target.email;
    },

    async submit() {
      await this.$resetValidation(this.form);
      if (!(await this.$validate(this.form.user))) return;

      this.loading = true;

      try {
        await this.patch([this.target._id, this.form]);

        this.$notify('positive', this.$t('commonWord.updated'));
        this.dialog = false;
      } catch (err) {
        console.error(err);

        let message = '';
        if (err.message === 'email: value already exists.') message = this.$t('publicPages.registerEmailError');

        this.$notify('negative', message);
      }

      this.loading = false;
    },

    handleHide() {
      this.$emit('input', false);
      this.form.name = '';
      this.form.lastName = '';
      this.form.email = '';
    },
  },
};
</script>

<style>
</style>
