<template>
  <div
    class="col-12 col-md-6 col-lg-3 text-center q-py-sm attendant-item"
  >
    <div class="flex flex-center">
      <div
        class="icon-att shadow-4 shadow-transition q-mb-sm q-pa-xs"
      >
        <q-icon
          name="person"
          size="50px"
          :color="data.online ? 'positive' : 'negative'"
        />

        <q-tooltip v-if="data.online">
          {{ $t('commonWord.online') }}
        </q-tooltip>

        <q-tooltip v-else>
          {{ $t('commonWord.offline') }}
        </q-tooltip>
      </div>
    </div>

    <div class="name overflow-hidden">
      {{ data.name }} {{ data.lastName }}
    </div>

    <div v-if="data.departmentId">
      <b>{{ $t('attendant.dep') }}:</b> {{ departmentName }}
    </div>

    <div v-if="data.status && data.status.lastLogin">
      {{ $t('attendant.lastAccess') }}:<br>
      {{ $jsDateFormat(data.status.lastLogin.date) }}
    </div>

    <q-menu>
      <q-list style="min-width: 100px">
        <q-item
          v-close-popup
          clickable
          @click="dialog = true"
        >
          <q-item-section>{{ $t('attendant.editProfile') }}</q-item-section>
        </q-item>

        <q-item
          v-close-popup
          clickable
          @click="dialogPassword = true"
        >
          <q-item-section>{{ $t('attendant.editPassword') }}</q-item-section>
        </q-item>

        <q-item
          v-if="$isAdmin"
          v-close-popup
          clickable
          @click="dialogDepartment = true"
        >
          <q-item-section>{{ $t('attendant.editDepartment') }}</q-item-section>
        </q-item>
      </q-list>
    </q-menu>

    <attendants-update-profile
      v-model="dialog"
      :target="data"
    />

    <attendants-update-password
      v-model="dialogPassword"
      :target="data"
    />

    <attendants-update-department
      v-if="$isAdmin"
      v-model="dialogDepartment"
      :target="data"
    />
  </div>
</template>

<script>
export default {
  name: 'AttendantItem',

  components: {
    AttendantsUpdateProfile: () => import('./AttendantsUpdateProfile'),
    AttendantsUpdateDepartment: () => import('./AttendantsUpdateDepartment'),
    AttendantsUpdatePassword: () => import('./AttendantsUpdatePassword'),
  },

  props: {
    data: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      dialog: false,
      dialogPassword: false,
      dialogDepartment: false,
    };
  },

  computed: {
    department() {
      if (!this.data || !this.data.departmentId) return null;
      return this.$store.getters['member-departments/get'](this.data.departmentId);
    },

    departmentName() {
      if (!this.data.departmentId) return null;
      if (!this.department) return null;
      return this.department.name;
    },
  },

  watch: {
    data: {
      immediate: true,
      deep: true,
      handler() {
        this.loadDepartment();
      },
    },
  },

  methods: {
    loadDepartment() {
      if (!this.department && !this.data.departmentId) return;

      this.$store.dispatch('member-departments/get', this.data.departmentId);
    },
  },
};
</script>
<style lang="sass">
.attendant-item
  .name
    font-size: 24px
    height: 40px

  .icon-att
    border-radius: 50%

</style>
