<template>
  <span>{{ name }}</span>
</template>

<script>
export default {
  props: {
    id: null,
  },

  computed: {
    att() {
      if (!this.$users) return null;

      return this.$users.find((e) => e._id === this.id);
    },

    name() {
      if (this.att && this.att.profile && this.att.profile.name) return this.att.profile.name;

      return '';
    },
  },
};
</script>

<style>

</style>
