<template>
  <q-card v-if="$isAdmin || $isManager">
    <q-card-section>
      <div class="text-h6 flex">
        {{ $tc('attendant.attendant', 2) }}

        <q-space />

        <attendants-form
          v-model="dialog"
          :target="target"
          round
          flat
          dense
          icon="add"
          @input="handleInput"
        />
      </div>
    </q-card-section>
    <q-separator />

    <q-card-section>
      <div
        class="row"
      >
        <template v-for="(item, index) in users.slice(0,4)">
          <attendant-item
            :key="index"
            :data="item"
          />
        </template>
      </div>

      <q-slide-transition>
        <div
          v-if="seeMore === true"
          class="row"
        >
          <template v-for="(item, index) in users.slice(4,50)">
            <attendant-item
              :key="index"
              :data="item"
            />
          </template>
        </div>
      </q-slide-transition>
    </q-card-section>

    <q-btn
      v-if="users.length>4"
      color="primary"
      :icon-right="seeMore? 'expand_less' : 'expand_more'"
      text-color="white"
      :label="seeMore? $t('tooltip.seeLess') : $t('tooltip.seeMore')"
      class="full-width"
      @click="seeMore = !seeMore"
    />
  </q-card>
</template>

<script>
export default {
  name: 'AttendantsControls',

  components: {
    attendantsForm: () => import('./AttendantsForm'),
    AttendantItem: () => import('./AttendantItem'),
  },

  data() {
    return {
      target: null,
      dialog: false,
      seeMore: false,
      btnLabel: null,
      btnIcon: 'expand_more',
    };
  },

  computed: {
    users() {
      if (this.$isManager) {
        return this.$users.filter((e) => e.departmentId === this.$user.departmentId);
      }
      return this.$users;
    },
  },

  methods: {
    handleInput(value) {
      if (!value) {
        this.target = null;
      }
    },
  },
};
</script>
