<template>
  <div class="row admin-connections">
    <div class="col-12 q-pa-md shadow-1">
      <div class="flex items-center ">
        <q-slide-transition>
          <div
            v-show="visible || $q.screen.gt.sm"
            class="flex items-center "
          >
            <q-input
              v-model="filter"
              outlined
              clearable
              debounce="600"
              :label="$t('commonWord.search')"
              class="inline"
              style="max-width: 280px"
              @input="load()"
            />

            <q-input
              v-model="from"
              outlined
              clearable
              debounce="600"
              :label="$t('ticket.createdAfter')"
              mask="##/##/####"
              class="q-mx-md"
              style="max-width: 280px"
              @input="load()"
            />

            <q-input
              v-model="to"
              outlined
              clearable
              debounce="600"
              :label="$t('ticket.createdBefore')"
              mask="##/##/####"
              class="q-mr-md"
              style="max-width: 280px"
              @input="load()"
            />

            <q-select
              v-model="group"
              outlined
              :label="$t('commonWord.filters')"
              multiple
              use-chips
              :options="options"
              emit-value
              map-options
              color="primary"
              type="checkbox"
              style="min-width: 180px"
              @input="load()"
            />
          </div>
        </q-slide-transition>

        <q-btn
          color="primary"
          icon="refresh"
          round
          @click="load()"
        />

        <q-btn
          color="primary"
          icon="more"
          round
          class="lt-md"
          @click="visible = !visible"
        />

        <q-badge
          color="warning"
          class="q-mx-md"
          :label="`Time: ${time}`"
        />
      </div>
    </div>

    <div class="col-lg-12">
      <q-table
        :data="data"
        class="qtable-sticky"
        :columns="columns"
        virtual-scroll
        :rows-per-page-options="[0]"
        row-key="_id"
        :loading="loading"
        :pagination.sync="pagination"
        dense
        @request="load"
      >
        <template #body="props">
          <q-tr
            v-if="!props.row.disabled"
            :key="props.row._id"
            :props="props"
          >
            <q-td
              key="name"
              :props="props"
            >
              <span
                v-if="props.row.userId && props.row.userId._id"
              >

                <admin-user-details
                  :data="props.row.userId._id"
                />

                <q-icon
                  name="fiber_manual_record"
                  :class="`text-${props.row.userId.online ? 'positive' : 'negative'}`"
                />

                <q-icon
                  class="cursor-pointer"
                  name="content_copy"
                  @click="$copy(`${props.row.userId.name} ${props.row.userId.lastName}`)"
                />
              </span>
            </q-td>

            <q-td
              key="email"
              :props="props"
            >
              <span
                v-if="props.row.userId && props.row.userId._id"
              >
                {{ props.row.userId.email }}
                <q-icon
                  class="cursor-pointer"
                  name="content_copy"
                  @click="$copy(props.row.userId.email)"
                />
              </span>
            </q-td>

            <q-td
              key="preapproval"
              :props="props"
            >
              <span v-if="props.row.preapprovalPlan">
                {{ props.row.preapprovalPlan.status }}
              </span>
            </q-td>

            <q-td
              key="preapproval_created_at"
              :props="props"
            >
              <span v-if="props.row.preapprovalPlan">
                {{ $jsDateFormatMin(props.row.preapprovalPlan.createdAt) }}
              </span>
            </q-td>

            <q-td
              key="preapproval_extra_trial"
              :props="props"
            >
              <span v-if="props.row.preapprovalPlan">
                {{ $jsDateFormatMin(props.row.preapprovalPlan.extraTrial) }}
              </span>
            </q-td>

            <q-td
              key="jid"
              :props="props"
            >
              <admin-connection-details
                :data="props.row._id"
              />

              <q-icon
                class="cursor-pointer"
                name="content_copy"
                @click="$copy(props.row.jid)"
              />
            </q-td>

            <q-td
              key="MD"
              :props="props"
            >
              <span v-if="props.row.useMultidevice">
                Ativo
              </span>
              <span v-else>
                Desativado
              </span>
            </q-td>

            <q-td
              key="validatedJid"
              :props="props"
            >
              <admin-connection-validated-jid
                :data="props.row"
              />
            </q-td>

            <q-td
              key="status"
              :props="props"
            >
              {{ props.row.status }}
            </q-td>

            <q-td
              key="port"
              :props="props"
            >
              {{ props.row.port }}

              <q-popup-edit
                v-model="props.row.port"
                title="Atualizar porta"
                @save="patch(props.row._id, {'port': $event})"
              >
                <q-input
                  v-model="props.row.port"
                  dense
                  autofocus
                />
              </q-popup-edit>
            </q-td>

            <q-td
              key="actions"
              :props="props"
            >
              <admin-connection-reconnect
                size="sm"
                icon="refresh"
                round
                dense
                color="primary"
                :conn-id="props.row._id"
              />
              <admin-connection-delete
                size="sm"
                icon="delete"
                round
                dense
                class="q-mx-sm"
                color="warning"
                :conn-id="props.row._id"
              />
              <admin-connection-remove-access
                size="sm"
                icon="production_quantity_limits"
                round
                dense
                color="warning"
                :conn-id="props.row._id"
              />
              <admin-connection-add-time
                size="sm"
                icon="more_time"
                :conn-id="props.row._id"
                round
                dense
                class="q-mx-sm"
                color="primary"
                @load="load()"
              />
              <q-btn
                size="sm"
                icon="receipt"
                round
                dense
                class="q-mx-sm"
                color="primary"
                @click="defPlan(props.row)"
              />
              <admin-block-connection
                size="sm"
                :connection-id="props.row._id"
                :block-message="props.row.blockMessage"
                icon="block"
                round
                dense
                color="primary"
                @refresh="load()"
              />
              <confirm-btn
                size="sm"
                :connection-id="props.row._id"
                :block-message="props.row.blockMessage"
                icon="lock"
                round
                action="remover Auth do whatsapp"
                dense
                color="primary"
                @confirm="removeAuth(props.row._id)"
              />
            </q-td>
            <q-td
              key="user"
              :props="props"
            >
              <div v-if="props.row.blockActive">
                {{ props.row.blockMessage }}
              </div>
            </q-td>
            <q-td
              key="created_at"
              :props="props"
            >
              {{ $jsDateFormat(props.row.createdAt) }}
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </div>
</template>

<script>
import feathersClient from '../../../boot/feathers-vuex';

export default {
  name: 'AdminConnections',

  components: {
    AdminUserDetails: () => import('../../../components/adm/users/AdminUserDetails'),
    ConfirmBtn: () => import('src/components/tools/ConfirmBtn.vue'),
    AdminConnectionDetails: () => import('../../../components/adm/connections/AdminConnectionDetails'),
    AdminConnectionValidatedJid: () => import('../../../components/adm/connections/AdminConnectionValidatedJid.vue'),
    AdminConnectionAddTime: () => import('../../../components/adm/connections/AdminConnectionAddTime'),
    AdminConnectionReconnect: () => import('../../../components/adm/connections/AdminConnectionReconnect'),
    AdminConnectionRemoveAccess: () => import('../../../components/adm/connections/AdminConnectionRemoveAccess'),
    AdminBlockConnection: () => import('../../../components/adm/connections/AdminBlockConnection.vue'),
    AdminConnectionDelete: () => import('../../../components/adm/connections/AdminConnectionDelete'),
  },

  data() {
    return {
      loading: false,
      filter: '',
      perPage: 10,
      time: 0,
      from: '',
      to: '',
      visible: false,

      data: [],

      pagination: {
        page: 1,
        rowsPerPage: 0,
      },
      group: [
      ],
      options: [
        { label: 'open', value: 'open' },
        { label: 'não open', value: 'not_open' },
      ],

      columns: [
        {
          name: 'name', label: this.$t('commonWord.owner'), field: 'name', align: 'right',
        },
        {
          name: 'email', label: this.$t('form.email'), field: 'email', align: 'left',
        },
        {
          name: 'preapproval', label: this.$t('commonWord.signature'), field: 'preapproval', align: 'left',
        },
        {
          name: 'preapproval_created_at', label: this.$t('connection.subscriptionCreated'), field: 'preapproval_created_at', align: 'left',
        },
        {
          name: 'preapproval_extra_trial', label: this.$t('connection.extraTrial'), field: 'preapproval_extra_trial', align: 'left',
        },
        {
          name: 'jid', label: this.$t('connection.number'), field: 'jid', align: 'left',
        },
        {
          name: 'MD', label: 'Multidevices', field: 'MD', align: 'left',
        },
        {
          name: 'validatedJid', label: 'Validado', field: 'validatedJid', align: 'left',
        },
        {
          name: 'status', label: this.$t('commonWord.state'), field: 'status', align: 'left',
        },
        {
          name: 'port', label: this.$t('connection.port'), field: 'port', align: 'left',
        },
        {
          name: 'actions', label: '', field: 'actions', align: 'left',
        },
        {
          name: 'blocked', label: 'Bloqueado', field: 'blocked', align: 'left',
        },
        {
          name: 'created_at', label: this.$t('connection.createdWhen'), field: 'created_at', align: 'left',
        },
      ],
    };
  },

  computed: {
    adminConnectionsParams() {
      let skip = 0;
      if (this.pagination.page > 1) skip = (this.pagination.page - 1) * this.perPage;
      const result = {
        query: {
          $limit: this.perPage, $skip: skip, $populate: ['userId'], $sort: { createdAt: -1 },
        },
      };

      if (this.filter) {
        if (!Number.isNaN(this.filter) && !Number.isNaN(parseFloat(this.filter))) {
          result.query.jid = {
            $regex: `.*${this.filter}.*`,
          };
        } else {
          // result.query.$search = this.filter;
          result.query.$or = [
            { 'preapprovalPlan.status': { $regex: `.*${this.filter}.*`, $options: 'i' } },
            { usersId: this.filter },
          ];
          // result.query.$search = this.filter;
        }
      }

      if (this.group.includes('open')) {
        result.query.status = 'open';
      }

      if (this.group.includes('not_open')) {
        result.query.status = { $ne: 'open' };
      }

      if (this.from) {
        let from = this.from.split('/');
        from = new Date(from[2], from[1] - 1, from[0]);
        result.query.createdAt = { $gt: from };
      }

      if (this.to) {
        let to = this.to.split('/');
        to = new Date(to[2], to[1] - 1, to[0]);
        if (result.query.createdAt) result.query.createdAt.$lt = to;
        else result.query.createdAt = { $lt: to };
      }

      return result;
    },
  },

  created() {
    this.load();
  },

  methods: {
    removeAuth(id) {
      this.patch(id, { sessionData: null })
        .then(() => {
          this.load();
        });
    },
    patch(id, data) {
      return feathersClient.service('admin-connections').patch(id, data);
    },

    async defPlan(data) {
      this.$q.dialog({
        component: () => import('../../../components/adm/connections/AdminConnectionDefinePreapproval.vue'),
        parent: this,
        data,
      });
    },

    async load(pagination) {
      let page = 1;
      if (pagination) {
        this.pagination.page = pagination.pagination.page;
        page = this.pagination.page;
      }

      this.loading = true;
      const before = new Date().getTime();
      try {
        const res = await feathersClient.service('admin-connections').find(this.adminConnectionsParams);
        this.data = res.data;

        this.pagination = {
          page,
          rowsPerPage: this.perPage,
          rowsNumber: res.total,
        };
      } catch (error) {
        console.error(error);
        this.$notify('negative');
      }
      this.time = new Date().getTime() - before;
      this.loading = false;
    },
  },
};
</script>

<style lang="sass">
.admin-connections
  .qtable-sticky
    width: calc(100vw - 0px)
    height: calc(100vh - 123px)

    @media screen and (min-width: 1024px )
      height: calc(100vh - 143px)
      width: calc(100vw - 57px)
</style>
