<template>
  <div class="row q-gutter-md q-mx-md q-mb-xl">
    <div class="text-h6 q-py-md full-width">
      <div class="text-h6">
        {{ $t('setting.lesser') }}
      </div>
      <div class="text-subtitle2">
        {{ $t('setting.lesserControls') }}
      </div>
    </div>

    <envirioment-settings />
    <system-settings />
  </div>
</template>

<script>

export default {
  components: {
    EnviriomentSettings: () => import('../../../components/adm/settings/EnviriomentSettings'),
    SystemSettings: () => import('../../../components/adm/settings/SystemSettings'),
  },
};
</script>
