<template>
  <div class="row">
    <div class="col-12 q-pa-md shadow-1">
      <div class="flex items-center ">
        <q-input
          v-model="filter"
          outlined
          clearable
          debounce="600"
          :label="$t('commonWord.search')"
          class="inline"
          style="max-width: 280px"
          @input="load()"
        />

        <q-btn
          color="primary"
          icon="add"
          size="lg"
          class="q-mx-md"
          :label="$t('commonWord.create')"
          @click="tooltipDialog()"
        />

        <q-badge
          color="warning"
          class="q-mx-md"
          :label="`Time: ${time}`"
        />
      </div>
    </div>

    <div class="col-lg-12">
      <q-table
        :data="data"
        class="qtable-sticky"
        :columns="columns"
        virtual-scroll
        style="height: calc(100vh - 143px); width: calc(100vw - 57px)"
        :rows-per-page-options="[0]"
        row-key="_id"
        :loading="loading"
        :pagination.sync="pagination"
        dense
        @request="load"
      >
        <template #body="props">
          <q-tr
            :key="props.row._id"
            :props="props"
          >
            <q-td
              key="type"
              :props="props"
            >
              {{ props.row.type === 'notification' ? 'Notificação' : 'Emergencia' }}
            </q-td>

            <q-td
              key="forWho"
              :props="props"
            >
              {{ props.row.forWho === 'all' ? 'Todos' : 'Especifico' }}
            </q-td>

            <q-td
              key="notificationTitle"
              :props="props"
            >
              {{ props.row.notificationTitle }}
            </q-td>

            <q-td
              key="notificationText"
              :props="props"
            >
              {{ props.row.notificationText }}
            </q-td>

            <q-td
              key="title"
              :props="props"
            >
              {{ props.row.title }}
            </q-td>

            <q-td
              key="active"
              :props="props"
            >
              {{ props.row.active }}
            </q-td>

            <q-td
              key="connectionsId"
              :props="props"
            >
              {{ props.row.connectionsId }}
            </q-td>

            <q-td
              key="actions"
              :props="props"
            >
              <q-btn
                color="primary"
                icon="edit"
                round
                dense
                size="sm"
                @click="tooltipDialog(props.row)"
              />
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </div>
</template>

<script>
import feathersClient from '../../../boot/feathers-vuex';

export default {
  name: 'AdminUsers',

  components: {
  },

  data() {
    return {
      loading: false,
      filter: '',
      perPage: 10,
      time: 0,
      from: '',
      to: '',

      data: [],

      pagination: {
        page: 1,
        rowsPerPage: 0,
      },

      columns: [
        {
          name: 'type', label: 'Tipo', field: 'type', align: 'right',
        },
        {
          name: 'forWho', label: 'Para quem', field: 'forWho', align: 'left',
        },
        {
          name: 'notificationTitle', label: 'Not. Titulo', field: 'notificationTitle', align: 'left',
        },
        {
          name: 'notificationText', label: 'Not. Texto', field: 'notificationText', align: 'left',
        },
        {
          name: 'title', label: 'Titulo', field: 'title', align: 'left',
        },
        {
          name: 'active', label: 'Ativo', field: 'active', align: 'left',
        },
        {
          name: 'connectionsId', label: 'Conexões', field: 'connectionsId', align: 'left',
        },
        {
          name: 'actions', label: '', field: 'Actions', align: 'center',
        },
      ],
    };
  },

  computed: {
    tooltipsParams() {
      let skip = 0;
      if (this.pagination.page > 1) skip = (this.pagination.page - 1) * this.perPage;
      const result = {
        query: {
          $limit: this.perPage, $skip: skip, $sort: { createdAt: -1 },
        },
      };

      if (this.filter) {
        // result.query.$search = this.filter;
        result.query.$or = [
          { email: { $regex: `.*${this.filter}.*`, $options: 'i' } },
          { name: { $regex: `.*${this.filter}.*`, $options: 'i' } },
          { lastName: { $regex: `.*${this.filter}.*`, $options: 'i' } },
        ];
        // result.query.$search = this.filter;
      }

      return result;
    },
  },

  created() {
    this.load();
  },

  methods: {
    tooltipDialog(data) {
      this.$q.dialog({
        parent: this,
        data,
        component: () => import('../../../components/adm/tooltip/TooltipDialog.vue'),
      }).onOk(() => {
        this.load();
      });
    },

    async load(pagination) {
      let page = 1;
      if (pagination) {
        this.pagination.page = pagination.pagination.page;
        page = this.pagination.page;
      }

      this.loading = true;
      const before = new Date().getTime();
      try {
        const res = await feathersClient.service('tooltips').find(this.tooltipsParams);
        this.data = res.data;

        this.pagination = {
          page,
          rowsPerPage: this.perPage,
          rowsNumber: res.total,
        };
      } catch (error) {
        console.error(error);
        this.$notify('negative', 'Um erro aconteceu');
      }
      this.time = new Date().getTime() - before;
      this.loading = false;
    },
  },
};
</script>
