<template>
  <div class="row admin-users">
    <div class="col-12 q-pa-md shadow-1">
      <div class="flex items-center ">
        <q-slide-transition>
          <div
            v-show="visible || $q.screen.gt.sm"
            class="flex items-center "
          >
            <q-input
              v-model="filter"
              outlined
              clearable
              debounce="600"
              :label="$t('commonWord.search')"
              class="q-mx-sm inline"
              style="max-width: 280px"
              @input="load(pagination)"
            />

            <q-input
              v-model="from"
              outlined
              clearable
              debounce="600"
              :label="$t('ticket.createdAfter')"
              mask="##/##/####"
              class="q-mx-sm"
              style="max-width: 280px"
              @input="load()"
            />

            <q-input
              v-model="to"
              outlined
              clearable
              debounce="600"
              :label="$t('ticket.createdBefore')"
              mask="##/##/####"
              class="q-mx-sm"
              style="max-width: 280px"
              @input="load()"
            />

            <q-select
              v-model="group"
              outlined
              :label="$t('commonWord.filters')"
              multiple
              use-chips
              :options="options"
              emit-value
              map-options
              color="primary"
              class="q-mx-sm"
              type="checkbox"
              style="min-width: 180px"
              @input="load()"
            />
          </div>
        </q-slide-transition>

        <q-btn
          color="primary"
          icon="refresh"
          round
          @click="load()"
        />

        <q-btn
          color="primary"
          icon="more"
          round
          class="lt-md"
          @click="visible = !visible"
        />

        <q-badge
          color="warning"
          class="q-mx-sm"
          :label="`Time: ${time}`"
        />
      </div>
    </div>

    <div class="col-lg-12">
      <q-table
        :data="data"
        class="qtable-sticky"
        :columns="columns"
        virtual-scroll
        :rows-per-page-options="[0]"
        row-key="_id"
        :loading="loading"
        :pagination.sync="pagination"
        dense
        @request="load"
      >
        <template #body="props">
          <q-tr
            :key="props.row._id"
            :props="props"
          >
            <q-td
              key="name"
              :props="props"
            >
              <admin-user-details
                :data="props.row._id"
              />

              <q-icon
                name="fiber_manual_record"
                :class="`text-${props.row.online ? 'positive' : 'negative'}`"
              />

              <q-icon
                class="cursor-pointer"
                name="content_copy"
                @click="$copy(`${props.row.name} ${props.row.lastName}`)"
              />
            </q-td>

            <q-td
              key="email"
              :props="props"
            >
              {{ props.row.email }}
              <q-icon
                class="cursor-pointer"
                name="content_copy"
                @click="$copy(props.row.email)"
              />
            </q-td>

            <q-td
              key="connections"
              :props="props"
            >
              <template
                v-for="(item) in props.row.connsId"
              >
                <admin-connection-details
                  :key="item._id"
                  :data="item._id"
                />

                <q-icon
                  :key="`copy_${item._id}`"
                  class="cursor-pointer"
                  name="content_copy"
                  @click="$copy(item.jid)"
                />
              </template>
            </q-td>

            <q-td
              key="conn_state"
              :props="props"
            >
              <span
                v-for="(item) in props.row.connsId"
                :key="`conn_state_${item._id}`"
              >
                {{ item.status }}
              </span>
            </q-td>

            <q-td
              key="preapproval"
              :props="props"
            >
              <span
                v-for="(item) in props.row.connsId"
                :key="`preapproval_${item._id}`"
              >
                <span v-if="item.preapprovalPlan">
                  {{ item.preapprovalPlan.status }}
                </span>
              </span>
            </q-td>

            <q-td
              key="actions"
              :props="props"
            >
              <admin-user-force-refresh
                size="sm"
                class="q-my-sm"
                icon="refresh"
                round
                dense
                color="primary"
                :user-id="props.row._id"
              />
            </q-td>

            <q-td
              key="owner"
              class="text-left"
              :props="props"
            >
              <admin-user-details
                :data="props.row.userId._id"
              />

              <q-icon
                name="fiber_manual_record"
                :class="`text-${props.row.userId.online ? 'positive' : 'negative'}`"
              />

              <q-icon
                class="cursor-pointer"
                name="content_copy"
                @click="$copy(`${props.row.userId.name} ${props.row.userId.lastName}`)"
              />
            </q-td>

            <q-td
              key="createdAt"
              :props="props"
            >
              {{ $jsDateFormat(props.row.createdAt) }}
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </div>
</template>

<script>
import feathersClient from '../../../boot/feathers-vuex';

export default {
  name: 'AdminUsers',

  components: {
    AdminUserDetails: () => import('../../../components/adm/users/AdminUserDetails'),
    AdminConnectionDetails: () => import('../../../components/adm/connections/AdminConnectionDetails'),
    AdminUserForceRefresh: () => import('../../../components/adm/users/AdminUserForceRefresh'),
  },

  data() {
    return {
      loading: false,
      filter: '',
      perPage: 10,
      time: 0,
      from: '',
      to: '',
      visible: false,

      data: [],

      pagination: {
        page: 1,
        rowsPerPage: 0,
      },
      group: [
        'online',
      ],
      options: [
        { label: this.$t('setting.onlyOnline'), value: 'online' },
      ],

      columns: [
        {
          name: 'name', label: this.$t('form.name'), field: 'name', align: 'right',
        },
        {
          name: 'email', label: this.$t('form.email'), field: 'email', align: 'left',
        },
        {
          name: 'connections', label: this.$tc('commonWord.connection', 2), field: 'connection', align: 'left',
        },
        {
          name: 'conn_state', label: this.$t('connection.conState'), field: 'conn_state', align: 'left',
        },
        {
          name: 'preapproval', label: this.$t('commonWord.signature'), field: 'preapproval', align: 'left',
        },
        {
          name: 'actions', label: '', field: 'Actions', align: 'center',
        },
        {
          name: 'owner', label: this.$t('commonWord.superior'), field: 'owner', align: 'left',
        },
        {
          name: 'createdAt', label: this.$t('connection.createdWhen'), field: 'createdAt', align: 'left',
        },
      ],
    };
  },

  computed: {
    adminUsersParams() {
      let skip = 0;
      if (this.pagination.page > 1) skip = (this.pagination.page - 1) * this.perPage;
      const result = {
        query: {
          $limit: this.perPage, $skip: skip, $populate: ['connsId', 'userId'], $sort: { createdAt: -1 },
        },
      };

      if (this.filter) {
        // result.query.$search = this.filter;
        result.query.$or = [
          { email: { $regex: `.*${this.filter}.*`, $options: 'i' } },
          { name: { $regex: `.*${this.filter}.*`, $options: 'i' } },
          { lastName: { $regex: `.*${this.filter}.*`, $options: 'i' } },
        ];
        // result.query.$search = this.filter;
      }

      if (this.from) {
        let from = this.from.split('/');
        from = new Date(from[2], from[1] - 1, from[0]);
        result.query.createdAt = { $gt: from };
      }

      if (this.to) {
        let to = this.to.split('/');
        to = new Date(to[2], to[1] - 1, to[0]);
        if (result.query.createdAt) result.query.createdAt.$lt = to;
        else result.query.createdAt = { $lt: to };
      }

      if (this.group.includes('online')) {
        result.query.online = true;
      }

      return result;
    },
  },

  created() {
    this.load();
  },

  methods: {
    async load(pagination) {
      let page = 1;
      if (pagination) {
        this.pagination.page = pagination.pagination.page;
        page = this.pagination.page;
      }

      this.loading = true;
      const before = new Date().getTime();
      try {
        const res = await feathersClient.service('admin-users').find(this.adminUsersParams);
        this.data = res.data;

        this.pagination = {
          page,
          rowsPerPage: this.perPage,
          rowsNumber: res.total,
        };
      } catch (error) {
        console.error(error);
        this.$notify('negative');
      }
      this.time = new Date().getTime() - before;
      this.loading = false;
    },

    toogleRole(/* userId, role, value */) {
      // this.$meteor.call('admin.toggleRole', userId, role, value);
    },

    impersonate(user) {
      feathersClient.service('admin-impersonate').get(user._id);
      // this.$store.commit('realSave');
      // this.$meteor.call('admin.impersonate', { user }, (e) => {
      //   if (e) return this.$notify('negative', 'Um erro aconteceu');
      //   this.$router.replace({ name: 'dashboard' });
      //   this.$store.commit('user', user);
      // });
    },
  },
};
</script>

<style lang="sass">
.admin-users
  .qtable-sticky
    width: calc(100vw - 0px)
    height: calc(100vh - 123px)

    @media screen and (min-width: 1024px )
      height: calc(100vh - 143px)
      width: calc(100vw - 57px)
</style>
