<template>
  <q-btn
    color="primary"
    class="full-width"
    :label="$t('connection.settingsOf')"
    @click="dialog = true"
  >
    <q-dialog
      v-model="dialog"
      @before-show="onBeforeShow"
    >
      <q-card style="min-width: 300px;">
        <q-form @submit="submit">
          <q-card-section>
            <div class="text-h6">
              {{ $t('connection.settingsOf') }}
            </div>
          </q-card-section>

          <q-separator />

          <q-card-section
            class="scroll"
            style="height: calc(100vh - 240px)"
          >
            <q-toggle
              v-model="form.disableAutoImportUnreadMessages"
              :label="$t('connection.settingDisableAutoImportUnreadMessages')"
            />

            <q-toggle
              v-model="form.disableForceUseHere"
              :label="$t('connection.settingDisableForceUseHere')"
            />

            <q-toggle
              v-model="form.disableWaitChats"
              :label="$t('connection.settingDisableWaitChats')"
            />

            <q-toggle
              v-model="form.activeChatbot"
              :label="$t('connection.settingActiveChatbot')"
              class="full-width"
            />

            <q-toggle
              v-model="form.blockDirectToPhone"
              :label="$t('connection.settingBlockDirectToPhone')"
            />

            <q-toggle
              v-model="form.allowAllReconnect"
              :label="$t('connection.settingAllowAllReconnect')"
            />

            <q-toggle
              v-model="form.apiEnable"
              :label="$t('connection.settingApiEnable')"
              class="full-width"
            />

            <q-toggle
              v-model="form.chatsEnable"
              :label="$t('setting.simpleMode')"
            />

            <q-toggle
              :value="form.useMultidevice"
              :label="$t('setting.useMultidevice')"
              @input="confirmUseMultidevice"
            />
          </q-card-section>

          <q-separator />

          <q-card-actions align="right">
            <q-btn
              v-close-popup
              :disabled="loading"
              :label="$t('commonWord.cancel')"
              color="primary"
            />
            <q-btn
              :loading="loading"
              :label="$t('commonWord.send')"
              color="primary"
              type="submit"
            />
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>
  </q-btn>
</template>

<script>
import feathersClient from 'src/boot/feathers-vuex';

export default {
  name: 'ConnectionSettingsDialog',

  data() {
    return {
      dialog: false,
      loading: false,
      dev: process.env.DEV,

      form: {
        disableAutoImportUnreadMessages: false,
        disableForceUseHere: false,
        disableWaitChats: false,
        allowAllReconnect: false,
        activeChatbot: false,
        blockDirectToPhone: false,
        apiEnable: false,
        chatsEnable: false,
        useMultidevice: false,
      },
    };
  },

  methods: {
    onBeforeShow() {
      this.form.disableAutoImportUnreadMessages = this.$connections[0].disableAutoImportUnreadMessages;
      this.form.disableForceUseHere = this.$connections[0].disableForceUseHere;
      this.form.disableWaitChats = this.$connections[0].disableWaitChats;
      this.form.activeChatbot = this.$connections[0].activeChatbot;
      this.form.blockDirectToPhone = this.$connections[0].blockDirectToPhone;
      this.form.allowAllReconnect = this.$connections[0].allowAllReconnect;
      this.form.apiEnable = this.$connections[0].apiEnable;
      this.form.chatsEnable = this.$connections[0].chatsEnable;
      this.form.useMultidevice = this.$connections[0].useMultidevice;
    },

    confirmUseMultidevice(value) {
      this.$q.dialog({
        title: this.$t('message.defaultConfirmBtn'),
        message: this.$t('setting.confirmUseMultidevice'),
        cancel: {
          label: this.$t('commonWord.no'),
          color: 'primary',
        },
        ok: {
          label: this.$t('commonWord.yes'),
          flat: true,
          color: 'negative',
        },
      }).onOk(async () => {
        for (let index = 0; index < this.$connections.length; index += 1) {
          const item = this.$connections[index];

          await feathersClient.service('connection-controller').remove(item._id).catch(() => {});

          this.$store.dispatch('member-connections/patch', [
            item._id,
            { sessionData: null },
          ]);
        }

        this.form.useMultidevice = value;
      });
    },

    async submit() {
      this.loading = true;

      const promises = [];
      // eslint-disable-next-line no-restricted-syntax
      for (let index = 0; index < this.$connections.length; index += 1) {
        const item = this.$connections[index];

        promises.push(
          this.$store.dispatch('member-connections/patch', [
            item._id,
            this.form,
          ]),
        );
      }

      try {
        await Promise.all(promises);
        this.dialog = false;
      } catch (error) {
        console.error(error);
        this.$notify('negative');
      }

      this.loading = false;
    },
  },
};
</script>
