<template>
  <div
    v-if="data"
    class="flex cursor-pointer flex-center q-mr-md rounded-borders shadow-4 shadow-transition q-ma-sm q-pa-sm"
  >
    <q-menu>
      <q-list style="min-width: 100px">
        <q-item
          v-if="$isPaymentOk(data) && allowReconnect && !data.disabled"
          v-close-popup
          clickable
          @click="$reconnectDialog(data)"
        >
          <q-item-section
            v-if=" (data.meta && data.meta.validatedJid) ||
              data.status !== 'not_created'
            "
          >
            {{ $t('connection.reconnect') }}
          </q-item-section>
          <q-item-section
            v-else
          >
            {{ $t('connection.connectWhatsapp') }}
          </q-item-section>
        </q-item>
        <q-item-label
          v-else-if="allowReconnect && !data.disabled"
          header
        >
          {{ $t('connection.checkPreapproval') }}
        </q-item-label>

        <q-separator />

        <div
          v-if="
            $isAdmin
              && (
                (data.meta && data.meta.validatedJid) ||
                data.status !== 'not_created'
              )"
        >
          <q-item-label header>
            {{ $t('connection.aboutPreapproval') }}
          </q-item-label>

          <q-item>
            <q-item-section v-if="!hasPreapproval || !data.preapprovalPlan">
              {{ $t('connection.preapprovalNotConfigured') }}
            </q-item-section>
            <q-item-section v-else-if="preapprovalStatus === 'created'">
              {{ $t('connection.preapprovalCreated') }}
            </q-item-section>
            <q-item-section v-else-if="preapprovalStatus === 'ACTIVE'">
              {{ $t('connection.preapprovalActive') }}
              ({{ data.preapprovalPlan === 'stripe' ? 'Stripe' : 'PagSeguro' }})
            </q-item-section>
            <q-item-section v-else-if="preapprovalStatus === 'PENDING'">
              {{ $t('connection.preapprovalWaitingProcess') }}
            </q-item-section>
            <q-item-section v-else-if="preapprovalStatus === 'REVOKED'">
              {{ $t('payment.negated') }}
            </q-item-section>
            <q-item-section v-else>
              {{ $t('commonWord.state') }}: {{ data.preapprovalPlan.status }}
            </q-item-section>
          </q-item>

          <q-item
            v-if="hasPreapproval && !data.preapprovalPlan.type"
            v-close-popup
            clickable
            @click="cancelPreapprovalDialog"
          >
            <q-item-section>
              {{ $t('connection.preapprovalCancel') }}
            </q-item-section>
          </q-item>

          <q-item
            v-if="hasPreapproval && data.preapprovalPlan.type === 'stripe'"
            v-close-popup
            clickable
            @click="cancelPreapprovalStripeDialog"
          >
            <q-item-section>{{ $t('connection.preapprovalCancel') }}</q-item-section>
          </q-item>

          <q-item
            v-if="!hasPreapproval && canUsePagseguro && false"
            v-close-popup
            clickable
            @click="$connectionPaymentDialog(data)"
          >
            <q-item-section>{{ $t('subscription.configPagSeguro') }}</q-item-section>
          </q-item>
          <q-item
            v-if="!hasPreapproval && false"
            v-close-popup
            clickable
            @click="connectionStripePaymentDialog(data)"
          >
            <q-item-section>{{ $t('subscription.configStripe') }}</q-item-section>
          </q-item>

          <q-item>
            <q-toggle
              v-model="toggleConnection"
            />
            <q-item-section>{{ $t('connection.disableIt') }}</q-item-section>
          </q-item>

          <!-- <q-item
            v-if="hasPreapproval"
            v-close-popup
            clickable
            @click="$connectionPaymentDialog(data)"
          >
            <q-item-section>Atualizar dados de pagamento</q-item-section>
          </q-item> -->
        </div>
      </q-list>
    </q-menu>

    <q-tooltip v-if="allowReconnect">
      {{ $t('connection.reconnectClick') }}
      <span v-if="$isAdmin">
        {{ $t('connection.adminPreapprovalOr') }}
      </span>
    </q-tooltip>

    <div style="border-right: 1px solid rgba(0, 0, 0, 0.12);">
      <q-icon
        v-if="!data.disabled"
        name="fab fa-whatsapp"
        size="30px"
        :color="data.status && data.status === 'open' ? 'positive' : 'negative'"
      />
      <q-icon
        v-if="data.disabled"
        name="fab fa-whatsapp"
        size="30px"
        color="grey"
      />

      <q-tooltip v-if="data.status && data.status === 'open'">
        {{ $t('commonWord.online') }}
      </q-tooltip>

      <q-tooltip v-else>
        {{ $t('commonWord.offline') }}
      </q-tooltip>
    </div>

    <div
      v-if="data.meta && data.meta.validatedJid"
      class="q-pa-sm"
      style="font-size: 20px"
    >
      {{ data.connectionNickname || data.jid }}
    </div>
    <div
      v-else-if="data.disabled"
      class="q-pa-sm"
      style="font-size: 20px"
    >
      {{ $t('connection.disabled') }}
    </div>
    <div
      v-else
      class="q-pa-sm"
      style="font-size: 20px"
    >
      {{ $t('connection.notValidatedJid') }}
    </div>

    <q-btn
      v-if="
        data.status !== 'open'
          && !data.disabled
          && allowReconnect
          && (
            (data.meta && data.meta.validatedJid) ||
            data.status !== 'not_created'
          )
      "
    >
      {{ $t('connection.connect') }}
    </q-btn>

    <q-btn
      v-else-if="!(
        (data.meta && data.meta.validatedJid) ||
        data.status !== 'not_created'
      )"
      color="negative"
      @click.stop="$reconnectDialog(data)"
    >
      {{ $t('connection.whatsappNotYetConnected') }}
    </q-btn>
  </div>
</template>

<script>
import feathersClient from '../../boot/feathers-vuex';

export default {
  name: 'ConnectionControlItem',

  props: {
    data: null,
    instagramCode: { default: '' },
    hasPaid: Boolean,
  },

  data() {
    return {
      showDetails: true,
      toggleConnection: false,
    };
  },

  mounted() {
    if (this.data.preapprovalPlan.status === 'requested' && this.data.preapprovalPlan.type === 'stripe') this.cancelPreapprovalStripe();
    if (this.data.disabled) this.toggleConnection = true;
  },

  watch: {
    toggleConnection() {
      const toggle = this.toggleConnection;
      this.$store.dispatch('member-connections/patch', [this.data._id, { disabled: toggle }]);
      if (toggle) {
        feathersClient.service('connection-controller').remove(this.data._id, {});
      } else {
        this.$store.dispatch('member-connections/patch', [this.data._id, { disabled: toggle, status: 'opening' }]);
      }
    },
  },

  computed: {
    canUsePagseguro() {
      return this.$store.state.canUsePagseguro;
    },

    allowReconnect() {
      if (this.$isAdmin) return true;
      if (this.$connections[0].allowAllReconnect) return true;
      return false;
    },

    preapprovalStatus() {
      if (!this.data.preapprovalPlan) return false;
      return this.data.preapprovalPlan.status;
    },

    hasPreapproval() {
      if (!this.data.preapprovalPlan) return false;
      return !['CANCELLED', 'REVOKED', 'TRIAL', 'REFUNDED', 'revoked'].includes(this.data.preapprovalPlan.status);
    },
  },

  methods: {
    connectionStripePaymentDialog(data) {
      this.$q.dialog({
        component: () => import('../stripe/StripePaymentDialog.vue'),
        data,
      });
    },

    cancelPreapprovalStripeDialog() {
      this.$q.dialog({
        title: 'Atenção',
        message: this.$t('connection.preapprovalRemoveWarning'),
        ok: {
          flat: true,
          label: this.$t('commonWord.yesPlease'),
        },
        cancel: {
          label: this.$t('commonWord.no'),
        },

      }).onOk(() => {
        this.cancelPreapprovalStripe();
      });
    },

    cancelPreapprovalDialog() {
      this.$q.dialog({
        title: this.$t('commonWord.attention'),
        message: this.$t('connection.preapprovalRemoveWarning'),
        ok: {
          flat: true,
          label: this.$t('commonWord.yesPlease'),
        },
        cancel: {
          label: this.$t('commonWord.no'),
        },

      }).onOk(() => {
        this.cancelPreapproval();
      });
    },

    async cancelPreapprovalStripe() {
      this.$q.loading.show();

      try {
        // feathersClient.service('pagseguro-preapprovals').timeout = 30000;

        await feathersClient.service('stripe-session').remove(this.data._id);
        this.$notify('warning', this.$t('connection.preapprovalCancelledSuccess'));
        this.dialog = false;
      } catch (error) {
        this.$notify('negative');
        console.error(error);
      }

      this.$q.loading.hide();
    },

    async cancelPreapproval() {
      this.$q.loading.show();

      try {
        feathersClient.service('pagseguro-preapprovals').timeout = 30000;

        await feathersClient.service('pagseguro-preapprovals').remove(this.data._id);
        this.$notify('warning', this.$t('connect.preapprovalCancelledSuccess'));
        this.dialog = false;
      } catch (error) {
        this.$notify('negative');
        console.error(error);
      }

      this.$q.loading.hide();
    },
  },
};
</script>
