<template>
  <q-card>
    <q-card-section class="flex">
      <div class="text-h6 flex">
        {{ $tc('commonWord.connection', 2) }}
      </div>

      <q-space />

      <connection-add
        v-if="$isAdmin && false"
        round
        flat
        dense
        icon="add"
      />
    </q-card-section>

    <q-separator />

    <q-card-section class="flex">
      <template
        v-for="conn in $connections"
      >
        <connection-control-item
          :key="conn._id"
          :has-paid="hasPaid(conn)"
          :data="conn"
        />
      </template>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  components: {
    ConnectionControlItem: () => import('./ConnectionControlItem.vue'),
    ConnectionAdd: () => import('./ConnectionAdd.vue'),
  },

  methods: {
    // eslint-disable-next-line no-unused-vars
    hasPaid(item) {
      return true;
      // if (!this.$transactions) return false || item.active
      // return this.$transactions.some(e => JSON.stringify(e.connectionId) === JSON.stringify(item._id)) || item.active
    },
  },

};
</script>

<style>
</style>
