<template>
  <q-dialog
    v-model="dialog"
    @hide="handleHide"
  >
    <q-card>
      <q-card-section class="">
        <div class="text-h6">
          {{ $t('connection.chooseTitle') }}:
        </div>
      </q-card-section>

      <q-list
        bordered
        separator
      >
        <template v-for="item in $connections">
          <q-item
            v-if="!item.disabled"
            :key="item._id"
            v-ripple
            clickable
            :disabled="!$isPaymentOk(item) && !filter.allowAll"
            @click="send(item)"
          >
            <q-item-section avatar>
              <q-icon
                color="primary"
                name="fab fa-whatsapp"
              />
            </q-item-section>

            <q-item-section>{{ item.connectionNickname || item.jid }}</q-item-section>
          </q-item>
        </template>
      </q-list>

      <q-card-actions align="right">
        <q-btn
          v-close-popup
          label="Cancelar"
          color="primary"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import Vue from 'vue';

export default {
  data() {
    return {
      dialog: false,
      should: null,
      resolve: null,
      reject: null,
      filter: {
        allowAll: false,
      },
      returnObject: null,
    };
  },

  created() {
    Vue.prototype.$selectConnection = this.handleSelectConnection;
  },

  beforeDestroy() {
  },

  methods: {
    handleSelectConnection(e) {
      return new Promise((resolve, reject) => {
        if (this.$connections.length === 1) {
          const resolveObj = JSON.parse(JSON.stringify(this.$connections[0]));
          resolve(resolveObj);
          return;
        }

        this.dialog = true;
        this.should = null;

        if (e) this.filter = e;

        this.resolve = resolve;
        this.reject = reject;
      });
    },

    handleHide() {
      this.dialog = false;

      this.filter = {
        allowAll: false,
      };

      if (this.should === 'resolve') {
        const resolve = JSON.parse(JSON.stringify(this.returnObject));
        this.returnObject = false;
        this.resolve(resolve);
      } else {
        this.returnObject = false;
        this.reject();
      }
    },

    send(e) {
      if (!this.$isPaymentOk(e) && !this.filter.allowAll) return;
      this.returnObject = e;
      this.should = 'resolve';
      this.dialog = false;
    },

    // hasPaid(item) {
    hasPaid() {
      return true;
      // return this.transactions.some(e => JSON.stringify(e.connectionId) === JSON.stringify(item._id)) || item.active
    },
  },
};
</script>
