<template>
  <q-btn
    v-bind="$attrs"
    @click="dialog = true"
  >
    <q-dialog
      v-model="dialog"
      @show="handleShow"
      @hide="handleHide"
    >
      <q-card style="min-width: 300px;">
        <q-form @submit="submit">
          <q-card-section>
            <div
              v-if="!form._id"
              class="text-h6"
            >
              {{ $t('connection.addTitle') }}
            </div>
            <div
              v-else
              class="text-h6"
            >
              {{ $t('connection.editTitle') }}
            </div>
          </q-card-section>

          <q-separator />

          <q-card-section
            class="scroll"
            style="height: calc(100vh - 240px)"
          >
            <div
              v-if="!basic"
            >
              <q-input
                ref="jid"
                v-model="form.jid"
                class="q-my-sm"
                outlined
                :disabled="loading"
                mask="+## (##) #####-####"
                :label="$t('form.whatsappNumber')"
                autofocus
                :rules="[$data.$rules.required]"
                :lazy-rules="true"
              />
            </div>
          </q-card-section>

          <q-separator />

          <q-card-actions align="right">
            <q-btn
              v-close-popup
              :label="$t('commonWord.cancel')"
              color="primary"
            />
            <q-btn
              flat
              :label="$t('commonWord.send')"
              color="primary"
              type="submit"
            />
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>
  </q-btn>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'ConnectionAdd',

  props: {
    target: null,
    basic: Boolean,
  },

  data() {
    return {
      dialog: false,
      loading: false,

      form: {
        _id: null,
        type: 'whatsapp',
        jid: '',
      },
    };
  },

  methods: {
    ...mapActions('member-connections', ['create']),
    handleShow() {
      if (this.target) {
        this.form._id = this.target._id ? this.target._id : null;
        this.form.type = this.target.type;
        this.form.jid = this.target.jid;
      }
    },

    async submit() {
      await this.$resetValidation(this.form);
      if (!(await this.$validate(this.form))) return;

      this.loading = true;

      const form = JSON.parse(JSON.stringify(this.form));
      form.jid = form.jid.split(' ').join('')
        .split('(').join('')
        .split(')')
        .join('')
        .split('+')
        .join('')
        .split('-')
        .join('');

      try {
        await this.create(form);
        this.$notify('positive', this.$t('connection.creationSuccess'));
        this.dialog = false;
      } catch (error) {
        console.error(error);
        let message = '';
        if (error.message === 'jid: value already exists.') message = this.$t('chatbot.whatsappAlreadyRegistered');
        this.$notify('negative', message);
      }
    },

    handleHide() {
      this.$emit('input', false);
      this.form._id = null;
      this.form.type = 'whatsapp';
      this.form.jid = '';
    },
  },
};
</script>

<style>
</style>
