<template>
  <span v-if="!conn.useMultidevice">
    <q-icon :name="getIcon(conn)" />

    <span v-if="conn.battery">
      {{ conn.battery.value }}%
    </span>

    <q-tooltip v-if="$connections.length === 1">
      {{ getDesc(conn) }}
    </q-tooltip>
    <q-tooltip v-else>
      <div
        v-for="(item, index) in $connections"
        :key="index"
      >
        <span v-if="item.battery">
          <q-icon :name="getIcon(item)" />
          {{ getDesc(item) }}

          <span v-if="item.battery">
            {{ item.battery.value }}%
          </span>

          ({{ item.jid }})
        </span>
      </div>
    </q-tooltip>
  </span>
</template>

<script>
export default {
  name: 'ConnectionBatteryStatus',

  computed: {
    conn() {
      if (!this.$connections || !this.$connections.length) return null;
      return this.$connections[0];
    },
  },

  methods: {
    getDesc(conn) {
      if (!conn.battery) return this.$t('connection.batteryStatusUnknow');
      if (conn.battery.live === 'true') return this.$t('connection.batteryStatusLive');
      if (conn.battery.powersave === 'true') return this.$t('connection.batteryStatusSave');
      return this.$t('connection.batteryStatus');
    },

    getIcon(conn) {
      if (!conn.battery) return 'battery_unknown';
      if (conn.battery.live === 'true') return 'battery_charging_full';
      if (conn.battery.powersave === 'true') return 'battery_saver';
      return 'battery_full';
    },
  },
};
</script>
