<template>
  <q-dialog
    v-model="dialog"
    maximized
    @hide="handleHide"
    @show="onShow"
  >
    <q-card>
      <q-card-section class="">
        <div class="text-h6">
          {{ $t('connection.preapprovalCancelTitle') }}:
        </div>
      </q-card-section>

      <q-separator />

      <q-card-section
        class="scroll"
        style="height: calc(100vh - 118px)"
      >
        <div class="row">
          <div class="q-mx-auto col-lg-4 col-12">
            <q-banner class="bg-info text-white text-center q-mb-md">
              <h6 class="q-ma-none q-pa-none">
                {{ $t('connection.preapprovalValueLine') }}<br>
                {{ $t('connection.canChange') }}
              </h6>
            </q-banner>
          </div>
        </div>

        <q-banner
          v-if="!accept"
          class="bg-negative text-white"
        >
          <b>{{ $t('commonWord.attention') }}!</b> {{ $env.formattedName }} {{ $t('connection.preapprovalValueAttention') }}
          <template #action>
            <q-btn
              push
              color="black"
              dark
              :label="$t('connection.attentionAccept')"
              @click="accept = true"
            />
          </template>
        </q-banner>

        <q-stepper
          v-else
          v-model="step"
          vertical
          class="q-pt-none"
          color="primary"
          flat
          animated
        >
          <q-step
            :name="1"
            :title="$t('form.payerData')"
            icon="settings"
            :done="step > 1"
          >
            <q-form @submit="submitSender">
              <q-input
                ref="name"
                v-model="formSender.name"
                :disabled="loading"
                outlined
                :label="$t('form.name')"
                :rules="[$data.$rules.required]"
                :lazy-rules="true"
              />

              <q-input
                ref="email"
                v-model="formSender.email"
                :disabled="loading"
                outlined
                :label="$t('form.email')"
                :rules="[$data.$rules.required]"
                :lazy-rules="true"
              />

              <div class="row q-col-gutter-md">
                <div class="col-2">
                  <q-input
                    ref="areaCode"
                    v-model="formSender.phone.areaCode"
                    :disabled="loading"
                    outlined
                    :label="$t('form.ddd')"
                    :rules="[$data.$rules.required]"
                    :lazy-rules="true"
                    mask="##"
                  />
                </div>

                <div class="col-10">
                  <q-input
                    ref="number"
                    v-model="formSender.phone.number"
                    :disabled="loading"
                    outlined
                    :label="$t('form.phone')"
                    :rules="[$data.$rules.required]"
                    :lazy-rules="true"
                    mask="#####-####"
                  />
                </div>
              </div>

              <q-stepper-navigation>
                <q-btn
                  type="submit"
                  color="primary"
                  :label="$t('commonWord.continue')"
                />
              </q-stepper-navigation>
            </q-form>
          </q-step>

          <q-step
            :name="2"
            :title="$t('form.address')"
            icon="map"
            :done="step > 2"
          >
            <q-form @submit="submitAddress">
              <div class="row q-col-gutter-md">
                <div class="col-9">
                  <q-input
                    ref="street"
                    v-model="formAddress.street"
                    :disabled="loading"
                    autofocus
                    outlined
                    :label="$t('form.street')"
                    :rules="[$data.$rules.required]"
                    :lazy-rules="true"
                  />
                </div>

                <div class="col-3">
                  <q-input
                    ref="number"
                    v-model="formAddress.number"
                    :disabled="loading"
                    outlined
                    :label="$t('form.number')"
                    :rules="[$data.$rules.required]"
                    :lazy-rules="true"
                  />
                </div>

                <div class="col-12">
                  <q-input
                    ref="complement"
                    v-model="formAddress.complement"
                    :disabled="loading"
                    outlined
                    :label="$t('form.complement')"
                  />
                </div>

                <div class="col-3">
                  <q-input
                    ref="district"
                    v-model="formAddress.district"
                    :disabled="loading"
                    outlined
                    :label="$t('form.district')"
                    :rules="[$data.$rules.required]"
                    :lazy-rules="true"
                  />
                </div>

                <div class="col-3">
                  <q-input
                    ref="city"
                    v-model="formAddress.city"
                    :disabled="loading"
                    outlined
                    :label="$t('form.city')"
                    :rules="[$data.$rules.required]"
                    :lazy-rules="true"
                  />
                </div>

                <div class="col-3">
                  <q-select
                    ref="state"
                    v-model="formAddress.state"
                    :disabled="loading"
                    :options="options.states"
                    outlined
                    :label="$t('form.state')"
                    :rules="[$data.$rules.required]"
                    :lazy-rules="true"
                  />
                </div>

                <div class="col-3">
                  <q-input
                    ref="postalCode"
                    v-model="formAddress.postalCode"
                    :disabled="loading"
                    outlined
                    :label="$t('form.postalCode')"
                    mask="##.###-###"
                    :rules="[$data.$rules.required]"
                    :lazy-rules="true"
                  />
                </div>
              </div>

              <q-stepper-navigation>
                <q-btn
                  flat
                  :label="$t('commonWord.back')"
                  @click="step--"
                />
                <q-btn
                  type="submit"
                  color="primary"
                  :label="$t('commonWord.continue')"
                />
              </q-stepper-navigation>
            </q-form>
          </q-step>

          <q-step
            :name="3"
            :title="$tc('form.document', 2)"
            icon="map"
            :done="step > 3"
          >
            <q-form @submit="submitDocuments">
              <div class="row q-col-gutter-md">
                <div class="col-9">
                  <q-input
                    ref="cpf"
                    v-model="formDocuments[0].value"
                    :disabled="loading"
                    autofocus
                    outlined
                    :label="$t('form.cpf')"
                    mask="###.###.###-##"
                    :rules="[$data.$rules.required]"
                    :lazy-rules="true"
                  />
                </div>
              </div>

              <q-stepper-navigation>
                <q-btn
                  flat
                  :label="$t('commonWord.back')"
                  @click="step--"
                />
                <q-btn
                  type="submit"
                  color="primary"
                  :label="$t('commonWord.continue')"
                />
              </q-stepper-navigation>
            </q-form>
          </q-step>

          <q-step
            :name="4"
            :title="$t('form.cardData')"
            icon="map"
            :done="step > 4"
          >
            <q-form @submit="submitPayment">
              <div class="row q-col-gutter-md">
                <div class="col-3">
                  <q-input
                    ref="birthDate"
                    v-model="formPayment.birthDate"
                    :disabled="loading"
                    autofocus
                    outlined
                    :label="$t('form.birthDate')"
                    mask="##/##/####"
                    :rules="[$data.$rules.required]"
                    :lazy-rules="true"
                  />
                </div>
              </div>

              <div class="row q-col-gutter-md">
                <div class="col-9">
                  <q-input
                    ref="cardNumber"
                    v-model="formPayment.cardNumber"
                    :disabled="loading"
                    outlined
                    :label="$t('form.cardNumber')"
                    mask="####.####.####.####"
                    :rules="[$data.$rules.required]"
                    :lazy-rules="true"
                    @blur="getBrand"
                  />
                </div>

                <div class="col-3">
                  <q-input
                    :disabled="loading"
                    outlined
                    :label="$t('form.cardFlag')"
                    readonly
                    :value="formPayment.brand"
                    :rules="[$data.$rules.required]"
                    :lazy-rules="true"
                  />
                </div>

                <div class="col-4">
                  <q-input
                    ref="cvv"
                    v-model="formPayment.cvv"
                    :disabled="loading"
                    outlined
                    :label="$t('form.cardCvv')"
                    mask="###"
                    :rules="[$data.$rules.required]"
                    :lazy-rules="true"
                  />
                </div>

                <div class="col-4">
                  <q-input
                    ref="expirationMonth"
                    v-model="formPayment.expirationMonth"
                    :disabled="loading"
                    outlined
                    :label="$t('form.cardMonth')"
                    mask="##"
                    :rules="[$data.$rules.required]"
                    :lazy-rules="true"
                  />
                </div>

                <div class="col-4">
                  <q-input
                    ref="expirationYear"
                    v-model="formPayment.expirationYear"
                    :disabled="loading"
                    outlined
                    :label="$t('form.cardYear')"
                    mask="####"
                    :rules="[$data.$rules.required]"
                    :lazy-rules="true"
                  />
                </div>
              </div>

              <q-stepper-navigation>
                <q-btn
                  flat
                  :label="$t('commonWord.back')"
                  @click="step--"
                />
                <q-btn
                  v-if="target.preapprovalPlan && target.preapprovalPlan.status === 'ACTIVE'"
                  type="submit"
                  :label="$t('connection.preapprovalUpdateSign')"
                  color="positive"
                />
                <q-btn
                  v-else
                  type="submit"
                  color="positive"
                  :label="$t('connection.preapprovalCreateSignature')"
                />
              </q-stepper-navigation>
            </q-form>
          </q-step>
        </q-stepper>
      </q-card-section>
      <q-separator />

      <q-card-actions align="right">
        <q-btn
          v-close-popup
          :label="$t('commonWord.cancel')"
          color="primary"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
/* eslint-disable no-undef */
import Vue from 'vue';
import feathersClient from '../../boot/feathers-vuex';

export default {
  data() {
    return {
      step: 1,
      dialog: false,
      target: null,
      loading: false,
      accept: false,

      options: {
        states: ['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'ES', 'GO', 'MA', 'MT', 'MS', 'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO', 'DF'],
      },

      paymentMethod: {
        type: 'CREDITCARD',
        creditCard: {
          token: null,
          holder: {
            name: null,
            birthDate: null,
            documents: [
            ],
            billingAddress: {
            },
            phone: {
            },
          },
        },
      },

      formPayment: {
        birthDate: '',
        cardNumber: '',
        brand: '',
        cvv: '',
        expirationMonth: '',
        expirationYear: '',
      },

      formDocuments: [
        {
          type: 'CPF',
          value: '',
        },
      ],

      formAddress: {
        street: '',
        number: '',
        complement: '',
        district: '',
        city: '',
        state: '',
        country: 'BRA',
        postalCode: '',
      },

      formSender: {
        name: '',
        email: '',
        hash: null,
        phone: {
          areaCode: '',
          number: '',
        },
      },
    };
  },

  created() {
    Vue.prototype.$connectionPaymentDialog = this.onRequestOpen;
  },

  beforeDestroy() {
  },

  methods: {
    async submit() {
      try {
        feathersClient.service('pagseguro-preapprovals').timeout = 30000;

        window.gtag('event', 'conversion', { send_to: 'AW-1022314933/-vLVCL2cysICELWTvecD' });
        if (this.target.preapprovalPlan && this.target.preapprovalPlan.status === 'ACTIVE') {
          const payload = {
            type: 'CREDITCARD',
            sender: {
              hash: this.formSender.hash,
            },
            creditCard: {
              token: this.paymentMethod.creditCard.token,
              holder: {
                name: this.formSender.name,
                birthDate: this.formPayment.birthDate,
                documents: this.formDocuments,
                phone: JSON.parse(JSON.stringify(this.formSender.phone)),
                billingAddress: JSON.parse(JSON.stringify(this.formAddress)),
              },
            },
          };

          payload.creditCard.holder.phone.number = payload.creditCard.holder.phone.number.split('-').join('');
          payload.creditCard.holder.documents[0].value = payload.creditCard.holder.documents[0].value.split('-').join('').split('.').join('');
          payload.creditCard.holder.billingAddress.postalCode = payload.creditCard.holder.billingAddress.postalCode.split('-').join('').split('.').join('');
          await feathersClient.service('pagseguro-preapprovals').update(null, { connection: this.target, payload });
          this.$notify('positive', this.$t('connection.preapprovalSignatureUpdated'));
        } else {
          const payload = {
            sender: {
              ...JSON.parse(JSON.stringify(this.formSender)),
              address: JSON.parse(JSON.stringify(this.formAddress)),
              documents: JSON.parse(JSON.stringify(this.formDocuments)),
            },
            paymentMethod: JSON.parse(JSON.stringify(this.paymentMethod)),
          };

          payload.sender.documents[0].value = payload.sender.documents[0].value.split('-').join('').split('.').join('');
          payload.sender.address.postalCode = payload.sender.address.postalCode.split('-').join('').split('.').join('');
          payload.paymentMethod.creditCard.holder.name = this.formSender.name;
          payload.paymentMethod.creditCard.holder.birthDate = this.formPayment.birthDate;
          payload.paymentMethod.creditCard.holder.documents = JSON.parse(JSON.stringify(this.formDocuments));
          payload.paymentMethod.creditCard.holder.documents[0].value = payload.paymentMethod.creditCard.holder.documents[0].value.split('-').join('').split('.').join('');
          payload.paymentMethod.creditCard.holder.billingAddress = JSON.parse(JSON.stringify(this.formAddress));
          payload.paymentMethod.creditCard.holder.billingAddress.postalCode = payload.paymentMethod.creditCard.holder.billingAddress.postalCode.split('-').join('').split('.').join('');
          payload.paymentMethod.creditCard.holder.phone = JSON.parse(JSON.stringify(this.formSender.phone));

          payload.sender.phone.number = payload.sender.phone.number.split('-').join('');
          payload.paymentMethod.creditCard.holder.phone.number = payload.paymentMethod.creditCard.holder.phone.number.split('-').join('');

          await feathersClient.service('pagseguro-preapprovals').create({ connection: this.target, payload });
          this.$notify('positive', this.$t('connection.preapprovalSignatureCreated'));
        }
        this.dialog = false;
      } catch (error) {
        this.$notify('negative');
        console.error(error);
      }

      this.$q.loading.hide();
    },

    async submitPayment() {
      await this.$resetValidation(this.formSender);
      if (
        !(await this.$validate(this.formSender))
      ) return;

      const cardNumber = this.formPayment.cardNumber.split('.').join('');

      this.$q.loading.show();

      // I hate you pagseguro.
      const self = this;

      PagSeguroDirectPayment.createCardToken({
        cardNumber, // Número do cartão de crédito
        brand: this.formPayment.brand, // Bandeira do cartão
        cvv: this.formPayment.cvv, // CVV do cartão
        expirationMonth: this.formPayment.expirationMonth, // Mês da expiração do cartão
        expirationYear: this.formPayment.expirationYear, // Ano da expiração do cartão, é necessário os 4 dígitos.
        success(response) {
          self.paymentMethod.creditCard.token = response.card.token;
          self.submit();
          // Retorna o cartão tokenizado.
        },
        error(response) {
          self.error(response);
        },
        complete() {
          // Callback para todas chamadas.
        },
      });
    },

    error(response) {
      this.$notify('negative');
      this.$q.loading.hide();
      console.error(response);
    },

    async submitSender() {
      await this.$resetValidation(this.formSender);
      if (
        !(await this.$validate(this.formSender))
      ) return;

      this.step = 2;
    },

    async submitAddress() {
      await this.$resetValidation(this.formAddress);
      if (
        !(await this.$validate(this.formAddress))
      ) return;

      this.step = 3;
    },

    async submitDocuments() {
      await this.$resetValidation(this.formDocuments);
      if (
        !(await this.$validate(this.formDocuments))
      ) return;

      this.step = 4;
    },

    onRequestOpen(e) {
      this.target = JSON.parse(JSON.stringify(e));

      this.dialog = true;
      this.should = null;
    },

    onShow() {
      this.$q.loading.show();
      if (this.checkPagseguroSdk()) return;

      const src = 'https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js';
      const script = document.createElement('script');
      script.setAttribute('src', src);
      document.head.appendChild(script);

      this.interval = setInterval(this.checkPagseguroSdk, 500);
    },

    checkPagseguroSdk() {
      if (!window.PagSeguroDirectPayment) return false;

      if (this.interval) clearInterval(this.interval);
      this.$q.loading.hide();
      this.getSession();
      this.formSender.hash = PagSeguroDirectPayment.getSenderHash();
      return true;
    },

    handleHide() {
      this.dialog = false;
      this.accept = false;
      this.step = 1;

      this.formPayment.birthDate = '';
      this.formPayment.cardNumber = '';
      this.formPayment.brand = '';
      this.formPayment.cvv = '';
      this.formPayment.expirationMonth = '';
      this.formPayment.expirationYear = '';

      this.formDocuments[0].type = 'CPF';
      this.formDocuments[0].value = '';

      this.formAddress.street = '';
      this.formAddress.number = '';
      this.formAddress.complement = '';
      this.formAddress.district = '';
      this.formAddress.city = '';
      this.formAddress.state = '';
      this.formAddress.country = 'BRA';
      this.formAddress.postalCode = '';

      this.formSender.name = '';
      this.formSender.email = '';
      this.formSender.hash = null;
      this.formSender.phone.areaCode = '';
      this.formSender.phone.number = '';
    },

    getBrand() {
      const self = this;

      PagSeguroDirectPayment.getBrand({
        cardBin: self.formPayment.cardNumber.split('.').join(''),
        success(response) {
          self.formPayment.brand = response.brand.name;
        },
      });
    },

    async getSession() {
      const token = await feathersClient.service('pagseguro-session').find()
        .catch(() => this.getSession());
      PagSeguroDirectPayment.setSessionId(token);
    },

    send(e) {
      this.returnObject = e;
      this.should = 'resolve';
      this.dialog = false;
    },
  },
};
</script>
