<template>
  <span
    v-if="!conn.useMultidevice"
    class="q-px-xs"
  >
    <q-icon name="watch_later" />

    <span v-if="conn.latency && checkTime(conn)">
      {{ Math.floor(conn.latency.value / 1000) }}
    </span>

    <q-tooltip v-if="$connections.length === 1">
      {{ getDesc(conn) }}
    </q-tooltip>

    <q-tooltip v-else>
      <div
        v-for="(item, index) in $connections"
        :key="index"
      >
        <span v-if="item.latency">
          {{ getDesc(item) }}

          <span v-if="item.latency && checkTime(conn)">
            {{ Math.floor(item.latency.value / 1000) }}
          </span>

          ({{ item.jid }})
        </span>
      </div>
    </q-tooltip>
  </span>
</template>

<script>
export default {
  name: 'ConnectionLatency',

  computed: {
    conn() {
      if (!this.$connections || !this.$connections.length) return null;
      return this.$connections[0];
    },
  },

  methods: {
    checkTime(conn) {
      const last = new Date(conn.latency.time).getTime();
      const actual = new Date().getTime();
      return actual - last < 30 * 1000 * 60;
    },

    getDesc(conn) {
      if (!conn.latency) return this.$t('connection.latencyUnknow');
      // if (conn.latency.) return this.$t('connection.latency');
      if (conn.latency.value < 50000) return this.$t('connection.latencyOk');
      if (conn.latency.value >= 50000) return this.$t('connection.latencyHigh');
      return this.$t('commonWord.latency');
    },
  },
};
</script>
