<template>
  <q-icon
    name="fiber_manual_record"
    :color="color"
  >
    <q-tooltip v-if="allOk">
      {{ $t('connection.allConnected') }}
    </q-tooltip>
    <q-tooltip v-else-if="atLeastOneOk">
      {{ $t('connection.partlyConnected') }}
    </q-tooltip>
    <q-tooltip v-else>
      {{ $t('connection.notConnected') }}
    </q-tooltip>
  </q-icon>
</template>

<script>
export default {
  computed: {
    allOk() {
      if (!this.$connections || !this.$connections.length) return true;
      return !this.$connections.some((e) => e.status !== 'open');
    },

    atLeastOneOk() {
      if (!this.$connections || !this.$connections.length) return true;
      return this.$connections.some((e) => e.status === 'open');
    },

    color() {
      let result = 'negative';
      if (this.allOk) result = 'positive';
      else if (this.atLeastOneOk) result = 'warning';

      return result;
    },
  },

};
</script>

<style>

</style>
