<template>
  <q-item
    v-if="data"
    v-ripple
    :active="selected"
    :disabled="connection.status !== 'open'"
    clickable
    class="q-px-xs"
    @click="handleClick"
    @contextmenu.prevent.stop="showMenu = true"
  >
    <q-item-section avatar>
      <avatar
        :selected="selected"
        :data="data"
      />
    </q-item-section>

    <q-item-section>
      <q-item-label v-if="data.name">
        {{ data.name }}
      </q-item-label>

      <q-item-label v-else>
        {{ data.jid.split('@')[0] }}
      </q-item-label>

      <q-item-label
        caption
        lines="1"
      >
        <span v-if="lastMessage">
          <q-icon
            v-if="lastMessage.key.fromMe"
            name="arrow_back"
            class=""
          />
          <q-icon
            v-else
            name="arrow_forward"
            class=""
          />

          <span v-if="lastMessage.participant">
            <contact-name
              :contact="{connectionId: data.connectionId, jid: lastMessage.participant}"
              :fallback="lastMessage.participant.split('@')[0]"
            />:
          </span>

          <span
            v-if="lastMessageType === 'conversation'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $removeLinkify(lastMessage.message.conversation.substr(0, 20)) }}
          </span>

          <span
            v-else-if="lastMessageType === 'extendedTextMessage'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $removeLinkify(lastMessage.message.extendedTextMessage.text.substr(0, 20)) }}
          </span>

          <span
            v-else-if="lastMessageType === 'audioMessage'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.sentAudio') }}
          </span>

          <span
            v-else-if="lastMessageType === 'stickerMessage'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.sentStick') }}
          </span>

          <span
            v-else-if="lastMessageType === 'videoMessage'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.sentVideo') }}
          </span>

          <span
            v-else-if="lastMessageType === 'imageMessage'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.sentImage') }}
          </span>

          <span
            v-else-if="lastMessageType === 'documentMessage'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.sentDoc') }}
          </span>

          <span
            v-else-if="lastMessageType === 'contactMessage'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.sentContact') }}
          </span>

          <span
            v-else-if="lastMessageType === 'liveLocationMessage'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.sentLiveLoc') }}
          </span>

          <span
            v-else-if="lastMessageType === 'locationMessage'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.sentLoc') }}
          </span>

          <span
            v-else-if="lastMessageType === 'CALL_MISSED_VOICE'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.triedCall') }}
          </span>

          <span
            v-else-if="lastMessageType === 'CALL_MISSED_VIDEO'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.triedVideoCall') }}
          </span>

          <span
            v-else-if="lastMessageType === 'CALL_VOICE'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.isCalling') }}
          </span>

          <span
            v-else-if="lastMessageType === 'ZAPFLY_CATALOG_ASK'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.catalogOrder') }}
          </span>

          <span
            v-else-if="lastMessageType === 'requestPaymentMessage'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.sentPaymentInfo') }}
          </span>

          <span
            v-else
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ lastMessageType }}
          </span>

        </span>
      </q-item-label>

      <q-item-label caption>
        <q-badge
          v-if="!hasPaid"
          color="negative"
        >
          {{ $t('payment.verify') }}
        </q-badge>

        <q-badge
          v-if="connection.status !== 'open'"
          color="warning"
          class="q-mr-xs"
        >
          {{ $t('catalog.desc') }}
        </q-badge>
        <q-badge
          v-if="contact && contact.note"
          color="primary"
        >
          {{ $tc('ticket.note') }}

          <q-tooltip>
            <pre style="font-size:16px; max-width: 320px">{{ contact.note }}</pre>
          </q-tooltip>
        </q-badge>
      </q-item-label>

      <q-item-label caption>
        <div v-if="contact && contact.tags">
          <q-badge
            v-for="(item) in contact.tags"
            :key="`tags_${item._id}`"
            :color="item.color"
            :label="item.label"
            class="q-mr-xs"
          />
        </div>
      </q-item-label>
    </q-item-section>

    <q-chip
      v-if="fromNow"
      dense
      size="sm"
      :label="fromNow"
      class="absolute-top-right q-mt-sm"
    />

    <q-chip
      v-if="data.pin"
      round
      dense
      class="absolute-bottom-right q-px-xs rotate-45"
    >
      <q-icon name="push_pin" />
    </q-chip>
  </q-item>
</template>

<script>
// import feathersClient from '../../boot/feathers-vuex';

export default {
  components: {
    ContactName: () => import('../contacts/ContactName'),
    Avatar: () => import('../tools/Avatar'),
  },

  props: {
    dumb: Boolean,
    data: Object,
    transactions: Object,
    messageOverride: Object,
  },

  data() {
    return {
      showMenu: false,
      contactId: null,
    };
  },

  created() {
    this.loadContact();
    // if (this.data.jid === '5516991578481@s.whatsapp.net') feathersClient.service('member-messages').on('patched', this.onMemberMessagesPatched);
  },

  methods: {
    // onMemberMessagesPatched(message) {
    //   if (!message.key.id) return;
    //   if (this.lastMessage.key.id !== message.key.id) return;

    //   this.data.messages = [message];
    //   this.$forceUpdate();
    // },

    async loadContact() {
      if (this.contact) {
        return;
      }

      if (this.data.jid) {
        let contacts = this.$store.getters['member-contacts/find']({ query: { jid: this.data.jid } });

        if (contacts.total) {
          this.contactId = contacts.data[0]._id;
          return;
        }

        contacts = await this.$store.dispatch('member-contacts/find', { query: { jid: this.data.jid } });

        if (contacts.total) {
          this.contactId = contacts.data[0]._id;
        }
      }
    },

    handleClick() {
      if (!this.hasPaid) return this.$notify('negative', this.$t('payment.verifyPayment'));

      this.$emit('click');
      if (this.dumb) {
        return;
      }
      if (this.$route.params.id === this.data.jid) return;
      const routeName = 'chats-room';
      this.$router.push({ name: routeName, params: { id: this.data.jid, connectionId: this.data.connectionId, chat: this.data } });
    },
  },

  computed: {
    lastMessage() {
      return this.$store.getters['directAccess/lastMessage'](this.data.jid);
    },

    contact() {
      return this.$store.getters['member-contacts/get'](this.contactId);
    },

    fromNow() {
      if (!this.lastMessage) return;
      if (!this.lastMessage.messageTimestamp) return;
      const timestamp = this.lastMessage.messageTimestamp;
      const date = new Date(timestamp * 1000);

      return this.$fromNow(date);
      // return timestamp;
    },

    settings() {
      return this.$store.getters['member-settings/list'];
    },

    name() {
      if (!this.contact) return this.data.jid.split('@')[0];
      return this.contact.name;
    },

    connection() {
      return this.$store.getters['member-connections/get'](this.data.connectionId);
    },

    lastMessageType() {
      if (!this.lastMessage) return null;
      if (this.lastMessage.messageStubType) return this.lastMessage.messageStubType;
      if (!this.lastMessage.message) return null;
      return Object.keys(this.lastMessage.message)[0];
    },

    hasPaid() {
      if (!this.connection.preapprovalPlan) return false;
      const { status, createdAt, extraTrial } = this.connection.preapprovalPlan;

      if (extraTrial) {
        const extraTrialTimestamp = new Date(extraTrial).getTime();
        if (new Date().getTime() < extraTrialTimestamp) return true;
      }

      const timestampFrom7Days = new Date().getTime() - (7 * 24 * 60 * 60 * 1000);
      const createdAtTimestamp = new Date(createdAt).getTime();

      if (status === 'TRIAL' && createdAtTimestamp > timestampFrom7Days) return true;

      const validStatus = ['created', 'ACTIVE'];
      if (!validStatus.includes(status)) return false;

      return true;
    },

    selected() {
      if (!this.data) return null;
      return this.$route.params.id === this.data.jid && this.$route.params.connectionId === this.data.connectionId;
    },
  },
};
</script>

<style scoped>
.unread:not(.q-item--active) {
  background-color: #21ba453f;
  border-left: 5px solid var(--q-color-positive)
}
</style>
