<template>
  <div
    v-if="src"
    @click.stop
  >
    <div
      class="flex flex-center audio-player relative rounded-borders"
      style=""
    >
      <q-btn
        v-if="!playing"
        flat
        dense
        round
        icon="play_arrow"
        @click="$refs.audio.play()"
      />
      <q-btn
        v-else
        flat
        dense
        round
        icon="pause"
        @click="$refs.audio.pause()"
      />

      {{ timeTotal }}

      <q-btn
        flat
        dense
        round
        :label="speed"
        @click="speedUp"
      >
        <q-tooltip>
          {{ $t('message.audioSpeed') }}
        </q-tooltip>
      </q-btn>

      <div
        class="q-px-md"
        style="width: calc(100% - 110px)"
      >
        <q-slider
          :value="pointer"
          :min="0"
          :max="max"
          @input="setCurrentTime"
        />
      </div>
    </div>
    <audio
      v-show="false"
      ref="audio"
      controls
      preload="auto"
      style="width:100%;"
      @play="audioPlay"
      @pause="playing = false"
      @loadedmetadata="onMetadata"
      @timeupdate="onTime"
    >
      <source
        :src="src"
        :type="type"
        @error="$emit('error', $event)"
      >
    </audio>
  </div>
</template>

<script>
export default {
  name: 'AudioPlayer',

  props: {
    src: null,
    id: null,
    type: { default: 'audio/ogg' },
  },

  data() {
    return {
      pointer: 0,
      playing: false,
      max: 0,
      timeTotal: '00:00',
    };
  },

  computed: {
    speed() {
      const { playbackRate } = this.$user;

      if (!playbackRate) return '1x';
      if (playbackRate === 1.2) return '1.2x';
      if (playbackRate === 1.5) return '1.5x';
      if (playbackRate === 1.8) return '1.8x';
      return '1x';
    },
  },

  mounted() {
    if (this.$user.playbackRate) this.setPlaybackRate(this.$user.playbackRate);
    this.$root.$on('chat-audio-pause', this.handleChatAudioPause);
  },

  beforeDestroy() {
    this.$root.$off('chat-audio-pause', this.handleChatAudioPause);
  },

  methods: {
    setPlaybackRate(value) {
      this.$refs.audio.playbackRate = value;
    },

    speedUp() {
      if (this.speed === '1x') {
        this.$store.dispatch('members/patch', [this.$user._id, { playbackRate: 1.2 }]);
        this.setPlaybackRate(1.2);
      } else if (this.speed === '1.2x') {
        this.$store.dispatch('members/patch', [this.$user._id, { playbackRate: 1.5 }]);
        this.setPlaybackRate(1.5);
      } else if (this.speed === '1.5x') {
        this.$store.dispatch('members/patch', [this.$user._id, { playbackRate: 1.8 }]);
        this.setPlaybackRate(1.8);
      } else if (this.speed === '1.8x') {
        this.$store.dispatch('members/patch', [this.$user._id, { playbackRate: 1 }]);
        this.setPlaybackRate(1);
      }
    },

    setCurrentTime(e) {
      this.$refs.audio.currentTime = e;
    },

    onTime() {
      this.pointer = this.$refs.audio.currentTime;
    },

    onMetadata() {
      this.max = Math.floor(this.$refs.audio.duration);
      const t = new Date(1970, 0, 1); // Epoch
      t.setSeconds(this.$refs.audio.duration);
      this.timeTotal = this.$mmssFormat(t);
    },

    audioPlay() {
      this.$root.$emit('chat-audio-pause', this.id);
      this.playing = true;
    },

    handleChatAudioPause(e) {
      if (this.$refs.audio && e !== this.id) this.$refs.audio.pause();
    },
  },

};
</script>

<style>
.audio-player {
  background-color: rgba(255, 255, 255,0.3)
}

</style>
