<template>
  <div
    class="flex border-rounded"
    :class="recording ? 'bg-white shadow-1' : ''"
    :style="{'width': recording ? '200px' : ''}"
    @click.stop
  >
    <q-btn
      id="audio_btn"
      :flat="!recording"
      round
      dense
      :disabled="disabled"
      :outline="recording"
      :color="recording ? 'negative' : ''"
      :icon="recording ? 'close' : 'mic'"
      :class="recording ? 'q-ma-xs' : ''"
      @click="toggleRecord"
    />

    <div class="inline q-mx-auto text-center">
      <q-btn
        v-if="recording"
        dense
        disabled
        flat
        size="lg"
      >
        {{ formatSeconds }}
      </q-btn>
    </div>

    <transition
      appear
      enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut"
    >
      <q-btn
        v-if="recording"
        outline
        round
        :dense="recording"
        class="q-ma-xs"
        icon="check"
        color="positive"
        @click="doSend"
      />
    </transition>
  </div>
</template>

<script>
import MicRecorder from 'mic-recorder-to-mp3';

const recorder = new MicRecorder({
  bitRate: 128,
});

export default {
  name: 'AudioRecorder',

  props: {
    disabled: Boolean,
  },

  data() {
    return {
      loading: false,
      shouldSend: false,
      recording: false,
      audioBuffer: null,
      audioBlob: null,
      counter: null,
      seconds: 0,
    };
  },

  computed: {
    formatSeconds() {
      const t = new Date(1970, 0, 1); // Epoch
      t.setSeconds(this.seconds);
      return this.$mmssFormat(t);
    },
  },

  methods: {
    async startRecord() {
      this.recording = true;
      await recorder.start();
      this.counter = setInterval(() => { this.seconds += 1; }, 1000);
    },

    async doSend() {
      this.recording = false;
      this.shouldSend = true;

      const [buffer, blob] = await recorder.stop().getMp3();
      this.audioBuffer = buffer;
      this.audioBlob = blob;

      const file = new File(this.audioBuffer, 'recorded_audio.mp3', {
        type: this.audioBlob.type,
        lastModified: Date.now(),
      });
      this.$emit('audio-recorded', file);

      this.stopRecord();
    },

    stopRecord() {
      recorder.stop();
      clearInterval(this.counter);
      this.shouldSend = false;
      this.recording = false;
      this.audioBuffer = null;
      this.audioBlob = null;
      this.seconds = 0;
    },

    async toggleRecord() {
      if (this.recording) return this.stopRecord();
      return this.startRecord();
    },
  },
};
</script>
