<template>
  <div style="display: inline-block">
    <q-avatar
      v-if="hasAvatar"
      color="primary"
      class="cursor-pointer"
      text-color="white"
      @click="dialog = true"
    >
      <q-img
        v-if="!hideIcons"
        native-context-menu
        :src="image"
        @error="imageWithError"
      />

      <zoom-img
        v-else
        :src="image"
        img-class="avatar-img"
        @error="imageWithError"
      />

      <q-badge
        v-if="!hideIcons && !selected && data.count"
        floating
        color="positive"
      >
        {{ data.count }}
      </q-badge>
    </q-avatar>

    <q-avatar
      v-else
      icon="person"
      color="primary"
      text-color="white"
    >
      <q-badge
        v-if="!hideIcons && !selected && data.count"
        floating
        color="positive"
      >
        {{ data.count }}
      </q-badge>
    </q-avatar>
  </div>
</template>

<script>
// import chatMediaDialog from './ChatMediaDialog'
import feathersClient from '../../boot/feathers-vuex';

export default {
  name: 'Avatar',

  components: {
    ZoomImg: () => import('../tools/ZoomImg'),
    // chatMediaDialog,
  },

  props: {
    data: Object,
    hideIcons: Boolean,
    selected: Boolean,
    unread: null,
  },

  data() {
    return {
      hadError: false,
      dialog: false,
      contactId: null,
      internalAvatar: null,
    };
  },

  watch: {
    'data.avatar': function () {
      this.internalAvatar = null;
      this.hadError = false;
    },
  },

  computed: {
    connection() {
      return this.$store.getters['member-connections/get'](this.data.connectionId);
    },

    contact() {
      return this.$store.getters['member-contacts/get'](this.contactId);
    },

    hasAvatar() {
      if (this.hadError) return false;
      return !!(this.image || this.data.avatar || (this.contact && this.contact.avatar) || (this.data.contact && this.data.contact.avatar));
    },

    image() {
      let result = this.internalAvatar;
      if (this.data) {
        if (this.data.avatar) result = this.data.avatar;
        else if (this.data.contact && this.data.contact.avatar) result = this.data.contact.avatar;
        else if (this.contact && this.contact.avatar) result = this.contact.avatar;
      }
      return result;
    },
  },

  created() {
    this.loadNewImage();
  },

  methods: {
    imageWithError() {
      this.hadError = true;
      this.loadNewImage();
    },

    async loadContact() {
      if (this.data.contact) {
        this.contactId = this.data.contact._id;
        return;
      }

      if (this.data.jid) {
        let contacts = this.$store.getters['member-contacts/find']({ query: { jid: this.data.jid } });

        if (contacts.total) {
          this.contactId = contacts.data[0]._id;
          return;
        }

        contacts = await this.$store.dispatch('member-contacts/find', { query: { jid: this.data.jid } });

        if (contacts.total) {
          this.contactId = contacts.data[0]._id;
        }
      }
    },

    async loadNewImage() {
      if (!this.data) return;
      if (this.data.jid === 'status@broadcast') return;
      await this.loadContact();
      if (this.hasAvatar && !this.hadError) return;
      if (this.connection.status !== 'open') return;

      this.internalAvatar = await feathersClient.service('update-avatar').get(this.data.jid, { query: { id: this.data.connectionId } })
        .catch(() => { });
    },
  },
};
</script>

<style lang="sass">
.avatar-img
  &.image-gallery__image
    margin: 2px
    background-position: 0px 0px
    width: 55px
</style>
