<template>
  <q-btn
    v-bind="$attrs"
    @click="checkEmit"
  >
    <slot />
  </q-btn>
</template>

<script>
// Wrapper of QButton for delete buttons
// @group widgets
export default {
  name: 'ConfirmBtn',

  props: {
    action: {
      type: String,
      default() { return this.$t('message.defaultConfirmBtn'); },
    },
  },

  methods: {
    // @vuese
    // Check with a confirm before emit `deleted`
    checkEmit() {
      this.$q.dialog({
        title: this.$t('commonWord.confirm'),
        message: this.action,
        cancel: {
          label: this.$t('commonWord.no'),
          color: 'primary',
        },
        ok: {
          label: this.$t('commonWord.yes'),
          flat: true,
          color: 'negative',
        },
      }).onOk(() => this.$emit('confirm'));
    },
  },

};
</script>
