<template>
  <div>
    <q-banner
      class="bg-grey-5 text-white q-py-sm"
      style="min-height: 10px; border-radius: 10px 10px 0 0"
    >
      {{ title }}
    </q-banner>

    <q-banner
      class="bg-grey text-white q-pb-md"
      style="min-height: 10px; border-radius: 0 0 10px 10px"
    >
      <div class="row">
        <code class="col-10">
          <slot />
        </code>
        <div
          v-if="!hideCopy"
          class="col-2 text-right"
        >
          <q-btn
            round
            color="primary"
            icon="content_copy"
            @click="$copy($slots.default[0].text)"
          />
        </div>
      </div>
    </q-banner>
  </div>
</template>

<script>

export default {
  props: {
    title: null,
    hideCopy: Boolean,
  },
};
</script>
