<template>
  <q-list>
    <q-item
      clickable
      exact
      to="/dashboard/"
    >
      <q-item-section avatar>
        <q-icon name="home" />
      </q-item-section>

      <q-item-section>
        <q-item-label>{{ $t('ticket.beginning') }}</q-item-label>
      </q-item-section>
    </q-item>

    <q-item
      v-if="chatsEnable"
      :to="{name: 'chats'}"
      clickable
      exact
    >
      <q-item-section avatar>
        <q-icon name="chat" />
      </q-item-section>

      <q-item-section>
        <q-item-label>{{ $tc('commonWord.chat', 2) }}</q-item-label>
        <q-item-label caption>
          {{ $t('acessMenu.directChat') }}
        </q-item-label>
      </q-item-section>
    </q-item>

    <q-item
      :to="{name: 'tickets'}"
      clickable
      exact
    >
      <q-item-section avatar>
        <q-icon name="assignment" />
      </q-item-section>

      <q-item-section>
        <q-item-label>{{ $tc('commonWord.ticket', 2) }}</q-item-label>
      </q-item-section>
    </q-item>

    <q-item
      :to="{name: 'tickets-on-hold'}"
      clickable
      exact
    >
      <q-item-section avatar>
        <q-icon name="assignment_late" />
      </q-item-section>

      <q-item-section>
        <q-item-label>{{ $t('ticket.ticketOnWait') }}</q-item-label>
      </q-item-section>
    </q-item>

    <q-item
      v-if="$isAdmin && $connections[0].activeChatbot"
      :to="{ name: 'chatbot' }"
      clickable
      exact
    >
      <q-item-section avatar>
        <q-icon name="smart_toy" />
      </q-item-section>

      <q-item-section>
        <q-item-label>{{ $t('chatbot.title') }}</q-item-label>
      </q-item-section>
    </q-item>

    <q-item
      v-if="$isAdmin && catalogActiveValue"
      :to="{ name: 'catalog' }"
      clickable
      exact
    >
      <q-item-section avatar>
        <q-icon name="storefront" />
      </q-item-section>

      <q-item-section>
        <q-item-label>{{ $t('commonWord.catalog') }}</q-item-label>
      </q-item-section>
    </q-item>

    <q-item
      v-if="$isAdmin && apiEnable"
      :to="{ name: 'api' }"
      clickable
      exact
    >
      <q-item-section avatar>
        <q-icon name="code" />
      </q-item-section>

      <q-item-section>
        <q-item-label>{{ $t('commonWord.devAPI') }}</q-item-label>
      </q-item-section>
    </q-item>

    <q-item
      :to="{ name: 'settings' }"
      clickable
      exact
    >
      <q-item-section avatar>
        <q-icon name="settings" />
      </q-item-section>

      <q-item-section>
        <q-item-label>{{ $tc('commonWord.setting', 2) }}</q-item-label>
      </q-item-section>
    </q-item>

    <q-item
      v-if="showInstall"
      clickable
      exact
      @click="installPwa"
    >
      <q-item-section avatar>
        <q-icon name="get_app" />
      </q-item-section>

      <q-item-section>
        <q-item-label>
          {{ $t('setting.installAPP') }}
        </q-item-label>
      </q-item-section>
    </q-item>

    <q-expansion-item
      v-if="$isSystemAdmin"
      expand-separator
      icon="fas fa-user-shield"
      :label="$t('commonWord.admin')"
    >
      <q-item
        :inset-level="1"
        clickable
        :to="{ name: 'adm-users' }"
        exact
      >
        <q-item-section avatar>
          <q-icon name="groups" />
        </q-item-section>

        <q-item-section>
          <q-item-label>{{ $t('commonWord.users') }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item
        :inset-level="1"
        clickable
        :to="{ name: 'adm-connections' }"
        exact
      >
        <q-item-section avatar>
          <q-icon name="settings_ethernet" />
        </q-item-section>

        <q-item-section>
          <q-item-label>{{ $tc('commonWord.connection',2) }}</q-item-label>
        </q-item-section>
      </q-item>

      <q-item
        :inset-level="1"
        clickable
        :to="{ name: 'adm-tooltips' }"
        exact
      >
        <q-item-section avatar>
          <q-icon name="privacy_tip" />
        </q-item-section>

        <q-item-section>
          <q-item-label>{{ $t('acessMenu.helpWarnings') }}</q-item-label>
        </q-item-section>
      </q-item>

      <q-item
        :inset-level="1"
        clickable
        :to="{ name: 'adm-env' }"
        exact
      >
        <q-item-section avatar>
          <q-icon name="settings_applications" />
        </q-item-section>

        <q-item-section>
          <q-item-label>{{ $t('commonWord.ambient') }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-expansion-item>

    <q-item
      clickable
      @click="logoutIt"
    >
      <q-item-section avatar>
        <q-icon name="exit_to_app" />
      </q-item-section>

      <q-item-section>
        <q-item-label>{{ $t('commonWord.exit') }}</q-item-label>
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script>
import { mapActions } from 'vuex';
// import { LF } from '../../boot/vuexPersist';

export default {
  name: 'DrawerMenu',

  data() {
    return {
      showInstall: !this.$store.state.isPwa && this.$store.state.pwaInstall,
    };
  },

  methods: {
    ...mapActions('auth', ['logout']),

    async installPwa() {
      this.$store.state.pwaInstall.prompt();
      const { outcome } = await this.$store.state.pwaInstall.userChoice;
      if (outcome === 'dismissed') return this.$notify('negative', this.$t('setting.chosenNotInstall'));
      this.$notify('positive', this.$t('setting.installing'));
      this.$store.commit('pwaInstall', null);
      this.showInstall = false;
    },

    async logoutIt() {
      await this.logout();
      // await LF.clear();
      this.$notify('positive', this.$t('setting.logout'));
      this.$router.go({ name: 'public' });
    },
  },

  computed: {
    catalogActiveValue() {
      return this.$store.getters['member-settings/list'].find((e) => e.name === 'catalogActive' && e.value === true);
    },

    apiEnable() {
      return this.$connections[0].apiEnable;
    },

    chatsEnable() {
      if (this.$connections[0].chatsEnable && !this.$connections[0].useMultidevice) {
        return true;
      }
      return false;
    },
  },
};
</script>
