<template>
  <q-drawer
    v-model="show"
    bordered
    side="right"
    :width="171"
    :content-class="!$q.dark.isActive ? 'bg-grey-2': null"
  >
    <q-list>
      <q-item @click="show = !show">
        <q-item-section>
          <q-item-label>{{ $t('commonWord.hide') }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item
        v-ripple
        clickable
        @click="$q.dialog({
          message: $t('ads.explain')
        })"
      >
        <q-item-section>{{ $t('ads.whatIs') }}</q-item-section>
      </q-item>

      <!-- <Adsense
        data-ad-client="ca-pub-6772291411510762"
        data-ad-slot="1234567890"
        data-ad-format="auto"
        data-full-width-responsive="yes"
        :data-ad-test="dev ? 'on' : 'off'"
      /> -->
    </q-list>
  </q-drawer>
</template>

<script>
export default {
  name: 'DrawerAds',

  data() {
    return {
      dev: process.env.DEV,
      show: false,
    };
  },

  // computed: {
  //   show() {
  //     if (this.$connections.some((e) => e.jid === '5516997957988')) return true;
  //     return false;
  //     // let result = false;
  //     // this.$connections.forEach((conn) => {
  //     //   if (!conn.preapprovalPlan) {
  //     //     result = true;
  //     //     return;
  //     //   }
  //     //   const { status, createdAt, extraTrial } = conn.preapprovalPlan;

  //     //   if (extraTrial) {
  //     //     const extraTrialTimestamp = new Date(extraTrial).getTime();
  //     //     if (new Date().getTime() < extraTrialTimestamp) {
  //     //       return;
  //     //     }
  //     //   }

  //     //   const timestampFrom7Days = new Date().getTime() - (7 * 24 * 60 * 60 * 1000);
  //     //   const createdAtTimestamp = new Date(createdAt).getTime();

  //     //   if (status === 'TRIAL' && createdAtTimestamp > timestampFrom7Days) return;

  //     //   const validStatus = ['created', 'ACTIVE'];
  //     //   if (!validStatus.includes(status)) {
  //     //     result = true;
  //     //   }
  //     // });

  //     // return result;
  //   },
  // },
};
</script>

<style>

</style>
