<template>
  <q-dialog
    :value="value"
    @input="$emit('input', $event)"
  >
    <q-card>
      <q-card-section>
        <div class="text-h6">
          {{ $t('message.sendMultipleAttachments') }}
        </div>
      </q-card-section>

      <q-list
        v-if="files && files.length > 1"
        bordered
        separator
      >
        <template v-for="(file, index) in files">
          <q-item :key="index">
            <q-item-section avatar>
              <q-icon
                color="primary"
                :name="getIcon(file.type)"
              />
            </q-item-section>

            <q-item-section>
              <q-item-label overline>
                {{ file.type }}
              </q-item-label>
              <q-item-label>{{ file.name }}</q-item-label>
            </q-item-section>

            <q-item-section
              side
              top
            >
              <q-item-label caption>
                {{ convertSize(file.size) }}
              </q-item-label>

              <q-icon
                v-if="file.size < 104857600 && ['pdf', 'mp4', 'ogg', 'oga', 'png', 'jpg', 'jpeg', 'doc', 'docx', 'xls', 'xlsx'].includes(file.name.split('.').pop())"
                name="check"
                color="positive"
              >
                <q-tooltip>
                  {{ $t('message.canBeSent') }}
                </q-tooltip>
              </q-icon>

              <q-icon
                v-else
                name="clear"
                color="negative"
              >
                <q-tooltip>
                  {{ $t('message.wontBeSent') }}
                </q-tooltip>
              </q-icon>
            </q-item-section>
          </q-item>
        </template>
      </q-list>

      <q-card-actions align="right">
        <q-btn
          v-close-popup
          :label="$t('commonWord.cancel')"
          color="primary"
        />
        <q-btn
          flat
          :label="$t('commonWord.send')"
          color="primary"
          @click="send"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { format } from 'quasar';

const { humanStorageSize } = format;
export default {
  name: 'FilesSendDialog',

  props: {
    value: Boolean,
    files: null,
  },

  methods: {
    convertSize(size) {
      return humanStorageSize(size);
    },

    getIcon(mime) {
      let result = 'fas fa-file';

      if (mime.includes('pdf')) result = 'fas fa-file-pdf';
      else if (mime.includes('image')) result = 'fas fa-file-image';
      else if (mime.includes('video')) result = 'fas fa-file-video';
      else if (mime.includes('text')) result = 'fas fa-file-alt';
      else if (mime.includes('word')) result = 'fas fa-file-word';
      else if (mime.includes('excel')) result = 'fas fa-file-word';

      return result;
    },

    sleep(ms) {
      return new Promise((resolve) => setTimeout(resolve, ms));
    },

    async send() {
      try {
        const { files } = this;

        for (let index = 0; index < files.length; index += 1) {
          this.$emit('send-media', files[index], true);

          if (files.length < index) break;
          this.$q.loading.show({
            message: this.$t('message.waitSendingMedia')`${index + 1}` + this.$t('commonWord.of')`${files.length}`,
          });

          // eslint-disable-next-line no-await-in-loop
          await this.sleep(850);
        }

        this.$q.loading.hide();
        this.$emit('update:files', null);
        this.$emit('input', false);
      } catch (error) {
        console.error(error);
      }
    },
  },
};
</script>
