<template>
  <div
    @drop="dropHandler"
  >
    <q-field
      :label="label"
      stack-label
      outlined
    >
      <template #control>
        <div
          class="self-center full-width no-outline drop-item"
          style="width: auto; overflow-y: auto; white-space: nowrap; height: 170px"
          tabindex="0"
        >
          <div
            style="width: 150px; height: 150px;display: inline-block; position: relative"
          >
            <q-img
              v-if="internalSrc"
              :src="internalSrc"
              contain
              height="150px"
            />
            <q-img
              v-else-if="src"
              :src="src"
              contain
              height="150px"
            />

            <q-btn
              v-if="internalSrc || src"
              size="sm"
              color="negative"
              class="absolute-top-left"
              dense
              round
              icon="remove"
              @click="clear"
            />
          </div>

          <input
            v-show="false"
            ref="file"
            type="file"
            multiple
            accept="image/*"
            @change="fileSelected"
          >

          <q-btn
            v-if="!internalSrc"
            color="info"
            class="absolute-center"
            :label="$t('commonWord.choose')"
            @click="$refs.file.click();"
          />
        </div>
      </template>
    </q-field>
  </div>
</template>

<script>
import { i18n } from '../../boot/i18n';

export default {
  name: 'ImageUpload',

  props: {
    src: null,
    label: {
      default: i18n.t('commonWord.image'),
    },
  },

  data() {
    return {
      internalSrc: null,
      i18n,
    };
  },

  methods: {
    dropHandler(e) {
      e.stopPropagation();
      e.preventDefault();

      this.fileSelected(e.dataTransfer.files[0]);
    },

    fileSelected(e) {
      let file;
      if (e instanceof Event) {
        // eslint-disable-next-line prefer-destructuring
        file = this.$refs.file.files[0];
      } else {
        file = e;
      }
      this.internalSrc = URL.createObjectURL(file);
      this.$refs.file.value = null;
      this.$emit('file', file);
    },

    clear() {
      this.internalSrc = null;
      this.$emit('clear');
    },
  },
};
</script>

<style>

</style>
