<template>
  <q-img
    v-show="link"
    :src="link"
    basic
    contain
    v-bind="$attrs"
    @click.prevent="dialog = true"
  >
    <slot />

    <media-dialog
      v-model="dialog"
      :path="link"
    />
  </q-img>
</template>

<script>
export default {

  components: {
    MediaDialog: () => import('../Messages/MediaDialog'),
  },
  props: {
    id: null,
  },

  data() {
    return {
      dialog: false,
      link: '',
    };
  },

  mounted() {
    this.$meteor.call('medias.link', this.id, (err, res) => {
      if (err) console.error('medias.link', err);

      this.link = res;
    });
  },
};
</script>
