<template>
  <q-select
    :options="options"
    v-bind="$attrs"
    map-options
    emit-value
    v-on="$listeners"
  />
</template>

<script>

export default {
  name: 'LanguageSelect',
  data() {
    return {
      options: [
        {
          value: 'pt-br',
          label: 'Português (Brasil)',
        },

        {
          value: 'en-us',
          label: 'English',
        },
      ],
    };
  },
};
</script>
