<template>
  <q-dialog
    v-model="dialog"
    @hide="handleHide"
  >
    <q-card style="min-width: 80vw;">
      <q-card-section>
        <div
          v-if="newChat"
          class="text-h6"
        >
          {{ $t('ticket.startNew') }}:
        </div>
        <div
          v-else
          class="text-h6"
        >
          {{ $t('ticket.massMessages') }}:
        </div>
      </q-card-section>

      <q-separator />

      <q-card-section
        class="q-pa-none scroll "
        style="max-height: calc(100vh - 226px)"
      >
        <div class="row full-height">
          <div class="col-md-8 col-12 border">
            <div class="full-width row wrap justify-start items-center content-start q-pl-sm">
              {{ $t('commonWord.for') }}::

              <contact-select-inline
                ref="contactSelect"
                :initial-value="filter"
                :connection="connection"
                :contacts.sync="form.tos"
                :multiple="!newChat"
              />
              <q-space />

              <input
                v-show="false"
                ref="fileCsv"
                type="file"
                accept=".csv"
                @change="parseCsv($event)"
              >

              <q-btn
                v-if="!newChat"
                dense
                round
                flat
                icon="post_add"
                @click="$refs.fileCsv.click();"
              >
                <q-tooltip>
                  {{ $t('ticket.addCSV') }}
                </q-tooltip>
              </q-btn>
            </div>

            <q-separator />

            <q-input
              ref="inputDialog"
              v-model="form.body"
              type="textarea"
              :placeholder="$tc('commonWord.message')"
              rows="10"
              class="full-width"
              filled
              square
            >
              <div
                v-if="hasMedia"
                slot="prepend"
                class="relative"
              >
                <q-img
                  v-if="mimetype.includes('image')"
                  width="52px"
                  cover
                  height="52px"
                  :src="image"
                />

                <q-icon
                  v-else
                  color="primary"
                  :name="getIcon()"
                />

                <q-btn
                  size="xs"
                  color="negative"
                  class="absolute-top-left"
                  dense
                  round
                  icon="remove"
                  @click="clearMedia"
                />
              </div>

              <div slot="append">
                <q-btn
                  :disabled="loading"
                  icon="thumb_up"
                  round
                  flat
                  color="primary"
                  class="gt-xs"
                  outline
                >
                  <q-menu>
                    <VEmojiPicker @select="selectEmoji($event, 'inputDialog')" />
                  </q-menu>
                </q-btn>
                <q-btn
                  round
                  flat
                  color="primary"
                  class="q-ml-sm"
                  outline
                  :disabled="loading"
                  icon="attach_file"
                  @click="$refs.file.click();"
                />
              </div>
            </q-input>
          </div>

          <div
            v-if="$q.screen.gt.sm"
            class="col-md-4 col-12 border"
          >
            <q-scroll-area
              class="q-scroll"
              style="height: 264px"
            >
              <quick-messages-list
                v-if="connection && connection._id"
                class="q-pa-none"
                :data="{connectionId: connection._id}"
                @apply="onQuickMessagesApply"
              />
            </q-scroll-area>
          </div>
        </div>
      </q-card-section>

      <q-separator />

      <q-card-actions align="right">
        <template v-for="(item, index) in csv.headers">
          <q-chip
            v-if="item !== 'numero'"
            :key="index"
            :color="'primary'"
            text-color="white"
            class="cursor-pointer"
            @click.native="placeCsvPlaceholder(item, 'inputDialog')"
          >
            {{ item }}
          </q-chip>
        </template>

        <input
          v-show="false"
          ref="file"
          type="file"
          accept="text/*, audio/*, application/*"
          @change="mediaSelect"
        >

        <q-btn
          v-close-popup
          :label="$t('commonWord.cancel')"
          color="primary"
          :disabled="loading"
        />
        <q-btn
          flat
          :label="$t('commonWord.send')"
          color="primary"
          :loading="loading"
          @click="send"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { VEmojiPicker } from 'v-emoji-picker';
import Vue from 'vue';
import { mapActions } from 'vuex';
import Papa from 'papaparse';
import Crypto from 'crypto';
import axios from 'axios';
import { i18n } from '../../boot/i18n';

export default {
  name: 'MassSend',

  components: {
    VEmojiPicker,
    quickMessagesList: () => import('../quickMessages/QuickMessages'),
    contactSelectInline: () => import('../contacts/ContactSelectInline'),
  },

  data() {
    return {
      dialog: false,
      loading: false,
      filter: '',

      newChat: false,
      connection: null,

      image: null,
      fileToSend: null,

      csv: {
        headers: null,
        data: null,
      },

      form: {
        tos: [],
        body: '',
      },
    };
  },

  created() {
    Vue.prototype.$sendMass = this.handleSendMass;
  },

  methods: {
    ...mapActions('member-messages', { messageCreate: 'create' }),
    ...mapActions('member-tickets', ['find']),
    // ...mapActions('member-contacts', ['find', 'create']),

    getIcon() {
      let result = 'fas fa-file';

      if (this.mimetype.includes('pdf')) result = 'fas fa-file-pdf';
      else if (this.mimetype.includes('audio')) result = 'fas fa-file-audio';
      else if (this.mimetype.includes('video')) result = 'fas fa-file-video';
      else if (this.mimetype.includes('text')) result = 'fas fa-file-alt';
      else if (this.mimetype.includes('word')) result = 'fas fa-file-word';
      else if (this.mimetype.includes('excel')) result = 'fas fa-file-word';

      return result;
    },

    mediaSelect() {
      const file = this.$refs.file.files[0];
      this.image = URL.createObjectURL(file);
      this.fileToSend = file;
    },

    onQuickMessagesApply(e) {
      if (e.media && e.media.location) this.image = e.media.location;
      this.fileToSend = e.media;
      this.form.body = e.body;
    },

    clearMedia() {
      this.image = null;
      this.fileToSend = null;
    },

    parseCsv(file) {
      if (!file) return;
      if (!this.$refs.fileCsv.files.length) return;
      // eslint-disable-next-line prefer-destructuring
      file = this.$refs.fileCsv.files[0];
      const config = {
        delimiter: '', // auto-detect
        newline: '', // auto-detect
        quoteChar: '"',
        escapeChar: '"',
        header: true,
        transformHeader: undefined,
        dynamicTyping: false,
        preview: 0,
        encoding: '',
        worker: false,
        comments: false,
        step: undefined,
        complete: this.parseCsvComplete,
        error: this.parseCsvError,
        download: false,
        downloadRequestHeaders: undefined,
        downloadRequestBody: undefined,
        skipEmptyLines: false,
        chunk: undefined,
        chunkSize: undefined,
        fastMode: undefined,
        beforeFirstChunk: undefined,
        withCredentials: undefined,
        transform: undefined,
        delimitersToGuess: [',', '\t', '|', ';', Papa.RECORD_SEP, Papa.UNIT_SEP],
      };

      this.$q.loading.show({
        message: i18n.t('message.readingFile'),
      });

      Papa.parse(file, config);
    },

    parseCsvComplete(e) {
      this.$q.loading.hide();
      this.$refs.fileCsv.value = '';
      if (e.data.length) {
        this.csv.headers = Object.keys(e.data[0]);

        this.csv.data = e.data;

        const numbers = e.data.map((item) => ({
          jid: item.numero,
        }));

        this.$refs.contactSelect.parse(numbers);
      }

      this.$q.loading.hide();
    },

    parseCsvError(e) {
      this.$refs.fileCsv.value = '';
      console.error(e);

      this.$notify('negative');

      this.$q.loading.hide();
    },

    async handleSendMass({ newChat = false, filter = '' }) {
      this.$selectConnection()
        .then((e) => {
          this.newChat = newChat;
          this.filter = filter;
          this.dialog = true;
          this.connection = e;
        })
        .catch();
    },

    // async requestContact() {
    //   try {
    //     let messages = await this.$selectContacts({ single: this.newChat, connection: JSON.parse(JSON.stringify(this.connection)) });
    //     if (this.newChat) this.form.tos = [messages];
    //     else {
    //       messages = messages.filter((e) => !this.form.tos.some((i) => i.jid === e.jid));
    //       this.form.tos = [
    //         ...this.form.tos,
    //         ...messages,
    //       ];
    //     }
    //   } catch (error) {
    //     console.error(error);
    //   }
    // },

    handleHide() {
      this.form.tos = [];
      this.form.body = '';
      this.fileToSend = null;
      this.image = null;
      this.newChat = false;
      this.dialog = false;
    },

    placeCsvPlaceholder(item, ref) {
      const input = this.$refs[ref].$el.querySelector('textarea');

      item = `<${item}/>`;

      if (input.selectionStart !== null) this.form.body = this.form.body.substring(0, input.selectionStart) + item + this.form.body.substring(input.selectionStart);
      else this.form.body += item;
    },

    selectEmoji(emoji, ref) {
      const input = this.$refs[ref].$el.querySelector('textarea');

      if (input.selectionStart !== null) this.form.body = this.form.body.substring(0, input.selectionStart) + emoji.data + this.form.body.substring(input.selectionStart);
      else this.form.body += emoji.data;
    },

    sleep(ms) {
      return new Promise((resolve) => setTimeout(resolve, ms));
    },

    // async getContact(jid, doNotCreate = false) {
    //   const result = await this.find({ query: { jid, $limit: 1 }, paginate: false });

    //   if (!result.total && !doNotCreate) {
    //     return this.create({ jid, connectionId: this.connection._id });
    //   }

    //   if (!result.total) {
    //     throw new Error('Contact not found');
    //   }

    //   return result.data[0];
    // },

    async getTicket(jid, contact) {
      let result = await this.find({ query: { jid, $limit: 1, status: { $in: ['in_progress', 'waiting'] } }, paginate: false });
      if (result.total) return result.data[0];

      const body = {
        connectionId: this.connection._id,
        contactId: contact._id,
        jid,
        status: 'in_progress',
        attendantId: this.$user._id,
      };
      result = await this.$store.dispatch('member-tickets/create', body);
      return result;
    },

    async sendText({
      index, jid, contactId, ticketId,
    }) {
      if (index === undefined) return;
      if (!jid) return;
      if (!contactId) return;
      if (!ticketId) return;

      const payload = {
        id: jid,
        connectionId: this.connection._id,
        contactId,
        userId: this.connection.userId,
        ticketId,
        key: {
          fromMe: true,
          id: `3EB0${Crypto.randomBytes(4).toString('hex').toUpperCase()}`,
        },
        message: {
          conversation: this.getParsedBody(index),
        },
      };

      try {
        await this.messageCreate(payload);
      } catch (error) {
        console.error(error);
      }
    },

    async sendMedia({
      index, jid, contactId, ticketId,
    }) {
      if (!index) return;
      if (!jid) return;
      if (!contactId) return;
      if (!ticketId) return;

      let type = this.fileToSend.type || this.fileToSend.mimetype;
      const mimetype = type;
      const file = this.fileToSend;
      // eslint-disable-next-line prefer-destructuring
      type = type.split('/')[0];

      if (['video'].includes(type)) {
        this.$notify('negative', i18n.t('ticket.fileTypeNotAccept'));
        this.fileToSend = null;
        return;
      }

      const form = JSON.parse(JSON.stringify(this.form));
      const payload = new FormData();
      payload.append('id', jid);
      payload.append('connectionId', this.connection._id);
      payload.append('contactId', contactId);
      payload.append('userId', this.connection.userId);
      payload.append('ticketId', ticketId);
      payload.append('key.fromMe', true);
      payload.append('key.id', `3EB0${Crypto.randomBytes(4).toString('hex').toUpperCase()}`);
      payload.append('mimetype', mimetype);

      if (file instanceof File) {
        payload.append('files', file);
      } else {
        payload.append('files', JSON.stringify(file));
      }

      if (form.body) {
        payload.append(`message.${type}Message.caption`, form.body);
      } else {
        payload.append(`message.${type}Message`, null);
      }

      this.form.body = '';

      const noti = this.$q.notify({
        group: false, // required to be updatable
        timeout: 0, // we want to be in control when it gets dismissed
        spinner: true,
        message: i18n.t('ticket.uploadingFile'),
        caption: '0%',
      });

      try {
        const url = `${this.$store.state.baseUrl}/member-messages`;
        const options = {
          headers: {
            Authorization: `Bearer ${this.$store.state.auth.accessToken}`,
            'Content-Type': `multipart/form-data; boundary=${form._boundary}`,
          },
          onUploadProgress(progressEvent) {
            const percent = Math.round((progressEvent.loaded * 100) / progressEvent.total);
            noti({ caption: `${percent}%` });
          },
        };

        await axios.post(url, payload, options);
        noti({
          icon: 'done', // we add an icon
          spinner: false, // we reset the spinner setting so the icon can be displayed
          message: i18n.t('ticket.uploadFileSuccess'),
          timeout: 2500,
        });

        this.fileToSend = null;
        this.image = null;
      } catch (error) {
        console.error(error);
        noti({
          icon: 'done', // we add an icon
          spinner: false, // we reset the spinner setting so the icon can be displayed
          message: i18n.t('ticket.uploadFileError'),
          timeout: 2500,
        });
      }
    },

    async send() {
      if (!this.form.tos.length) {
        this.$notify('warning', i18n.t('ticket.selectContact'));
        return;
      }

      this.loading = true;
      let lastTicket = null;
      try {
        for (let index = 0; index < this.form.tos.length; index += 1) {
          const to = this.form.tos[index];

          const jid = to.jid;
          const contact = to;
          // eslint-disable-next-line no-await-in-loop
          const ticket = await this.getTicket(jid, contact);

          const body = {
            index, jid, contactId: contact._id, ticketId: ticket._id,
          };

          lastTicket = ticket._id;

          if (this.fileToSend) {
            // eslint-disable-next-line no-await-in-loop
            await this.sendMedia(body);
          } else {
            // eslint-disable-next-line no-await-in-loop
            await this.sendText(body);
          }

          if (this.form.tos.length - 1 <= index) break;
          const text = `${i18n.t('ticket.sendingMessage')} ${index + 1} ${i18n.t('commonWord.of')} ${this.form.tos.length}`;
          this.$q.loading.show({
            message: text,
          });

          // eslint-disable-next-line no-await-in-loop
          await this.sleep(7000);
        }

        if (lastTicket) {
          this.$router.push({ name: 'tickets-room', params: { id: lastTicket } });
        }

        this.dialog = false;
      } catch (error) {
        console.error(error);
      }

      this.$q.loading.hide();
      this.loading = false;
    },

    getParsedBody(indexExternal) {
      let result = this.form.body;

      if (this.csv.headers) {
        for (let index = 0; index < this.csv.headers.length; index += 1) {
          const item = this.csv.headers[index];

          result = result.split(`<${item}/>`).join(this.csv.data[indexExternal][item]);
        }
      }

      return result;
    },
  },

  computed: {
    mimetype() {
      if (!this.hasMedia) return null;

      if (typeof this.fileToSend === 'string') {
        return 'image';
      }

      return this.fileToSend.type ?? this.fileToSend.mimetype;
    },

    hasMedia() {
      return !!this.fileToSend;
    },
  },
};
</script>

<style scoped>
  .border{
    border-right: 1px solid rgba(0, 0, 0, 0.12)
  }
</style>
