<template>
  <q-banner
    :class="`type-${color} q-mt-sm`"
    rounded
    dense
  >
    <slot />
  </q-banner>
</template>

<script>
export default {
  props: {
    color: {
      default: 'negative',
    },
  },
};
</script>

<style scoped>
.type-negative {
  border-left: 3px solid var(--q-color-negative);
  background-color: #ffc0c6
}
.type-primary {
  border-left: 3px solid var(--q-color-primary);
  background-color: #1976d26b
}
.type-info {
  border-left: 3px solid var(--q-color-info);
  background-color: #1976d26b
}

</style>
