<template>
  <q-dialog
    ref="dialog"
    persistent
    @hide="onDialogHide"
  >
    <q-carousel
      v-model="slide"
      transition-prev="slide-right"
      transition-next="slide-left"
      animated
      control-color="primary"
      padding
      style="width: 80vw; min-width: 80vw; height: 500px"
      class="bg-white shadow-1 rounded-borders onboarding-dialog"
    >
      <q-btn
        slot="control"
        color="primary"
        flat
        round
        size="lg"
        unelevated
        icon="close"
        style="position: absolute; top: 5px; right: 5px;z-index: 9"
        @click.stop.prevent="hide"
      />
      <q-carousel-slide
        :name="1"
        class="column no-wrap flex-center"
      >
        <div class="q-mt-md text-center">
          <h3 class="text-primary">
            Bem vindo!
          </h3>

          <p>
            Posso lhe ajudar a configurar tudo antes de começar?
          </p>

          <q-btn
            color="negative"
            flat
            label="Não, eu consigo achar sozinho"
            class="q-mr-sm"
            @click="onOKClick"
          />
          <q-btn
            color="primary"
            autofocus
            label="Sim!"
            @click="slide++"
          />
        </div>
      </q-carousel-slide>
      <q-carousel-slide
        :name="2"
        class="column no-wrap flex-center"
      >
        <div class="q-mt-md text-center">
          <h3 class="text-primary q-mb-none">
            Primeiro
          </h3>

          <p>
            Você está usando o Multi Device(beta) do Whatsapp?<br>
            <small>
              <a
                href="https://faq.whatsapp.com/general/download-and-installation/about-multi-device-beta/?lang=pt_br"
                target="_blank"
                rel="noopener noreferrer"
              >Sobre o multidevices</a>
            </small>
          </p>

          <q-btn
            color="info"
            label="Sim, eu uso o multi devices"
            class="q-mr-sm"
            @click="useMultidevice = true; slide++"
          />

          <q-btn
            color="info"
            label="Não, estou usando o normal"
            @click="useMultidevice = false; slide++"
          />
        </div>
      </q-carousel-slide>

      <q-carousel-slide
        :name="3"
        class="column no-wrap flex-center"
      >
        <div class="q-mt-md text-center">
          <h3 class="text-primary q-mb-none">
            Primeiro
          </h3>

          <p>
            Precisarei de mais informações de como podemos te ajudar.
          </p>

          <ol>
            <li>
              Preciso atender grandes quantidade de clientes, com separação de atendentes, conversas, permissões e departamentos
            </li>
            <li>
              Apenas os chats igual o whatsapp web é mas em varios computadores ao mesmo tempo
            </li>
          </ol>

          <q-btn
            color="info"
            label="Quero a primeira opção"
            class="q-mr-sm"
            @click="toggleChats(false)"
          />
          <q-btn
            color="info"
            label="Quero a segunda opção"
            @click="toggleChats(true)"
          />
        </div>
      </q-carousel-slide>

      <q-carousel-slide
        :name="4"
        class="column no-wrap flex-center"
      >
        <div class="q-mt-md text-center">
          <h3 class="text-primary q-mb-none">
            Configuração dos atendimentos
          </h3>

          <p>
            Atendimentos são interações isoladas com seus clientes e contatos, isso significa que ao final de uma interação (conversa), ela é finalizada e a proxima não terá esse historico.
          </p>

          <p>
            Com isso em mente, voce prefere:
          </p>

          <ol class="text-left">
            <li>
              Quero que meus atendentes vejam apenas o que cabe a eles, e no depatartamento deles, eles nunca poderam ver nada alem do que eles mesmos falaram.
            </li>
            <li>
              Quero que os meus atendentes possam ver o que estão atendendo e qualquer atendimento esperando.
            </li>
            <li>
              Quero que eles possam se virar com tudo, e nenhum limite.
            </li>
          </ol>

          <q-btn
            color="info"
            label="Opção 1"
            class="q-ma-sm"
            @click="maxSecurity"
          />

          <q-btn
            color="info"
            label="Opção 2"
            class="q-ma-sm"
            @click="medSecurity"
          />

          <q-btn
            color="info"
            label="Opção 3"
            class="q-ma-sm"
            @click="noSecurity"
          />
        </div>
      </q-carousel-slide>

      <q-carousel-slide
        :name="4"
        class="column no-wrap flex-center"
      >
        <div class="q-mt-md text-center">
          <h3 class="text-primary q-mb-none">
            Configuração dos atendimentos
          </h3>

          <p>
            Cada atendimento é uma interação isolada com seu cliente/contato, isso significa que você não verá todo o historico na conversa.<br>
            Ainda, os atendimentos que o atendente (usuario) possuir acesso, estarão visiveis para consulta do contexto da conversa<br>
            Mesmo assim é possivel ativar essa opção para visualizar o historico diretamente do celular.<br>

            <b>Atenção:</b> se certas mensagens possuem informações que nem todos os colaboradores podem vem NÃO ATIVE ESSA OPÇÃO!
          </p>

          <div style="max-width: 350px; margin: auto">
            <q-card class="text-left" />
          </div>

          <q-btn
            color="info"
            label="Proximo"
            class="q-mt-sm"
            @click="slide++"
          />
        </div>
      </q-carousel-slide>

      <q-carousel-slide
        :name="5"
        class="column no-wrap flex-center"
      >
        <div class="q-mt-md text-center">
          <h3 class="text-primary q-mb-none">
            Acesso a API para devs
          </h3>

          <p>
            Você pretende usar nossa API para enviar e receber mensagens pela plataforma?<br>
            Se sim, a documentação fica disponivel na propria plataforma, é so escolher a opção abaixo para ativa-la
          </p>

          <q-btn
            color="info"
            label="Sim, preciso da API"
            class="q-ma-sm"
            @click="toggleApi(true)"
          />

          <q-btn
            color="info"
            label="Não, deixa desativado"
            class="q-ma-sm"
            @click="toggleApi(false)"
          />
        </div>
      </q-carousel-slide>

      <q-carousel-slide
        :name="6"
        class="column no-wrap flex-center"
      >
        <div class="q-mt-md text-center">
          <h3 class="text-primary q-mb-none">
            Chatbot e pre atendimento
          </h3>

          <p>
            Temos um chatbot que pode realizar o pre atendimento e direcionar seu cliente/contato para o lugar certo. Gostaria de ativar essa opção?
          </p>

          <q-btn
            color="info"
            label="Sim, preciso do chatbot"
            class="q-ma-sm"
            @click="toggleChatbot(true)"
          />

          <q-btn
            color="info"
            label="Não, deixa desativado"
            class="q-ma-sm"
            @click="toggleChatbot(false)"
          />
        </div>
      </q-carousel-slide>

      <q-carousel-slide
        name="createUsers"
        class="column no-wrap flex-center"
      >
        <div class="q-mt-md text-center">
          <h3 class="text-primary q-mb-none">
            Criação de atendentes
          </h3>

          <p>
            Vamos criar todos os atendentes
          </p>

          <attendants-form
            v-model="attendantsFormDialog"
            :target="null"
            icon="add"
            color="primary"
            size="lg"
            label="Adicionar atendente"
          /><br>

          <q-btn
            color="primary"
            label="proximo"
            @click="slide = 'last'"
          />
        </div>
      </q-carousel-slide>

      <q-carousel-slide
        name="last"
        class="column no-wrap flex-center"
      >
        <div class="q-mt-md text-center">
          <h3 class="text-primary q-mb-none">
            Pronto
          </h3>

          <p>
            Tudo configurado e pronto para começar, agora so precisamos conectar seu whatsapp.<br>
            Clique abaixo, e iremos gerar um QR Code para você escanear com o celular.
          </p>

          <q-btn
            color="primary"
            label="Gerar o QR Code"
            @click="finish"
          />
        </div>
      </q-carousel-slide>
    </q-carousel>
  </q-dialog>
</template>

<script>
export default {
  props: {
  },

  components: {
    AttendantsForm: () => import('src/components/attendants/AttendantsForm'),
  },

  data() {
    return {
      slide: 1,
      attendantsFormDialog: false,
      useMultidevice: false,
    };
  },

  methods: {
    async finish() {
      await this.saveConnectionData({ useMultidevice: this.useMultidevice });
      await this.$reconnectDialog(this.$connections[0]);
      this.hide();
    },

    toggleChatbot(value) {
      this.saveConnectionData({
        activeChatbot: value,
      }).then(() => {
        this.slide = 'createUsers';
        if (value) {
          this.$q.dialog({
            title: 'Aviso',
            message: 'Posso abrir as configurações do chatbot?',
            ok: {
              label: 'Sim, por favor',
            },
            cancel: {
              flat: true,
              label: 'Não',
            },
            persistent: true,
          })
            .onOk(() => {
              window.open('https://atd.chatfly.com.br/dashboard/c', '_blank');
            });
        }
      });
    },

    toggleApi(value) {
      this.saveConnectionData({
        apiEnable: value,
      }).then(() => {
        this.slide += 1;
        if (value === true) {
          this.$q.dialog({
            title: 'Aviso',
            message: 'Posso abrir a documentação em uma nova aba agora mesmo?',
            ok: {
              label: 'Sim, por favor',
            },
            cancel: {
              flat: true,
              label: 'Não',
            },
            persistent: true,
          })
            .onOk(() => {
              window.open('https://atd.chatfly.com.br/dashboard/api-desenvolvedor', '_blank');
              this.slide += 1;
            });
        }
      });
    },

    waitConfirm() {
      return new Promise((resolve, reject) => {
        this.$q.dialog({
          title: 'Aviso',
          message: 'Com base nas suas escolhas, não podemos ativar o modo chats com o multidevices.',
          ok: {
            label: 'Tudo bem',
          },
          cancel: false,
          persistent: true,
        }).onOk(resolve)
          .onCancel(reject);
      });
    },

    maxSecurity() {
      this.saveTicketSetting({
        allSetUserId: false,
        allUserSeeChats: false,
        toggleAutoQueue: false,
        usersSeeOnlyOwn: true,
        markAsRead: false,
        toggleAllowFastReopen: false,
      });
      this.saveConnectionData({
        disableAutoImportUnreadMessages: false,
        disableForceUseHere: false,
        disableWaitChats: false,
        blockDirectToPhone: true,
        allowAllReconnect: false,
      });
      this.slide += 1;
    },

    medSecurity() {
      this.saveTicketSetting({
        allSetUserId: false,
        allUserSeeChats: false,
        toggleAutoQueue: false,
        usersSeeOnlyOwn: false,
        markAsRead: false,
        toggleAllowFastReopen: false,
      });
      this.saveConnectionData({
        disableAutoImportUnreadMessages: false,
        disableForceUseHere: false,
        disableWaitChats: false,
        blockDirectToPhone: true,
        allowAllReconnect: false,
      });
      this.slide += 1;
    },

    noSecurity() {
      this.saveTicketSetting({
        allSetUserId: true,
        allUserSeeChats: false,
        toggleAutoQueue: false,
        usersSeeOnlyOwn: false,
        markAsRead: false,
        toggleAllowFastReopen: false,
      });
      this.saveConnectionData({
        disableAutoImportUnreadMessages: false,
        disableForceUseHere: false,
        disableWaitChats: false,
        blockDirectToPhone: false,
        allowAllReconnect: false,
      });
      this.slide += 1;
    },

    async toggleChats(value) {
      if (value && this.useMultidevice) {
        await this.waitConfirm();
        value = false;
      }
      this.$q.loading.show();
      this.saveConnectionData({ chatsEnable: value });
      if (value) this.slide = 'createUsers';
      else this.slide += 1;
      this.$q.loading.hide();
    },

    async saveConnectionData(data) {
      const promises = [];
      // eslint-disable-next-line no-restricted-syntax
      for (let index = 0; index < this.$connections.length; index += 1) {
        const item = this.$connections[index];

        promises.push(
          this.$store.dispatch('member-connections/patch', [
            item._id,
            data,
          ]),
        );
      }

      try {
        await Promise.all(promises);
      } catch (error) {
        console.error(error);
        this.$notify('negative');
      }
    },

    async saveTicketSetting(data) {
      const promises = [];
      // eslint-disable-next-line no-restricted-syntax
      for (const key in data) {
        if (Object.hasOwnProperty.call(data, key)) {
          const item = data[key];

          if (!this[`${key}Value`]) {
            promises.push(
              this.$store.dispatch('member-settings/create', {
                name: key,
                value: item,
              }),
            );
          } else {
            promises.push(
              this.$store.dispatch('member-settings/patch', [
                this[`${key}Value`]._id,
                {
                  value: item,
                },
              ]),
            );
          }
        }
      }

      try {
        await Promise.all(promises);
        this.dialog = false;
      } catch (error) {
        console.error(error);
        this.$notify('negative');
      }
    },

    show() {
      this.$refs.dialog.show();
    },

    hide() {
      this.$store.dispatch('members/patch', [this.$user._id, { useOnboarding: false }]);
      this.saveConnectionData({ useMultidevice: this.useMultidevice }).then(() => {
        this.$refs.dialog.hide();
      });
    },

    onDialogHide() {
      this.$emit('hide');
    },

    onOKClick() {
      this.$emit('ok');
      this.hide();
    },

    onCancelClick() {
      this.hide();
    },
  },

};
</script>

<style lang="sass">
.onboarding-dialog
  p
    font-size: 26px
  ol
    font-size: 22px
</style>
