<template>
  <q-toggle
    v-if="shouldShow"
    :value="$user.available"
    color="positive"
    :label="$user.available ? 'Disponivel' : 'Indisponivel'"
    @input="update"
  >
    <q-tooltip>
      {{ $t('ticket.isAbleToAttend') }}
    </q-tooltip>
  </q-toggle>
</template>

<script>
import feathersClient from '../../boot/feathers-vuex';

export default {

  computed: {
    shouldShow() {
      return this.$store.getters['member-settings/list'].find((e) => e.name === 'useQueue' && e.value === true);
    },
  },
  methods: {
    update() {
      feathersClient.service('user/queue-available').find();
    },
  },
};
</script>
