<template>
  <q-btn
    v-if="!list && shouldAppear"
    icon="warning"
    round
    flat
    @click="checkDialog"
  >
    <q-tooltip>
      {{ $t('connection.recreate') }}
    </q-tooltip>
  </q-btn>
  <q-item
    v-else-if="shouldAppear"
    v-ripple
    clickable
    @click="checkDialog"
  >
    <q-item-section
      top
      avatar
    >
      <q-avatar icon="warning" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ $t('ticket.recreateNotify') }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
import Vue from 'vue';
import feathersClient from '../../boot/feathers-vuex';

export default {
  props: {
    list: Boolean,
  },

  created() {
    Vue.prototype.$reconnectDialog = this.checkDialog;
  },

  beforeDestroy() {
  },

  methods: {
    // hasPaid(item) {
    //   return this.$transactions.some((e) => e.connectionId === item._id) || item.active;
    // },

    handleReconect(target) {
      // if (!this.hasPaid(target)) return this.$notify('negative', 'Pagamento vencido, reveja seu pagamento');
      // if (target.type === 'whatsapp')
      return this.checkDialogWhatsapp(target);
      // return this.connectInstagram(target);
    },

    checkDialog(data = null) {
      if (!this.shouldAppear) return;
      // eslint-disable-next-line no-underscore-dangle
      if (data._id) {
        this.checkDialogWhatsapp(data);
        return;
      }

      this.$selectConnection()
        .then(this.handleReconect)
        .catch();
    },

    checkDialogWhatsapp(target) {
      this.$q.dialog({
        title: this.$t('commonWord.attention'),
        message: this.checkDialogMessage,
        html: true,
        ok: {
          flat: true,
          color: 'positive',
          label: this.$t('commonWord.initialize'),
        },
        cancel: {
          label: this.$t('commonWord.cancel'),
        },
      })
        .onOk(() => this.connectWhatsapp(target));
      // .onDismiss(() => {this.selected = null})
    },

    async connectWhatsapp(target) {
      this.loading = true;

      try {
        await feathersClient.service('connection-controller').update(target._id, target);
        this.$notify('warning', this.$t('connection.creating'));
      } catch (error) {
        console.error(error);
        this.$notify('negative');
      }
    },
  },

  computed: {
    shouldAppear() {
      if (this.$isAdmin) return true;
      if (this.$connections[0].allowAllReconnect) return true;
      return false;
    },
  },

  data() {
    return {
      checkDialogMessage: `<p>${this.$t('reconnectionMessage.open')}</p><p>${this.$t('reconnectionMessage.webWhats')}</p><p>${this.$t('reconnectionMessage.camera')}</p><p><b class="text-negative">${this.$t('reconnectionMessage.atention')}<b></p><p><b>${this.$t('reconnectionMessage.after')}</b></p><p><b>${this.$t('reconnectionMessage.use')}</b></p><p><b>${this.$t('reconnectionMessage.block')}</b></p>`,

    };
  },
};
</script>
