<template>
  <div
    class="q-pa-xs"
    :class="[
      $q.dark.isActive ? 'bg-grey-10' : 'bg-grey-3',
      $q.screen.lt.md ? 'col-xs-12 absolute-sidemenu' : 'col-xs-4'
    ]"
    style="border-left: 1px solid rgba(0, 0, 0, 0.12)"
  >
    <q-btn
      v-if="$q.screen.lt.sm"
      style="z-index: 1"
      icon="keyboard_arrow_left"
      class="absolute"
      unelevated
      outline
      dense
      round
      @click.stop="$emit('back')"
    />

    <q-scroll-area class="q-scroll">
      <q-list
        v-if="data"
        padding
      >
        <q-item>
          <q-card class="full-width">
            <q-card-section>
              <q-item class="q-pa-none">
                <q-item-section
                  avatar
                  top
                >
                  <avatar
                    :key="data.jid"
                    :data="data"
                    hide-icons
                  />
                </q-item-section>

                <q-item-section>
                  <q-item-label v-if="!hideTicket">
                    <contact-name
                      :fallback="data.jid.split('@')[0]"
                      :contact="data.contact"
                      @load="saveInlineModel = $event"
                    />
                    <q-icon
                      name="edit"
                      class="cursor-pointer"
                      @click.stop
                    >
                      <q-popup-edit
                        v-model="saveInlineModel"
                        :label-set="$t('commonWord.save')"
                        :label-cancel="$t('commonWord.cancel')"
                        buttons
                        @save="updateContact(saveInlineModel)"
                      >
                        <q-input
                          v-model="saveInlineModel"
                          dense
                          autofocus
                        />
                      </q-popup-edit>
                    </q-icon>
                  </q-item-label>

                  <q-item-label v-else>
                    {{ data.name || data.jid.split('@')[0] }}
                  </q-item-label>

                  <q-item-label
                    v-if="kind !== 'group'"
                    caption
                  >
                    WP: {{ id }}

                    <q-icon
                      class="cursor-pointer"
                      name="content_copy"
                      @click="$copy(id)"
                    />
                  </q-item-label>

                  <q-item-label caption>
                    {{ $tc('commonWord.connection') }}: {{ connection.connectionNickname || connection.jid }}
                  </q-item-label>

                  <q-item-label>
                    <ticket-status
                      v-if="!hideTicket"
                      class="lt-md"
                      :data="data"
                    />
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-card-section>
          </q-card>
        </q-item>

        <ticket-control
          v-if="!hideTicket"
          :connection="connection"
          :data="data"
        />

        <ticket-tags
          :data="data"
          :contact-id="contactId"
          :disabled="disabled"
        />

        <ticket-notes
          :contact-id="contactId"
          :data="data"
          :disabled="disabled"
        />

        <quick-messages
          :data="data"
          :disabled="disabled"
          @apply="$emit('quick-messages-apply', $event)"
        />

        <scheduled-messages
          v-if="false"
          :data="data"
          :disabled="disabled"
        />
      </q-list>
    </q-scroll-area>
  </div>
</template>

<script>
import feathersClient from '../../boot/feathers-vuex';

export default {
  name: 'RoomMenu',

  components: {
    Avatar: () => import('./Avatar'),
    ContactName: () => import('../contacts/ContactName'),
    TicketStatus: () => import('../tickets/TicketStatus'),
    TicketControl: () => import('../tickets/TicketControl'),
    TicketTags: () => import('../tickets/TicketTags'),
    TicketNotes: () => import('../tickets/TicketNotes'),
    QuickMessages: () => import('../quickMessages/QuickMessages'),
    ScheduledMessages: () => import('../scheduleMessages/ScheduledMessages'),
  },

  props: {
    data: {
      type: Object,
    },
    contactId: String,
    disabled: Boolean,
    hideTicket: Boolean,
  },

  data() {
    return {
      saveInlineModel: '',
    };
  },

  computed: {
    id() {
      return this.data.jid.split('@')[0];
    },

    kind() {
      return this.data.jid.includes('@g.us') ? 'group' : 'chat';
    },

    connection() {
      if (!this.data) return null;
      return this.$store.getters['member-connections/get'](this.data.connectionId);
    },
  },

  methods: {
    async updateContact() {
      await feathersClient.service('member-contacts').patch(this.data.contact._id, {
        overrideName: this.saveInlineModel,
      });
    },
  },
};
</script>

<style scoped>
.q-scroll {
  height: calc(100vh - 116px)
}

.absolute-sidemenu .q-scroll{
  height: 100%;
}

.absolute-sidemenu {
  position: absolute;
  top: 0;
  height: calc(100vh - 52px);
  padding-bottom: 5px;
}
</style>
