<template>
  <q-dialog
    ref="dialog"
    @hide="onDialogHide"
  >
    <q-card class="">
      <q-card-section>
        <div class="flex">
          <q-btn
            v-if="steps.length"
            rounded
            dense
            flat
            icon="arrow_back"
            @click="backOne"
          />

          <div>
            <div class="text-h6">
              Qual tipo de problema esta tendo?
            </div>
            <div class="text-subtitle2">
              Escolha uma das opções a baixo
            </div>
          </div>
        </div>
      </q-card-section>

      <q-card-section class="q-pa-none">
        <q-list
          v-if="point && point.points && point.points.length"
          bordered
        >
          <support-show-points
            :point="point"
            @point-clicked="steps.push(point);point = $event"
            @submit="submit"
          />
        </q-list>
        <div v-else>
          <support-show-form
            class="q-mx-md"
            :point="point"
            @submit="submit"
          />
        </div>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          color="primary"
          label="Cancelar"
          @click="onCancelClick"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  props: {
    connection: null,
  },

  components: {
    SupportShowPoints: () => import('./SupportShowPoints.vue'),
    SupportShowForm: () => import('./SupportShowForm.vue'),
  },

  data() {
    return {
      steps: [],
      point: null,
    };
  },

  methods: {
    backOne() {
      this.point = this.steps[this.steps.length - 1];
      this.steps.splice(-1);
    },

    show() {
      this.steps = [];
      this.point = this.support;
      this.$refs.dialog.show();
    },
    submit(e) {
      this.onOKClick(e);
    },

    hide() {
      this.$refs.dialog.hide();
    },

    onDialogHide() {
      this.$emit('hide');
    },

    onOKClick(e) {
      this.$emit('ok', e);
      this.hide();
    },

    onCancelClick() {
      this.hide();
    },
  },

  computed: {
    support() {
      return this.$env.support;
    },
  },
};
</script>
