<template>
  <div v-if="point && point.points && point.points.length">
    <support-show-form
      class="q-mx-md"
      :point="point"
      @submit="$emit('submit', $event)"
    />

    <q-separator />

    <template v-for="(item, index) in point.points">
      <q-item
        :key="index"
        v-ripple
        clickable
        @click="$emit('point-clicked', item)"
      >
        <q-item-section
          top
          avatar
        >
          <q-avatar
            color="primary"
            text-color="white"
            icon="arrow_forward"
          />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{ item.title }}</q-item-label>
        </q-item-section>
      </q-item>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    point: null,
  },

  components: {
    SupportShowForm: () => import('./SupportShowForm.vue'),
  },
};
</script>
