<template>
  <div
    v-if="point"
  >
    <div class="row q-py-md">
      Descrição:<br>
      <div
        class="col-12"
        v-html="point.description"
      />
    </div>

    <div
      v-if="point.type ==='TEXT'"
      class="row"
    >
      <div class="col-12">
        <q-input
          ref="input"
          v-model="form.input"
          outlined
          type="textarea"
          label="Descrição"
          :rules="[$data.$rules.required, $data.$rules.minLength(30)]"
          :lazy-rules="true"
        />
      </div>
    </div>

    <div
      v-if="!point.points.length"
      class="row"
    >
      <q-btn
        color="positive"
        label="Pedir suporte"
        @click="onClick"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    point: null,
  },

  data() {
    return {
      form: {
        input: '',
      },
    };
  },

  methods: {
    async onClick() {
      await this.$resetValidation(this.form);
      if (!(await this.$validate(this.form))) return;
      this.$emit('submit', { point: this.point, form: this.form });
    },
  },
};
</script>
