<template>
  <q-btn
    v-if="show"
    icon="support"
    round
    flat
    @click="requestSupport"
  >
    <q-dialog
      v-model="dialog"
      @hide="onHide"
    >
      <q-card style="width: 320px">
        <q-card-section>
          <div class="text-h6">
            {{ $t('ticket.askForSupport') }}
          </div>
          <div class="text-subtitle2">
            {{ $t('ticket.informNumber') }}
          </div>
        </q-card-section>
        <q-card-section class="">
          <q-input
            v-model="number"
            outlined
            autofocus
            mask="+55 (##) #####-####"
          />
        </q-card-section>

        <q-card-actions align="right">
          <q-btn
            v-close-popup
            :label="$t('commonWord.cancel')"
            color="positive"
          />
          <q-btn
            flat
            :label="$t('commonWord.send')"
            color="negative"
            @click="submit"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-tooltip>
      {{ $t('ticket.askForSupport') }}
    </q-tooltip>
  </q-btn>
</template>

<script>
import feathersClient from '../../boot/feathers-vuex';

export default {
  props: {
    list: Boolean,
  },

  data() {
    return {
      dialog: false,
      number: '',
    };
  },

  computed: {
    show() {
      return this.$env.support && this.$env.support.active;
    },
  },

  methods: {
    requestSupport() {
      this.$selectConnection({ allowAll: true })
        .then((e) => {
          if (!e.meta || !e.meta.validatedJid) {
            this.$notify('negative', this.$t('ticket.supportNotValidated'));
            return;
          }

          this.showSupportRequest(e);

          // this.submit(e.jid);
        })
        .catch();
    },

    async showSupportRequest(connection) {
      this.$q.dialog({
        component: () => import('./SupportRequestDialog.vue'),
        parent: this,
        connection,
      }).onOk((evt) => {
        this.submit(connection.jid, evt);
      });
    },

    onHide() {
      this.number = '';
    },
    async submit(number, { point, form }) {
      try {
        await feathersClient.service('suport').create({ number, point, form });
        this.dialog = false;
        this.$notify('positive', this.$t('ticket.supportConfirmation'));
      } catch (error) {
        console.error(error);
        this.$notify('negative', this.$t('ticket.supportError'));
      }
    },
  },
};
</script>
