<template>
  <div
    @click.stop
  >
    <div
      class="fixed-full image-gallery__blinder bg-grey-8"
      :class="open ? 'image-gallery__blinder--active' : undefined"
      @click="hideImage"
    />

    <div
      class="row justify-center q-gutter-sm q-mx-auto scroll relative-position img-container"
      style="max-width: 80vw; max-height: 80vh"
    >
      <q-img
        ref="refThumb"
        class="image-gallery__image"
        :class="imgClass"
        :style="open ? 'opacity: 0.3' : undefined"
        :src="src"
        basic
        @click="zoomImage"
      />
    </div>

    <div
      class="image-gallery__image image-gallery__image-full scroll fixed-center"
      :class="open ? 'image-gallery__image-full--active' : undefined"
      style="height: 100%"
      @contextmenu.stop
    >
      <q-img
        ref="refFull"
        native-context-menu
        :src="open ? src : undefined"
        @load="imgLoadedResolve"
        @error="imgLoadedReject"
        @click="hideImage"
      />

      <q-menu context-menu>
        <q-list style="min-width: 100px">
          <q-item
            v-close-popup
            clickable
            @click="downloadFile"
          >
            <q-item-section>{{ $t('commonWord.save') }}</q-item-section>
          </q-item>
        </q-list>
      </q-menu>
    </div>
  </div>
</template>

<script>
import { morph } from 'quasar';

export default {
  name: 'ZoomImg',

  props: {
    src: String,
    imgClass: null,
  },

  data() {
    return {
      open: false,
      cancel: undefined,
      imgLoaded: {
        promise: Promise.resolve(),
        resolve: () => {},
        reject: () => {},
      },
    };
  },

  methods: {
    downloadFile() {
      const a = document.createElement('a'); // Create <a>
      a.href = this.src; // Image Base64 Goes here
      a.download = 'ChatFlyAtd_-_img.png'; // File name Here
      a.click(); // Downloaded file
    },

    imgLoadedResolve() {
      this.imgLoaded.resolve();
    },

    imgLoadedReject() {
      this.imgLoaded.reject();
    },

    hideImage() {
      console.log('hide');
      morph({
        to: this.$refs.refThumb.$el,
        from: this.$refs.refFull.$el,
        onToggle: () => {
          this.open = false;
        },
        waitFor: this.imgLoaded.promise,
        duration: 300,
        hideFromClone: true,
        onEnd: () => {
          this.open = false;
        },
      });
    },

    zoomImage() {
      this.imgLoaded.reject();

      this.imgLoaded.promise = new Promise((resolve, reject) => {
        this.imgLoaded.resolve = () => {
          this.imgLoaded.resolve = () => {};
          this.imgLoaded.reject = () => {};

          resolve();
        };
        this.imgLoaded.reject = () => {
          this.imgLoaded.resolve = () => {};
          this.imgLoaded.reject = () => {};

          reject();
        };
      });

      morph({
        from: this.$refs.refThumb.$el,
        to: this.$refs.refFull.$el,
        onToggle: () => {
          this.open = true;
        },
        waitFor: this.imgLoaded.promise,
        duration: 400,
        hideFromClone: true,
      });
    },
  },

};
</script><style lang="sass">
.image-gallery
  &__image
    width: 150px
    cursor: pointer
    &::-webkit-scrollbar
      width: 0px
      background: transparent
    &::-webkit-scrollbar-thumb
      background: transparent

    &-full
      width: 800px
      max-width: 70vw
      z-index: 2002
      pointer-events: none

      &--active
        pointer-events: all
  &__blinder
    opacity: 0
    z-index: 2000
    pointer-events: none
    transition: opacity 0.3s ease-in-out

    &--active
      opacity: 0.6
      pointer-events: all

      + div > .image-gallery__image
        z-index: 2001
</style>
