<template>
  <q-card
    v-if="($isManager || $isAdmin)"
  >
    <q-card-section>
      <div class="text-h6 flex">
        {{ $t('ticket.ticketsHourRelation') }}

        <div>
          <q-badge
            v-if="time && $route.query.dev"
            class="q-ml-xs"
            color="negative"
          >
            {{ time }}
          </q-badge>
        </div>
      </div>
    </q-card-section>

    <q-separator />

    <q-card-section
      v-if="data"
      class="q-pa-none"
    >
      <q-markup-table
        flat
        dense
        square
        separator="cell"
        class="qtable-sticky"
      >
        <thead>
          <tr>
            <th />
            <template v-for="(item, index) in 24">
              <th
                :key="`header_${index}`"
                class="text-center"
              >
                {{ `0${index}`.slice(-2) }}h
              </th>
            </template>
          </tr>
        </thead>
        <tbody>
          <template v-for="(item, index) in 7">
            <tr :key="`row_${index}`">
              <td>
                {{ weekDays[index] }}
              </td>

              <template v-for="(item2, index2) in 24">
                <td
                  :key="`cell_${index}_${index2}`"
                  class="text-center"
                  :style="{
                    'background-color': getColor(getAmount(index2, item))
                  }"
                >
                  <q-tooltip>
                    {{ getAmount(index2, item) }}
                  </q-tooltip>
                </td>
              </template>
            </tr>
          </template>
        </tbody>
      </q-markup-table>
      <q-separator />

      <div class="q-pa-md">
        {{ $t('ticket.higherValue') }}: {{ higherValue }}
      </div>
    </q-card-section>

    <q-card-section
      v-if="!data && !loading"
      class="flex flex-center full-width full-height"
      style="min-height: 180px"
    >
      <div class="text-center text-h6">
        <q-icon
          name="warning"
          size="60px"
          color="primary"
        /><br>

        {{ $t('ticket.insufficientData') }}
      </div>
    </q-card-section>

    <q-inner-loading
      v-if="loading"
      showing
    >
      <q-spinner-gears
        size="50px"
        color="primary"
      />
    </q-inner-loading>
  </q-card>
</template>

<script>
import { colors } from 'quasar';
import feathersClient from '../../boot/feathers-vuex';

export default {
  data() {
    return {
      data: null,
      loading: false,
      fullscreen: false,
      time: null,
      weekDays: [
        this.$t('weekDays.sunday'),
        this.$t('weekDays.monday'),
        this.$t('weekDays.tuesday'),
        this.$t('weekDays.wednesday'),
        this.$t('weekDays.thursday'),
        this.$t('weekDays.friday'),
        this.$t('weekDays.saturday'),
      ],
    };
  },

  computed: {
    higherValue() {
      if (!this.data) return 0;

      let result = 0;

      for (let index = 0; index < this.data.length; index += 1) {
        const item = this.data[index];
        const max = Math.max(...Object.values(item.hours));
        if (max > result) result = max;
      }

      return result;
    },
  },

  created() {
    this.getData();
  },

  methods: {
    getAmount(hour, weekDay) {
      let result = this.data.find((e) => e.day === weekDay);
      if (result && result.hours[hour]) result = result.hours[hour];
      else result = 0;
      return result;
    },

    getColor(value) {
      let result = colors.getBrand('negative');
      result = colors.changeAlpha(result, value / this.higherValue);

      return result;
    },

    async getData() {
      this.loading = true;
      const start = new Date().getTime();
      try {
        this.data = await feathersClient.service('reports/tickets-hours').find({ query: { departmentId: !this.$isManager ? this.$user.departmentId : null } });
      } catch (error) {
        console.error(error);
      }
      this.loading = false;
      this.time = new Date().getTime() - start;
    },
  },
};
</script>
