<template>
  <div clas>
    <template v-for="item in messages">
      <message
        :key="`${item._id}`"
        :data="item"
        disabled
      />
    </template>
  </div>
</template>

<script>
import { makeFindMixin } from 'feathers-vuex';

export default {
  name: 'TicketHistoryActive',

  components: {
    Message: () => import('../Messages/Message'),
  },

  props: {
    active: {
      type: Object,
      default: null,
    },
  },

  mixins: [makeFindMixin({ service: 'member-messages', watch: true })],

  computed: {
    messages() {
      return this.$store.getters['member-messages/list'].filter((e) => e.ticketId === this.active._id);
    },

    memberMessagesParams() {
      const query = {
        ticketId: this.active._id,
      };

      return {
        query,
        paginate: true, // This restores previous functionality
      };
    },
  },

  methods: {
  },
};
</script>
