<template>
  <q-item>
    <q-card
      id="notes_control"
      class="full-width "
      @click.stop
    >
      <q-card-section class="q-py-none">
        <q-list>
          <q-item class="q-pa-none">
            <q-item-section>
              <q-item-label>
                {{ $tc('ticket.note', 2) }}
              </q-item-label>
            </q-item-section>

            <q-item-section avatar>
              <q-btn
                id="chat_menu_details"
                ref="chat_menu_details"
                flat
                round
                icon="keyboard_arrow_down"
                color="grey-7"
                @click="showDetails = !showDetails"
              />
            </q-item-section>
          </q-item>

          <q-slide-transition appear>
            <div
              v-show="showDetails"
              class="q-pb-md"
            >
              <q-input
                v-model="text"
                debounce="600"
                :color="$q.dark.isActive ? 'white' : 'dark'"
                :bg-color="$q.dark.isActive ? 'grey-9' : 'grey-3'"
                outlined
                :disabled="loadingNote"
                :readonly="disabled"
                type="textarea"
                @input="submit"
              />
            </div>
          </q-slide-transition>
        </q-list>
      </q-card-section>
    </q-card>
  </q-item>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'TicketNotes',

  props: {
    data: null,
    disabled: Boolean,
    contactId: String,
  },

  data() {
    return {
      showDetails: true,
      loadingNote: false,
      text: '',
    };
  },

  watch: {
    contact: {
      deep: true,
      immediate: true,
      handler() {
        if (this.data && this.contact && this.contact.note) {
          this.text = this.contact.note;
        } else {
          this.text = '';
        }
      },
    },
  },

  methods: {
    ...mapActions('member-contacts', ['patch']),
    submit() {
      this.patch([this.contact._id, { note: this.text }]);
    },
  },

  computed: {
    contact() {
      if (this.data.contact) return this.data.contact;
      if (this.contactId) return this.$store.getters['member-contacts/get'](this.contactId);

      return null;
    },
  },
};
</script>
