<template>
  <q-item
    v-if="data"
    v-ripple
    :active="selected || activeRoute"
    :disabled="connection.status !== 'open'"
    clickable
    class="q-px-xs"
    :class="data.count && false ? 'unread' : null"
    @click="handleClick"
    @contextmenu.prevent.stop="showMenu = true"
  >
    <q-item-section
      v-if="!selectable"
      class="ticket-avatar"
      avatar
    >
      <avatar
        :selected="activeRoute"
        :data="data"
        :hide-icons="data.status === 'closed'"
      />
    </q-item-section>
    <q-item-section
      v-else
      avatar
      class="multi-select"
    >
      <q-avatar
        v-if="!selected"
        color="primary"
        text-color="white"
        icon="check_box_outline_blank"
      />
      <q-avatar
        v-else
        color="primary"
        text-color="white"
        icon="check_box"
      />
    </q-item-section>

    <q-item-section>
      <q-item-label v-if="data && data.jid">
        <contact-name
          :fallback="data.jid.split('@')[0]"
          :contact="data.contact"
        />
      </q-item-label>

      <q-item-label
        caption
        lines="1"
      >
        <span v-if="data.lastMessage">
          <q-icon
            v-if="data.lastMessage.key.fromMe"
            name="arrow_back"
            class=""
          />
          <q-icon
            v-else
            name="arrow_forward"
            class=""
          />

          <span v-if="data.lastMessage.participant">
            <contact-name :fallback="data.lastMessage.participant.split('@')[0]" />:
          </span>

          <span
            v-if="lastMessageType === 'conversation'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $removeLinkify(data.lastMessage.message.conversation.substr(0, 20)) }}
          </span>

          <span
            v-else-if="lastMessageType === 'extendedTextMessage'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $removeLinkify(data.lastMessage.message.extendedTextMessage.text.substr(0, 20)) }}
          </span>

          <span
            v-else-if="lastMessageType === 'buttonsResponseMessage'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $removeLinkify(data.lastMessage.message.buttonsResponseMessage.selectedDisplayText.substr(0, 20)) }}
          </span>

          <span
            v-else-if="lastMessageType === 'audioMessage'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.sentAudio') }}
          </span>

          <span
            v-else-if="lastMessageType === 'stickerMessage'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.sentStick') }}
          </span>

          <span
            v-else-if="lastMessageType === 'videoMessage'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.sentVideo') }}
          </span>

          <span
            v-else-if="lastMessageType === 'imageMessage'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.sentImage') }}
          </span>

          <span
            v-else-if="lastMessageType === 'documentMessage'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.sentDoc') }}
          </span>

          <span
            v-else-if="lastMessageType === 'contactMessage'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.sentContact') }}
          </span>

          <span
            v-else-if="lastMessageType === 'liveLocationMessage'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.sentLiveLoc') }}
          </span>

          <span
            v-else-if="lastMessageType === 'locationMessage'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.sentLoc') }}
          </span>

          <span
            v-else-if="lastMessageType === 'CALL_MISSED_VOICE'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.triedCall') }}
          </span>

          <span
            v-else-if="lastMessageType === 'CALL_MISSED_VIDEO'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.triedVideoCall') }}
          </span>

          <span
            v-else-if="lastMessageType === 'CALL_VOICE'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.isCalling') }}
          </span>

          <span
            v-else-if="lastMessageType === 'ZAPFLY_CATALOG_ASK'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.catalogOrder') }}
          </span>

          <span
            v-else-if="lastMessageType === 'requestPaymentMessage'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.sentPaymentInfo') }}
          </span>

          <span
            v-else-if="lastMessageType === 'buttonsMessage'"
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ $t('message.buttonsMessage') }}
          </span>

          <span
            v-else
            class="q-pr-xl"
            style="overflow: none"
          >
            {{ lastMessageType }}
          </span>

        </span>
      </q-item-label>

      <q-item-label>
        <ticket-status :data="data" />

        <span v-if="data.department">
          {{ $t('departament.short') }}: {{ data.department }}
        </span>
      </q-item-label>

      <q-item-label caption>
        <q-badge
          v-if="!hasPaid"
          color="negative"
        >
          {{ $t('payment.verify') }}
        </q-badge>

        <q-badge
          v-if="connection.status !== 'open'"
          color="warning"
          class="q-mr-xs"
        >
          {{ $t('connection.descStatus') }}
        </q-badge>
        <q-badge
          v-if="data.contact && data.contact.note"
          color="primary"
        >
          {{ $tc('ticket.note') }}

          <q-tooltip>
            <pre style="font-size:16px; max-width: 320px">{{ data.contact.note }}</pre>
          </q-tooltip>
        </q-badge>
      </q-item-label>

      <q-item-label caption>
        <div v-if="data.contact && data.contact.tags">
          <q-badge
            v-for="(item) in data.contact.tags"
            :key="`tags_${item._id}`"
            :color="item.color"
            :label="item.label"
            class="q-mr-xs"
          />
        </div>
      </q-item-label>
    </q-item-section>

    <q-item-section avatar>
      <q-btn
        v-if="shouldShowMenu"
        icon="more_vert"
        round
        flat
        dense
        @click.stop="showMenu = true"
      >
        <q-tooltip>
          {{ $t('commonWord.option',2) }}
        </q-tooltip>

        <q-menu
          v-model="showMenu"
          no-parent-event
        >
          <q-list style="min-width: 100px">
            <q-item
              v-if="!['closed', 'merged', 'on_hold'].includes(data.status)"
              v-close-popup
              clickable
              @click.stop="$putOnHoldTicket(data._id)"
            >
              <q-item-section>{{ $t('ticket.putWait') }}</q-item-section>
            </q-item>

            <q-item
              v-if="['on_hold'].includes(data.status)"
              v-close-popup
              clickable
              @click.stop="$restoreOnHoldTicket(data._id, data.jid)"
            >
              <q-item-section>{{ $t('ticket.restore') }}</q-item-section>
            </q-item>

            <q-item
              v-if="['pre_service'].includes(data.status)"
              v-close-popup
              clickable
              @click="$pushTicketToPipeline(data._id)"
            >
              <q-item-section>{{ $t('ticket.pushToPipeline') }}</q-item-section>
            </q-item>

            <q-item
              v-if="['in_progress', 'waiting', 'on_hold'].includes(data.status)"
              v-close-popup
              clickable
              @click="$closeTicket(data._id)"
            >
              <q-item-section>{{ $t('ticket.close') }}</q-item-section>
            </q-item>

            <q-item
              v-if="['pre_service', 'in_progress', 'waiting', 'on_hold'].includes(data.status) & $chatbotClosingActive"
              v-close-popup
              clickable
              @click="$closeTicket(data._id, true)"
            >
              <q-item-section>Fechar atendimento (forçado)</q-item-section>
            </q-item>

            <q-item
              v-if="['closed', 'closing'].includes(data.status)"
              v-close-popup
              clickable
              @click="$reopenTicket(data)"
            >
              <q-item-section>{{ $t('ticket.reopen') }}</q-item-section>
            </q-item>

            <q-item
              v-close-popup
              clickable
              @click="mergeIntoLast"
            >
              <q-item-section>{{ $t('ticket.mergeTooltip') }}</q-item-section>
            </q-item>

            <q-item
              v-if="markAsReadEnabled"
              v-close-popup
              clickable
              @click="markAsRead"
            >
              <q-item-section>{{ $t('ticket.markRead') }}</q-item-section>
            </q-item>

            <q-separator spaced />

            <q-item>
              <q-item-section avatar>
                <ticket-direct-access
                  :jid="data.jid"
                  :connection="connection"
                />
              </q-item-section>

              <q-item-section avatar>
                <ticket-history
                  v-if="!['merged'].includes(data.status)"
                  :jid="data.jid"
                />
              </q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </q-btn>
    </q-item-section>

    <q-chip
      v-if="fromNow"
      dense
      size="sm"
      :label="fromNow"
      class="absolute-top-right q-mt-sm"
    />
  </q-item>
</template>

<script>
import { mapActions } from 'vuex';
import feathersClient from '../../boot/feathers-vuex';

export default {
  components: {
    ContactName: () => import('../contacts/ContactName'),
    Avatar: () => import('../tools/Avatar'),
    TicketStatus: () => import('./TicketStatus'),
    TicketHistory: () => import('./TicketHistory'),
    TicketDirectAccess: () => import('./TicketDirectHistory'),
  },

  props: {
    dumb: Boolean,
    selectable: Boolean,
    selected: Boolean,
    data: Object,
    transactions: Object,
    messageOverride: Object,
  },

  data() {
    return {
      contact: null,
      showMenu: false,
    };
  },

  methods: {
    ...mapActions('member-tickets', ['patch']),

    mergeIntoLast() {
      feathersClient.service('member-tickets/merge').get(this.data._id).then(() => {
        if (!this.activeRoute) return;
        this.$router.replace({ name: 'tickets' });
      });
    },

    async markAsRead() {
      try {
        await this.patch([this.data._id, { count: 0 }]);
      } catch (error) {
        console.error(error);
      }
    },

    handleClick() {
      if (!this.hasPaid) return this.$notify('negative', this.$t('payment.verifyPayment'));

      this.$emit('click');
      if (this.dumb) {
        return;
      }
      if (this.selectable) {
        return;
      }
      if (this.$route.params.id === this.data._id) return;
      let routeName = 'tickets-room';
      if (['tickets-on-hold', 'tickets-room-on-hold'].includes(this.$route.name)) routeName = 'tickets-room-on-hold';
      this.$router.push({ name: routeName, params: { id: this.data._id } });
    },
  },

  computed: {
    fromNow() {
      if (!this.data.messageTimestamp) return;
      const timestamp = this.data.messageTimestamp;
      const date = new Date(timestamp * 1000);

      return this.$fromNow(date);
      // return timestamp;
    },

    settings() {
      return this.$store.getters['member-settings/list'];
    },

    markAsReadEnabled() {
      return this.settings.some((e) => e.name === 'markAsRead' && e.value === true);
    },

    name() {
      if (!this.data.contact) return this.data.jid.split('@')[0];
      return this.data.contact.name;
    },

    connection() {
      return this.$store.getters['member-connections/get'](this.data.connectionId);
    },

    lastMessageType() {
      if (!this.data.lastMessage) return null;
      if (this.data.lastMessage.messageStubType) return this.data.lastMessage.messageStubType;
      if (!this.data.lastMessage.message) return null;
      if (this.data.lastMessage.message.messageContextInfo) delete this.data.lastMessage.message.messageContextInfo;

      return Object.keys(this.data.lastMessage.message)[0];
    },

    shouldShowMenu() {
      if (!this.hasPaid) return false;
      return true;
    },

    hasPaid() {
      if (!this.connection.preapprovalPlan) return false;
      const { status, createdAt, extraTrial } = this.connection.preapprovalPlan;

      if (extraTrial) {
        const extraTrialTimestamp = new Date(extraTrial).getTime();
        if (new Date().getTime() < extraTrialTimestamp) return true;
      }

      const timestampFrom7Days = new Date().getTime() - (7 * 24 * 60 * 60 * 1000);
      const createdAtTimestamp = new Date(createdAt).getTime();

      if (status === 'TRIAL' && createdAtTimestamp > timestampFrom7Days) return true;

      const validStatus = ['created', 'ACTIVE'];
      if (!validStatus.includes(status)) return false;

      return true;
    },

    activeRoute() {
      if (!this.data) return null;
      return this.$route.params.id === this.data._id;
    },
  },
};
</script>

<style scoped>
.unread:not(.q-item--active) {
  background-color: #21ba453f;
  border-left: 5px solid var(--q-color-positive)
}
</style>
