<template>
  <div
    v-if="!memberMessages.length"
    class="flex flex-center full-width sidemenu-scroll"
  >
    <div class="text-center text-h6">
      <q-icon
        name="chat"
        size="60px"
        color="primary"
      /><br>

      {{ $t('ticket.noMessage') }} <br>
      {{ $t('ticket.found') }}
    </div>
  </div>

  <q-scroll-area
    v-else
    id="chats"
    ref="scroll"
    class="sidemenu-scroll"
  >
    <q-item>
      <q-item-section>
        <q-item-label overline>
          {{ $tc('commonWord.message', 2) }}:
        </q-item-label>
      </q-item-section>
    </q-item>
    <q-separator />
    <q-infinite-scroll
      :disable="!pagination || pagination.total <= memberMessages.length || skip > pagination.total"
      :offset="450"
      @load="loadMore"
    >
      <template v-for="item in memberMessages">
        <message-item
          :key="item._id"
          :data="item"
          @click="$emit('click')"
        />

        <q-separator :key="`separator_${item._id}`" />
      </template>

      <template #loading>
        <div class="row justify-center q-my-md">
          <q-spinner-dots
            color="primary"
            size="40px"
          />
        </div>
      </template>
    </q-infinite-scroll>
  </q-scroll-area>
</template>

<script>
// import feathersClient from '../../boot/feathers-vuex';
import { makeFindMixin } from 'feathers-vuex';

export default {
  name: 'TicketMessageSearch',

  components: {
    messageItem: () => import('../Messages/MessageItem.vue'),
  },

  props: {
    filter: {
      default: '',
      type: String,
    },
  },

  mixins: [makeFindMixin({ service: 'member-messages', watch: true })],

  data() {
    return {
      skip: 0,
      limit: 20,

      sort: {
        messageTimestamp: -1,
        updatedAt: -1,
      },

      select: ['_id', 'ticketId', 'connectionId', 'message', 'key', 'messageTimestamp', 'attendantId', 'jid', 'status', 'createdAt', 'updatedAt', 'contactId'],
    };
  },

  computed: {
    memberMessagesParams() {
      const query = {
        $select: this.select,
        $sort: this.sort,
      };

      if (this.filter) {
        query.$or = [
          { 'message.conversation': { $regex: `.*${this.filter}.*`, $options: 'i' } },
          { 'message.extendedTextMessage.text': { $regex: `.*${this.filter}.*`, $options: 'i' } },
        ];
      }

      // if (this.attendantId) query.attendantId = this.attendantId;
      // if (this.departmentId) query.departmentId = this.departmentId;

      // if (this.$isAttendant && this.usersSeeOnlyOwn) {
      //   query.attendantId = this.$user._id;
      // } else if (this.$isAttendant && !this.allUserSeeChats) {
      //   query.$or = [
      //     {
      //       status: 'waiting',
      //     },
      //     {
      //       status: 'in_progress',
      //       attendantId: this.$user._id,
      //     },
      //   ];
      // }

      return {
        query,
        paginate: !!this.filter,
        // paginate: true,
        // paginate: false,
      };
    },

    memberMessagesFetchParams() {
      const query = {
        $limit: this.limit,
        $skip: this.skip,
        $select: this.select,
        $sort: this.sort,
      };

      // if (this.attendantId) query.attendantId = this.attendantId;
      // if (this.departmentId) query.departmentId = this.departmentId;

      // if (this.$isAttendant && this.usersSeeOnlyOwn) {
      //   query.attendantId = this.$user._id;
      // } else if (this.$isAttendant && !this.allUserSeeChats) {
      //   query.$or = [
      //     {
      //       status: 'waiting',
      //     },
      //     {
      //       status: 'in_progress',
      //       attendantId: this.$user._id,
      //     },
      //   ];
      // }

      if (this.filter) {
        // query.$or = [
        //   { 'contact.overrideName': { $regex: `.*${this.filter}.*` } },
        //   { 'contact.name': { $regex: `.*${this.filter}.*` } },
        //   { 'contact.vname': { $regex: `.*${this.filter}.*` } },
        //   { 'contact.notify': { $regex: `.*${this.filter}.*` } },
        //   { 'contact.tags.label': { $regex: `.*${this.filter}.*` } },
        // ];
        query.$search = this.filter;
      }

      return {
        debounce: 500,
        query,
      };
    },

    pagination() {
      if (!this.memberMessagesPaginationData) return null;
      if (!this.memberMessagesPaginationData.default) return null;
      const query = JSON.parse(JSON.stringify(this.memberMessagesParams.query));
      delete query.$limit;
      delete query.$skip;
      const id = JSON.stringify(query);
      return this.memberMessagesPaginationData.default[id];
    },
  },

  methods: {
    async loadMore(index, done) {
      if (this.isFindMemberMessagesPending) {
        done();
        return;
      }

      if (!this.pagination || this.pagination.total <= this.memberMessages.length) {
        done();
        return;
      }

      this.skip += this.limit;
      await this.findMemberMessages(this.memberMessagesFetchParams);
      done();
    },
  },
};
</script>
