<template>
  <q-menu
    no-parent-event
    :value="value"
    @input="$emit('input', $event)"
  >
    <q-list style="min-width: 100px">
      <q-item
        clickable
        @click="$sendMass({ newChat: true })"
      >
        <q-item-section>{{ $t('ticket.createNew') }}</q-item-section>
      </q-item>

      <q-item
        clickable
        @click="$sendMass({})"
      >
        <q-item-section>{{ $t('ticket.messagesInMass') }}</q-item-section>
      </q-item>

      <q-item
        v-close-popup
        clickable
        @click="$emit('search-messages')"
      >
        <q-item-section>{{ $t('ticket.searchMessages') }}</q-item-section>
      </q-item>

      <q-item
        v-close-popup
        clickable
        @click="$emit('select-multiple')"
      >
        <q-item-section>{{ $t('ticket.selectMultiple') }}</q-item-section>
      </q-item>

      <q-separator />

      <div v-if="$isAdmin || $isManager">
        <q-separator />

        <q-item-label header>
          {{ $t('ticket.byResponsible') }}
        </q-item-label>

        <q-item
          v-for="item in atts"
          :key="item._id"
          v-close-popup
          clickable
          :active="attendantId === item._id"
          dense
          :inset-level="0"
          :class="{'unread': userId === item._id}"
          @click="$emit('filter-resp',{id: item._id,name: item.name})"
        >
          <q-item-section>{{ item.name }}</q-item-section>
        </q-item>

        <q-separator spaced />
      </div>

      <div v-if="$isAdmin || $isManager">
        <q-item-label header>
          {{ $t('ticket.byDepartment') }}
        </q-item-label>

        <q-item
          v-for="item in departments"
          :key="item._id"
          v-close-popup
          clickable
          :active="departmentId === item._id"
          dense
          :inset-level="0"
          :class="{'unread': userId === item._id}"
          @click="$emit('filter-dep',{id: item._id,name: item.name})"
        >
          <q-item-section>{{ item.name }}</q-item-section>
        </q-item>

        <q-separator spaced />
      </div>

      <q-item
        v-close-popup
        clickable
        @click="$emit('status', ['pre_service', 'in_progress', 'waiting', 'closing'])"
      >
        <q-item-section>{{ $t('ticket.onlyActual') }}</q-item-section>
      </q-item>

      <q-item
        v-close-popup
        clickable
        @click="$emit('status', ['on_hold'])"
      >
        <q-item-section>{{ $t('ticket.onlyWait') }}</q-item-section>
      </q-item>

      <q-item
        v-close-popup
        clickable
        @click="$emit('status', ['pre_service','in_progress', 'waiting', 'closing', 'closed', 'on_hold'])"
      >
        <q-item-section>{{ $t('ticket.showAll') }}</q-item-section>
      </q-item>
    </q-list>
  </q-menu>
</template>

<script>
export default {
  name: 'TicketsMenu',
  props: {
    value: Boolean,
    attendantId: null,
    userId: null,
    departmentId: null,
  },

  computed: {
    atts() {
      if (!this.$users) return [];
      return this.$users;
    },

    departments() {
      return this.$store.getters['member-departments/list'];
    },
  },
};
</script>

<style>

</style>
