<template>
  <q-btn
    v-if="enabled"
    round
    unelevated
    text-color="grey-6"
    icon="phone_iphone"
    v-bind="$attrs"
    @click="dialog = true"
  >
    <q-tooltip>
      {{ $t('ticket.seePhoneMessages') }}
    </q-tooltip>

    <q-dialog
      v-model="dialog"
      transition-show="slide-up"
      transition-hide="slide-down"
      @before-show="onBeforeShow"
    >
      <q-card class="full-width">
        <q-card-section class="full-width flex">
          <div class="text-h6 q-mr-auto q-mt-auto">
            {{ $t('ticket.phoneMessages') }}
          </div>

          <q-input
            v-model="filter"
            debounce="400"
            dense
            clearable
            @input="searchMessages"
          >
            <q-icon
              v-if="!filter"
              slot="append"
              name="search"
            />
          </q-input>
        </q-card-section>

        <q-separator />

        <q-card-section
          class="q-pa-none"
          style="height: calc(100vh - 180px)"
        >
          <div class="row full-height">
            <div
              v-if="data && data.messages && data.messages.length"
              class="col scroll"
              style="max-height: 100%"
            >
              <template v-for="item in data.messages">
                <message
                  :key="item.key.id"
                  dumb
                  :data="item"
                />
              </template>
            </div>
            <div
              v-else-if="!loading"
              class="full-width full-height flex flex-center text-center"
            >
              <div>
                <q-icon
                  name="help"
                  size="40px"
                  color="primary"
                /><br>
                {{ $t('ticket.noMessageFound') }}
              </div>
            </div>
          </div>
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn
            v-close-popup
            :label="$t('commonWord.cancel')"
            color="primary"
          />
          <q-btn
            v-if="data && data.cursor && !filter"
            :label="$t('ticket.loadMore')"
            color="primary"
            @click="loadMore"
          />
        </q-card-actions>

        <q-inner-loading
          v-if="loading"
          showing
        >
          <q-spinner-gears
            size="50px"
            color="primary"
          />
        </q-inner-loading>
      </q-card>
    </q-dialog>
  </q-btn>
</template>

<script>
import feathersClient from '../../boot/feathers-vuex';

export default {
  name: 'TicketDirectHistory',

  components: {
    Message: () => import('../Messages/Message'),
    // TicketItem: () => import('./TicketItem'),
    // TicketHistoryActive: () => import('./TicketHistoryActive'),
  },

  props: {
    jid: null,
    connection: null,
  },

  data() {
    return {
      filter: '',
      dialog: false,
      data: null,
      loading: false,
    };
  },

  computed: {
    enabled() {
      return !this.connection.blockDirectToPhone && !this.connection.useMultidevice;
    },
  },

  methods: {
    onBeforeShow() {
      this.loadMessages();
    },

    async loadMore() {
      this.loading = true;

      try {
        const payload = {
          query: {
            connectionId: this.connection._id,
            action: 'loadMessages',
            parameters: [this.jid, 25, `parse:${JSON.stringify(this.data.cursor)}`],
          },
        };

        const res = await feathersClient.service('member-message-direct').find(payload);
        this.data = {
          messages: [
            ...res.messages.reverse(),
            ...JSON.parse(JSON.stringify(this.data.messages)),
          ],
        };

        delete res.messages;
        this.data = {
          ...this.data,
          ...res,
        };
      } catch (error) {
        console.error(error);
      }

      this.loading = false;
    },

    async searchMessages() {
      if (!this.filter) return this.loadMessages();
      this.loading = true;

      try {
        const payload = {
          query: { connectionId: this.connection._id, action: 'searchMessages', parameters: [this.filter, this.jid, 25, 1] },
        };
        const res = await feathersClient.service('member-message-direct').find(payload);
        this.data = {
          messages: res.messages.reverse(),
          ...res,
        };
      } catch (error) {
        console.error(error);
      }

      this.loading = false;
    },

    async loadMessages() {
      this.loading = true;

      try {
        const payload = {
          query: { connectionId: this.connection._id, action: 'loadMessages', parameters: [this.jid, 25] },
        };
        const res = await feathersClient.service('member-message-direct').find(payload);
        this.data = {
          messages: res.messages.reverse(),
          ...res,
        };
      } catch (error) {
        console.error(error);
      }

      this.loading = false;
    },
  },
};
</script>
