<template>
  <q-card
    v-if="($isManager || $isAdmin)"
  >
    <q-card-section>
      <div class="text-h6 flex">
        {{ $t('ticket.follow') }}

        <div>
          <q-badge
            v-if="$route.query.dev"
            class="q-ml-xs"
            color="negative"
          >
            {{ query.$time }}
          </q-badge>
        </div>
      </div>
    </q-card-section>

    <q-separator />

    <q-card-section
      class="q-pa-none ticket-report-tracking-body"
    >
      <q-markup-table
        flat
        dense
        square
        separator="cell"
        class="qtable-sticky"
      >
        <thead>
          <tr>
            <th>
              {{ $tc('departament.title', 2) }}
            </th>

            <template v-for="(item, index) in states">
              <th
                :key="`header_${index}`"
                class="text-center"
              >
                {{ item.label }} ({{ getTotal(item.value) }})
              </th>
            </template>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              {{ $t('commonWord.notDefined') }}
              <q-tooltip>
                {{ $t('ticket.noDepartamentDefined') }}
              </q-tooltip>
            </td>

            <template v-for="(item2, index2) in states">
              <td
                :key="`cell1_${index2}`"
                class="text-center"
              >
                <ticket-tracking-amount-department
                  :department-id="undefined"
                  :status="item2.value"
                />
              </td>
            </template>
          </tr>

          <template v-for="(item, index) in departments">
            <tr :key="`row_${index}`">
              <td>
                {{ item.name }}
              </td>

              <template v-for="(item2, index2) in states">
                <td
                  :key="`cell_${index}_${index2}`"
                  class="text-center"
                >
                  <ticket-tracking-amount-department
                    :department-id="item._id"
                    :status="item2.value"
                  />
                </td>
              </template>
            </tr>
          </template>
        </tbody>

        <thead>
          <tr class="bg-white">
            <th style="border-top: 1px solid rgb(228, 228, 228)">
              {{ $t('commonWord.attendents') }}
            </th>

            <template v-for="(item, index) in states">
              <th
                :key="`header_${index}`"
                class="text-center"
                style="border-top: 1px solid rgb(228, 228, 228)"
              >
                {{ item.label }} ({{ getTotal(item.value) }})
              </th>
            </template>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              {{ $t('commonWord.notDefined') }}
              <q-tooltip>
                {{ $t('ticket.noAttendentDefined') }}
              </q-tooltip>
            </td>

            <template v-for="(item2, index2) in states">
              <td
                :key="`cell1_${index2}`"
                class="text-center"
              >
                <ticket-tracking-amount-attendant
                  :attendant-id="undefined"
                  :status="item2.value"
                />
              </td>
            </template>
          </tr>

          <template v-for="(item, index) in users">
            <tr :key="`row_${index}`">
              <td>
                {{ item.name }}
              </td>

              <template v-for="(item2, index2) in states">
                <td
                  :key="`cell_${index}_${index2}`"
                  class="text-center"
                >
                  <ticket-tracking-amount-attendant
                    :attendant-id="item._id"
                    :status="item2.value"
                  />
                </td>
              </template>
            </tr>
          </template>
        </tbody>
      </q-markup-table>
    </q-card-section>
  </q-card>
</template>

<script>
import feathersClient from '../../boot/feathers-vuex';

export default {
  components: {
    TicketTrackingAmountDepartment: () => import('./TicketTrackingAmountDepartment.vue'),
    TicketTrackingAmountAttendant: () => import('./TicketTrackingAmountAttendant.vue'),
  },
  data() {
    return {
      departments: [],
      totals: {
        in_progress: null,
        waiting: null,
        closed: null,
        total: null,
      },
      states: [
        { value: 'in_progress', label: this.$t('ticket.inProgress') },
        { value: 'waiting', label: this.$t('ticket.waiting') },
        { value: 'closed', label: this.$t('ticket.concluded') },
        { value: 'total', label: this.$t('commonWord.total') },
      ],
    };
  },

  computed: {
    users() {
      if (this.$isAdmin) return this.$users;
      if (this.$isManager && this.$user.departmentId) return this.$users.filter((e) => e.departmentId === this.$user.departmentId);
      if (this.$isManager) return this.$users;

      return [];
    },
  },

  created() {
    this.loadDepartments();
    this.loadTotals();
  },

  methods: {
    async loadTotals() {
      const promises = [];
      this.states.forEach((e) => {
        const status = e.value !== 'total' ? e.value : undefined;
        promises.push(
          feathersClient.service('member-tickets')
            .find({ query: { status, $limit: 0 } })
            .then((res) => {
              this.totals[e.value] = res.total;
            }),
        );
      });

      await Promise.all(promises);
    },

    async loadDepartments() {
      const { data } = await feathersClient.service('member-departments').find({ query: { $select: ['name'], $limit: 50 } });
      this.departments = data;
    },

    getTotal(value) {
      return this.totals[value];
    },
  },
};
</script>

<style scoped>
.ticket-report-tracking-body {
  max-height: calc(100vh - 120px);
  overflow-y: auto
}

</style>
