<template>
  <q-card
    v-if="($isManager || $isAdmin)"
  >
    <q-card-section>
      <div class="text-h6 flex">
        {{ $t('ticket.new') }}
      </div>
    </q-card-section>

    <q-separator />

    <q-card-section
      class="q-pa-none"
    >
      <q-markup-table
        flat
        dense
        square
        separator="cell"
        class="qtable-sticky"
      >
        <thead>
          <tr>
            <th>{{ $tc('departament.title', 2) }}</th>
            <template v-for="(item, index) in days">
              <th
                :key="`header_${index}`"
                class="text-center"
              >
                {{ $jsDateFormatMin(item) }}
              </th>
            </template>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{ $t('commonWord.notDefined') }}
              <q-tooltip>
                {{ $t('ticket.noDepartamentDefined') }}
              </q-tooltip>
            </td>

            <template v-for="(item2, index2) in days">
              <td
                :key="`cell1_${index2}`"
                class="text-center"
              >
                <ticket-get-amount-department :day="item2" />
              </td>
            </template>
          </tr>

          <template v-for="(item, index) in departments">
            <tr :key="`row_${index}`">
              <td>
                {{ item.name }}
              </td>

              <template v-for="(item2, index2) in days">
                <td
                  :key="`cell_${index}_${index2}`"
                  class="text-center"
                >
                  <ticket-get-amount-department
                    :department-id="item._id"
                    :day="item2"
                  />
                </td>
              </template>
            </tr>
          </template>
        </tbody>

        <thead>
          <tr class="bg-white">
            <th style="border-top: 1px solid rgb(228, 228, 228)">
              {{ $t('commonWord.attendents') }}
            </th>

            <template v-for="(item, index) in days">
              <th
                :key="`header_${index}`"
                class="text-center"
                style="border-top: 1px solid rgb(228, 228, 228)"
              >
                {{ $jsDateFormatMin(item) }}
              </th>
            </template>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              {{ $t('commonWord.notDefined') }}
              <q-tooltip>
                {{ $t('ticket.noAttendentDefined') }}
              </q-tooltip>
            </td>

            <template v-for="(item2, index2) in days">
              <td
                :key="`cell1_${index2}`"
                class="text-center"
              >
                <ticket-get-amount-attendant :day="item2" />
              </td>
            </template>
          </tr>

          <template v-for="(item, index) in users">
            <tr :key="`row_${index}`">
              <td>
                {{ item.name }}
              </td>

              <template v-for="(item2, index2) in days">
                <td
                  :key="`cell_${index}_${index2}`"
                  class="text-center"
                >
                  <ticket-get-amount-attendant
                    :attendant-id="item._id"
                    :day="item2"
                  />
                </td>
              </template>
            </tr>
          </template>
        </tbody>
      </q-markup-table>
      <q-separator />
    </q-card-section>
  </q-card>
</template>

<script>
import feathersClient from '../../boot/feathers-vuex';
// import { date } from 'quasar';

export default {
  components: {
    TicketGetAmountDepartment: () => import('./TicketGetAmountDepartment'),
    TicketGetAmountAttendant: () => import('./TicketGetAmountAttendant'),
  },

  data() {
    return {
      data: [],
      departments: [],
      disabled: true,
    };
  },

  computed: {
    days() {
      const result = [];
      for (let i = 0; i < 10; i += 1) {
        const d = new Date();
        d.setDate(d.getDate() - i);
        result.push(d);
      }

      return result;
    },

    users() {
      if (this.$isAdmin) return this.$users;
      if (this.$isManager && this.$user.departmentId) return this.$users.filter((e) => e.departmentId === this.$user.departmentId);
      if (this.$isManager) return this.$users;

      return [];
    },
  },

  created() {
    this.loadDepartments();
  },

  methods: {
    async loadDepartments() {
      const { data } = await feathersClient.service('member-departments').find({ query: { $select: ['name'], $limit: 50 } });
      this.departments = data;
    },
  },
};
</script>
