<template>
  <div>
    {{ value }}
  </div>
</template>

<script>
import feathersClient from '../../boot/feathers-vuex';

export default {
  name: 'TicketGetAmountDepartment',

  props: {
    day: {
      default: '',
      type: Date,
    },
    attendantId: {
      default: null,
      type: String,
    },
  },

  data() {
    return {
      value: null,
    };
  },

  created() {
    this.load();
  },

  methods: {
    async load() {
      const query = {
        createdAt: {
          $gt: `${this.day.toJSON().split('T')[0]}T00:00:00.000Z`,
          $lt: `${this.day.toJSON().split('T')[0]}T23:59:59.999Z`,
        },
        attendantId: this.attendantId,
      };

      const res = await feathersClient.service('member-tickets').find({ query: { ...query, $limit: 0 } });
      this.value = res.total;
    },
  },
};
</script>

<style>

</style>
