<template>
  <span>
    <q-badge
      v-if="data.status === 'waiting'"
      color="negative"
    >
      <span class="gt-sm">
        {{ $t('ticket.waiting') }}
      </span>

      <span class="lt-md">
        {{ $t('ticket.shortWaiting') }}
      </span>
    </q-badge>

    <q-badge
      v-else-if="data.status === 'on_hold'"
      color="info"
    >
      {{ $t('ticket.waitingTicket') }}
    </q-badge>

    <q-badge
      v-else-if="data.status === 'closing'"
      color="warning"
    >
      {{ $t('ticket.closing') }}
    </q-badge>

    <q-badge
      v-else-if="data.status === 'pre_service'"
      color="warning"
    >
      {{ $t('ticket.preService') }}
    </q-badge>

    <q-badge
      v-else-if="data.status === 'closed'"
      color="positive"
    >
      {{ $t('ticket.concluded') }}
    </q-badge>

    <q-badge
      v-else-if="data.status === 'merged'"
      color="info"
    >
      {{ $t('ticket.merged') }}
    </q-badge>

    <!-- <q-badge
      v-else
      color="grey"
    >
      {{ data.status }}
    </q-badge> -->

    <q-badge
      v-if="data && data.reason"
      color="grey"
      class="q-mx-xs"
    >
      {{ data.reason }}
    </q-badge>

    <q-badge
      v-if="data && data.attendantId"
      color="grey"
    >
      {{ name }}
    </q-badge>
  </span>
</template>

<script>
import { makeGetMixin } from 'feathers-vuex';

export default {
  props: {
    data: null,
  },

  data() {
    return {
      memberId: this.data.attendantId,
    };
  },

  watch: {
    data: {
      deep: true,
      handler() {
        this.memberId = this.data.attendantId;
      },
    },
  },

  mixins: [
    makeGetMixin({
      service: 'members',
    }),
  ],

  computed: {
    memberParams() {
      return { $select: ['_id', 'name', 'lastName'] };
    },

    name() {
      if (this.data.attendantId && this.member && this.member.name) return this.member.name;
      return null;
    },
  },
};
</script>

<style>

</style>
