<template>
  <q-item>
    <q-card
      id="ticket_control"
      class="full-width "
    >
      <q-card-section class="q-py-none">
        <q-list>
          <q-item class="q-pa-none">
            <q-item-section>
              <q-item-label>
                {{ $tc('commonWord.ticket') }}
              </q-item-label>
            </q-item-section>

            <q-item-section avatar>
              <q-btn
                id="chat_menu_details"
                ref="chat_menu_details"
                flat
                round
                icon="keyboard_arrow_down"
                color="grey-7"
                @click.stop.stop="showDetails = !showDetails"
              />
            </q-item-section>
          </q-item>

          <q-slide-transition appear>
            <div v-show="showDetails && ticket">
              <q-item
                v-if="ticket"
                class="q-pa-none"
              >
                <q-item-section>
                  <q-item-label v-if="ticket.status === 'pre_service'">
                    {{ $t('ticket.preService') }}
                  </q-item-label>

                  <q-item-label v-if="ticket.status === 'waiting'">
                    {{ $t('ticket.waiting') }}
                  </q-item-label>

                  <q-item-label v-else-if="ticket.status === 'in_progress'">
                    {{ $t('ticket.beingAttended') }}
                  </q-item-label>

                  <q-item-label v-else-if="ticket.status === 'closed'">
                    {{ $t('ticket.closed') }}
                  </q-item-label>

                  <q-item-label>
                    {{ $t('ticket.beginning') }}: {{ ticketAgo }}
                  </q-item-label>
                </q-item-section>
              </q-item>

              <div v-if="ticket.status !== 'pre_service'">
                <q-item
                  v-if="
                    userId
                      && !AllSetUserIdTicket
                      && !$isManager
                      && !$isAdmin
                  "
                  class="q-pa-none"
                >
                  <q-item-section>
                    <q-item-label caption>
                      {{ $t('ticket.attendedBy') }}:
                    </q-item-label>

                    <q-item-label>
                      <attendant-name :id="data.attendantId" />
                    </q-item-label>
                  </q-item-section>
                </q-item>

                <q-item
                  v-else-if="
                    AllSetUserIdTicket
                      || $isManager
                      || $isAdmin
                  "
                  class="q-pa-none q-mt-md"
                >
                  <q-item-section class="">
                    <q-item-label>
                      <select-user
                        :inactive-check="handleInactiveCheck"
                        :value="userId"
                        filled
                        :readonly="ticket.status === 'closed'"
                        @input="submitTicketUser"
                        @click.native.stop
                      />
                    </q-item-label>
                  </q-item-section>
                </q-item>

                <q-item
                  v-else-if="!userId"
                  class="q-pa-none"
                >
                  <q-item-section>
                    <q-item-label caption>
                      {{ $t('ticket.noAttendant') }}
                    </q-item-label>
                  </q-item-section>
                </q-item>

                <q-item
                  v-if="
                    AllSetUserIdTicket
                      || $isManager
                      || $isAdmin
                  "
                  class="q-pa-none q-mt-md"
                >
                  <q-item-section class="">
                    <q-item-label>
                      <select-department
                        :value="ticket.departmentId"
                        :readonly="ticket.status === 'closed'"
                        :selected-label="departmentSelected"
                        filled
                        @input="submitDepartmentUser"
                        @click.native.stop
                      />
                    </q-item-label>
                  </q-item-section>
                </q-item>

                <q-item
                  v-else-if="data.departmentId"
                  class="q-pa-none"
                >
                  <q-item-section>
                    <q-item-label caption>
                      {{ $tc('departament.title', 2) }}:
                    </q-item-label>

                    <q-item-label>
                      {{ departmentSelected }}
                    </q-item-label>
                  </q-item-section>
                </q-item>

                <q-item
                  v-else-if="!data.departmentId"
                  class="q-pa-none q-mt-md"
                >
                  <q-item-section>
                    <q-item-label caption>
                      {{ $t('departament.notDefined') }}
                    </q-item-label>
                  </q-item-section>
                </q-item>

                <q-item
                  class="q-pa-none q-my-none"
                >
                  <q-item-section
                    v-if="['on_hold'].includes(ticket.status)"
                  >
                    <q-btn
                      size="sm"
                      color="primary"
                      :label="$t('commonWord.restore')"
                      :disabled="ticketNotMine"
                      @click.stop="$restoreOnHoldTicket(ticket._id, ticket.jid)"
                    />
                  </q-item-section>

                  <q-item-section v-if="!['closed', 'merged', 'on_hold'].includes(ticket.status)">
                    <q-btn
                      size="sm"
                      color="primary"
                      :label="$t('ticket.inWaiting')"
                      :disabled="ticketNotMine"
                      @click.stop="$putOnHoldTicket(ticket._id)"
                    />
                  </q-item-section>

                  <q-item-section v-if="!['closed', 'merged'].includes(ticket.status)">
                    <q-btn
                      size="sm"
                      color="negative"
                      :label="$t('ticket.end')"
                      :disabled="ticketNotMine"
                      @click.stop="$closeTicket(ticket._id)"
                    />
                  </q-item-section>
                </q-item>
              </div>

              <div v-else>
                <q-item
                  class="q-pa-none q-my-none"
                >
                  <q-item-section>
                    <q-btn
                      size="sm"
                      color="primary"
                      :label="$t('ticket.pushToPipeline')"
                      @click.stop="$pushTicketToPipeline(ticket._id)"
                    />
                  </q-item-section>
                </q-item>
              </div>
            </div>
          </q-slide-transition>
        </q-list>
      </q-card-section>
    </q-card>
  </q-item>
</template>

<script>
import feathersClient from '../../boot/feathers-vuex';

export default {
  name: 'TicketControl',

  components: {
    SelectUser: () => import('../user/SelectUser'),
    SelectDepartment: () => import('../department/SelectDepartment'),
    AttendantName: () => import('../attendant/AttendantName'),
  },

  props: {
    data: null,
    connection: null,
  },

  data() {
    return {
      showDetails: true,
      usersCount: null,
      userId: null,
    };
  },

  computed: {
    departmentId() {
      return this.$store.getters['member-tickets/get'](this.data._id).departmentId;
    },

    departmentGet() {
      return this.$store.getters['member-departments/get'](this.ticket.departmentId);
    },

    departmentSelected() {
      if (!this.ticket.departmentId) return null;
      if (!this.departmentGet) return null;
      return this.departmentGet.name;
    },

    ticket() {
      return this.data;
    },

    settings() {
      return this.$store.getters['member-settings/list'];
    },

    ticketAgo() {
      if (!this.data) return null;
      return this.$jsDateFormat(this.data.createdAt);
    },

    AllSetUserIdTicket() {
      return this.settings.some((e) => e.name === 'allSetUserId' && e.value === true);
    },

    ticketNotMine() {
      if (!this.userId) return false;
      return (this.userId !== this.$user._id);
    },
  },

  watch: {
    data: {
      deep: true,
      immediate: true,
      handler() {
        this.userId = this.data.attendantId;
      },
    },

    ticket: {
      immediate: true,
      deep: true,
      handler() {
        if (this.ticket.departmentId) {
          if (!this.departmentSelected) {
            this.$store.dispatch('member-departments/get', [this.ticket.departmentId])
              .then(() => this.$forceUpdate());
          } else {
            this.$forceUpdate();
          }
        } else {
          this.$forceUpdate();
        }
      },
    },
  },

  mounted() {
  },

  methods: {
    handleInactiveCheck(/* user */) {
      // const limit = 0;
      // console.log(user);
      // const limit = parseInt(user.profile.ticketLimit) || 0;
      // if (this.$user.profile.department && this.$user.profile.department !== user.profile.department) return true
      // if (this.usersCount[user._id] && this.usersCount[user._id] >= limit) return true;
      return false;
    },

    submitTicketUser(e) {
      let status = 'waiting';
      if (e.value) status = 'in_progress';

      this.patch({ status, attendantId: e.value });
    },

    submitDepartmentUser(e) {
      if (!e) {
        this.patch({ departmentId: null })
          .then(() => this.$forceUpdate());
        return;
      }
      this.patch({ departmentId: e.value })
        .then(() => this.$forceUpdate());
    },

    patch(payload) {
      return feathersClient.service('member-tickets').patch(this.data._id, payload);
    },
  },
};
</script>
