<template>
  <q-chip
    v-if="JSON.stringify(value) === JSON.stringify(['pre_service', 'in_progress', 'waiting', 'closing'])"
    class="ticket-filter-status"
    :label="$tc('commonWord.current', 2)"
    size="sm"
  />

  <q-chip
    v-else-if="JSON.stringify(value) === JSON.stringify(['pre_service', 'in_progress', 'waiting', 'closing', 'closed', 'on_hold'])"
    size="sm"
    :label="$tc('commonWord.all', 2)"
    class="ticket-filter-status"
    removable
    @remove="$emit('input', ['pre_service', 'in_progress', 'waiting', 'closing'])"
  />

  <q-chip
    v-else-if="JSON.stringify(value) === JSON.stringify(['on_hold'])"
    :removable="!onHoldView"
    class="ticket-filter-status"
    size="sm"
    :label="$t('ticket.onWait')"
    @remove="$emit('input', ['pre_service', 'in_progress', 'waiting', 'closing'])"
  />

  <q-chip
    v-else-if="type === 'department'"
    :removable="!onHoldView"
    class="ticket-filter-status"
    size="sm"
    :label="value"
    @remove="$emit('filter-dep',{id: value._id,name: value.name})"
  />

  <q-chip
    v-else-if="type === 'attendant'"
    :removable="!onHoldView"
    class="ticket-filter-status"
    size="sm"
    :label="value"
    @remove="$emit('filter-resp',{id: value._id,name: value.name})"
  />
</template>

<script>
export default {
  name: 'TicketFilterStatus',

  props: [
    'value',
    'onHoldView',
    'type',
  ],
};
</script>
