<template>
  <q-item>
    <q-card
      id="tags_control"
      class="full-width"
    >
      <q-card-section class="q-py-none">
        <q-list>
          <q-item class="q-pa-none">
            <q-item-section>
              <q-item-label>
                {{ $t('tag.title') }}

                <ticket-tag-form
                  :disabled="disabled"
                  :connection-id="data.connectionId"
                  @click.native.stop
                />

                <q-btn
                  id="tag_add_btn"
                  flat
                  round
                  icon="keyboard_arrow_down"
                  color="grey-7 absolute-right"
                  class="q-ml-auto"
                  @click.stop="showTags = !showTags"
                />
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>

      <q-card-section class="q-pa-none">
        <q-slide-transition appear>
          <div v-show="showTags">
            <q-list
              separator
              class="q-px-md"
            >
              <q-item
                v-for="(item, index) in tags"
                :key="`tag_item_${index}`"
                class="q-py-none q-px-none"
              >
                <q-item-section avatar>
                  <q-checkbox
                    :value="checkTag(item)"
                    :disabled="disabled"
                    @input="toggleTag(item)"
                    @click.native.stop
                  />
                </q-item-section>

                <q-item-label class="flex flex-center">
                  <q-badge
                    :color="item.color"
                    :label="item.label"
                  />
                </q-item-label>

                <q-item-label class="flex flex-center q-ml-auto">
                  <q-btn
                    round
                    flat
                    dense
                    color="grey-6"
                    icon="delete"
                    :disabled="disabled"
                    @click.stop="deleteTag(item)"
                  >
                    <q-tooltip>{{ $t('tag.delete') }}</q-tooltip>
                  </q-btn>
                </q-item-label>
              </q-item>
            </q-list>
          </div>
        </q-slide-transition>
      </q-card-section>
    </q-card>
  </q-item>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'TicketTags',

  components: {
    TicketTagForm: () => import('./TicketTagForm'),
  },

  props: {
    data: null,
    contactId: null,
    disabled: Boolean,
  },

  data() {
    return {
      showTags: true,
    };
  },

  created() {
    this.find({ paginate: false });
  },

  methods: {
    ...mapActions('member-tags', ['find', 'remove']),
    ...mapActions('member-contacts', ['patch']),

    checkTag(item) {
      if (!this.data || !this.contact || !this.contact.tags) return false;
      return this.contact.tagsId.some((e) => e === item._id);
    },

    async toggleTag(item) {
      let tagsId = this.contact.tagsId ? JSON.parse(JSON.stringify(this.contact.tagsId)) : [];
      let tags = this.contact.tags ? JSON.parse(JSON.stringify(this.contact.tags)) : [];

      if (tagsId.includes(item._id)) {
        tagsId = tagsId.filter((e) => e !== item._id);
        tags = tags.filter((e) => e._id !== item._id);
      } else {
        tagsId.push(item._id);
        tags.push(item);
      }

      this.patch([this.contact._id, { tagsId, tags }])
        .then(() => {
          this.$forceUpdate();
        });
    },

    async deleteTag(item) {
      if (this.disabled) return;
      this.remove(item._id);
    },
  },

  computed: {
    contact() {
      if (this.data.contact) return this.data.contact;
      if (this.contactId) return this.$store.getters['member-contacts/get'](this.contactId);

      return null;
    },

    tags() {
      return this.$store.getters['member-tags/list'];
    },
  },
};
</script>
