<template>
  <div>
    {{ value }}
  </div>
</template>

<script>
import feathersClient from '../../boot/feathers-vuex';

export default {
  name: 'TicketGetAmountDepartment',

  props: {
    status: {
      default: '',
      type: String,
    },
    attendantId: {
      default: null,
      type: String,
    },
  },

  data() {
    return {
      value: null,
    };
  },

  created() {
    this.load();
  },

  methods: {
    async load() {
      const query = {
        status: this.status,
      };

      if (this.attendantId) {
        query.attendantId = this.attendantId;
      }

      const res = await feathersClient.service('member-tickets').find({ query: { ...query, $limit: 0 } });
      this.value = res.total;
    },
  },
};
</script>

<style>

</style>
