<template>
  <q-btn
    color="primary"
    class="full-width"
    :label="$t('setting.tickets')"
    @click="dialog = true"
  >
    <q-dialog
      v-model="dialog"
      @before-show="onBeforeShow"
    >
      <q-card style="min-width: 300px;">
        <q-form @submit="submit">
          <q-card-section>
            <div class="text-h6">
              {{ $t('setting.tickets') }}
            </div>
          </q-card-section>

          <q-separator />

          <q-card-section
            class="scroll"
            style="height: calc(100vh - 240px)"
          >
            <q-toggle
              v-model="form.allSetUserId"
              :label="$t('setting.attendentsCanChangeResponsible')"
            />

            <q-toggle
              v-model="form.allUserSeeChats"
              :label="$t('setting.attendantsCanSeeAllHistorics')"
            />

            <q-toggle
              v-model="form.useQueue"
              :label="$t('setting.toggleAutoQueue')"
            />

            <q-toggle
              v-model="form.usersSeeOnlyOwn"
              :label="$t('setting.attendantsSeeOnlyOwn')"
            />

            <q-toggle
              v-if="['5516988084452', '5516997957988'].includes($connections[0].jid) || dev"
              v-model="form.catalogActive"
              :label="$t('setting.toggleCatalog')"
            />

            <q-toggle
              v-model="form.markAsRead"
              :label="$t('setting.toggleMarkasRead')"
            />

            <q-toggle
              v-model="form.allowFastReopen"
              :label="$t('setting.toggleAllowFastReopen')"
            />
          </q-card-section>

          <q-separator />

          <q-card-actions align="right">
            <q-btn
              v-close-popup
              :disabled="loading"
              :label="$t('commonWord.cancel')"
              color="primary"
            />
            <q-btn
              :loading="loading"
              :label="$t('commonWord.send')"
              color="primary"
              type="submit"
            />
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>
  </q-btn>
</template>

<script>

export default {
  name: 'TicketSettingsDialog',

  data() {
    return {
      dialog: false,
      loading: false,
      dev: process.env.DEV,

      form: {
        allSetUserId: false,
        catalogActive: false,
        allUserSeeChats: false,
        useQueue: false,
        usersSeeOnlyOwn: false,
        markAsRead: false,
        allowFastReopen: false,
      },
    };
  },

  computed: {
    allSetUserIdValue() {
      return this.$store.getters['member-settings/list'].find((e) => e.name === 'allSetUserId');
    },

    catalogActiveValue() {
      return this.$store.getters['member-settings/list'].find((e) => e.name === 'catalogActive');
    },

    allUserSeeChatsValue() {
      return this.$store.getters['member-settings/list'].find((e) => e.name === 'allUserSeeChats');
    },

    useQueueValue() {
      return this.$store.getters['member-settings/list'].find((e) => e.name === 'useQueue');
    },

    usersSeeOnlyOwnValue() {
      return this.$store.getters['member-settings/list'].find((e) => e.name === 'usersSeeOnlyOwn');
    },

    markAsReadValue() {
      return this.$store.getters['member-settings/list'].find((e) => e.name === 'markAsRead');
    },

    allowFastReopenValue() {
      return this.$store.getters['member-settings/list'].find((e) => e.name === 'allowFastReopen');
    },
  },

  methods: {
    onBeforeShow() {
      if (this.allSetUserIdValue) this.form.allSetUserId = this.allSetUserIdValue.value;
      if (this.allUserSeeChatsValue) this.form.allUserSeeChats = this.allUserSeeChatsValue.value;
      if (this.useQueueValue) this.form.useQueue = this.useQueueValue.value;
      if (this.usersSeeOnlyOwnValue) this.form.usersSeeOnlyOwn = this.usersSeeOnlyOwnValue.value;
      if (this.markAsReadValue) this.form.markAsRead = this.markAsReadValue.value;
      if (this.catalogActiveValue) this.form.catalogActive = this.catalogActiveValue.value;
      if (this.allowFastReopenValue) this.form.allowFastReopen = this.allowFastReopenValue.value;
    },

    async submit() {
      this.loading = true;

      const promises = [];
      // eslint-disable-next-line no-restricted-syntax
      for (const key in this.form) {
        if (Object.hasOwnProperty.call(this.form, key)) {
          const item = this.form[key];

          if (!this[`${key}Value`]) {
            promises.push(
              this.$store.dispatch('member-settings/create', {
                name: key,
                value: item,
              }),
            );
          } else {
            promises.push(
              this.$store.dispatch('member-settings/patch', [
                this[`${key}Value`]._id,
                {
                  value: item,
                },
              ]),
            );
          }
        }
      }

      try {
        await Promise.all(promises);
        this.dialog = false;
      } catch (error) {
        console.error(error);
        this.$notify('negative');
      }

      this.loading = false;
    },
  },
};
</script>
