<template>
  <q-btn
    round
    unelevated
    text-color="grey-6"
    icon="list"
    v-bind="$attrs"
    @click="dialog = true"
  >
    <q-tooltip>
      {{ $t('ticket.related') }}
    </q-tooltip>

    <q-dialog
      v-model="dialog"
      maximized
      transition-show="slide-up"
      transition-hide="slide-down"
      @before-show="onBeforeShow"
    >
      <q-card style="width: 100vw">
        <q-card-section>
          <div class="text-h6">
            {{ $t('ticket.past') }}
          </div>
        </q-card-section>

        <q-separator />

        <q-card-section
          class="q-pa-none"
          style="height: calc(100vh - 120px)"
        >
          <div class="row full-height">
            <div
              class="col-3 bg-grey-2 scroll"
              style="max-height: 100%"
            >
              <ticket-item
                v-for="(item, index) in memberTickets"
                :key="`ticket_item_${index}`"
                :data="item"
                dumb
                ticket
                @click="active = item"
              />
            </div>

            <div
              class="col scroll"
              style="max-height: 100%"
            >
              <ticket-history-active
                v-if="active"
                :active="active"
              />
            </div>
          </div>
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn
            v-close-popup
            :label="$t('commonWord.cancel')"
            color="primary"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-btn>
</template>

<script>
import { makeFindMixin } from 'feathers-vuex';

export default {
  name: 'TicketHistory',

  components: {
    TicketItem: () => import('./TicketItem'),
    TicketHistoryActive: () => import('./TicketHistoryActive'),
  },

  props: {
    jid: null,
  },

  data() {
    return {
      dialog: false,
      active: null,
    };
  },

  mixins: [makeFindMixin({ service: 'member-tickets', watch: true })],

  computed: {
    queryWhen() {
      return this.dialog;
    },

    memberTicketsParams() {
      const query = {
        $select: ['_id', 'count', 'contact', 'connectionId', 'department', 'attendantId', 'jid', 'status', 'lastMessage', 'createdAt'],
        // contactId: this.$
        jid: this.jid,
      };

      if (this.attendantId) query.attendantId = this.attendantId;
      // if (this.departmentId) query.departmentId = this.departmentId;

      if (this.$isAttendant && this.usersSeeOnlyOwn) {
        query.attendantId = this.$user._id;
      } else if (this.$isAttendant && !this.allUserSeeChats) {
        query.$or = [
          {
            status: 'waiting',
          },
          {
            status: 'in_progress',
            attendantId: this.$user._id,
          },
          {
            status: 'closed',
            attendantId: this.$user._id,
          },
        ];
      }

      return {
        query,
        // paginate: !!this.filter, // This restores previous functionality
      };
    },
  },

  methods: {
    onBeforeShow() {
      this.findMemberTickets();
    },
  },
};
</script>
