<template>
  <span>
    <q-btn
      round
      dense
      unelevated
      icon="add"
      :disabled="disabled"
      @click="dialog = true"
    />

    <q-dialog
      v-model="dialog"
      transition-show="slide-up"
      transition-hide="slide-down"
      @hide="handleHide"
    >
      <q-card style="width: 320vw;">
        <q-card-section>
          <div class="text-h6">{{ $t('tag.create') }}</div>
        </q-card-section>

        <q-separator />

        <q-card-section
          class="q-pt-none scroll"
          style="height: 50vh"
        >
          <q-input
            v-model="form.label"
            :label="$t('tag.label')"
            autofocus
            outlined
            class="q-my-md"
          />

          <q-select
            v-model="colorModel"
            :label="$t('tag.bgColor')"
            outlined
            :options="options.colors"
            class="q-mb-md"
            @input="form.color = $event.color"
          >
            <template #option="scope">
              <q-item
                v-bind="scope.itemProps"
                v-on="scope.itemEvents"
              >
                <q-item-section>
                  <q-item-label caption>
                    <q-badge :color="scope.opt.color">
                      {{ scope.opt.label }}
                    </q-badge>
                  </q-item-label>
                </q-item-section>
              </q-item>
            </template>
          </q-select>

          {{ $t('commonWord.result') }}: <q-badge
            :color="form.color"
            :label="form.label"
          />

        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn
            v-close-popup
            :disabled="loading"
            :label="$t('commonWord.cancel')"
            color="primary"
          />

          <q-btn
            :loading="loading"
            flat
            :label="$t('commonWord.create')"
            color="primary"
            @click="submit"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </span>
</template>

<script>
import feathersClient from '../../boot/feathers-vuex';

export default {
  name: 'TicketTagForm',

  props: {
    connectionId: null,
    disabled: Boolean,
  },

  data() {
    return {
      dialog: false,
      loading: false,

      colorModel: { color: 'primary', label: 'Primaria' },

      options: {
        colors: [
          { color: 'primary', label: this.$t('tag.colorPrimary') },
          { color: 'secondary', label: this.$t('tag.colorSecondary') },
          { color: 'accent', label: this.$t('tag.colorAccent') },
          { color: 'dark', label: this.$t('tag.colorDark') },
          { color: 'positive', label: this.$t('tag.colorPositive') },
          { color: 'negative', label: this.$t('tag.colorNegative') },
          { color: 'info', label: this.$t('tag.colorInfo') },
          { color: 'warning', label: this.$t('tag.colorWarning') },
          { color: 'red', label: this.$t('tag.colorRed') },
          { color: 'pink', label: this.$t('tag.colorPink') },
          { color: 'purple', label: this.$t('tag.colorPurple') },
          { color: 'deep-purple', label: this.$t('tag.colorDeepPurple') },
          { color: 'indigo', label: this.$t('tag.colorIndigo') },
          { color: 'blue', label: this.$t('tag.colorBlue') },
          { color: 'light-blue', label: this.$t('tag.colorLightBlue') },
          { color: 'cyan', label: this.$t('tag.colorCyan') },
          { color: 'teal', label: this.$t('tag.colorTeal') },
          { color: 'green', label: this.$t('tag.colorGreen') },
          { color: 'light-green', label: this.$t('tag.colorLightGreen') },
          { color: 'yellow', label: this.$t('tag.colorYellow') },
          { color: 'amber', label: this.$t('tag.colorAmber') },
          { color: 'orange', label: this.$t('tag.colorOrange') },
          { color: 'deep-orange', label: this.$t('tag.colorDeepOrange') },
          { color: 'brown', label: this.$t('tag.colorBrown') },
          { color: 'grey', label: this.$t('tag.colorGrey') },
          { color: 'blue-grey', label: this.$t('tag.colorBlueGrey') },
        ],
      },

      form: {
        label: '',
        textColor: 'white',
        color: 'primary',
      },
    };
  },

  methods: {
    handleHide() {
      this.form.label = '';
    },

    async submit() {
      if (!this.form.label) {
        return this.$notify('negative', this.t$('tag.formLabelError'));
      }

      if (!this.form.color) {
        return this.$notify('negative', this.t$('tag.formColorError'));
      }

      if (!this.form.textColor) {
        return this.$notify('negative', this.t$('tag.formTextColorError'));
      }

      this.loading = true;

      try {
        await feathersClient.service('member-tags').create(this.form);
        this.dialog = false;
      } catch (error) {
        console.error(error);
      }

      this.loading = false;
      return null;
    },
  },

};
</script>
