<template>
  <q-btn
    v-bind="$attrs"
    @click="dialog = true"
  >
    <q-dialog
      v-model="dialog"
      :maximized="$q.screen.lt.md"
      @hide="handleHide"
      @before-show="beforeShow"
    >
      <q-card style="min-width: 320px; width: 60vw!important; max-width: 864px">
        <q-card-section>
          <div class="text-h6">
            {{ $t('commonWord.optionTitle') }}
          </div>
        </q-card-section>

        <q-separator />

        <q-card-section
          class="q-pt-none scroll scroll-dialog-section"
        >
          <chatbot-form
            ref="form"
            :parent="form"
            :parent-id="parentId"
            class="q-mt-sm"
          />
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn
            v-close-popup
            :disabled="loading"
            :label="$t('commonWord.cancel')"
            color="primary"
          />

          <q-btn
            :loading="loading"
            flat
            :label="$t('commonWord.save')"
            color="positive"
            @click="submit"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-btn>
</template>

<script>
import feathersClient from 'src/boot/feathers-vuex';

export default {
  components: {
    ChatbotForm: () => import('./ChatbotForm'),
  },

  props: {
    parent: null,
    parentId: null,
    data: null,
  },

  data() {
    return {
      dialog: false,
      loading: false,

      file: null,

      form: {
        _id: undefined,
        type: 'option',
        parentId: null,
        trigger: '',
        optionTargetId: null,
        optionType: 'message',
        optionMessage: '',
        message: '',
        optionActions: [],
      },
    };
  },

  methods: {
    beforeShow() {
      if (!this.data) return;

      this.form.optionActions = this.data.optionActions;
      this.form._id = this.data._id;
      this.form.type = this.data.type;
      this.form.parentId = this.data.parentId;
      this.form.trigger = this.data.trigger;
      this.form.optionMessage = this.data.optionMessage;
      this.form.optionTargetId = this.data.optionTargetId;
      this.form.optionType = this.data.optionType;
      this.form.message = this.data.message;
    },

    handleHide() {
      this.form._id = undefined;
      this.form.type = 'option';
      this.form.parentId = null;
      this.form.actions = [];
      this.form.optionMessage = '';
      this.form.optionType = 'message';
      this.form.optionTargetId = '';
      this.form.trigger = '';
      this.form.message = '';
    },

    async submit() {
      if (!(await this.$refs.form.validate())) return;

      this.loading = true;

      if (!this.form.parentId) this.form.parentId = this.parentId;
      const shouldClose = !this.form._id;

      try {
        if (!this.form._id) this.form = await feathersClient.service('member-chatbots').create(this.form);
        else this.form = await feathersClient.service('member-chatbots').update(this.form._id, this.form);
        if (shouldClose) this.dialog = false;
        else await this.$refs.form.load();
        this.$emit('created');
        this.$notify('positive', this.$t('commonWord.success'));
      } catch (error) {
        this.$notify('negative');
        console.error(error);
      }

      this.loading = false;
    },
  },
};
</script>
