<template>
  <div
    v-if="parent"
    class="row q-col-gutter-md"
  >
    <div
      v-if="parent.type !== 'introduction'"
      class="col-12 col-sm-2"
    >
      <q-input
        ref="trigger"
        v-model="parent.trigger"
        :label="$t('chatbot.triggerOption')"
        :lazy-rules="true"
        outlined
        :rules="[$data.$rules.required]"
        @change="parent.trigger = parent.trigger.trim()"
      />
    </div>

    <div
      v-if="parent.type !== 'introduction'"
      class="col-12 col-sm-2"
    >
      <q-select
        ref="optionType"
        v-model="parent.optionType"
        :label="$t('commonWord.type')"
        :options="options.types"
        emit-value
        :lazy-rules="true"
        map-options
        option-value="value"
        option-label="label"
        outlined
        :rules="[$data.$rules.required]"
      />
    </div>

    <div
      v-if="parent.type !== 'introduction'"
      class="col-12 col-sm-8"
    >
      <q-input
        v-if="['message', 'multiple', 'close'].includes(parent.optionType)"
        ref="optionMessage"
        v-model="parent.optionMessage"
        :lazy-rules="true"
        :label="$t('chatbot.optionMessage')"
        outlined
      />

      <select-user
        v-else-if="parent.optionType === 'attendant'"
        ref="optionMessage"
        :value="parent.optionTargetId"
        outlined
        @input="parent.optionTargetId = $event.value; parent.optionMessage = `${$t('chatbot.talkTo')} ${$event.label}`"
      />

      <select-department
        v-else-if="parent.optionType === 'department'"
        ref="optionMessage"
        :value="parent.optionTargetId"
        outlined
        @input="onDepartmentInput"
      />
    </div>

    <div
      v-if="parent.optionType === 'multiple'"
      class="col-12"
    >
      <div class="row q-col-gutter-md">
        <div class="col-12">
          <strong>{{ $t('chatbot.multipleActions') }}</strong>
        </div>

        <div class="col-12 col-sm-1">
          <q-btn
            color="positive"
            icon="add"
            round
            dense
            class="q-ma-md"
            @click="addAction"
          />
        </div>

        <div
          class="col-12 col-sm-2"
        >
          <q-select
            v-model="addActionForm.optionType"
            :label="$t('commonWord.type')"
            :options="options.typesMultiple"
            emit-value
            :lazy-rules="true"
            map-options
            option-value="value"
            option-label="label"
            outlined
            :rules="[$data.$rules.required]"
          />
        </div>

        <div
          v-if="addActionForm.type !== 'introduction'"
          class="col-12 col-sm-8"
        >
          <select-user
            v-if="addActionForm.optionType === 'attendant'"
            :value="addActionForm.optionTargetId"
            outlined
            @input="addActionForm.optionTargetId = $event ? $event.value : null"
          />

          <select-department
            v-else-if="addActionForm.optionType === 'department'"
            :value="addActionForm.optionTargetId"
            outlined
            @input="addActionForm.optionTargetId = $event ? $event.value : null"
          />
        </div>
      </div>

      <div class="col-12">
        <strong>{{ $t('chatbot.actionsPerformed') }}</strong>
      </div>

      <template v-for="(item, index) in parent.optionActions">
        <div
          :key="index"
          class="row q-col-gutter-md"
        >
          <div class="col-12 col-sm-1">
            <q-btn
              color="negative"
              icon="remove"
              round
              dense
              size="sm"
              class="q-my-sm q-mx-md"
              @click="parent.optionActions.splice(index, 1)"
            />
          </div>
          <div
            v-if="parent.optionActions[index].type !== 'introduction'"
            class="col-12 col-sm-2"
          >
            <q-select
              v-model="parent.optionActions[index].optionType"
              :label="$t('commonWord.type')"
              dense
              :options="options.types"
              emit-value
              :lazy-rules="true"
              map-options
              option-value="value"
              option-label="label"
              outlined
              :rules="[$data.$rules.required]"
            />
          </div>

          <div
            class="col-12 col-sm-8"
          >
            <select-user
              v-if="parent.optionActions[index].optionType === 'attendant'"
              dense
              :value="parent.optionActions[index].optionTargetId"
              outlined
              @input="parent.optionActions[index].optionTargetId = $event.value"
            />

            <select-department
              v-else-if="parent.optionActions[index].optionType === 'department'"
              dense
              :value="parent.optionActions[index].optionTargetId"
              outlined
              @input="onDepartmentInput"
            />
          </div>
        </div>
      </template>

      <q-separator />
    </div>

    <div class="col-12 col-sm-6">
      <q-input
        ref="message"
        v-model="parent.message"
        :label="$t('chatbot.optionMessage')"
        type="textarea"
        :lazy-rules="true"
        :rules="[$data.$rules.required]"
        outlined
      />

      <q-separator />

      <div>
        <chatbot-option-form
          :parent-id="parent._id"
          :parent="parent"
          color="primary"
          icon="check"
          :label="$t('chatbot.createOption')"
          class="full-width q-my-sm"
          :disabled="!parent._id"
          @created="load"
        />

        <q-tooltip v-if="!parent._id">
          {{ $t('chatbot.needToSave') }}
        </q-tooltip>
      </div>

      <q-separator />

      <template v-for="(item, i) in data">
        <div
          :key="item._id"
          class="row q-col-gutter-sm"
        >
          <div class="col-12 col-sm-2">
            <q-input
              :value="data[i].trigger"
              :label="$t('chatbot.trigger')"
              class="q-mt-md"
              readonly
              outlined
            />
          </div>

          <div class="col-12 col-sm-8">
            <q-input
              v-model="data[i].optionMessage"
              :label="$t('chatbot.optionText')"
              class="q-mt-md"
              readonly
              outlined
            />
          </div>

          <div class="col-12 col-sm-2 flex flex-center">
            <chatbot-option-form
              :parent-id="data[i]._id"
              :parent="parent"
              :data="data[i]"
              color="primary"
              icon="edit"
              size="sm"
              rounded
              dense
              :disabled="!parent._id"
              @created="load"
            />

            <confirm-btn
              color="negative"
              class="q-ml-xs"
              icon="delete"
              size="sm"
              rounded
              dense
              @confirm="remove(item._id)"
            />
          </div>
        </div>
      </template>
    </div>

    <div class="col-12 col-sm-6">
      <div style="position: sticky;top: 16px;">
        <message
          consult
          size="12"
          dumb
          :data="{
            key: {
              fromMe: true,
              jid: '55555555555@',
              id: '1'
            },
            ack: 2,
            message: {
              conversation: message
            },
            timestamp: new Date().getTime() / 1000
          }"
        />
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable vue/no-mutating-props */
import feathersClient from '../../boot/feathers-vuex';

export default {

  components: {
    Message: () => import('../../components/Messages/Message'),
    SelectUser: () => import('../../components/user/SelectUser'),
    SelectDepartment: () => import('../../components/department/SelectDepartment'),
    ConfirmBtn: () => import('../../components/tools/ConfirmBtn'),
    ChatbotOptionForm: () => import('./ChatbotOptionForm'),
  },
  props: {
    parentId: null,
    parent: null,
  },

  data() {
    return {
      dialog: false,
      loading: false,

      addActionForm: {
        optionType: 'attendant',
        optionTargetId: null,
      },

      options: {
        types: [
          { value: 'message', label: this.$t('commonWord.simple') },
          { value: 'attendant', label: this.$tc('attendant.attendant') },
          { value: 'department', label: this.$tc('departament.title') },
          { value: 'close', label: this.$t('commonWord.close') },
          { value: 'multiple', label: this.$t('commonWord.multiple') },
        ],
        typesMultiple: [
          { value: 'attendant', label: this.$tc('attendant.attendant') },
          { value: 'department', label: this.$tc('departament.title') },
          { value: 'close', label: this.$t('commonWord.close') },
        ],
      },
      data: [],
      pagination: {},
    };
  },

  computed: {
    message() {
      const options = this.data;
      const hasOptions = !!options.length || false;

      let message = this.parent.message;
      if (hasOptions) message += '\n────────\n';

      options.forEach((e) => {
        message += `*${e.trigger}* - ${e.optionMessage}\n`;
      });

      if (hasOptions) message += `\n────────\n*0* - ${this.$t('commonWord.restart')}`;

      return message;
    },
  },

  watch: {
    'parent._id': 'load',
  },

  created() {
    this.load();
  },

  beforeDestroy() {
  },

  methods: {
    addAction() {
      if (this.addActionForm.optionType !== 'close' && !this.addActionForm.optionTargetId) {
        this.$notify('negative', this.$t('chatbot.selectAllInfo'));
        return;
      }

      this.parent.optionActions.push(JSON.parse(JSON.stringify(this.addActionForm)));
      this.addActionForm.optionType = 'attendant';
      this.addActionForm.optionTargetId = null;
    },

    onDepartmentInput(e) {
      if (!e) {
        this.parent.optionTargetId = null;
        this.parent.optionMessage = null;
        return;
      }

      this.parent.optionTargetId = e.value;
      this.parent.optionMessage = `${this.$t('chatbot.TalkIn')} ${e.label}`;
    },

    async remove(id) {
      await feathersClient.service('member-chatbots').remove(id);
      this.load();
    },

    async validate() {
      const form = JSON.parse(JSON.stringify(this.parent));
      delete form.optionActions;
      await this.$resetValidation(form);
      return this.$validate(form);
    },

    async load() {
      if (this.parent.type !== 'introduction' && !this.parentId) return;
      if (!this.parent._id) return;
      this.loading = true;

      try {
        const res = await feathersClient.service('member-chatbots').find({ query: { $limit: 50, parentId: this.parentId, type: 'option' } });
        this.data = res.data;
        delete res.data;
        this.pagination = res;
      } catch (error) {
        console.log(error);
        this.$notify('negative');
      }

      this.loading = false;
    },
  },
};
</script>
