<template>
  <q-page class="row q-pa-md row">
    <div class="col-xl-6 col-md-6 col-12 q-mx-auto">
      <q-card class="full-width">
        <q-card-section>
          <div class="text-h6">
            {{ $t('setting.title') }}
          </div>

          <div class="text-subtitle2">
            {{ $t('setting.subtitle') }}
          </div>
        </q-card-section>

        <q-card-section>
          <user-email-change-dialog />
          <user-password-change-dialog class="q-mt-md" />
          <user-sign-change-dialog class="q-mt-md" />
          <ticket-settings-dialog
            v-if="$isAdmin"
            class="q-mt-md"
          />
          <connection-settings-dialog
            v-if="$isAdmin"
            class="q-mt-md"
          />
          <departments-list-dialog
            v-if="$isAdmin"
            class="q-mt-md"
          />
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'Settings',

  components: {
    UserEmailChangeDialog: () => import('../../../components/user/UserEmailChangeDialog'),
    UserPasswordChangeDialog: () => import('../../../components/user/UserPasswordChangeDialog'),
    UserSignChangeDialog: () => import('../../../components/user/UserSignChangeDialog'),
    TicketSettingsDialog: () => import('../../../components/tickets/TicketSettingsDialog'),
    ConnectionSettingsDialog: () => import('../../../components/connection/ConnectionSettingsDialog'),
    DepartmentsListDialog: () => import('../../../components/department/DepartmentsListDialog'),
  },
};
</script>
