<template>
  <q-dialog
    v-model="dialog"
    seamless
    position="right"
  >
    <q-card
      v-if="data"
      style="width: 350px"
    >
      <q-card-section class="row no-wrap">
        <q-btn
          v-close-popup
          flat
          round
          icon="close"
          class="absolute-top-right"
        />

        <div class="col-12">
          <p>
            {{ $t('connection.qr') }} {{ data.nickname ? data.nickname : data.jid }} precisa ser autenticada
          </p>

          <img
            v-if="old < 20000"
            :src="`data:image/png;base64,${data.qrcode}`"
            style="max-width: 250px"
          >

          <div v-else>
            Esta conexão precisa de um novo QR Code, gere um na tela inicial ou peça ao administrador a gerar para você;
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
export default {

  data() {
    return {
      dialog: false,
      data: null,
      old: 0,
      interval: null,
    };
  },

  watch: {
    $connections: {
      deep: true,
      immediate: true,
      handler() {
        const index = this.$connections.findIndex((e) => e.qrcode);
        if (index < 0) {
          this.dialog = false;
          return;
        }
        // if (!this.hasPaid(this.$connections[index]) || this.$connections[index].status === 'CONNECTED') return

        this.old = 0;
        this.data = this.$connections[index];
        this.dialog = true;
      },
    },
  },

  created() {
    this.interval = setInterval(() => {
      if (!this.data || !this.data.updatedAt) return;

      this.old = (new Date().getTime() - new Date(this.data.updatedAt).getTime());
    }, 100);
  },

  methods: {
    // hasPaid(item) {
    //   return true;
    //   // return this.transactions.some(e => e.connectionId === item._id)
    // },
  },
};
</script>

<style>

</style>
