<template>
  <div
    v-if="data.length"
    class="fixed-bottom q-pa-xl q-ml-md"
    style="z-index: 9"
  >
    <template v-for="item in data">
      <q-banner
        :key="item._id"
        class="bg-negative text-white"
      >
        <b>
          {{ item.notificationTitle }}
        </b><br>
        {{ item.notificationText }}
        <template #action>
          <q-btn
            flat
            icon="close"
            round
            @click.stop="markAsRead(item)"
          />
          <q-btn
            v-if="item.html"
            flat
            color="white"
            :label="$t('tooltip.seeMore')"
            @click="openTooltip(item)"
          />
        </template>
      </q-banner>
    </template>
  </div>
</template>

<script>
import { makeFindMixin } from 'feathers-vuex';

export default {
  name: 'TooltipsEmergency',

  data() {
    return {
      readed: [],
      queryWhen: false,
    };
  },

  created() {
    this.load();
  },

  mixins: [makeFindMixin({ service: 'tooltips', watch: true, queryWhen() { return this.queryWhen; } })],

  methods: {
    openTooltip(item) {
      this.$q.dialog({
        parent: this,
        data: item,
        component: () => import('./TooltipDialog.vue'),
      }).onOk(() => {
        this.markAsRead(item);
      });
    },

    async load() {
      try {
        const read = await this.$store.dispatch('tooltips-read/find', this.tooltipReadParams);
        this.readed = read.data.map((e) => e.tooltipId);
        this.queryWhen = true;
      } catch (error) {
        console.error(error);
      }
    },

    async markAsRead(item) {
      await this.$store.dispatch('tooltips-read/create', { tooltipId: item._id });
      this.readed.push(item._id);
    },
  },

  computed: {
    data() {
      return this.tooltips;
    },

    tooltipReadParams() {
      return {
        query: {
          $limit: 50,
        },
      };
    },

    tooltipsParams() {
      return {
        query: {
          type: 'emergency',
          active: true,
          _id: { $nin: this.readed },
          $or: [
            { forWho: 'all' },
            { forWho: 'specific', connectionsId: { $in: this.$connections.map((e) => e._id) } },
          ],
        },
      };
    },
  },
};
</script>

<style>

</style>
