<template>
  <q-btn
    flat
    round
    icon="notifications"
  >
    <q-badge
      v-if="data.length"
      color="warning"
      rounded
      floating
      class="q-mt-sm q-mr-sm"
      style="height: 12px"
    />

    <q-menu>
      <q-list
        style="min-width: 290px"
        separator
      >
        <q-item v-if="!data.length">
          <q-item-section
            top
            avatar
          >
            <q-avatar
              color="primary"
              text-color="white"
              icon="close"
            />
          </q-item-section>

          <q-item-section>
            <q-item-label>{{ $t('tooltip.none') }}</q-item-label>
            <q-item-label
              caption
              lines="2"
            >
              {{ $t('tooltip.notify') }}
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-item-label
          v-else
          header
        >
          {{ $t('acessMenu.helpWarnings') }}
        </q-item-label>

        <template v-for="item in data">
          <q-item
            :key="item._id"
            v-close-popup
            clickable
            @click="openTooltip(item)"
          >
            <q-item-section>
              <q-item-label>{{ item.notificationTitle }}</q-item-label>
              <q-item-label
                caption
                lines="2"
              >
                {{ item.notificationText }}
              </q-item-label>
            </q-item-section>

            <q-item-section avatar>
              <q-btn
                flat
                dense
                rounded
                icon="close"
                @click.stop="markAsRead(item)"
              />
            </q-item-section>
          </q-item>
        </template>
      </q-list>
    </q-menu>
  </q-btn>
</template>

<script>
import { makeFindMixin } from 'feathers-vuex';

export default {
  name: 'Tooltips',

  data() {
    return {
      readed: [],
      queryWhen: false,
    };
  },

  mixins: [makeFindMixin({ service: 'tooltips', watch: true, queryWhen() { return this.queryWhen; } })],

  created() {
    this.load();
  },

  methods: {
    openTooltip(item) {
      if (!item.html) return;

      this.$q.dialog({
        parent: this,
        data: item,
        component: () => import('./TooltipDialog.vue'),
      }).onOk(() => {
        this.markAsRead(item);
      });
    },

    async load() {
      try {
        const read = await this.$store.dispatch('tooltips-read/find', this.tooltipReadParams);
        this.readed = read.data.map((e) => e.tooltipId);
        this.queryWhen = true;
      } catch (error) {
        console.error(error);
      }
    },

    async markAsRead(item) {
      await this.$store.dispatch('tooltips-read/create', { tooltipId: item._id });
      this.readed.push(item._id);
    },
  },

  computed: {
    data() {
      return this.tooltips;
    },

    tooltipReadParams() {
      return {
        query: {
          $limit: 50,
        },
      };
    },

    tooltipsParams() {
      return {
        query: {
          type: 'notification',
          active: true,
          _id: { $nin: this.readed },
          $or: [
            { forWho: 'all' },
            { forWho: 'specific', connectionsId: { $in: this.$connections.map((e) => e._id) } },
          ],
        },
      };
    },
  },
};
</script>

<style>

</style>
