<template>
  <q-dialog
    ref="dialog"
    maximized
    @hide="onDialogHide"
  >
    <div
      class="q-pa-xl flex flex-center"
      @click="hide"
    >
      <q-card
        class="q-dialog-plugin full-width"
        @click.stop
      >
        <q-card-section>
          <div class="text-h6">
            {{ data.title }}
          </div>
        </q-card-section>

        <q-separator />

        <q-card-section
          class="scroll"
          style="height: calc(100vh - 214px)"
        >
          <div class="row justify-center q-col-gutter-md">
            <div
              class="col-12"
              v-html="data.html"
            />
          </div>
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn
            color="primary"
            :label="$t('commonWord.close')"
            @click="onCancelClick"
          />
          <q-btn
            flat
            color="primary"
            :label="$t('tooltip.close')"
            @click="onOKClick"
          />
        </q-card-actions>
      </q-card>
    </div>
  </q-dialog>
</template>

<script>
export default {
  props: {
    data: null,
  },

  methods: {
    // following method is REQUIRED
    // (don't change its name --> "show")
    show() {
      this.$refs.dialog.show();
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide() {
      this.$refs.dialog.hide();
    },

    onDialogHide() {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide');
    },

    onOKClick() {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok');
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide();
    },

    onCancelClick() {
      // we just need to hide dialog
      this.hide();
    },
  },
};
</script>
