<template>
  <div
    class="login-row row full-width items-stretch bg-whatsapp"
    :class="{
      'justify-center': $q.screen.lt.md
    }"
    :style="`background-image: ${backgroundImage}; background-size: cover; background-repeat: no-repeat`"
  >
    <div
      class="col-xl-8 col-md-8 col-12 full-height text-white gt-sm"
    >
      <div
        v-if="!$q.screen.lt.sm"
        class="row full-height justify-center items-center"
      >
        <div class="col-sm-6 col-12 text-center">
          <h1
            class="q-ma-none"
            style="font-size: 24px"
          >
            {{ $t('commonWord.welcome') }}
            {{ $t('commonWord.to') }}
            <b>{{ $env.formattedName }}</b>
            !
          </h1>

          <h3
            class="q-ma-none"
            style="font-size: 20px"
          >
            {{ $t('publicPages.phrase1') }}
          </h3>

          <h3
            class="q-ma-none"
            style="font-size: 20px"
          >
            {{ $t('publicPages.phrase2') }}
          </h3>
        </div>
      </div>
    </div>

    <q-form
      class="col-xl-4 col-sm-4 col-12 bg-white row content-center bg-white"
      :class="$q.screen.lt.sm ? 'form-absolute' : null"
      @submit="submit"
    >
      <q-card
        flat
        square
        style="max-height: 100vh"
        class="full-width scroll"
      >
        <q-card-section>
          <div
            v-if="$q.screen.lt.sm"
            class="text-h5 q-ma-none"
          >
            {{ $env.formattedName }}
          </div>

          <div class="text-h6">
            {{ $t('commonWord.welcome') }}
          </div>

          <div class="text-subtitle2">
            {{ $t('publicPages.enterData') }}
          </div>
        </q-card-section>

        <q-card-section>
          <q-input
            ref="email"
            v-model="form.email"
            :disabled="loading"
            type="email"
            :label="$t('form.email')"
            :rules="[$data.$rules.required, $data.$rules.email]"
            :lazy-rules="true"
            autofocus
          />

          <q-input
            ref="password"
            v-model="form.password"
            :disabled="loading"
            :label="$t('form.password')"
            type="password"
            :rules="[$data.$rules.required]"
            :lazy-rules="true"
          />

          <div
            class="text-right"
          >
            <q-btn
              no-caps
              dense
              flat
              color="primary"
              :label="$t('publicPages.forgotMyPassword')"
              :loading="passLoading"
              @click="forgotPassword"
            />
          </div>

          <div>
            {{ $t('commonWord.read') }} {{ $tc('commonWord.the', 2, {ptBr: 'o', }) }} <router-link :to="{ name: 'terms' }">
              {{ $t('termsUsage.title') }} ({{ $env.terms.date }})
            </router-link><br>
          </div>
          <div>
            {{ $t('commonWord.read') }} {{ $tc('commonWord.the', 2, {ptBr: 'o', }) }}  <router-link :to="{ name: 'privacy' }">
              {{ $t('politicPrivacy.title') }} ({{ $env.privacy.date }})
            </router-link>
          </div>
        </q-card-section>

        <q-card-actions class="card-actions">
          <q-btn
            color="primary"
            type="submit"
            :loading="loading"
          >
            {{ $t('commonWord.access') }}
          </q-btn>

          <q-btn
            color="primary"
            outline
            :disabled="loading"
            @click="$router.push({ name: 'register' })"
          >
            {{ $t('publicPages.createRegister') }}
          </q-btn>
        </q-card-actions>
      </q-card>
    </q-form>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import feathersClient from '../../boot/feathers-vuex';

export default {
  data() {
    return {
      loading: false,
      passLoading: false,

      form: {
        email: '',
        password: '',
        strategy: 'local',
      },
    };
  },

  beforeCreate() {
    // localStorage.removeItem('vuex');
  },

  methods: {
    ...mapActions('auth', ['authenticate']),
    async forgotPassword() {
      await this.$resetValidation(this.form);
      if (!this.$refs.email.validate()) {
        this.$notify('negative', this.$t('publicPages.forgotPasswordValidationFailed'));
        return;
      }

      this.passLoading = true;
      try {
        await feathersClient.service('password-reset').create({ email: this.form.email });
        this.$notify('positive', this.$t('publicPages.forgotPasswordSuccess'));
      } catch (error) {
        console.error(error);
        const message = this.$t('publicPages.forgotPasswordFail');
        this.$notify('negative', message);
      }
      this.passLoading = false;
    },

    async submit() {
      this.error = false;
      await this.$resetValidation(this.form);
      if (!(await this.$validate(this.form))) return;

      this.loading = true;
      try {
        await this.authenticate(this.form);
        this.$router.replace({ name: 'dashboard' });
      } catch (error) {
        this.$notify('negative', this.$t('publicPages.loginFailed'));
        console.error(error);
      }
      this.loading = false;
    },
  },

  computed: {
    backgroundImage() {
      return 'linear-gradient(to bottom, rgba(2, 123, 227, 0.69), rgb(38, 166, 154)),url(/whatsapp-bg.webp)';
    },
  },
};
</script>

<style scoped>
  .form-absolute {
    height: 100vh
  }

  div.row.login-row {
    height: 100vh
  }

  .card-actions {
    display: flex;
    justify-content: space-between;
  }

  .bg-whatsapp {
    background-size: cover
  }
</style>
