<template>
  <div class="login-row row full-width justify-center items-center bg-white">
    <div
      class="col-xl-8 col-md-8 col-12 full-height text-white bg-whatsappx"
      :style="`background-image: ${backgroundImage}; background-size: cover; background-repeat: no-repeat`"
    >
      <!-- :class="$q.screen.lt.sm ? 'order-last' : null" -->

      <div
        v-if="!$q.screen.lt.sm"
        class="row full-height justify-center items-center"
      >
        <div class="col-sm-6 col-12 text-center">
          <h1
            class="q-ma-none"
            style="font-size: 24px"
          >
            {{ $t('commonWord.welcome') }}
            {{ $t('commonWord.to') }}
            <b>{{ $env.formattedName }}</b>
            !
          </h1>

          <h3
            class="q-ma-none"
            style="font-size: 20px"
          >
            {{ $t('publicPages.phrase1') }}
          </h3>

          <h3
            class="q-ma-none"
            style="font-size: 20px"
          >
            {{ $t('publicPages.phrase2') }}
          </h3>
        </div>
      </div>
    </div>

    <q-form
      class="col-xl-4 col-sm-4 col-11 q-px-sm"
      :class="$q.screen.lt.sm ? 'form-absolute' : null"
      @submit="submit"
    >
      <q-card
        flat
        class="full-width"
      >
        <q-card-section>
          <div
            v-if="$q.screen.lt.sm"
            class="text-h5 q-ma-none"
          >
            {{ $env.formattedName }}
          </div>

          <div class="text-h6">
            {{ $t('commonWord.welcome') }}
          </div>

          <div class="text-subtitle2">
            {{ $t('publicPages.enterData') }}
          </div>
        </q-card-section>

        <q-card-section>
          <q-input
            ref="password"
            v-model="form.password"
            :disabled="loading"
            :label="$t('form.passwordNew')"
            type="password"
            :rules="[$data.$rules.required]"
            :lazy-rules="true"
          />

          <q-input
            ref="passwordConfirmation"
            v-model="form.passwordConfirmation"
            :disabled="loading"
            :label="$t('form.passwordConfirmation')"
            type="password"
            :rules="[$data.$rules.required, $data.$rules.equals(form.password, 'password')]"
            :lazy-rules="true"
          />
        </q-card-section>

        <q-card-actions class="card-actions">
          <q-btn
            color="primary"
            type="submit"
            :loading="loading"
          >
            {{ $t('commonWord.save') }}
            {{ $t('commonWord.password') }}
          </q-btn>
        </q-card-actions>
      </q-card>
    </q-form>
  </div>
</template>

<script>
import { Loading } from 'quasar';
import feathersClient from '../../boot/feathers-vuex';
import { notify } from '../../boot/$notify';

export default {
  data() {
    return {
      loading: false,

      form: {
        token: this.$route.query.token,
        password: '',
        passwordConfirmation: '',
      },
    };
  },

  async preFetch({ currentRoute, redirect }) {
    Loading.show();
    const a = await feathersClient.service('password-reset').get(currentRoute.query.token);

    if (a.code > 300) {
      console.error(a);
      notify('negative', this.$t('forgotPassword.invalidTokenError'));
      redirect({ name: 'public' });
    }
    Loading.hide();
  },

  computed: {
    backgroundImage() {
      return 'linear-gradient(to bottom, rgba(2, 123, 227, 0.69), rgb(38, 166, 154)),url(/whatsapp-bg.webp)';
    },
  },

  methods: {
    async submit() {
      this.error = false;
      await this.$resetValidation(this.form);
      if (
        !(await this.$validate(this.form.user))
        && !(await this.$validate(this.form.connection))
      ) return;

      this.loading = true;
      try {
        const a = await feathersClient.service('password-reset').update(null, this.form);
        if (a.code > 399) throw a;
        this.$router.replace({ name: 'public' });
        this.$notify('positive', this.$t('forgotPassword.updated'));
      } catch (error) {
        console.error(error);
        this.$notify('negative');
      }
      this.loading = false;
    },
  },
};
</script>

<style scoped>
  .form-absolute {
    position: absolute;
  }

  div.row.login-row {
    height: 100vh
  }

  .card-actions {
    display: flex;
    justify-content: space-between;
  }

  .bg-whatsapp {
    background-size: cover
  }
</style>
