<template>
  <q-layout view="hHh LpR fFf">
    <q-header color="primary">
      <q-toolbar>
        <q-toolbar-title>
          {{ $env.formattedName }}
        </q-toolbar-title>

        <q-btn
          v-if="!$isAuth"
          flat
          no-caps
          class="gt-xs"
          @click="$router.push({ name: 'public' })"
        >
          {{ $t('commonWord.access') }}
        </q-btn>

        <q-btn
          v-else
          flat
          no-caps
          class="gt-xs"
          @click="$router.push({ name: 'dashboard' })"
        >
          {{ $t('commonWord.painel') }}
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <q-banner
        class="bg-grey-3 text-center"
        style="margin-bottom: -48px"
      >
        <h1
          class="text-grey-9 q-pb-xl"
          style="padding: 4rem 0 5rem;font-size: 36px;line-height: 1.2"
        >
          {{ $t('politicPrivacy.titlePage') }}<br>
          {{ $t('commonWord.updated') }}
          {{ $t('commonWord.on') }}
          {{ $env.privacy.date }}
        </h1>
      </q-banner>

      <div class="row justify-center">
        <div
          class="bg-white shadow-6 text-justify col-md-8 q-px-xl q-py-lg q-mb-xl"
          style="font-size: 20px"
        >
          <div v-html="$env.privacy.intro" />

          <p class="text-bold">
            {{ $t('commonWord.summary') }}

            <ol
              class="q-mt-none"
              style="font-size: 16px"
            >
              <template v-for="(item, index) in $env.privacy.points">
                <li
                  :key="`list_${index}`"
                  class="cursor-pointer"
                  @click="scrollTo(`#${item.title.toLowerCase().split(' ').join('_')}`)"
                >
                  {{ item.title.toUpperCase() }}
                </li>
              </template>
            </ol>
          </p>

          <q-separator />

          <template v-for="(item, index) in $env.privacy.points">
            <h2
              :id="item.title.toLowerCase().split(' ').join('_')"
              :key="`title_${index}`"
              class="text-bold q-mb-none"
              style="font-size: 18px"
            >
              {{ index + 1 }}. {{ item.title }}
            </h2>

            <template v-for="(point, indexPoint) in item.points">
              <p
                :key="`point_${index}_${indexPoint}`"
                v-html="point"
              />
            </template>
          </template>
        </div>
      </div>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'Privacy',

  components: {
  },

  methods: {
    scrollTo(selector) {
      const { offsetTop } = document.querySelector(selector);

      window.scroll({
        top: offsetTop - 50, // could be negative value
        left: 0,
        behavior: 'smooth',
      });
    },
  },
};
</script>

<style scoped>
</style>
