<template>
  <div
    class="login-row row full-width items-stretch bg-whatsapp"
    :style="`background-image: ${backgroundImage}; background-size: cover; background-repeat: no-repeat`"
  >
    <div
      class="col-xl-8 col-md-8 col-12 full-height gt-sm text-white"
    >
      <div
        v-if="!$q.screen.lt.sm"
        class="row full-height justify-center items-center"
      >
        <div class="col-sm-6 col-12 text-center">
          <h1
            class="q-ma-none"
            style="font-size: 24px"
          >
            {{ $t('commonWord.welcome') }}
            {{ $t('commonWord.to') }}
            <b>{{ $env.formattedName }}</b>
            !
          </h1>

          <h3
            class="q-ma-none"
            style="font-size: 20px"
          >
            {{ $t('publicPages.phrase1') }}
          </h3>

          <h3
            class="q-ma-none"
            style="font-size: 20px"
          >
            {{ $t('publicPages.phrase2') }}
          </h3>
        </div>
      </div>
    </div>

    <q-form
      class="col-xl-4 col-sm-4 col-12 bg-white row content-center bg-white scroll"
      :class="$q.screen.lt.sm ? 'form-absolute' : null"
      @submit="submit"
    >
      <q-card
        flat
        square
        style="max-height: 100vh"
        class="full-width scroll"
      >
        <q-card-section>
          <div
            v-if="$q.screen.lt.sm"
            class="text-h5 q-ma-none"
          >
            {{ $env.formattedName }}
          </div>

          <div class="text-h6">
            {{ $t('commonWord.welcome') }}
          </div>

          <div class="text-subtitle2">
            {{ $t('publicPages.enterData') }}
          </div>
        </q-card-section>

        <q-card-section v-if="true">
          <h3>
            Não estamos aceitando cadastros no momento. Obrigado pela compreenção.
          </h3>
        </q-card-section>

        <q-card-section v-else>
          <q-input
            ref="name"
            v-model="form.user.name"
            :disabled="loading"
            :label="$t('form.name')"
            :rules="[$data.$rules.required]"
            :lazy-rules="true"
            autofocus
          />

          <q-input
            ref="lastName"
            v-model="form.user.lastName"
            :disabled="loading"
            :label="$t('form.lastName')"
            :rules="[$data.$rules.required]"
            :lazy-rules="true"
          />

          <q-input
            ref="email"
            v-model="form.user.email"
            :disabled="loading"
            :label="$t('form.email')"
            :rules="[$data.$rules.required, $data.$rules.email]"
            :lazy-rules="true"
          />

          <q-input
            ref="password"
            v-model="form.user.password"
            :disabled="loading"
            :label="$t('form.password')"
            type="password"
            :rules="[$data.$rules.required]"
            :lazy-rules="true"
          />

          <q-input
            ref="passwordConfirmation"
            v-model="form.user.passwordConfirmation"
            :disabled="loading"
            :label="$t('form.passwordConfirmation')"
            type="password"
            :rules="[$data.$rules.required, $data.$rules.equals(form.user.password, 'password')]"
            :lazy-rules="true"
          />

          <div>
            <q-checkbox
              v-model="politics"
            >
              {{ $t('publicPages.iDeclareHaveRead') }}
            </q-checkbox>

            <router-link
              target="_blank"
              class="q-pl-sm"
              :to="{ name: 'terms' }"
              @click.stop
            >
              {{ $t('termsUsage.title') }}
            </router-link>
          </div>
          <div>
            <q-checkbox
              v-model="policy"
            >
              {{ $t('publicPages.iDeclareHaveRead') }}
            </q-checkbox>

            <router-link
              target="_blank"
              class="q-pl-sm"
              :to="{ name: 'privacy' }"
              @click.stop
            >
              {{ $t('politicPrivacy.title') }}
            </router-link>
          </div>
        </q-card-section>

        <q-card-actions
          class="card-actions"
        >
          <q-btn
            color="primary"
            type="submit"
            :loading="loading"
          >
            {{ $t('publicPages.createAccount') }}
          </q-btn>

          <q-btn
            color="primary"
            outline
            :disabled="loading"
            @click="$router.push({ name: 'public' })"
          >
            {{ $t('publicPages.iHaveAccount') }}
          </q-btn>
        </q-card-actions>
      </q-card>
    </q-form>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import feathersClient from '../../boot/feathers-vuex';

export default {
  data() {
    return {
      loading: false,
      politics: false,
      policy: false,
      country: this.$i18n.locale === 'pt-br' ? 'BR' : 'IN',

      form: {
        user: {
          name: '',
          lastName: '',
          email: '',
          password: '',
          passwordConfirmation: '',
        },
        connection: {
          jid: '',
          type: 'whatsapp',
        },
      },
    };
  },

  methods: {
    ...mapActions('auth', ['authenticate']),

    async submit() {
      window.gtag('event', 'conversion', { send_to: 'AW-1022314933/H2jzCLvLysICELWTvecD' });
      this.error = false;
      await this.$resetValidation(this.form.user);
      await this.$resetValidation(this.form.connection);
      if (
        !(await this.$validate(this.form.user))
        && !(await this.$validate(this.form.connection))
      ) return;

      if (this.politics === false) {
        this.$notify('negative', this.$t('publicPages.didNotAcceptPolitics'));
        return;
      }

      if (this.policy === false) {
        this.$notify('negative', this.$t('publicPages.didNotAcceptPolitics'));
        return;
      }

      this.loading = true;
      try {
        const form = JSON.parse(JSON.stringify(this.form));
        form.connection.jid = String(Math.floor(Math.random() * 1000000000000000));

        await feathersClient.service('register').create(form);
        const authForm = {
          strategy: 'local',
          email: this.form.user.email,
          password: this.form.user.password,
        };
        await this.authenticate(authForm);
        this.$router.replace({ name: 'dashboard' });
      } catch (error) {
        console.error(error);
        let message = this.$t('publicPages.registerError');
        if (error.message === 'User already registered') message = this.$t('publicPages.registerUserError');
        if (error.message === 'email: value already exists.') message = this.$t('publicPages.registerEmailError');
        if (error.message === 'jid: value already exists.') message = this.$t('publicPages.registerJidError');
        this.$notify('negative', message);
      }
      this.loading = false;
    },
  },

  computed: {
    backgroundImage() {
      return 'linear-gradient(to bottom, rgba(2, 123, 227, 0.69), rgb(38, 166, 154)),url(/whatsapp-bg.webp)';
    },
  },
};
</script>

<style scoped>
  .form-absolute {
    position: absolute;
    top: 0;
    bottom: 0;
  }

  div.row.login-row {
    height: 100vh
  }

  .card-actions {
    display: flex;
    justify-content: space-between;
  }

  .bg-whatsapp {
    background-size: cover
  }
</style>
