<template>
  <span>
    <q-btn
      round
      dense
      unelevated
      icon="add"
      :disabled="disabled"
      @click="dialog = true"
    />

    <q-dialog
      v-model="dialog"
      transition-show="slide-up"
      transition-hide="slide-down"
      @before-show="handleBeforeShow"
      @hide="handleHide"
    >
      <q-card style="width: 320vw;">
        <q-card-section>
          <div class="text-h6">{{ $t('message.programatedCreate') }}</div>
        </q-card-section>

        <q-separator />

        <q-card-section
          class="q-pt-none scroll"
          style="height: 50vh"
        >
          <div class="row q-col-gutter-md">
            <div class="col-8">
              <q-input
                v-model="date"
                outlined
                :label="$t('message.sendDay')"
                class="q-mt-md"
                mask="date"
                :rules="['date']"
              >
                <q-icon
                  slot="append"
                  name="event"
                  class="cursor-pointer"
                >
                  <q-popup-proxy
                    ref="qDateProxy"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date
                      v-model="date"
                      :options="options"
                    >
                      <div class="row items-center justify-end">
                        <q-btn
                          v-close-popup
                          :label="$t('commonWord.close')"
                          color="primary"
                          flat
                        />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </q-input>
            </div>

            <div class="col-4">
              <q-input
                v-model="hour"
                outlined
                :label="$t('commonWord.hour')"
                class="q-mt-md"
                mask="##:00"
              />
            </div>
          </div>

          <q-input
            ref="inputDialog"
            v-model="form.body"
            type="textarea"
            :label="$tc('commonWord.message')"
            outlined
            rows="4"
            :hint="$t('message.messageUsageHint')"
            class="full-width"
          >
            <q-btn
              slot="append"
              icon="fa fa-smile"
              flat
              round
              dense
            >
              <q-menu>
                <!-- <VEmojiPicker @select="selectEmoji($event, 'inputDialog')" /> -->
              </q-menu>
            </q-btn>
          </q-input>

          {{ $t('commonWord.result') }}:

          <message
            consult
            size="12"
            :data="{
              isMe: true,
              id: 'toSend',
              ack: 2,
              user: { name: name },
              body: form.body ? form.body : $t('message.writeSomething'),
              t: new Date().getTime()
            }"
            :chat="{
              kind: $tc('commonWord.chat'),
            }"
          />
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn
            v-close-popup
            :disabled="loading"
            :label="$t('commonWord.cancel')"
            color="primary"
          />

          <q-btn
            :loading="loading"
            flat
            :label="$t('commonWord.create')"
            color="primary"
            @click="submit"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </span>
</template>

<script>
// import { MessageSchedules } from '../../../lib/collections'
// import { VEmojiPicker } from 'v-emoji-picker';

export default {
  components: {
    // VEmojiPicker,
    Message: () => import('../Messages/Message'),
  },

  props: {
    chat: null,
    disabled: Boolean,
  },

  data() {
    return {
      dialog: false,
      loading: false,

      form: {
        date: new Date(),
        body: '',
      },
    };
  },

  computed: {
    date: {
      get() {
        if (!this.form.date) return '';
        return '';
        // return moment(this.form.date).format('YYYY/MM/DD');
      },
      set(e) {
        e = e.split('/');
        this.form.date = e;
        // moment(this.form.date).set({ year: e[0], month: parseInt(e[1]) - 1, date: e[2] }).toDate();
      },
    },

    hour: {
      get() {
        if (!this.form.date) return '09:00';
        // return moment(this.form.date).format('HH:mm');
        return '';
      },
      set(e) {
        e = e.split(':');
        // this.form.date = moment(this.form.date).set({ h: e[0], m: e[1], s: 0 }).toDate();
        return e;
      },
    },

    name() {
      // try {
      //   return this.$user.profile.name;
      // } catch (error) {
      //   console.error(error);
      // }

      return '';
    },
  },

  methods: {
    options(date) {
      // return date >= moment().format('YYYY/MM/DD');
      return date;
    },

    handleBeforeShow() {
      this.form.body = '';
      this.form.date = new Date();
      // moment(new Date()).add(1, 'day').set({ h: 9, m: 0, s: 0 }).toDate();
    },

    handleHide() {
      this.form.body = '';
    },

    // selectEmoji(emoji, ref) {
    //   // const input = this.$refs[ref].$el.querySelector('textarea');

    //   // if (input.selectionStart !== null) this.form.body = this.form.body.substring(0, input.selectionStart) + emoji.data + this.form.body.substring(input.selectionStart);
    //   // else this.form.body += emoji.data;
    // },

    submit() {
      if (!this.form.date) {
        return this.$notify('negative', this.$t('message.quickFormErrorTitle'));
      }

      if (!this.form.body) {
        return this.$notify('negative', this.$t('message.quickFormErrorShortcut'));
      }

      this.loading = true;

      this.$MessageSchedules.insert({
        connectionId: this.chat.connectionId,
        status: 'pending',
        contactId: this.chat.contactId,
        chatId: this.chat._id,
        serialized: this.chat.id,
        userId: this.$store.state.auth.user._id,
        ...this.form,
      }, (e, doc) => {
        this.loading = false;
        if (e) return console.error(e, doc);
        this.dialog = false;
        return null;
      });

      return null;
    },
  },
};
</script>
