<template>
  <q-item>
    <q-card
      id="scheduled_messages"
      class="full-width"
    >
      <q-card-section class="q-py-none">
        <q-list>
          <q-item class="q-pa-none">
            <q-item-section>
              <q-item-label>
                {{ $t('message.programated') }}

                <schedule-messages-form
                  v-if="transaction"
                  :disabled="disabled"
                  :chat="data"
                />

                <q-btn
                  id="tag_add_btn"
                  flat
                  round
                  icon="keyboard_arrow_down"
                  color="grey-7 absolute-right"
                  class="q-ml-auto"
                  @click="showQuickMessages = !showQuickMessages"
                >
                  <q-tooltip>{{ $t('message.programatedShow') }}</q-tooltip>
                </q-btn>
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>

      <q-card-section class="q-pa-none">
        <q-slide-transition appear>
          <div v-show="showQuickMessages">
            <q-list
              v-if="transaction"
              separator
              class="q-px-md"
            >
              <q-item
                v-for="(item, index) in query"
                :key="`quick_messages_item_${index}`"
                class="q-py-none q-px-none"
              >
                <q-item-section avatar>
                  <q-icon
                    v-if="item.status ==='pending'"
                    name="query_builder"
                    class="text-warning"
                  />

                  <q-icon
                    v-else-if="item.status ==='sent'"
                    name="done_all"
                    class="text-positive"
                  />
                </q-item-section>

                <q-item-section>
                  <q-item-label>
                    {{ item.body }}
                  </q-item-label>

                  <q-item-label caption>
                    {{ $jsDateFormat(item.date) }}
                  </q-item-label>
                </q-item-section>

                <q-item-label class="flex flex-center q-ml-auto">
                  <q-btn
                    round
                    flat
                    dense
                    color="grey-6"
                    icon="delete"
                    :disabled="disabled || item.status === 'sent'"
                    @click="deleteItem(item)"
                  >
                    <q-tooltip>{{ $t('message.programatedDelete') }}</q-tooltip>
                  </q-btn>
                </q-item-label>
              </q-item>
            </q-list>

            <div
              v-else
              class="flex flex-center q-ma-xl"
            >
              <div class="text-center">
                <q-icon
                  name="account_balance_wallet"
                  size="30px"
                />
                <div>{{ $t('payment.checkSituation') }}</div>
              </div>
            </div>
          </div>
        </q-slide-transition>
      </q-card-section>
    </q-card>
  </q-item>
</template>

<script>
/* eslint-disable camelcase */
export default {
  name: 'ScheduledMessages',

  components: {
    ScheduleMessagesForm: () => import('./ScheduleMessagesForm'),
  },

  props: {
    data: null,
    disabled: Boolean,
  },

  data() {
    return {
      showQuickMessages: true,
    };
  },

  computed: {
    transaction() {
      return true;
      // return this.$transactions.find((e) => e.type === 'scheduleSystem');
    },

    show() {
      if (!this.$connections.length) return false;
      if (!this.$connections[0].settings) return false;
      if (!this.$connections[0].settings.scheduleSystem) return false;
      return this.$connections[0].settings.scheduleSystem;
    },
  },

  methods: {
    async deleteItem(item) {
      if (this.disabled) return;
      this.$MessageSchedules.remove({ _id: item._id });
    },
  },
};
</script>
