<template>
  <div
    id="q-app"
    @contextmenu="onContextmenu"
  >
    <router-view v-if="$env && isOnline" />

    <div
      v-else-if="!isOnline"
      class="fullscreen bg-blue text-white text-center q-pa-md flex flex-center"
    >
      <div>
        <div style="font-size: 10vh">
          {{ $t('publicPages.offline') }}
        </div>

        <q-btn
          color="primary"
          icon="refresh"
          @click="refresh"
        />
      </div>
    </div>
    <div
      v-else-if="false"
      class="fullscreen bg-blue text-white text-center q-pa-md flex flex-center"
    >
      <div>
        <div style="font-size: 10vh">
          {{ $t('publicPages.maintenance') }}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Dark, uid } from 'quasar';
import LogRocket from 'logrocket';

export default {
  name: 'App',

  async preFetch({
    // eslint-disable-next-line no-unused-vars
    store, currentRoute, previousRoute, redirect, ssrContext, urlPath, publicPath,
  }) {
    if (!window.localStorage.getItem('uid')) {
      window.localStorage.setItem('uid', uid());
    }
    if (!store.getters['envs/get']('zapfly')) {
      await store.dispatch('envs/get', 'zapfly');
    } else {
      store.dispatch('envs/get', 'zapfly');
    }

    try {
      if (window.localStorage.getItem('auth')) await store.dispatch('auth/authenticate');
    // eslint-disable-next-line no-empty
    } catch (error) {
    }

    if (store.getters['auth/isAuthenticated']) {
      if (['public', 'register'].includes(currentRoute.name)) redirect({ name: 'dashboard' });
    } else if (currentRoute.path.includes('/dashboard')) redirect({ name: 'public' });
  },

  data() {
    return {
      isOnline: navigator.onLine,
    };
  },

  methods: {
    refresh() {
      window.location.reload(true);
    },

    updateConnectionStatus({ type }) {
      this.isOnline = type === 'online';
    },
    onContextmenu(e) {
      if (window.matchMedia('(display-mode: standalone)').matches) e.preventDefault();
    },

    async l() {
      try {
        const myIp = await fetch('https://tools.arcode.online/my-ip')
          .then((response) => response.json());
        const { countryCode } = await fetch(`https://tools.arcode.online/geoip/${myIp}?$select[]=countryCode`)
          .then((response) => response.json());

        if (countryCode === 'BR') this.$store.commit('canUsePagseguro', true);
        return;
      } catch (error) {
        console.error(error);
      }

      if (this.$q.lang.getLocale() === 'pt-br') {
        this.$store.commit('canUsePagseguro', true);
      }
    },
  },

  beforeCreate() {
    if (this.$q.platform.is.capacitor) Dark.set('auto');
    else Dark.set(false);
  },

  created() {
    this.l();

    window.addEventListener('online', this.updateConnectionStatus);
    window.addEventListener('offline', this.updateConnectionStatus);
    window.addEventListener('beforeinstallprompt', (e) => {
      e.preventDefault();
      this.$store.commit('pwaInstall', e);
    });
  },

  beforeDestroy() {
    window.removeEventListener('online', this.updateConnectionStatus);
    window.removeEventListener('offline', this.updateConnectionStatus);
  },

  meta() {
    return {
      title: this.title,
    };
  },

  computed: {
    title() {
      if (!this.$env || !this.$env.formattedName) return '';
      return this.$env.formattedName ?? '';
    },
  },

  watch: {
    $user: {
      immediate: true,
      handler() {
        if (!this.$user) return;
        if (this.$isSystemAdmin) return;

        console.log('=> LogRocket Id');
        this.$tracker.setUserID(this.$user.email);
        LogRocket.identify(this.$user.email, {
          name: this.$user.name,
          lastName: this.$user.lastName,
          email: this.$user.email,
          connsId: this.$user.connsId,
          userId: this.$user.userId,
        });
      },
    },
    '$route.query.lang': {
      immediate: true,
      handler() {
        if (this.$route.query.lang) {
          this.$i18n.locale = this.$route.query.lang;
        }
      },
    },
    '$env.logrocket.active': {
      immediate: true,
      handler() {
        if (!this.$env) return;
        if (!this.$env.logrocket.active || !this.$env.logrocket.code) {
          return;
        }

        if (this.$isSystemAdmin) return;
        if (window.location.origin !== this.$env.frontendUrl) return;

        console.log('=> LogRocket Started');

        LogRocket.init(this.$env.logrocket.code, {
          shouldCaptureIP: true,
        });
      },
    },
  },
};
</script>
