<template>
  <q-btn
    v-if="internalData"
    dense
    flat
    no-caps
    color="primary"
    :label="`${internalData.name} ${internalData.lastName}`"
    @click="show"
  >
    <q-dialog
      v-model="dialog"
      seamless
      maximized
      position="right"
      @hide="handleHide"
      @before-show="onBeforeShow"
    >
      <q-card style="height: 100vh; width: 520px">
        <q-tabs
          v-model="tab"
        >
          <q-tab
            name="details"
            :label="$t('setting.userDetails')"
          />
          <q-tab
            name="conns"
            label="Conexões"
          />
          <q-tab
            name="settings"
            label="Configurações"
          />
          <q-tab
            name="obj"
            :label="$t('setting.completeObject')"
          />
        </q-tabs>

        <q-separator />

        <q-tab-panels
          v-model="tab"
          class="scroll"
          style="height: calc(100vh - 102px)"
          animated
        >
          <q-tab-panel name="details">
            <div class="row">
              <div class="col-12">
                <h4 class="q-ma-none">
                  {{ internalData.name }} {{ internalData.lastName }}
                </h4>
                <h6 class="q-ma-none">
                  {{ internalData.email }}
                </h6>
              </div>
            </div>

            <admin-user-force-refresh
              size="sm"
              class="q-my-sm"
              label="Forçar refresh"
              color="primary"
              :user-id="internalData._id"
            />

            <div class="row">
              <div class="col-9">
                <div class="row">
                  <div class="col-12">
                    <p>
                      <b>
                        E-mail
                      </b>
                      <br>
                      <span>
                        {{ internalData.email }}
                      </span>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <b>
                        Online:
                      </b>
                      <br>
                      <span>
                        {{ internalData.online }}
                      </span>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <b>
                        {{ $tc('departament.title') }}:
                      </b>
                      <br>
                      <span>
                        {{ internalData.departmentId }}
                      </span>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <b>
                        Permissões:
                      </b>
                      <br>
                      <span>
                        {{ internalData.permissions }}
                      </span>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <admin-toggle-super-admin
                        v-model="internalData.permissions"
                        :user-id="internalData._id"
                      />
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <b>
                        Criado em:
                      </b>
                      <br>
                      <span>
                        {{ $jsDateFormat(internalData.createdAt) }}
                      </span>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <b>
                        Atualizado em:
                      </b>
                      <br>
                      <span>
                        {{ $jsDateFormat(internalData.updatedAt) }}
                      </span>
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-3">
                <div class="row">
                  <div class="col-12">
                    <p>
                      <b>
                        Superior
                      </b>
                      <br>
                      <span>
                        <admin-user-details
                          :data="internalData.userId._id"
                          :disabled="internalData.userId._id === internalData._id"
                        />
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </q-tab-panel>

          <q-tab-panel name="conns">
            <template v-for="item in internalData.connsId">
              <q-expansion-item
                :key="item._id"
                expand-separator
                :label="item.jid"
                :caption="item.status"
              >
                <q-card flat>
                  <q-card-section>
                    <div class="row">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-12">
                            <p>
                              <b>
                                JID:
                              </b>
                              <br>
                              <span>
                                {{ item.jid }}
                              </span>
                            </p>
                          </div>

                          <div class="col-12">
                            <p>
                              <b>
                                Status:
                              </b>
                              <br>
                              <span>
                                {{ item.status }}
                              </span>
                            </p>
                          </div>

                          <div class="col-12 q-mb-md">
                            <admin-connection-details
                              :data="item._id"
                              size="sm"
                              dense
                              :flat="false"
                            />
                            <admin-connection-reconnect
                              label="Recriar conexão"
                              size="sm"
                              dense
                              class="q-ml-sm"
                              color="primary"
                              :conn-id="item._id"
                            />
                            <admin-connection-delete
                              label="Remover conexão"
                              size="sm"
                              dense
                              class="q-ml-sm"
                              color="warning"
                              :conn-id="item._id"
                            />
                            <admin-connection-remove-access
                              label="Remover acesso"
                              size="sm"
                              dense
                              class="q-ml-sm"
                              color="warning"
                              :conn-id="item._id"
                            />
                          </div>
                          <div class="col-12">
                            <p>
                              <b>
                                PORT:
                              </b>
                              <br>
                              <span>
                                {{ item.port }}
                              </span>
                            </p>
                          </div>

                          <div
                            v-if="item && item.battery && item.battery.value"
                            class="col-12"
                          >
                            <p>
                              <b>
                                Bateria:
                              </b>
                              <br>
                              <span>
                                {{ item.battery.live }}, {{ item.battery.value }}, {{ $jsDateFormat(item.battery.updatedAt) }}
                              </span>
                            </p>
                          </div>

                          <div
                            v-if="item.latency && item.latency.value"
                            class="col-12"
                          >
                            <p>
                              <b>
                                Latencia:
                              </b>
                              <br>
                              <span>
                                {{ item.latency.value }}, {{ $jsDateFormat(item.latency.time) }}
                              </span>
                            </p>
                          </div>

                          <div
                            v-if="item.preapprovalPlan && item.preapprovalPlan.status"
                            class="col-12"
                          >
                            <p>
                              <b>
                                Assinatura:
                              </b>
                              <br>
                              <span>
                                {{ item.preapprovalPlan.status }}
                              </span>
                            </p>

                            <p>
                              <b>
                                Extra trial
                              </b>
                              <br>
                              <span v-if="item.preapprovalPlan && item.preapprovalPlan.extraTrial">
                                {{ $jsDateFormat(item.preapprovalPlan.extraTrial) }}
                              </span>
                            </p>

                            <admin-connection-add-time
                              :conn-id="item._id"
                              class="q-mb-md"
                              color="primary"
                              label="Adicionar tempo"
                              @load="load()"
                            />
                          </div>

                          <div class="col-12">
                            <p>
                              <b>
                                disableAutoImportUnreadMessages
                              </b>
                              <br>
                              <span>
                                {{ item.disableAutoImportUnreadMessages || 'null' }}
                              </span>
                            </p>
                          </div>

                          <div class="col-12">
                            <p>
                              <b>
                                disableForceUseHere
                              </b>
                              <br>
                              <span>
                                {{ item.disableForceUseHere || 'null' }}
                              </span>
                            </p>
                          </div>

                          <div class="col-12">
                            <p>
                              <b>
                                disableWaitChats
                              </b>
                              <br>
                              <span>
                                {{ item.disableWaitChats || 'null' }}
                              </span>
                            </p>
                          </div>

                          <div class="col-12">
                            <p>
                              <b>
                                blockDirectToPhone
                              </b>
                              <br>
                              <span>
                                {{ item.blockDirectToPhone || 'null' }}
                              </span>
                            </p>
                          </div>

                          <div class="col-12">
                            <p>
                              <b>
                                activeChatbot
                              </b>
                              <br>
                              <span>
                                {{ item.activeChatbot || 'null' }}
                              </span>
                            </p>
                          </div>

                          <div class="col-12">
                            <p>
                              <b>
                                activeChatbotButtons
                              </b>
                              <br>
                              <span>
                                {{ item.activeChatbotButtons || 'null' }}
                              </span>
                            </p>
                          </div>

                          <div class="col-12">
                            <p>
                              <b>
                                allowAllReconnect
                              </b>
                              <br>
                              <span>
                                {{ item.allowAllReconnect || 'null' }}
                              </span>
                            </p>
                          </div>

                          <div class="col-12">
                            <p>
                              <b>
                                apiEnable
                              </b>
                              <br>
                              <span>
                                {{ item.apiEnable || 'null' }}
                              </span>
                            </p>
                          </div>

                          <div class="col-12">
                            <p>
                              <b>
                                chatsEnable
                              </b>
                              <br>
                              <span>
                                {{ item.chatsEnable || 'null' }}
                              </span>
                            </p>
                          </div>

                          <div class="col-12">
                            <p>
                              <b>
                                useMultidevice
                              </b>
                              <br>
                              <span>
                                {{ item.useMultidevice || 'null' }}
                              </span>
                            </p>
                          </div>

                          <div class="col-12">
                            <p>
                              <b>
                                Criado em:
                              </b>
                              <br>
                              <span>
                                {{ $jsDateFormat(item.createdAt) }}
                              </span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </q-card-section>
                </q-card>
              </q-expansion-item>
            </template>
          </q-tab-panel>

          <q-tab-panel name="settings">
            <div class="row">
              <div class="col-12">
                <p>
                  <b>
                    appendMyName:
                  </b>
                  <br>
                  <span>
                    {{ internalData.appendMyName }}
                  </span>
                </p>
              </div>

              <div class="col-12">
                <p>
                  <b>
                    appendMyNameAfter:
                  </b>
                  <br>
                  <span>
                    {{ internalData.appendMyNameAfter }}
                  </span>
                </p>
              </div>

              <div class="col-12">
                <p>
                  <b>
                    appendMyNameCustom:
                  </b>
                  <br>
                  <span>
                    {{ internalData.appendMyNameCustom }}
                  </span>
                </p>
              </div>

              <div class="col-12">
                <p>
                  <b>
                    available (disponivel na fila de automatica):
                  </b>
                  <br>
                  <span>
                    {{ internalData.available }}
                  </span>
                </p>
              </div>

              <div class="col-12">
                <p>
                  <b>
                    notificationSound:
                  </b>
                  <br>
                  <span>
                    {{ internalData.notificationSound }}
                  </span>
                </p>
              </div>
            </div>
          </q-tab-panel>

          <q-tab-panel name="obj">
            <pre>{{ internalData }}</pre>
          </q-tab-panel>
        </q-tab-panels>

        <q-separator />

        <q-card-actions align="right">
          <q-btn
            v-close-popup
            label="Fechar"
            color="primary"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-btn>
</template>

<script>
import feathersClient from '../../../boot/feathers-vuex';

export default {
  name: 'AdminUserDetails',

  components: {
    AdminToggleSuperAdmin: () => import('./AdminToggleSuperAdmin'),
    AdminConnectionDetails: () => import('../connections/AdminConnectionDetails'),
    AdminConnectionAddTime: () => import('../connections/AdminConnectionAddTime'),
    AdminConnectionReconnect: () => import('../connections/AdminConnectionReconnect'),
    AdminConnectionRemoveAccess: () => import('../connections/AdminConnectionRemoveAccess'),
    AdminConnectionDelete: () => import('../connections/AdminConnectionDelete'),
    AdminUserForceRefresh: () => import('./AdminUserForceRefresh'),
  },

  props: {
    data: null,
  },

  data() {
    return {
      internalData: null,
      dialog: false,
      loading: false,
      tab: 'details',
    };
  },

  computed: {
  },

  created() {
    this.load();
  },

  methods: {
    async show() {
      if (!this.internalData) await this.load();
      this.dialog = true;
    },

    load() {
      return feathersClient.service('admin-users').get(this.data, { query: { $populate: ['userId', 'connsId'] } })
        .then((e) => {
          this.internalData = e;
        });
    },

    onBeforeShow() {
    },
    handleHide() {
    },
  },
};
</script>
