<template>
  <q-toggle
    :value="valueComputed"
    label="Super Admin"
    @input="onInput"
  />
</template>

<script>
import feathersClient from '../../../boot/feathers-vuex';

export default {
  name: 'AdminUserDetails',

  components: {
  },

  props: {
    value: null,
    userId: null,
  },

  computed: {
    valueComputed() {
      if (!this.value) return false;
      if (!this.value.length) return false;
      const check = this.value.includes('super-admin');
      return check;
    },
  },

  methods: {
    onInput() {
      let permissions = this.value;
      if (this.valueComputed) permissions = permissions.filter((perm) => perm !== 'super-admin');
      else permissions.push('super-admin');
      feathersClient.service('admin-users').patch(this.userId, { permissions })
        .then(() => {
          this.$emit('input', permissions);
          this.$forceUpdate();
        });
    },
  },
};
</script>
