<template>
  <confirm-btn
    action="Forçar cliente a atualizar a tela?"
    v-bind="$attrs"
    @confirm="onConfirm"
  />
</template>

<script>
import feathersClient from '../../../boot/feathers-vuex';

export default {
  name: 'AdminUserForceRefresh',

  components: {
    ConfirmBtn: () => import('../../tools/ConfirmBtn'),
  },

  props: {
    userId: null,
  },

  methods: {
    onConfirm() {
      feathersClient.service('admin-force-refresh').get(this.userId);
    },
  },
};
</script>
