<template>
  <div
    v-if="blocked"
    class="fullscreen bg-blue text-white text-center q-pa-md flex flex-center"
  >
    <div>
      <div style="font-size: 30vh">
        {{ $t('publicPages.limitedAccess') }}
      </div>

      <div
        class="text-h2"
        style="opacity:.4"
      >
        {{ blockMessage }}
      </div>
    </div>
  </div>
  <q-layout
    v-else
    view="hHh LpR fFf"
  >
    <q-header>
      <q-toolbar>
        <q-btn
          id="menu_btn"
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          class="gt-md"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-btn
          id="menu_btn"
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          class="lt-lg"
          @click="leftDrawerShow = !leftDrawerShow"
        />

        <q-toolbar-title>
          {{ $env.formattedName }}
        </q-toolbar-title>

        <connection-latency />
        <connection-battery-status />
        <connection-status />
        <queue-available />

        <!-- <q-btn
            color="warning"
            @click="removeImpersonate"
            v-if="$store.state.auth.real"
          >
            Restaurar usuario
          </q-btn> -->

        <div
          id="top_controls"
          class="flex"
        >
          <user-notification-sound class="gt-sm" />

          <reconnect-btn class="gt-sm" />

          <support-btn />

          <tooltips class="gt-sm" />
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerShow"
      show-if-above
      bordered
      :content-class="!$q.dark.isActive ? 'bg-grey-2': null"
      :mini="leftDrawerOpen"
      @mouseover="leftDrawerOpen = false"
      @mouseout="leftDrawerOpen = true"
    >
      <drawer-menu />
    </q-drawer>

    <drawer-ads />

    <q-page-container>
      <router-view />

      <qr-dialog />
    </q-page-container>

    <connection-select-dialog />
    <connection-payment-dialog />
    <mass-send />
    <contact-select />

    <tooltips-emergency class="gt-sm" />
  </q-layout>
</template>

<script>
import feathersClient, { socket } from '../boot/feathers-vuex';
import generateSubscribe from '../boot/generateWebpush';

export default {
  name: 'LoggedLayout',
  async preFetch({
    // eslint-disable-next-line no-unused-vars
    store, currentRoute, previousRoute, redirect, ssrContext, urlPath, publicPath,
  }) {
    const promises = [
      store.dispatch('member-connections/find'),
      store.dispatch('member-contacts/find'),
      store.dispatch('member-settings/find', { query: { $limit: 50 } }),
      store.dispatch('members/find', { query: { $limit: 50 } }),
    ];

    const checks = !!(
      store.getters['member-connections/list'].length
      && store.getters['member-contacts/list'].length
      && store.getters['member-settings/list'].length
      && store.getters['members/list'].length
    );

    try {
      if (checks) {
        Promise.all(promises);
      } else {
        await Promise.all(promises);
      }
    } catch (error) {
      console.error(error);
    }

    store.dispatch('member-chatbots/find', { query: { $limit: 1, type: 'closing', active: true } });
  },

  components: {
    QrDialog: () => import('../components/dashboard/QrDialog'),
    UserNotificationSound: () => import('../components/user/UserNotificationSound'),
    ReconnectBtn: () => import('../components/tools/ReconnectBtn'),
    SupportBtn: () => import('../components/tools/SupportBtn'),
    ConnectionLatency: () => import('../components/connection/ConnectionLatency'),
    ConnectionBatteryStatus: () => import('../components/connection/ConnectionBatteryStatus'),
    DrawerMenu: () => import('../components/tools/DrawerMenu'),
    MassSend: () => import('../components/tools/MassSend'),
    QueueAvailable: () => import('../components/tools/QueueAvailable'),
    ContactSelect: () => import('../components/contacts/ContactSelect'),
    ConnectionStatus: () => import('../components/connection/ConnectionStatus.vue'),
    ConnectionSelectDialog: () => import('../components/connection/ConnectionSelectDialog.vue'),
    ConnectionPaymentDialog: () => import('../components/connection/ConnectionPaymentDialog.vue'),
    Tooltips: () => import('../components/tooltip/Tooltips.vue'),
    TooltipsEmergency: () => import('../components/tooltip/TooltipsEmergency.vue'),
    DrawerAds: () => import('../components/tools/DrawerAds.vue'),
  },

  data() {
    return {
      leftDrawerOpen: true,
      leftDrawerShow: false,
      serviceWorkerReg: null,
    };
  },

  computed: {
    blocked() {
      let result = false;
      const connections = JSON.parse(JSON.stringify(this.$connections));

      if (connections
      && connections.some((e) => e.blockActive)
      && this.$user
      && !this.$user.permissions.includes('super-admin')
      && !this.$user.email === 'fantasma@zapfly.com.br'
      ) result = true;
      return result;
    },

    blockMessage() {
      const connections = JSON.parse(JSON.stringify(this.$connections));

      if (!this.blocked) return null;
      return connections.find((e) => e.blockActive).blockMessage;
    },
  },

  watch: {
    $user: {
      immediate: true,
      deep: true,
      handler() {
        if (this.$user.languageOverride) {
          this.$i18n.locale = this.$user.languageOverride;
        }
      },
    },

    '$user.notificationExtra': {
      immediate: true,
      handler() {
        if (!this.serviceWorkerReg) return;
        this.serviceWorkerReg.active.postMessage(JSON.stringify({ activeNotification: this.$user.notificationExtra }));
      },
    },

    serviceWorkerReg: {
      immediate: true,
      handler() {
        if (!this.serviceWorkerReg) return;
        this.serviceWorkerReg.active.postMessage(JSON.stringify({ activeNotification: this.$user.notificationExtra }));
      },
    },
  },

  async beforeDestroy() {
    feathersClient.service('member-messages').removeListener('patched', this.onMemberMessagesPatched);
  },

  async created() {
    if (this.$route.query['stripe-success'] === 'true') {
      this.$q.dialog({
        title: this.$t('payment.about'),
        message: this.$t('subscription.stripe'),
      });
    }

    if (this.$route.query['stripe-fail'] === 'true') {
      this.$q.dialog({
        title: this.$t('payment.about'),
        message: this.$t('subscription.stripeError'),
      });
    }

    this.$store.commit('connected', socket.connected);
    socket.on('connect', () => {
      this.$store.commit('connected', true);
    });

    socket.on('disconnect', () => {
      this.$store.commit('connected', false);
    });

    feathersClient.service('member-messages').on('patched', this.onMemberMessagesPatched);
    this.$store.dispatch('directAccess/setUpListeners');
  },

  mounted() {
    if (this.$user.useOnboarding) {
      this.$q.dialog({
        component: () => import('src/components/tools/OnboardingDialog.vue'),
        parent: this,
      }).onOk(() => {
        console.log('OK');
      });
    }

    feathersClient.service('admin-force-refresh').on('force-refresh', (e) => {
      if (!this.$user._id) return;
      if (e.userId !== this.$user._id) return;
      window.location.reload();
    });

    Notification.requestPermission();

    this.notSystemSw();
  },

  methods: {
    async notSystemSw() {
      const uid = window.localStorage.getItem('uid');
      const reg = await navigator.serviceWorker.ready;
      this.serviceWorkerReg = reg;

      const subscription = JSON.parse(JSON.stringify(await generateSubscribe(reg)));
      if (!subscription) return;
      subscription.uid = uid;
      const service = `zapfly_atd${process.env.DEV ? '_dev' : ''}`;

      let vapidDatas = [subscription];
      if (this.$user.vapidDatas) {
        vapidDatas = JSON.parse(JSON.stringify(this.$user.vapidDatas));
        if (!this.$user.vapidDatas.some((e) => e.uid === uid)) {
          vapidDatas.push(subscription);
        } else {
          vapidDatas = [
            ...this.$user.vapidDatas.filter((e) => e.uid !== uid),
            subscription,
          ];
        }
      }

      this.$store.dispatch('members/patch', [this.$user._id, { vapidDatas }]);

      const subs = {
        vapidDatas,
        service,
        userId: this.$user._id,
        extraData: {
          userId: this.$user.userId,
          dev: `${!!process.env.DEV}`,
        },
      };

      const payload = {
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
        },
        method: 'PATCH',
        body: JSON.stringify(subs),
      };

      // let url = 'http://localhost:3031/subscription/?';
      let url = 'https://tools.arcode.online/subscription/?';
      url += `service=${service}`;
      url += `&extraData.userId=${this.$user.userId}`;
      url += `&userId=${this.$user._id}`;

      return fetch(url, payload)
        .then((response) => response.json());
      // .then((res) => console.log('Added to Subs Tools', res));
    },

    async onMemberMessagesPatched(item) {
      if (item.key.fromMe) return;

      // const check = this.$store.getters['member-messages/get'](item._id);
      const check = this.$store.state.directAccess.messages.list.findIndex((e) => e.key.id === item.key.id);
      if (check > -1) return;

      const ticket = await this.getTicket(item.ticketId);
      const setting = await this.getSetting('usersSeeOnlyOwn');

      if (this.$isAttendant) {
        if (setting) {
          if (ticket.attendantId !== this.$user._id) return;
        }
        if (
          ticket.departmentId
          && ticket.attendantId
          && this.$user.departmentId
          && ticket.departmentId !== this.$user.departmentId
        ) return;
        if (ticket.attendantId && ticket.attendantId !== this.$user._id) return;
      }

      const contact = await this.getContact(item.contactId);
      const text = `${this.$t('notifications.newMessage')} ${contact}`;

      if (this.$user.notificationSound) {
        const audio = new Audio('/not.ogg', 100, true);
        audio.play();
      }

      if (!('Notification' in window)) {
        this.$notify('info', text);
        return;
      }

      if (Notification.permission === 'granted') {
        // eslint-disable-next-line no-new
        new Notification(text);
        return;
      }

      if (Notification.permission !== 'denied') {
        Notification.requestPermission().then((permission) => {
          if (permission === 'granted') {
            // eslint-disable-next-line no-new
            new Notification(text);
          }
        });
      }

      this.$notify('info', text);
    },

    async getContact(id) {
      let contact = this.$store.getters['member-contacts/get'](id);
      if (!contact) {
        contact = await this.$store.dispatch('member-contacts/get', id);
      }

      if (contact.overrideName) contact = contact.overrideName;
      else if (contact.name) contact = contact.name;
      else if (contact.vname) contact = contact.vname;
      // eslint-disable-next-line prefer-destructuring
      else if (contact.jid) contact = contact.jid.split('@')[0];

      return contact;
    },

    async getTicket(id) {
      let ticket = this.$store.getters['member-tickets/get'](id);
      if (!ticket) {
        ticket = await this.$store.dispatch('member-tickets/get', id);
      }
      return ticket;
    },

    async getSetting(name) {
      let settings = this.$store.getters['member-settings/find']({ query: { name } });
      if (!settings || !settings.total) {
        settings = await this.$store.dispatch('member-settings/find', [{ query: { name } }]);
      }

      if (settings.total) {
        settings = settings.data;
      }

      return settings.some((e) => e.value === true && e.name === name);
    },
  },
};
</script>

<style>
pre {
  font-family: "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.qtable-sticky .q-table__top,
.qtable-sticky .q-table__bottom,
.qtable-sticky thead tr:first-child th {
  background-color: white;
}
.qtable-sticky thead tr:first-child th:first-child {
  z-index: 9
}

.qtable-sticky.q-table--dark .q-table__top,
.qtable-sticky.q-table--dark .q-table__bottom,
.qtable-sticky.q-table--dark thead tr:first-child th {
  background-color: rgba(0, 0, 0, 0.694);
}
.qtable-sticky{
  border-radius: 0px!important
}

.qtable-sticky thead tr th {
  position: sticky;
  z-index: 1;
}
.qtable-sticky thead tr:first-child th {
  top: 0
}

@media screen and (min-width: 1024px ) {
  .qtable-sticky th:first-child,
  .qtable-sticky td:first-child {
    border-right: 1px solid rgb(228, 228, 228);
    background-color: rgb(242, 242, 242);
    position: sticky;
    left: 0;
    z-index: 1;
  }
  .qtable-sticky.q-table--dark th:first-child,
  .qtable-sticky.q-table--dark td:first-child {
    border-right: 1px solid rgb(43, 43, 43);
    background-color: rgb(36, 36, 36);
  }
}

</style>
