<template>
  <span v-if="hasName">
    {{ name }}
  </span>
  <span v-else>
    {{ fallback }}
  </span>
</template>

<script>
import feathersClient from '../../boot/feathers-vuex';

export default {
  name: 'ContactName',

  props: {
    fallback: String,
    contact: null,
  },

  data() {
    return {
      hadError: false,
      internalData: null,
    };
  },

  watch: {
    'data.avatar': function () {
      this.internalAvatar = null;
      this.hadError = false;
    },
  },
  created() {
    this.update();
  },

  computed: {
    connection() {
      return this.$store.getters['member-connections/get'](this.contact.connectionId);
    },

    name() {
      if (!this.hasName) return '';
      if (this.contact.overrideName) return this.contact.overrideName;
      if (this.contact.name) return this.contact.name;
      if (this.contact.notify) return this.contact.notify;
      if (this.contact.vname) return this.contact.vname;
      if (this.internalData.overrideName) return this.internalData.overrideName;
      if (this.internalData.name) return this.internalData.name;
      if (this.internalData.notify) return this.internalData.notify;
      if (this.internalData.vname) return this.internalData.vname;
      return this.contact.jid;
    },

    hasName() {
      if (!this.contact) return false;
      if (this.hadError && !this.contact) return false;
      const externalName = !!(this.contact.overrideName || this.contact.notify || this.contact.name || this.contact.vname);
      const internalName = this.internalData && !!(this.internalData.overrideName || this.internalData.notify || this.internalData.name || this.internalData.vname);
      return externalName || internalName;
    },
  },

  methods: {
    async loadContact() {
      if (this.hasName) {
        return;
      }

      let contacts = this.$store.getters['member-contacts/find']({ query: { jid: this.contact.jid } });

      if (contacts.total) {
        this.internalData = contacts.data[0];
        return;
      }

      contacts = await this.$store.dispatch('member-contacts/find', { query: { jid: this.contact.jid } });

      if (contacts.total) {
        this.internalData = contacts.data[0];
      }
    },

    async update() {
      await this.loadContact();
      if (this.contact.jid === 'status@broadcast') return;
      if (!this.internalData) return;
      if (this.hasName && !this.hadError) return;
      if (this.connection.status !== 'open') return;

      this.internalData = await feathersClient.service('update-contact').get(this.contact.jid, { query: { id: this.contact.connectionId } })
        .catch((e) => { console.error(e); this.hadError = true; });
    },
  },
};
</script>

<style>

</style>
