<template>
  <div>
    <q-input
      v-if="!contacts.length || multiple"
      ref="input"
      v-model="filter"
      :bg-color="$q.dark.isActive ? null : 'white'"
      type="text"
      class="inline col-grow q-pl-md"
      square
      borderless
      :debounce="400"
      :label="$t('contact.searchContact')"
      @keydown="validJid = false"
      @input="checkModel"
      @click="$refs.popup.show()"
    >
      <q-icon
        slot="prepend"
        :name="validJid ?'check' : 'error_outline'"
      >
        <q-tooltip v-if="!!validJid">
          {{ $t('contact.allNumbersAreValid') }}
        </q-tooltip>
        <q-tooltip v-else>
          {{ $t('contact.numberNotValid') }}
        </q-tooltip>
      </q-icon>
    </q-input>
    <div
      class="flex"
    >
      <div
        v-for="(contact) in contacts"
        :key="`selected_contact_${contact._id}`"
        class="flex"
      >
        <contact-item
          v-if="contact"
          :data="contact"
          single
          :ultra-dense="multiple"
          dense
          @click="removeContact(contact)"
        />

        <q-btn
          v-if="contact"
          color="primary"
          flat
          icon="clear"
          @click="removeContact(contact)"
        />
      </div>
    </div>

    <q-popup-proxy
      ref="popup"
      no-parent-event
      :breakpoint="268"
    >
      <q-card class="my-card">
        <q-list bordered>
          <contact-item
            v-for="(item, index) in memberContacts"
            :key="item._id"
            :data="item"
            :single="!multiple"
            :selected="contacts.some(e=> e._id === item._id)"
            @click="selectContact(item, index)"
          />

          <q-item
            v-if="allowContactCreation"
            v-ripple="!!validJid"
            :clickable="!!validJid"
            :disabled="!validJid"
            :class="{
              'create-contact': validJid
            }"
            @click="createContact"
          >
            <q-item-section avatar>
              <q-icon
                color="primary"
                name="add"
              />
            </q-item-section>

            <q-item-section>
              <q-item-label>
                {{ $t('contact.newContact') }}
              </q-item-label>

              <q-item-label
                v-if="!validJid"
                caption
              >
                {{ $t('contact.informValidNumber') }}
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card>
    </q-popup-proxy>
  </div>
</template>

<script>
import { makeFindMixin } from 'feathers-vuex';
import { mapActions } from 'vuex';
import feathersClient from '../../boot/feathers-vuex';

export default {
  name: 'ContactSelectInline',

  props: {
    initialValue: null,
    connection: null,
    contacts: null,
    multiple: Boolean,
  },

  mixins: [makeFindMixin({ service: 'member-contacts', watch: true })],

  components: {
    contactItem: () => import('../contacts/ContactItem'),
  },

  data() {
    return {
      filter: '',
      validJid: false,
    };
  },

  mounted() {
    if (this.initialValue) {
      this.filter = this.initialValue;
      this.checkModel();
    }
    this.$refs.popup.show();
    this.$nextTick(() => this.$nextTick(() => this.$refs.input.focus()));
  },

  methods: {
    ...mapActions('member-contacts', ['find', 'create']),

    parse(items) {
      items.forEach((item) => {
        this.find({
          query: {
            jid: {
              $regex: `.*${item.jid}.*`,
            },
            $limit: 1,
          },
        })
          .then((e) => {
            if (e.data[0]) {
              this.selectContact(e.data[0]);
            } else {
              this.$notify('negative', `Não encontrei o numero: ${e.jid}`);
            }
          })
          .catch(console.error);
      });
    },

    async createContact() {
      if (!this.validJid) return;
      if (!this.createContact) return;
      const result = await this.create({ jid: this.validJid, connectionId: this.connection._id });
      this.selectContact(result);
    },

    checkModel() {
      let jid = this.filter.replace(/\D+/g, '');
      if (!jid.length) return;

      if (jid.substring(0, 2) !== '55' && jid.length < 9) jid = `55${jid}`;
      jid = Number(jid);
      if (Number.isNaN(jid) || Number.isNaN(parseFloat(jid))) return;

      this.checkJid(jid).then((e) => {
        if (!e[0].exists) {
          this.validJid = false;
          return;
        }

        if (this.filter !== e[0].jid.split('@')[0] && !e[0].jid.includes('@g.us')) {
          this.filter = e[0].jid.split('@')[0];
          this.checkModel();
          return;
        }
        this.validJid = e[0].exists ? e[0].jid : false;
      });
    },

    selectContact(item) {
      if (this.contacts.some((e) => e._id === item._id)) return this.removeContact(item);
      this.$emit('update:contacts', [...this.contacts, { ...JSON.parse(JSON.stringify(item)), validContact: true }]);
      this.validJid = true;
      if (!this.multiple) this.$refs.popup.hide();
    },

    removeContact(item) {
      const index = this.contacts.findIndex((e) => e._id === item._id);
      if (index < 0) return;
      const contacts = JSON.parse(JSON.stringify(this.contacts));
      contacts.splice(index, 1);
      this.$emit('update:contacts', contacts);
    },

    checkJid(jid) {
      return feathersClient.service('contacts-remote').get(jid, { query: { id: this.connection._id } });
    },
  },

  computed: {
    allowContactCreation() {
      if (this.memberContacts.length === 0) return true;
      if (this.memberContacts.filter((e) => !e.jid.includes('@g.us')).length === 0) return true;
      return false;
    },

    memberContactsParams() {
      const query = {
        $limit: 5,
      };

      if (!Number.isNaN(this.filter) && !Number.isNaN(parseFloat(this.filter))) {
        query.jid = {
          $regex: `.*${this.filter}.*`,
        };
      } else if (this.filter) {
        query.$or = [
          { overrideName: { $regex: `.*${this.filter}.*`, $options: 'i' } },
          { name: { $regex: `.*${this.filter}.*`, $options: 'i' } },
          { vname: { $regex: `.*${this.filter}.*`, $options: 'i' } },
          { notify: { $regex: `.*${this.filter}.*`, $options: 'i' } },
          { 'tags.label': { $regex: `.*${this.filter}.*`, $options: 'i' } },
        ];
      }

      return {
        query,
        paginate: true, // This restores previous functionality
      };
    },
  },
};
</script>

<style>

</style>
