<template>
  <q-item
    v-if="data"
    clickable
    class="q-px-xs contact-item"
    @click="$emit('click')"
  >
    <q-item-section
      v-if="!single"
      avatar
      class="text-center q-ml-md"
    >
      <q-icon
        :name="selected ? 'check_box' : 'check_box_outline_blank'"
        color="primary"
      />
    </q-item-section>

    <q-item-section
      v-if="!dense"
      avatar
      top
    >
      <avatar
        selected
        :data="{...data, meta: {avatar: data.avatar}}"
      />
    </q-item-section>

    <q-item-section>
      <q-item-label :class="{'contact-item-ultra-dense': ultraDense}">
        <contact-name :contact="data" />
      </q-item-label>

      <q-item-label
        v-if="!ultraDense"
        caption
      >
        {{ number }}
      </q-item-label>

      <q-item-label
        v-if="!dense"
        caption
      >
        <q-badge
          v-if="data.note"
          color="primary"
        >
          Nota

          <q-tooltip>
            <pre style="font-size:16px; max-width: 320px">{{ data.note }}
            </pre>
          </q-tooltip>
        </q-badge>
      </q-item-label>

      <q-item-label
        v-if="!dense"
        caption
      >
        <div v-if="data.tags">
          <q-badge
            v-for="(item) in data.tags"
            :key="`tags_${item._id}`"
            :color="item.color"
            :label="item.label"
            class="q-mr-xs"
          />
        </div>
      </q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  name: 'ContactItem',

  components: {
    ContactName: () => import('./ContactName'),
    Avatar: () => import('../tools/Avatar'),
  },

  props: {
    data: Object,
    selected: Boolean,
    single: Boolean,
    dense: Boolean,
    ultraDense: Boolean,
  },

  computed: {
    number() {
      let result;
      if (this.data.jid.includes('@g.us')) result = 'Grupo';
      // eslint-disable-next-line prefer-destructuring
      else result = this.data.jid.split('@')[0];

      return result;
    },
  },
};
</script>

<style lang="sass">
.contact-item-ultra-dense
  max-width: 100px
  overflow: hidden
  text-overflow: ellipsis
  display: -webkit-box
  -webkit-line-clamp: 1
  -webkit-box-orient: vertical
  heght: 20px
</style>
