<template>
  <q-dialog
    v-if="memberContacts"
    v-model="dialog"
    @hide="handleHide"
  >
    <q-card style="min-width: 300px">
      <q-card-section>
        <div
          v-if="!single"
          class="text-h6"
        >
          Selecione um ou mais contatos:
          <q-spinner v-if="isFindMemberContactsPending" />
        </div>
        <div
          v-else
          class="text-h6"
        >
          Selecione um contato:
          <q-spinner v-if="isFindMemberContactsPending" />
        </div>
      </q-card-section>

      <q-separator />
      <div class="row q-px-xs">
        <div class="col-12">
          <q-input
            ref="filter"
            v-model="filter"
            placeholder="Buscar contato"
            borderless
            :debounce="800"
            clearable
            @keyup.enter="addNumber"
          >
            <q-icon
              slot="prepend"
              name="search"
            />
          </q-input>
        </div>
      </div>
      <q-separator />

      <q-card-section
        class="scroll q-px-none"
        style="height: calc(100vh - 240px)"
      >
        <q-item v-if="numbers.length">
          <q-item-section>
            <q-item-label>
              Numero novos para tentar enviar
            </q-item-label>

            <q-item-label>
              <q-badge
                v-for="(item, index) in numbers"
                :key="`number_${index}`"
                class="q-mx-sm"
                :color="item.valid ? 'primary': 'warning'"
              >
                {{ item.jid.split('@')[0] }}

                <q-icon
                  name="close"
                  color="white"
                  class="cursor-pointer"
                  @click="numbers.splice(index, 1)"
                />
              </q-badge>
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-virtual-scroll
          ref="scroll"
          tag="div"
          class=" q-pt-none"
          :items="memberContacts"
        >
          <template
            #default="{item, index}"
          >
            <contact-item
              :key="index"
              :data="item"
              :single="single"
              :selected="findSelectedIndex(item, index) > -1"
              @click="toggleSelect(item, index)"
            />
          </template>
        </q-virtual-scroll>
      </q-card-section>

      <q-separator />

      <q-card-actions align="right">
        <q-btn
          v-close-popup
          label="Cancelar"
          color="primary"
        />
        <q-btn
          v-if="!single"
          flat
          label="Escolhidos"
          color="primary"
          @click="send"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import Vue from 'vue';
import { mapActions } from 'vuex';
import { makeFindMixin } from 'feathers-vuex';
import feathersClient from '../../boot/feathers-vuex';

export default {
  name: 'ContactSelect',

  components: {
    ContactItem: () => import('./ContactItem.vue'),
  },

  mixins: [makeFindMixin({ service: 'member-contacts', watch: true })],
  data() {
    return {
      dialog: false,
      filter: '',
      resolve: null,
      should: null,
      reject: null,
      single: false,
      returnObject: false,
      selectedIds: [],
      limit: 20,
      numbers: [],
      connection: null,
    };
  },

  created() {
    Vue.prototype.$selectContacts = this.handleSelectContacts;
  },

  methods: {
    ...mapActions('member-contacts', ['create', 'find']),
    addNumber() {
      this.$nextTick(() => {
        const result = this.filter
          .split('+').join('')
          .split('(').join('')
          .split(')')
          .join('')
          .split('-')
          .join('')
          .split('.')
          .join('')
          .split(' ')
          .join('')
          .split(',');

        this.numbers = [
          ...this.numbers,
          ...result.map((e) => ({
            jid: `${e}@s.whatsapp.net`,
            valid: false,
          })),
        ];

        this.filter = '';
        if (this.single) this.send();
      });
    },

    toggleSelect(item, index) {
      const selectedIndex = this.findSelectedIndex(item, index);

      if (this.single) this.selectedIds = [];

      if (selectedIndex > -1) {
        this.selectedIds.splice(selectedIndex, 1);
      } else this.selectedIds.push({ jid: item.jid, valid: true });
      if (this.single) this.send();
    },

    findSelectedIndex(item) {
      return this.selectedIds.findIndex((e) => e.jid === item.jid);
    },

    handleSelectContacts({
      single = false, returnObject = false, connection = null, ids = [],
    }) {
      return new Promise((resolve, reject) => {
        this.dialog = true;
        this.should = null;

        this.connection = connection;

        this.selectedIds = ids;
        this.single = single;
        this.returnObject = returnObject;

        this.resolve = resolve;
        this.reject = reject;
      });
    },

    async handleHide() {
      this.dialog = false;

      if (this.should === 'resolve') {
        let resolve = await this.getCollection();

        // eslint-disable-next-line prefer-destructuring
        if (this.single) resolve = resolve[0];

        this.single = false;
        this.returnObject = false;

        this.selectedIds = [];
        this.numbers = [];

        this.resolve(resolve);
      } else {
        this.single = false;
        this.returnObject = false;

        this.selectedIds = [];
        this.numbers = [];

        this.reject();
      }
    },

    createContact(item) {
      return this.create({
        name: item.jid.replace('@s.whatsapp.net', ''),
        jid: item.jid,
        connectionId: this.connection._id,
      });
    },

    async getCollection() {
      let array = this.getArray();

      // eslint-disable-next-line no-restricted-syntax
      for (const item of array) {
        if (!item.valid) {
          // eslint-disable-next-line no-await-in-loop
          const checkInternal = await this.find({ query: { jid: item.jid } });

          if (checkInternal.total) {
            item.valid = true;
            // eslint-disable-next-line no-continue
            continue;
          }

          // eslint-disable-next-line no-await-in-loop
          const check = await feathersClient.service('contacts-remote').get(item.jid, { query: { id: this.connection._id } });
          if (!check.exists) {
            // eslint-disable-next-line no-continue
            continue;
          }

          item.valid = true;
          // eslint-disable-next-line no-await-in-loop
          await this.createContact(check);
        }
      }

      array = array.filter((e) => e.valid);

      return array;
    },

    getArray() {
      return [
        ...this.selectedIds,
        ...this.numbers,
      ];
    },

    send() {
      this.should = 'resolve';
      this.dialog = false;
    },
  },

  computed: {
    memberContactsParams() {
      const query = {
      };

      if (!Number.isNaN(this.filter) && !Number.isNaN(parseFloat(this.filter))) {
        query.jid = {
          $regex: `.*${this.filter}.*`,
        };
      } else if (this.filter) {
        query.$or = [
          { overrideName: { $regex: `.*${this.filter}.*`, $options: 'i' } },
          { name: { $regex: `.*${this.filter}.*`, $options: 'i' } },
          { vname: { $regex: `.*${this.filter}.*`, $options: 'i' } },
          { notify: { $regex: `.*${this.filter}.*`, $options: 'i' } },
          { 'tags.label': { $regex: `.*${this.filter}.*`, $options: 'i' } },
        ];
      }

      return {
        query,
        paginate: true, // This restores previous functionality
      };
    },
  },
};
</script>
