<template>
  <q-dialog
    ref="dialog"
    maximized
    @hide="onDialogHide"
  >
    <div
      class="q-pa-xl flex flex-center"
      @click="hide"
    >
      <q-card
        class="q-dialog-plugin full-width"
        @click.stop
      >
        <q-card-section>
          <div class="text-h6">
            Criar tooltip
          </div>
        </q-card-section>

        <q-separator />

        <q-card-section
          class="scroll"
          style="height: calc(100vh - 214px)"
        >
          <div class="row justify-center q-col-gutter-md">
            <div class="col-4">
              <q-toggle
                v-model="form.active"
                label="Ativo"
              />
              <q-option-group
                v-model="form.type"
                inline
                :options="options.type"
              />

              <q-option-group
                v-model="form.forWho"
                inline
                :options="options.forWho"
              />

              <admin-connection-select
                v-if="form.forWho === 'specific'"
                v-model="form.connectionsId"
                label="Conexões"
                emit-value
                map-options
                multiple
                use-chips
                outlined
              />

              <q-input
                v-model="form.notificationTitle"
                label="Titulo da notificação"
                class="q-mt-md"
                outlined
              />
              <q-input
                v-model="form.notificationText"
                label="Texto da notificação"
                type="textarea"
                class="q-mt-md"
                rows="3"
                outlined
              />

              <div class="row q-mt-xs q-col-gutter-md">
                <div class="col-6">
                  <q-input
                    v-model="newUrl"
                    outlined
                    class="q-mb-xs"
                    label="Adicionar URL"
                  >
                    <q-btn
                      slot="append"
                      color="primary"
                      dense
                      round
                      icon="add"
                      @click="form.images.push(newUrl);newUrl=''"
                    />
                  </q-input>
                  <catalog-image-input
                    v-model="lastImage"
                    @input="form.images.push($event);lastImage = ''"
                  />
                </div>

                <div class="col-6">
                  <div class="row q-col-gutter-xs">
                    <template v-for="(item, index) in form.images">
                      <div
                        :key="index"
                        class="col-6 text-center"
                        @click="addImg(item)"
                      >
                        <q-img
                          :src="item"
                          basic
                          native-context-menu
                        />
                        <q-btn
                          size="sm"
                          color="primary"
                          label="Adicionar"
                        />
                      </div>
                    </template>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-8">
              <q-input
                v-model="form.title"
                label="Titulo"
                class="q-mb-md"
                outlined
              />

              <q-editor
                v-model="form.html"
                min-height="5rem"
              />
            </div>
          </div>
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn
            color="primary"
            label="Cancelar"
            @click="onCancelClick"
          />
          <q-btn
            flat
            color="primary"
            label="Enviar"
            @click="submit"
          />
        </q-card-actions>
      </q-card>
    </div>
  </q-dialog>
</template>

<script>
import feathersClient from '../../../boot/feathers-vuex';

export default {
  props: {
    data: null,
  },

  components: {
    adminConnectionSelect: () => import('../connections/AdminConnectionSelect'),
    CatalogImageInput: () => import('../../catalog/CatalogImageInput.vue'),
  },

  data() {
    return {
      options: {
        forWho: [
          { value: 'all', label: 'Todos' },
          { value: 'specific', label: 'Especificos' },
        ],
        type: [
          { value: 'notification', label: 'Notificação' },
          { value: 'emergency', label: 'Emergencia' },
        ],
      },

      newUrl: '',
      lastImage: '',

      form: {
        active: false,
        type: 'notification',
        html: '',
        forWho: 'all',
        notificationTitle: '',
        notificationText: '',
        title: '',
        connectionsId: [],
        images: [],
      },
    };
  },

  methods: {
    submit() {
      if (this.data && this.data._id) {
        feathersClient.service('tooltips').update(this.data._id, this.form).then(() => {
          this.$notify('positive');
          this.onOKClick();
        }).catch(() => {
          this.$notify('negative');
          this.onCancelClick();
        });
        return;
      }
      feathersClient.service('tooltips').create(this.form).then(() => {
        this.$notify('positive');
        this.onOKClick();
      }).catch(() => {
        this.$notify('negative');
        this.onCancelClick();
      });
    },
    // following method is REQUIRED
    // (don't change its name --> "show")
    show() {
      if (this.data) {
        this.form.active = this.data.active;
        this.form.type = this.data.type;
        this.form.html = this.data.html;
        this.form.forWho = this.data.forWho;
        this.form.notificationTitle = this.data.notificationTitle;
        this.form.notificationText = this.data.notificationText;
        this.form.title = this.data.title;
        this.form.connectionsId = this.data.connectionsId;
        this.form.images = this.data.images ?? [];
      }
      this.$refs.dialog.show();
    },

    addImg(url) {
      this.form.html += `<img src="${url}" style="max-width: 60%" />`;
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide() {
      this.$refs.dialog.hide();
    },

    onDialogHide() {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide');
    },

    onOKClick() {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok');
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide();
    },

    onCancelClick() {
      // we just need to hide dialog
      this.hide();
    },
  },
};
</script>
